Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üß© admin, üß© api init, üß© api, üß© auth ul theme, üß© webapp, üß© chat

üß© admin:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    LINT: enabled

üß© api init:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init

üß© api:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    LINT: enabled
    TEST: enabled

üß© auth ul theme:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: '1.0'

üß© webapp:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp

üß© chat:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat

fix: tandem learning languages rules don't prevent purge from running anymore, and invalid tandems are not archived
  api/src/core/models/tandem.model.ts
  api/src/core/usecases/purges/archive-tandems.usecase.ts
Due: üß© api

fix: objects logs removed
  api/src/providers/persistance/mappers/tandem.mapper.ts
  api/src/providers/persistance/repositories/prisma-tandem-repository.ts
Due: üß© api

feat: add app name translation for multiple languages and update HomeHeader component to use translations
  app/public/locales/cn/translation.json
  app/public/locales/de/translation.json
  app/public/locales/en/translation.json
  app/public/locales/es/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/HomeHeader.tsx
Due: üß© webapp

feat: add AAB build scripts and 16KB page size support
  app/android/app/CMakeLists.txt
  app/android/app/build.gradle
  app/android/app/src/main/AndroidManifest.xml
  app/android/gradle.properties
  app/android/variables.gradle
  app/package.json
  app/script_aab_check_16KB.sh
Due: üß© webapp

refactor: remove password from CreateUserUsecase to enhance security
  api/src/core/usecases/user/create-user.usecase.ts
Due: üß© api

feat: enhance CreateUserUsecase with password validation and error handling
  api/src/core/usecases/user/create-user.usecase.ts
  app/android/app/build.gradle
  app/src/domain/usecases/CreateUserUsecase.ts
Due: üß© api, üß© webapp

feat: add support for audio file validation in FilePipe
  chat/src/api/validators/files.validator.ts
Due: üß© chat

feat: improve recording functionality in RecorderAdapter
  app/src/adapter/RecorderAdapter.ts
Due: üß© webapp

fix: correct payload structure in ReportEditForm submission
  admin/src/pages/report/edit.tsx
Due: üß© admin

feat: enhance ProfileContent styling and add responsive design
  app/src/presentation/components/contents/ProfileContent.module.css
  app/src/presentation/router/BottomBar.tsx
Due: üß© webapp

feat: enhance RecordingButton functionality with responsive behavior
  app/src/presentation/components/RecordingButton.tsx
Due: üß© webapp

feat: improve vocabulary recording functionality
  app/src/presentation/components/contents/activity/CreateActivityVocabularyContent.tsx
Due: üß© webapp

fix: update vocabulary deletion logic and recording button handling
  app/src/presentation/components/contents/activity/CreateActivityVocabularyContent.tsx
Due: üß© webapp

style: update layout and styling for pronunciation and action containers
  app/src/presentation/components/contents/activity/CreateActivityVocabularyContent.module.css
  app/src/presentation/components/contents/activity/CreateActivityVocabularyContent.tsx
Due: üß© webapp

fix: correct language code reference in activity repository
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
Due: üß© api

fix: normalize hashtags to lowercase in message creation
  chat/src/core/usecases/message/create-message.usecase.ts
Due: üß© chat

fix: update profile sign-up logic to include isSuggested flag
  app/src/presentation/pages/PairingLanguagesPage.tsx
  app/src/store/store.ts
Due: üß© webapp

style: update font-family in FlagBubble and TandemBubble components
  app/src/presentation/components/FlagBubble.module.css
  app/src/presentation/components/sessions/TandemBubble.module.css
  app/src/presentation/components/tandems/TandemBubble.module.css
Due: üß© webapp

fix: update selected aria label in translations for consistency
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
Due: üß© webapp

refactor: update layout structure in OnlineWebLayout component
  app/src/presentation/components/layout/OnlineWebLayout.module.css
  app/src/presentation/components/layout/OnlineWebLayout.tsx
Due: üß© webapp

feat: add shuffleArray utility and integrate into FlipcardsQuiz component
  app/src/presentation/components/flashcards/flipcards/FlipcardsQuiz.tsx
  app/src/presentation/utils.ts
Due: üß© webapp

fix: synchronize current language selection in ChangeLanguageModal
  app/src/presentation/components/modals/ChangeLanguageModal.tsx
Due: üß© webapp

refactor: streamline content and video assignment in EditoResponse
  api/src/api/dtos/editos/edito.response.ts
Due: üß© api

refactor: remove disableSyncWithLocation prop from EventsList component
  admin/src/pages/events/list.tsx
Due: üß© admin

feat: add password validation and update translations
  app/public/locales/cn/translation.json
  app/public/locales/de/translation.json
  app/public/locales/en/translation.json
  app/public/locales/es/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/pages/SignUpInformationsPage.tsx
  app/src/presentation/utils.ts
Due: üß© webapp

feat: enhance email validation in LoginForm component
  app/src/presentation/components/forms/LoginForm.tsx
Due: üß© webapp

style: add border-radius to profile logo in ProfileDetailsCard
  app/src/presentation/components/profile/ProfileDetailsCard.module.css
Due: üß© webapp

feat: enhance reset admin password functionality
  api/src/core/usecases/security/reset-admin-password.usecase.ts
Due: üß© api

fix: handle potential null values in group name rendering
  admin/src/pages/administrators/list.tsx
  admin/src/pages/administrators/show.tsx
Due: üß© admin

feat: integrate OGCard component for link previews in MediaComponent
  app/src/presentation/components/card/OGCard.tsx
  app/src/presentation/components/chat/MediaComponent.tsx
Due: üß© webapp

style: update image dimensions in ReportsListItem CSS
  app/src/presentation/components/reports/ReportsListItem.module.css
Due: üß© webapp

feat: implement video call permissions handling
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/adapter/CameraAdapter.ts
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/components/tandems/TandemProfile.tsx
  app/src/presentation/hooks/useVideoCallPermissions.ts
Due: üß© webapp

fix: streamline aria labels in FilterModal for improved accessibility
  app/public/locales/fr/translation.json
  app/src/presentation/components/modals/FilterModal.tsx
Due: üß© webapp

refactor: optimize language selection handling in ChangeLanguageModal
  app/src/presentation/components/modals/ChangeLanguageModal.tsx
Due: üß© webapp

feat: add GitHub Actions workflow for mirroring ULEP repository
  .github/workflows/mirror.yml
Due: none

fix: update GitHub Actions workflow to use --mirror option for pushing to the ULEP repository
  .github/workflows/mirror.yml
Due: none

fix: correct GitHub Actions workflow to push to mirror repository
  .github/workflows/mirror.yml
Due: none

fix: add initial commit step to GitHub Actions workflow for mirroring repository
  .github/workflows/mirror.yml
Due: none

chore: remove deprecated GitHub Actions workflows for version bumping, GitLab sync, and wiki synchronization
  .github/workflows/bump_version.yml
  .github/workflows/mirror.yml
  .github/workflows/sync_gitlab.yml
  .github/workflows/wikiSync.yml
Due: none

fix: update GitHub Actions workflow to remove unused steps and improve efficiency
  .github/workflows/mirror.yml
Due: none

Path conditions:
  üß© admin: any of: admin/**/*
  üß© api init: any of: api/libs/common/src/database/**/*
  üß© api: any of: api/**/*
  üß© auth ul theme: any of: docker/keycloak/**/*
  üß© webapp: any of: app/**/*
  üß© chat: any of: chat/**/*
