Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© auth ul theme, ðŸ§© webapp, ðŸ§© chat

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" ||  $CI_COMMIT_BRANCH == "ci" # Supprimer ci

stages:
  - packages

# CI de package
.package ci:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend

# CI de l'admin
ðŸ§© admin:
  extends: .package ci
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    # DOCKER_TARGET: admin_prod # GÃ©nÃ¨re une erreur : ERR_PNPM_BROKEN_LOCKFILEâ€‰ The lockfile at "/srv/app/pnpm-lock.yaml" is broken: duplicated mapping key (1755:3)
    LINT: enabled
  rules:
    - changes:
        - admin/**/*

# CI de l'initialisation API
ðŸ§© api init:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init
  rules:
    - changes:
        - api/libs/common/src/database/**/*

# CI de l'API
ðŸ§© api:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    # DOCKER_TARGET: api_prod
    LINT: enabled
    TEST: enabled
  rules:
    - changes:
        - api/**/*

# CI du thÃ¨me UL Keycloak
ðŸ§© auth ul theme:
  extends: .package ci
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: "1.0"
  rules:
    - changes:
        - docker/keycloak/**/*

# CI de la webapp
ðŸ§© webapp:
  extends: .package ci
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp
  rules:
    - changes:
        - app/**/*

# CI du chat
ðŸ§© chat:
  extends: .package ci
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat
  rules:
    - changes:
        - chat/**/*

Feat: news deletion
  admin/src/components/form/NewsForm.tsx
  admin/src/pages/news/list.tsx
  api/src/api/controllers/news.controller.ts
  api/src/core/core.module.ts
  api/src/core/ports/news.repository.ts
  api/src/core/usecases/media/delete-news-image.usecase.ts
  api/src/core/usecases/media/index.ts
  api/src/core/usecases/news/delete-news.usecase.ts
  api/src/core/usecases/news/index.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
Due: ðŸ§© admin, ðŸ§© api

Feat: News edition
  admin/src/components/form/NewsForm.tsx
  admin/src/entities/News.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/news/edit.tsx
  admin/src/pages/news/index.ts
  admin/src/pages/news/list.tsx
  admin/src/providers/customDataProvider.ts
  api/src/api/controllers/news.controller.ts
  api/src/api/dtos/news/index.ts
  api/src/core/core.module.ts
  api/src/core/ports/news.repository.ts
  api/src/core/usecases/media/upload-news-image.usecase.ts
  api/src/core/usecases/news/get-one-news.usecase.ts
  api/src/core/usecases/news/index.ts
  api/src/core/usecases/news/update-news.usecase.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
Due: ðŸ§© admin, ðŸ§© api

Fixes : unused import and missing model status
  api/src/core/models/news.model.ts
  api/src/core/usecases/news/create-news.usecase.ts
Due: ðŸ§© api

Feat: start and end publication dates added
  admin/src/components/form/NewsForm.tsx
  admin/src/entities/News.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/news/create.tsx
  admin/src/pages/news/edit.tsx
  admin/src/pages/news/list.tsx
  api/libs/common/src/database/migrations/20240925092549_create_news_table/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/controllers/news.controller.ts
  api/src/api/dtos/news/index.ts
  api/src/core/models/news.model.ts
  api/src/core/usecases/news/create-news.usecase.ts
  api/src/core/usecases/news/get-news.usecase.ts
  api/src/core/usecases/news/update-news.usecase.ts
  api/src/providers/persistance/mappers/news.mapper.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
Due: ðŸ§© admin, ðŸ§© api init, ðŸ§© api

Fix: API fixes
  api/src/core/ports/news.repository.ts
  api/src/core/usecases/news/create-news.usecase.ts
  api/src/core/usecases/news/update-news.usecase.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
Due: ðŸ§© api

Fix: pnpm-lock updated for CI crash
  admin/pnpm-lock.yaml
Due: ðŸ§© admin

Publication dates added to list
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/news/list.tsx
  api/src/core/usecases/media/upload-news-image.usecase.ts
Due: ðŸ§© admin, ðŸ§© api

👌 fix: Update custom Modal for IonModal to handle keyboard on mobile for report content
  app/src/presentation/components/contents/ReportContent.module.css
  app/src/presentation/components/modals/ReportModal.tsx
Due: ðŸ§© webapp

Fix: package.json update
  admin/package.json
  admin/pnpm-lock.yaml
Due: ðŸ§© admin

New pnpm-lock for app
  app/pnpm-lock.yaml
Due: ðŸ§© webapp

👌 fix: Validate tandem on manual validation + hide button when already validated by this university
  admin/src/pages/profiles-with-tandems-profiles/list/index.tsx
Due: ðŸ§© admin

Fix: admin from partner university cannot edit central profile
  admin/src/App.tsx
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/profiles/edit.tsx
  admin/src/pages/profiles/show.tsx
Due: ðŸ§© admin

👌 fix: Refresh tokens before socket io reconnexion
  app/src/adapter/DomainHttpAdapter.ts
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/interfaces/RefreshTokensUsecase.interface.ts
  app/src/domain/usecases/RefreshTokensUsecase.ts
  app/src/presentation/components/contents/ChatContent.tsx
Due: ðŸ§© webapp

👌 fix: Add handleTokens in mocked adapter
  app/__tests__/mocks/adapters/HttpAdapter.ts
Due: ðŸ§© webapp

fix(api) Upgrade eslint-plugin-prettier
  api/package.json
  api/pnpm-lock.yaml
Due: ðŸ§© api

fix(app): Fix build app
  app/src/presentation/components/forms/ForgotPasswordForm.tsx
  app/src/presentation/components/forms/LoginForm.tsx
  app/src/presentation/components/modals/AvailabilityNoteModal.tsx
  app/src/presentation/pages/EditInformationsPage.tsx
  app/src/presentation/pages/SignUpBiographyPage.tsx
  app/src/presentation/pages/SignUpInformationsPage.tsx
  app/src/presentation/pages/SignUpPage.tsx
Due: ðŸ§© webapp

👌 fix: Add conversations creations on auto tandems generation
  api/src/core/usecases/tandem/generate-tandems.usecase.ts
Due: ðŸ§© api

👌 fix: Update chat service to handle test
  api/src/core/ports/chat.service.ts
  api/src/core/usecases/tandem/generate-tandems.usecase.ts
  api/src/providers/services/chat.service.ts
  api/src/providers/services/in-memory.chat.service.ts
  api/test/usecases/tandems/GenerateTandems.spec.ts
Due: ðŸ§© api

fix(chat) Fix and upgrade chat dependencies
  chat/package.json
  chat/pnpm-lock.yaml
Due: ðŸ§© chat

fix review remarks
  api/src/api/controllers/profile.controller.ts
  api/src/core/services/CronService.ts
  api/src/core/usecases/session/create-session.usecase.ts
Due: ðŸ§© api

fix(app): Fix app dependencies
  app/Dockerfile
  app/package.json
  app/pnpm-lock.yaml
Due: ðŸ§© webapp

Fix: SessionFormContent style import broken
  app/src/presentation/components/contents/SessionFormContent.tsx
Due: ðŸ§© webapp

Fix: activity seed deletion
  api/libs/common/src/database/seeds/index.ts
Due: ðŸ§© api init, ðŸ§© api

👌 fix: Get activities collection rather than list
  app/src/domain/usecases/activity/GetActivityThemesUsecase.ts
Due: ðŸ§© webapp

fix(app): React loader spinner
  app/package.json
  app/pnpm-lock.yaml
  app/src/presentation/components/Loader.tsx
Due: ðŸ§© webapp

fix(app): Fix desktop sessions
  app/src/presentation/components/modals/SelectTandemModal.tsx
  app/src/presentation/components/modals/SessionsContentModal.tsx
  app/src/presentation/pages/HomePage.tsx
Due: ðŸ§© webapp

✨ feat: Add category selection on create/update activity + add letters counter under text input
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/adapter/BaseHttpAdapter.ts
  app/src/presentation/components/DropDown.tsx
  app/src/presentation/components/TextInput.module.css
  app/src/presentation/components/TextInput.tsx
  app/src/presentation/components/contents/activity/CreateActivityInformationsContent.tsx
  app/src/presentation/components/contents/activity/CreateOrUpdateActivityContent.tsx
  app/src/presentation/hooks/useGetDataForActivityCreation.ts
Due: ðŸ§© webapp

👌 fix: Update description length
  app/src/presentation/components/contents/activity/CreateActivityInformationsContent.tsx
Due: ðŸ§© webapp

✨ feat: Add smaller button on learning page
  app/src/presentation/components/card/CreateLearningLanguageCard.tsx
  app/src/presentation/components/card/LearningCard.tsx
Due: ðŸ§© webapp

👌 fix: Fix vocabulary research
  api/src/providers/persistance/repositories/prisma-vocabulary-repository.ts
  app/src/presentation/components/contents/VocabularyContent.tsx
Due: ðŸ§© api, ðŸ§© webapp

fix(app): Fix review remarks
  api/src/providers/persistance/repositories/prisma-session-repository.ts
  app/src/presentation/components/sessions/SessionCard.tsx
Due: ðŸ§© api, ðŸ§© webapp

feat(4251): Add end session page
  app/public/locales/fr/translation.json
  app/src/presentation/components/Jitsi/JitsiMobile.tsx
  app/src/presentation/components/Jitsi/JitsiWeb.tsx
  app/src/presentation/components/Jitsi/VisioContainer.tsx
  app/src/presentation/components/contents/EndSessionContent.module.css
  app/src/presentation/components/contents/EndSessionContent.tsx
  app/src/presentation/components/modals/EndSessionModal.tsx
  app/src/presentation/pages/HomePage.tsx
  app/src/presentation/pages/mobile/EndSessionPage.tsx
  app/src/presentation/router/Router.tsx
Due: ðŸ§© webapp

news: translations fixes
  admin/src/components/form/NewsForm.tsx
  admin/src/locales/fr.json
Due: ðŸ§© admin

fix: university logo on edit page
  admin/src/components/form/UniversityForm.tsx
Due: ðŸ§© admin

feat: image size error message
  admin/src/components/ImageUploader.tsx
Due: ðŸ§© admin

Fix: News translations content
  admin/src/components/form/NewsForm.tsx
Due: ðŸ§© admin

👌 fix: Add more informations on score calculus + add condition to avoid some tandems
  admin/src/entities/Match.ts
  admin/src/pages/profiles-with-tandems-profiles/show/TandemTable/TandemTable.tsx
  api/src/core/services/MatchScorer.ts
Due: ðŸ§© admin, ðŸ§© api

feat(api): 3987 Add generate certificate api
  api/libs/common/src/database/migrations/20240917114542_add_learning_languages_certifates_options_and_file/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/controllers/learningLanguage.controller.ts
  api/src/api/dtos/learning-languages/generate-certificate.request.ts
  api/src/api/dtos/learning-languages/learning-language.dto.ts
  api/src/api/dtos/learning-languages/learning-language.response.ts
  api/src/api/dtos/matchs/match.response.ts
  api/src/core/core.module.ts
  api/src/core/models/learning-language.model.ts
  api/src/core/ports/media-object.repository.ts
  api/src/core/usecases/learningLanguage/generate-certificate.usecase.ts
  api/src/core/usecases/learningLanguage/index.ts
  api/src/core/usecases/learningLanguage/update-learning-language.usecase.ts
  api/src/core/usecases/media/index.ts
  api/src/core/usecases/media/upload-learning-language-certificate.usecase.ts
  api/src/core/usecases/university/get-university-divisions.usecase.ts
  api/src/providers/persistance/mappers/learningLanguage.mapper.ts
  api/src/providers/persistance/mappers/profile.mapper.ts
  api/src/providers/persistance/repositories/prisma-learning-language-repository.ts
  api/src/providers/persistance/repositories/prisma-media-object-repository.ts
Due: ðŸ§© api init, ðŸ§© api

feat(admin): 3987 Add Form dialog to validate and generate certificate
  admin/src/components/field/ReferenceUploadFileField.tsx
  admin/src/components/form/CertificateForm.tsx
  admin/src/entities/LearningLanguage.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/profiles/CertificateModal/index.tsx
  admin/src/pages/profiles/show.tsx
  admin/src/providers/customDataProvider.ts
Due: ðŸ§© admin
