Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üß© admin, üß© api init, üß© api, üß© auth ul theme, üß© webapp, üß© chat

.gitlab-ci.yml:

#
#   Copyright ou ¬© ou Copr. Universit√© de Lorraine, (2025)
#
#   Direction du Num√©rique de l'Universit√© de Lorraine - SIED
#
#   Ce logiciel est un programme informatique servant √† rendre accessible
#   sur mobile et sur internet l'application ULEP (University Language
#   Exchange Programme) aux √©tudiants et aux personnels des universit√©s
#   parties prenantes.
#
#   Ce logiciel est r√©gi par la licence CeCILL 2.1, soumise au droit fran√ßais
#   et respectant les principes de diffusion des logiciels libres. Vous pouvez
#   utiliser, modifier et/ou redistribuer ce programme sous les conditions
#   de la licence CeCILL telle que diffus√©e par le CEA, le CNRS et INRIA
#   sur le site "http://cecill.info".
#
#   En contrepartie de l'accessibilit√© au code source et des droits de copie,
#   de modification et de redistribution accord√©s par cette licence, il n'est
#   offert aux utilisateurs qu'une garantie limit√©e. Pour les m√™mes raisons,
#   seule une responsabilit√© restreinte p√®se sur l'auteur du programme, le
#   titulaire des droits patrimoniaux et les conc√©dants successifs.
#
#   √Ä cet √©gard, l'attention de l'utilisateur est attir√©e sur les risques
#   associ√©s au chargement, √† l'utilisation, √† la modification et/ou au
#   d√©veloppement et √† la reproduction du logiciel par l'utilisateur √©tant
#   donn√© sa sp√©cificit√© de logiciel libre, qui peut le rendre complexe √†
#   manipuler et qui le r√©serve donc √† des d√©veloppeurs et des professionnels
#   avertis poss√©dant des connaissances informatiques approfondies. Les
#   utilisateurs sont donc invit√©s √† charger et √† tester l'ad√©quation du
#   logiciel √† leurs besoins dans des conditions permettant d'assurer la
#   s√©curit√© de leurs syst√®mes et/ou de leurs donn√©es et, plus g√©n√©ralement,
#   √† l'utiliser et √† l'exploiter dans les m√™mes conditions de s√©curit√©.
#
#   Le fait que vous puissiez acc√©der √† cet en-t√™te signifie que vous avez
#   pris connaissance de la licence CeCILL 2.1, et que vous en avez accept√© les
#   termes.
#

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" ||  $CI_COMMIT_BRANCH == "ci" # Supprimer ci

stages:
  - packages

# CI de package
.package ci:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend

# CI de l'admin
üß© admin:
  extends: .package ci
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    # DOCKER_TARGET: admin_prod # G√©n√®re une erreur : ERR_PNPM_BROKEN_LOCKFILE‚Äâ The lockfile at "/srv/app/pnpm-lock.yaml" is broken: duplicated mapping key (1755:3)
    LINT: enabled
  rules:
    - changes:
        - admin/**/*

# CI de l'initialisation API
üß© api init:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init
  rules:
    - changes:
        - api/libs/common/src/database/**/*

# CI de l'API
üß© api:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    # DOCKER_TARGET: api_prod
    LINT: enabled
    TEST: enabled
  rules:
    - changes:
        - api/**/*

# CI du th√®me UL Keycloak
üß© auth ul theme:
  extends: .package ci
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: "1.0"
  rules:
    - changes:
        - docker/keycloak/**/*

# CI de la webapp
üß© webapp:
  extends: .package ci
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp
  rules:
    - changes:
        - app/**/*

# CI du chat
üß© chat:
  extends: .package ci
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat
  rules:
    - changes:
        - chat/**/*

chore: standardize dependency versions in package.json and pnpm-lock.yaml
  admin/package.json
  admin/pnpm-lock.yaml
Due: üß© admin

chore: update package.json and pnpm-lock.yaml to include dependency overrides and bump versions for several packages
  admin/package.json
  admin/pnpm-lock.yaml
Due: üß© admin

feat: add faviconURL to Instance model and update related components for favicon handling
  api/src/api/dtos/instance/instance.response.ts
  api/src/core/models/Instance.model.ts
  api/src/core/usecases/instance/get-instance.usecase.ts
  api/src/providers/storage/minio.storage.ts
  app/src/domain/entities/Confirguration.ts
  app/src/presentation/components/HomeHeader.module.css
  app/src/presentation/hooks/useFetchConfiguration.ts
Due: üß© api, üß© webapp

Update README.md
  README.md
Due: none

Update README with installation and Keycloak setup
  README.md
Due: none

Enhance README with project description and features
  README.md
Due: none

feat: enhance database migration process with init container and add post-install job for database readiness
  helm/project/templates/api/deployment-api.yaml
  helm/project/templates/api/postinstall-api.yaml
Due: none

feat: include learningLanguageId in session state for JoinSessionButton
  app/src/presentation/components/sessions/SessionCard.tsx
Due: üß© webapp

feat: add password check to SentryInterceptor to prevent logging sensitive information
  api/src/api/interceptors/sentry.interceptor.ts
Due: üß© api

chore: remove GitLab sync workflow configuration file
  .github/workflows/sync_gitlab.yml
Due: none

chore: delete obsolete wiki sync workflow configuration file
  .github/workflows/wikiSync.yml
Due: none

feat: add getAdministratorsWithGroups method to KeycloakClient and update GetAdministratorsUsecase to utilize it
  api/libs/keycloak/src/keycloak.client.ts
  api/libs/keycloak/src/keycloak.models.ts
  api/src/core/usecases/user/get-administrators.usecase.ts
Due: üß© api

feat: add new email and login themes for Nu-SkiLL with localization support and responsive design
  docker/keycloak/themes/nu-skill/email/html/executeActions.ftl
  docker/keycloak/themes/nu-skill/email/html/password-reset.ftl
  docker/keycloak/themes/nu-skill/email/html/template.ftl
  docker/keycloak/themes/nu-skill/email/messages/messages_en.properties
  docker/keycloak/themes/nu-skill/email/messages/messages_fr.properties
  docker/keycloak/themes/nu-skill/email/text/executeActions.ftl
  docker/keycloak/themes/nu-skill/email/text/password-reset.ftl
  docker/keycloak/themes/nu-skill/email/theme.properties
  docker/keycloak/themes/nu-skill/login/login-update-password.ftl
  docker/keycloak/themes/nu-skill/login/messages/messages_en.properties
  docker/keycloak/themes/nu-skill/login/messages/messages_fr.properties
  docker/keycloak/themes/nu-skill/login/resources/css/responsive.css
  docker/keycloak/themes/nu-skill/login/resources/css/template.css
  docker/keycloak/themes/nu-skill/login/resources/img/background_layer.png
  docker/keycloak/themes/nu-skill/login/resources/img/favicon.png
  docker/keycloak/themes/nu-skill/login/resources/img/logo.png
  docker/keycloak/themes/nu-skill/login/template.ftl
  docker/keycloak/themes/nu-skill/login/theme.properties
Due: üß© auth ul theme

Update TAG auth ul theme version from 1.0 to 1.7
  .gitlab-ci.yml
Due: none

feat: update document title based on configuration result name
  app/src/presentation/hooks/useFetchConfiguration.ts
Due: üß© webapp

feat: update CSV stringifier to use semicolon as delimiter
  api/src/core/usecases/log-entry/export-log-entries.usecase.ts
Due: üß© api

fix: update KeycloakClient to conditionally set user ID and clean up getAdministratorsWithGroups method
  api/libs/keycloak/src/keycloak.client.ts
Due: üß© api

Revise README with project details and requirements
  README.md
Due: none

refactor: streamline visio duration update logic in UpdateVisioDurationUsecase
  api/src/core/usecases/learningLanguage/update-visio-duration.usecase.ts
Due: üß© api

feat: invalidate queries for activities, events, and news on successful updates
  admin/src/pages/activities/edit.tsx
  admin/src/pages/events/edit.tsx
  admin/src/pages/news/edit.tsx
Due: üß© admin

feat: invalidate administrators query on successful update in edit form and fix optional chaining in show component
  admin/src/pages/administrators/edit.tsx
  admin/src/pages/administrators/show.tsx
Due: üß© admin

feat: enhance activity creation components with initial values support for exercises, vocabularies, and information fields
  app/src/presentation/components/contents/activity/CreateActivityExcerciseContent.tsx
  app/src/presentation/components/contents/activity/CreateActivityInformationsContent.tsx
  app/src/presentation/components/contents/activity/CreateActivityVocabularyContent.tsx
  app/src/presentation/components/contents/activity/CreateOrUpdateActivityContent.tsx
Due: üß© webapp

fix: Force FR value because other select values are fixed too
  admin/src/components/form/ActivityCategoryForm.tsx
  admin/src/components/form/InterestForm.tsx
Due: üß© admin

feat: enhance user access control in profile navigation by integrating identity checks
  admin/src/pages/profiles/show.tsx
Due: üß© admin

feat: add video support to edit form for translations
  admin/src/pages/editos/manager/edit.tsx
Due: üß© admin

feat: update CSV export to use semicolon as delimiter
  api/src/api/dtos/users/csv-export.ts/rgpd-to-csv.ts
Due: üß© api

fix: add type annotations to object function in CSV export for better type safety
  api/src/api/dtos/users/csv-export.ts/rgpd-to-csv.ts
Due: üß© api

refactor: enhance type safety in CSV export by adding new types and improving object handling
  api/src/api/dtos/users/csv-export.ts/rgpd-to-csv.ts
Due: üß© api

chore: update Ionic dependencies to use tilde versioning for better compatibility
  app/package.json
Due: üß© webapp

fix: improve type safety by allowing undefined state in activity creation component
  app/src/presentation/components/contents/activity/CreateOrUpdateActivityContent.tsx
Due: üß© webapp

chore: bump version to 0.58.0 for admin, api, and app packages
  admin/package.json
  api/package.json
  app/package.json
Due: üß© admin, üß© api, üß© webapp

fix: improve user update logic by allowing partial updates for firstname, lastname, and email
  api/src/core/usecases/user/update-user.usecase.ts
Due: üß© api

fix: update error message for invalid password in CreateUserUsecase to improve clarity
  app/src/domain/usecases/CreateUserUsecase.ts
Due: üß© webapp

refactor: simplify Sidebar component by removing conditional rendering for home navigation item
  app/src/presentation/components/layout/Sidebar.tsx
Due: üß© webapp

chore: bump version to 0.59.0 in package.json files for admin, api, and app
  admin/package.json
  api/package.json
  app/package.json
Due: üß© admin, üß© api, üß© webapp

feat: add owner validation and role-based access control to profile editing endpoint
  api/src/api/controllers/profile.controller.ts
Due: üß© api

chore: change date-fns version to exact match in package.json
  app/package.json
Due: üß© webapp
