Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© auth ul theme, ðŸ§© webapp, ðŸ§© chat

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" ||  $CI_COMMIT_BRANCH == "ci" # Supprimer ci

stages:
  - packages

# CI de package
.package ci:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend

# CI de l'admin
ðŸ§© admin:
  extends: .package ci
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    # DOCKER_TARGET: admin_prod # GÃ©nÃ¨re une erreur : ERR_PNPM_BROKEN_LOCKFILEâ€‰ The lockfile at "/srv/app/pnpm-lock.yaml" is broken: duplicated mapping key (1755:3)
    LINT: enabled
  rules:
    - changes:
        - admin/**/*

# CI de l'initialisation API
ðŸ§© api init:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init
  rules:
    - changes:
        - api/libs/common/src/database/**/*

# CI de l'API
ðŸ§© api:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    # DOCKER_TARGET: api_prod
    LINT: enabled
    TEST: enabled
  rules:
    - changes:
        - api/**/*

# CI du thÃ¨me UL Keycloak
ðŸ§© auth ul theme:
  extends: .package ci
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: "1.0"
  rules:
    - changes:
        - docker/keycloak/**/*

# CI de la webapp
ðŸ§© webapp:
  extends: .package ci
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp
  rules:
    - changes:
        - app/**/*

# CI du chat
ðŸ§© chat:
  extends: .package ci
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat
  rules:
    - changes:
        - chat/**/*

fix(4441): Fix generate certificate error
  api/src/core/usecases/learningLanguage/generate-certificate.usecase.ts
Due: ðŸ§© api

✨ feat: Update all text-align left by text-align start and same for right/end
  app/src/presentation/components/Jitsi/VisioWelcomeContent.module.css
  app/src/presentation/components/LanguageTag.module.css
  app/src/presentation/components/TextInput.module.css
  app/src/presentation/components/UniversityTag.module.css
  app/src/presentation/components/card/ActivityCard.module.css
  app/src/presentation/components/card/ActivityStatusCard.module.css
  app/src/presentation/components/card/LogEntryCard.module.css
  app/src/presentation/components/card/SmallActivityCard.module.css
  app/src/presentation/components/card/VocabularyListCard.module.css
  app/src/presentation/components/chat/ConversationLine.module.css
  app/src/presentation/components/chat/HashtagsHeader.module.css
  app/src/presentation/components/chat/MediaComponent.module.css
  app/src/presentation/components/chat/MessageComponent.module.css
  app/src/presentation/components/contents/ChatContent.module.css
  app/src/presentation/components/contents/CreateOrUpdateVocabularyContent.module.css
  app/src/presentation/components/contents/LearningContent.tsx
  app/src/presentation/components/contents/ProfileContent.module.css
  app/src/presentation/components/contents/VocabularyListContent.module.css
  app/src/presentation/components/contents/activity/ActivityContent.module.css
  app/src/presentation/components/contents/activity/CreateActivityExcerciseContent.module.css
  app/src/presentation/components/contents/activity/CreateActivityInformationsContent.module.css
  app/src/presentation/components/contents/activity/CreateActivityVocabularyContent.module.css
  app/src/presentation/components/events/EventAdress.module.css
  app/src/presentation/components/events/EventDate.module.css
  app/src/presentation/components/events/EventLine.module.css
  app/src/presentation/components/modals/AddOrUpdateVocabularyListModal.module.css
  app/src/presentation/components/modals/SelectActivitiesListModal.module.css
  app/src/presentation/components/modals/SelectVocabularyListModal.module.css
  app/src/presentation/components/modals/SelectVocabularyListsForQuizModal.module.css
  app/src/presentation/components/news/NewsLine.module.css
  app/src/presentation/components/reports/ReportsListItem.module.css
  app/src/presentation/components/tandems/ActiveTandemCard.module.css
  app/src/presentation/components/tandems/TandemCardButton.module.css
  app/src/presentation/components/vocabulary/VocabularyLine.module.css
  app/src/presentation/components/vocabulary/VocabularyListLine.module.css
  app/src/presentation/components/vocabulary/VocabularyListLineCheckbox.module.css
Due: ðŸ§© webapp

fix: add weblate,jitsi,glitchtip to certifcate generation
  helm/project/templates/cert.yaml
  helm/project/templates/git/ingress-git.yaml
Due: none

👌 fix: Remove console log
  app/src/presentation/components/card/ProficiencyTestCard.tsx
  app/src/presentation/components/contents/LearningContent.tsx
  app/src/presentation/components/reports/ReportsListItem.module.css
Due: ðŸ§© webapp

👌 fix: Hide overflow image when it is larger
  app/src/presentation/components/news/NewsLine.module.css
Due: ðŸ§© webapp

👌 fix: Filter activity by learning language initially
  app/src/presentation/components/contents/activity/ActivitiesContainerContent.tsx
  app/src/presentation/components/contents/activity/ActivitiesContent.tsx
  app/src/presentation/components/modals/ActivitiesContentModal.tsx
  app/src/presentation/pages/LearningPage.tsx
Due: ðŸ§© webapp

✨ feat: Handle message deletion on back office
  admin/src/components/form/ReportForm.tsx
  admin/src/entities/Report.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/report/edit.tsx
  admin/src/pages/report/show.tsx
  api/src/api/dtos/chat/message.response.ts
  api/src/api/dtos/reports/index.ts
  api/src/core/ports/chat.service.ts
  api/src/core/ports/report.repository.ts
  api/src/core/usecases/report/create-report-message.usecase.ts
  api/src/core/usecases/report/update-report-status.usecase.ts
  api/src/providers/persistance/repositories/prisma-report.repository.ts
  api/src/providers/services/chat.service.ts
  api/src/providers/services/in-memory.chat.service.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/command/MessageCommand.ts
  app/src/domain/entities/chat/Message.ts
  app/src/domain/interfaces/CreateReportMessageUsecase.interface.ts
  app/src/domain/usecases/CreateReportMessageUsecase.ts
  app/src/presentation/components/chat/MessageComponent.module.css
  app/src/presentation/components/chat/MessageComponent.tsx
  app/src/presentation/components/chat/messages/MessageDeleted.tsx
  chat/src/api/api.module.ts
  chat/src/api/controllers/conversation.controller.ts
  chat/src/api/controllers/message.controller.ts
  chat/src/api/dtos/message/message.response.ts
  chat/src/providers/persistance/repositories/prisma-message.repository.ts
Due: ðŸ§© admin, ðŸ§© api, ðŸ§© webapp, ðŸ§© chat

👌 fix: remove logs
  admin/src/pages/report/show.tsx
  api/src/core/usecases/report/update-report-status.usecase.ts
  chat/src/api/controllers/conversation.controller.ts
Due: ðŸ§© admin, ðŸ§© api, ðŸ§© chat

👌 fix: Fix type
  app/src/adapter/SocketIoAdapter.ts
  app/src/presentation/hooks/useHandleMessagesFromConversation.ts
Due: ðŸ§© webapp

✨ feat: Update community background chat
  app/src/presentation/components/chat/MessagesList.module.css
  app/src/presentation/components/chat/MessagesList.tsx
  app/src/presentation/components/contents/ChatContent.module.css
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/hooks/useFetchConfiguration.ts
  app/src/presentation/hooks/useHandleMessagesFromConversation.ts
Due: ðŸ§© webapp

👌 fix: Set reply header to a static value
  app/src/presentation/components/contents/ChatContent.module.css
  app/src/presentation/components/contents/ChatContent.tsx
Due: ðŸ§© webapp

👌 fix: Update wording on vocabulary list to avoid reverse target/translation languages
  app/src/domain/entities/VocabularyList.ts
  app/src/presentation/components/contents/CreateOrUpdateVocabularyContent.tsx
  app/src/presentation/components/contents/VocabularyItemContent.tsx
  app/src/presentation/components/modals/AddOrUpdateVocabularyListModal.tsx
Due: ðŸ§© webapp

Edito instance config
  admin/src/components/form/InstanceForm.tsx
  admin/src/entities/Instance.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/instance/edit.tsx
  admin/src/pages/instance/show.tsx
  api/libs/common/src/database/migrations/20250110100237_create_editos_table/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/dtos/instance/instance.response.ts
  api/src/api/dtos/instance/update-instance.request.ts
  api/src/core/models/Instance.model.ts
  api/src/core/usecases/instance/get-instance.usecase.ts
  api/src/providers/persistance/mappers/instance.mapper.ts
  api/src/providers/persistance/repositories/prisma-instance.repository.ts
Due: ðŸ§© admin, ðŸ§© api init, ðŸ§© api

Edito image management
  api/src/api/controllers/edito.controller.ts
  api/src/core/core.module.ts
  api/src/core/models/edito.model.ts
  api/src/core/ports/media-object.repository.ts
  api/src/core/usecases/edito/get-edito.usecase.ts
  api/src/core/usecases/media/index.ts
  api/src/core/usecases/media/upload-edito-image.usecase.ts
  api/src/providers/persistance/mappers/edito.mapper.ts
  api/src/providers/persistance/repositories/prisma-media-object-repository.ts
Due: ðŸ§© api

Update edito implemented without image file management
  admin/src/components/form/EditoForm.tsx
  admin/src/components/form/InstanceForm.tsx
  admin/src/entities/Edito.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/editos/edit.tsx
  admin/src/pages/editos/index.ts
  admin/src/pages/editos/list.tsx
  admin/src/pages/instance/show.tsx
  api/src/api/controllers/edito.controller.ts
  api/src/api/controllers/instance.controller.ts
  api/src/api/dtos/editos/update-edito.request.ts
  api/src/core/core.module.ts
  api/src/core/ports/edito.repository.ts
  api/src/core/usecases/edito/get-edito.usecase.ts
  api/src/core/usecases/edito/index.ts
  api/src/core/usecases/edito/update-edito.usecase.ts
  api/src/core/usecases/instance/update-instance.usecase.ts
  api/src/providers/persistance/repositories/prisma-edito-repository.ts
Due: ðŸ§© admin, ðŸ§© api

Edito edit avaiable to partner university managers
  admin/src/App.tsx
  admin/src/components/form/EditoForm.tsx
  admin/src/components/menu/CustomMenu.tsx
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/editos/index.ts
  admin/src/pages/editos/list.tsx
  admin/src/pages/editos/manager/edit.tsx
  api/src/core/usecases/edito/generate-editos.usecase.ts
  api/src/core/usecases/edito/get-edito.usecase.ts
  api/src/providers/persistance/repositories/prisma-edito-repository.ts
Due: ðŸ§© admin, ðŸ§© api

Feat: editos creation
  admin/src/App.tsx
  admin/src/components/form/InstanceForm.tsx
  admin/src/components/menu/CustomMenu.tsx
  admin/src/components/menu/useGenerateEditos.ts
  admin/src/entities/Edito.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/editos/index.ts
  admin/src/pages/editos/list.tsx
  admin/src/pages/instance/show.tsx
  admin/src/providers/customDataProvider.ts
  api/src/api/api.module.ts
  api/src/api/controllers/edito.controller.ts
  api/src/api/dtos/editos/edito.response.ts
  api/src/core/core.module.ts
  api/src/core/models/edito.model.ts
  api/src/core/ports/edito.repository.ts
  api/src/core/usecases/edito/generate-editos.usecase.ts
  api/src/core/usecases/edito/get-editos.usecase.ts
  api/src/core/usecases/edito/index.ts
  api/src/core/usecases/index.ts
  api/src/core/usecases/university/create-partner.usecase.ts
  api/src/core/usecases/university/create-university.usecase.ts
  api/src/providers/persistance/mappers/edito.mapper.ts
  api/src/providers/persistance/repositories/prisma-edito-repository.ts
  api/src/providers/providers.module.ts
Due: ðŸ§© admin, ðŸ§© api

Fix: circular dependendy into module provider
  api/src/providers/providers.module.ts
Due: ðŸ§© api

Fix tests
  api/libs/common/src/database/factories/instance.factory.ts
  api/src/providers/persistance/repositories/in-memory-edito-repository.ts
  api/test/specs/universities.spec.ts
Due: ðŸ§© api init, ðŸ§© api

👌 fix: Display every needed Event + fix update event without concerned universities
  api/src/api/dtos/events/update-event.request.ts
  api/src/providers/persistance/repositories/prisma-events.repository.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/contents/events/EventsListContent.module.css
  app/src/presentation/components/contents/events/EventsListContent.tsx
  app/src/presentation/components/events/EventLine.module.css
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Add count to excercices and title of activity
  app/src/presentation/components/contents/activity/CreateActivityExcerciseContent.tsx
  app/src/presentation/components/contents/activity/CreateActivityInformationsContent.tsx
Due: ðŸ§© webapp

👌 fix: Handle multiple words on activity vocal upload
  api/src/api/controllers/activity.controller.ts
  app/src/presentation/utils.ts
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Create route to get Edito by universityId
  api/src/api/controllers/edito.controller.ts
  api/src/core/core.module.ts
  api/src/core/ports/edito.repository.ts
  api/src/core/usecases/edito/get-edito-by-university-id.usecase.ts
  api/src/core/usecases/edito/index.ts
  api/src/providers/persistance/repositories/in-memory-edito-repository.ts
  api/src/providers/persistance/repositories/prisma-edito-repository.ts
  app/src/command/EditoCommand.ts
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/entities/Edito.ts
  app/src/domain/interfaces/GetEditoByUniversityIdUsecase.interface.ts
  app/src/domain/usecases/GetEditoByUniversityIdUsecase.ts
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Create Edito modal
  api/src/api/controllers/edito.controller.ts
  api/src/api/controllers/instance.controller.ts
  api/src/api/dtos/editos/edito.response.ts
  api/src/api/dtos/instance/update-instance.request.ts
  api/src/api/dtos/universities/index.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/command/EditoCommand.ts
  app/src/command/UniversityCommand.ts
  app/src/domain/entities/Edito.ts
  app/src/domain/entities/University.ts
  app/src/domain/usecases/GetEditoByUniversityIdUsecase.ts
  app/src/presentation/components/contents/EditoContent.module.css
  app/src/presentation/components/contents/EditoContent.tsx
  app/src/presentation/components/contents/ProfileContent.tsx
  app/src/presentation/components/modals/EditoContentModal.tsx
  app/src/presentation/hooks/useGetEdito.ts
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Add Edito modal on learning page
  api/src/core/usecases/chat/generate-conversations.usecase.ts
  app/src/presentation/components/contents/LearningContent.tsx
  app/src/presentation/hooks/useGetEdito.ts
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Add Edito modale on certificate
  app/src/presentation/components/contents/LearningContent.tsx
  app/src/presentation/components/tandems/LearningJournalCard.tsx
Due: ðŸ§© webapp

👌 fix: Remove iOS provisioning profile on codemagic
  codemagic.yaml
Due: none

✓ test: Update test with new university entity
  app/__tests__/domain/usecases/CreateUserUsecase.test.ts
  app/__tests__/domain/usecases/GetAllUniversitiesUsecase.test.ts
  app/__tests__/domain/usecases/GetPartnersToUniversityUsecase.test.ts
  app/__tests__/domain/usecases/GetUniversityUsecase.test.ts
  app/__tests__/fixtures/user.ts
Due: ðŸ§© webapp

👌 fix: Update codemagic.yaml
  codemagic.yaml
Due: none

👌 fix: Update textfile of activity for line break
  admin/src/pages/activities/show.tsx
Due: ðŸ§© admin

👌 fix(4439): Remove disabled attribute from RecordingButton
  app/src/presentation/components/RecordingButton.tsx
Due: ðŸ§© webapp

Fix: broken dates sorting on events and news
  api/src/providers/persistance/repositories/prisma-events.repository.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
Due: ðŸ§© api

👌 fix: Update dto concernedUniversities
  api/src/api/dtos/events/update-event.request.ts
Due: ðŸ§© api

👌 fix: Add position relative to news image
  app/src/presentation/components/contents/news/NewsContent.module.css
Due: ðŸ§© webapp

👌 fix: Delete game and quizz bloc
  app/src/presentation/components/card/RessourcesCard.tsx
  app/src/presentation/components/contents/LearningContent.tsx
Due: ðŸ§© webapp

👌 fix: Delete merge duplicata
  app/src/presentation/components/contents/ChatContent.tsx
Due: ðŸ§© webapp

Fixed tandem filters not crossing learning language and tandem status
  api/src/providers/persistance/repositories/prisma-profile-repository.ts
Due: ðŸ§© api

👌 fix: Update report content with category name
  app/src/presentation/components/contents/ViewReportContent.tsx
  app/src/presentation/components/reports/ReportsListItem.tsx
Due: ðŸ§© webapp

👌 fix: Add report message username
  app/src/presentation/components/contents/ViewReportContent.tsx
Due: ðŸ§© webapp

👌 fix: Remove cancel report button when the report is closed
  admin/src/pages/report/edit.tsx
  api/src/core/usecases/report/update-report-status.usecase.ts
  app/src/presentation/components/contents/ViewReportContent.tsx
Due: ðŸ§© admin, ðŸ§© api, ðŸ§© webapp
