Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© auth ul theme, ðŸ§© webapp, ðŸ§© chat

ðŸ§© admin:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    LINT: enabled

ðŸ§© api init:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init

ðŸ§© api:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    LINT: enabled
    TEST: enabled

ðŸ§© auth ul theme:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: '1.0'

ðŸ§© webapp:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp

ðŸ§© chat:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat

👌 fix: Dont display notifications if the app is open
  app/src/adapter/NotificationAdapter.ts
Due: ðŸ§© webapp

fix(4325): il manque des tris dans le tableau Autres propositions d'appariement
  admin/src/pages/profiles-with-tandems-profiles/show/OtherProposals.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/TandemTable/TandemTable.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/TandemTable/useSortedTandemMatches.ts
  admin/src/utils/compareCEFR.ts
Due: ðŸ§© admin

Feat(BO): tandem status filter added
  admin/src/entities/Tandem.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/profiles-with-tandems-profiles/list/index.tsx
  admin/src/queries/ProfilesWithTandemsQuery.ts
  api/src/api/controllers/profile.controller.ts
  api/src/api/dtos/profiles/profiles-with-tandems-filters.ts
  api/src/core/models/tandem.model.ts
  api/src/core/models/tandemWithPartnerLearningLanguage.model.ts
  api/src/core/ports/profile.repository.ts
  api/src/providers/persistance/repositories/prisma-profile-repository.ts
Due: ðŸ§© admin, ðŸ§© api

✓ test: Fix all tests for algorithm
  api/src/core/services/MatchScorer.ts
  api/test/usecases/tandems/GenerateTandems.spec.ts
Due: ðŸ§© api

fix(4316): Il faut pouvoir associer des langues au rôle animateur
  admin/src/components/AdministratorPicker.tsx
  admin/src/components/LanguagePicker.tsx
  admin/src/components/form/AdministratorForm.tsx
  admin/src/components/form/UniversityForm.tsx
  admin/src/entities/Administrator.ts
  admin/src/pages/admin-profile/edit.tsx
  admin/src/pages/administrators/create.tsx
  admin/src/pages/administrators/edit.tsx
  admin/src/pages/profiles-with-tandems-profiles/list/index.tsx
  api/libs/keycloak/src/keycloak.client.ts
  api/libs/keycloak/src/keycloak.models.ts
  api/src/api/dtos/users/index.ts
  api/src/core/usecases/user/create-administrator.usecase.ts
  api/src/core/usecases/user/get-administrators.usecase.ts
  api/src/core/usecases/user/update-administrator.usecase.ts
Due: ðŸ§© admin, ðŸ§© api

fix(admin): Fix import order
  admin/src/components/form/AdministratorForm.tsx
Due: ðŸ§© admin

✨ feat: Add news components
  app/src/presentation/components/contents/HomeContent.tsx
  app/src/presentation/components/news/NewsLine.module.css
  app/src/presentation/components/news/NewsLine.tsx
  app/src/presentation/components/news/NewsList.tsx
  app/src/presentation/pages/HomePage.tsx
Due: ðŸ§© webapp

👌 fix: Update lockfile
  chat/pnpm-lock.yaml
Due: ðŸ§© chat

feat(app): flashcards
  api/src/api/dtos/vocabulary/get-vocabularies-from-selected-lists.request.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/assets/backgrounds/background-purple.png
  app/src/assets/close_black_plain.svg
  app/src/assets/flashcard.png
  app/src/assets/index.ts
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/interfaces/vocabulary/GetVocabulariesFromListsIdUsecase.interface.ts
  app/src/domain/usecases/vocabulary/GetVocabulariesFromListsIdUsecase.ts
  app/src/presentation/components/AudioLine.tsx
  app/src/presentation/components/Checkbox.tsx
  app/src/presentation/components/contents/FlipcardsContent.module.css
  app/src/presentation/components/contents/FlipcardsContent.tsx
  app/src/presentation/components/contents/VocabularyContent.tsx
  app/src/presentation/components/contents/VocabularyListContent.module.css
  app/src/presentation/components/contents/VocabularyListContent.tsx
  app/src/presentation/components/flashcards/flipcards/FlipcardsButtons.module.css
  app/src/presentation/components/flashcards/flipcards/FlipcardsButtons.tsx
  app/src/presentation/components/flashcards/flipcards/FlipcardsCards.module.css
  app/src/presentation/components/flashcards/flipcards/FlipcardsCards.tsx
  app/src/presentation/components/flashcards/flipcards/FlipcardsFinished.module.css
  app/src/presentation/components/flashcards/flipcards/FlipcardsFinished.tsx
  app/src/presentation/components/flashcards/flipcards/FlipcardsQuiz.module.css
  app/src/presentation/components/flashcards/flipcards/FlipcardsQuiz.tsx
  app/src/presentation/components/modals/SelectVocabularyListsForQuizModale.module.css
  app/src/presentation/components/modals/SelectVocabularyListsForQuizModale.tsx
  app/src/presentation/components/vocabulary/VocabularyListLineCheckbox.module.css
  app/src/presentation/components/vocabulary/VocabularyListLineCheckbox.tsx
  app/src/presentation/hooks/useGetVocabularyFromListsId.ts
  app/src/presentation/pages/FlipcardsPage.tsx
  app/src/presentation/pages/VocabularyListPage.tsx
  app/src/presentation/router/Router.tsx
  app/src/presentation/theme/button.css
Due: ðŸ§© api, ðŸ§© webapp

fix(api): Upgrade and fix denpencies
  api/package.json
  api/pnpm-lock.yaml
Due: ðŸ§© api

Feat: events table with create route
  api/libs/common/src/database/migrations/20241014125944_create_events_table/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/api.module.ts
  api/src/api/controllers/events.controller.ts
  api/src/api/dtos/events/event.request.ts
  api/src/api/dtos/events/event.response.ts
  api/src/api/dtos/events/index.ts
  api/src/api/dtos/index.ts
  api/src/core/core.module.ts
  api/src/core/models/event.model.ts
  api/src/core/ports/event.repository.ts
  api/src/core/ports/media-object.repository.ts
  api/src/core/usecases/event/create-event.usecase.ts
  api/src/core/usecases/event/delete-event.usecase.ts
  api/src/core/usecases/event/get-event.usecase.ts
  api/src/core/usecases/event/index.ts
  api/src/core/usecases/event/list-events.usecase.ts
  api/src/core/usecases/media/index.ts
  api/src/core/usecases/media/upload-event-image.usecase.ts
  api/src/providers/persistance/mappers/events.mapper.ts
  api/src/providers/persistance/repositories/prisma-events.repository.ts
  api/src/providers/persistance/repositories/prisma-media-object-repository.ts
  api/src/providers/providers.module.ts
Due: ðŸ§© api init, ðŸ§© api

Feat(API): events CRUD, subscription and unsubscription
  api/src/api/controllers/events.controller.ts
  api/src/api/dtos/events/create-event.request.ts
  api/src/api/dtos/events/event.response.ts
  api/src/api/dtos/events/get-events.request.ts
  api/src/api/dtos/events/index.ts
  api/src/api/dtos/events/subscribe-to-event.request.ts
  api/src/api/dtos/events/update-event.request.ts
  api/src/core/core.module.ts
  api/src/core/ports/event.repository.ts
  api/src/core/usecases/event/delete-event.usecase.ts
  api/src/core/usecases/event/get-event.usecase.ts
  api/src/core/usecases/event/get-events.usecase.ts
  api/src/core/usecases/event/index.ts
  api/src/core/usecases/event/list-events.usecase.ts
  api/src/core/usecases/event/subscribe-to-event.usecase.ts
  api/src/core/usecases/event/unsubscribe-to-event.usecase.ts
  api/src/core/usecases/event/update-event.usecase.ts
  api/src/core/usecases/index.ts
  api/src/providers/persistance/repositories/prisma-events.repository.ts
Due: ðŸ§© api

✨ feat: Add list and news line on home page
  admin/src/queries/NewsQuery.ts
  api/src/api/controllers/news.controller.ts
  api/src/api/dtos/news/index.ts
  api/src/core/ports/news.repository.ts
  api/src/core/usecases/news/get-news.usecase.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
  app/src/domain/interfaces/news/GetAllNewsUsecase.interface.ts
  app/src/domain/usecases/news/GetAllNewsUsecase.ts
  app/src/presentation/components/LanguageTag.module.css
  app/src/presentation/components/LanguageTag.tsx
  app/src/presentation/components/UniversityTag.module.css
  app/src/presentation/components/UniversityTag.tsx
  app/src/presentation/components/contents/HomeContent.tsx
  app/src/presentation/components/modals/NewsContentModal.tsx
  app/src/presentation/components/news/NewsLine.module.css
  app/src/presentation/components/news/NewsLine.tsx
  app/src/presentation/components/news/NewsList.tsx
  app/src/presentation/hooks/useGetHomeData.ts
  app/src/presentation/pages/HomePage.tsx
Due: ðŸ§© admin, ðŸ§© api, ðŸ§© webapp

Fix: own review
  api/libs/common/src/database/schema.prisma
  api/src/api/controllers/events.controller.ts
  api/src/providers/persistance/repositories/prisma-events.repository.ts
Due: ðŸ§© api init, ðŸ§© api

✨ feat: Refacto Filter modal and handle filter/search for news
  admin/src/queries/NewsQuery.ts
  api/src/api/controllers/news.controller.ts
  api/src/api/dtos/news/index.ts
  api/src/core/ports/news.repository.ts
  api/src/core/usecases/news/get-news.usecase.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/domain/interfaces/news/GetAllNewsUsecase.interface.ts
  app/src/domain/usecases/news/GetAllNewsUsecase.ts
  app/src/presentation/components/contents/activity/ActivitiesContent.tsx
  app/src/presentation/components/contents/news/NewsListContent.module.css
  app/src/presentation/components/contents/news/NewsListContent.tsx
  app/src/presentation/components/modals/ActivityFilterModal.tsx
  app/src/presentation/components/modals/FilterModal.module.css
  app/src/presentation/components/modals/FilterModal.tsx
  app/src/presentation/components/modals/NewsContentModal.tsx
  app/src/presentation/components/news/NewsLine.module.css
  app/src/presentation/components/news/NewsLine.tsx
  app/src/presentation/hooks/useGetNewsList.ts
  app/src/presentation/pages/HomePage.tsx
Due: ðŸ§© admin, ðŸ§© api, ðŸ§© webapp

✨ feat: Handle language update on news
  api/src/core/models/news.model.ts
  api/src/core/usecases/news/get-news.usecase.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/contents/activity/ActivityContent.tsx
  app/src/presentation/components/contents/news/NewsContent.module.css
  app/src/presentation/components/contents/news/NewsContent.tsx
  app/src/presentation/components/modals/ChangeLanguageModal.module.css
  app/src/presentation/components/modals/ChangeLanguageModal.tsx
  app/src/presentation/components/modals/NewsContentModal.tsx
  app/src/presentation/components/news/NewsLine.module.css
  app/src/presentation/pages/HomePage.tsx
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Handle news on mobile
  app/src/presentation/components/LanguageTag.module.css
  app/src/presentation/components/UniversityTag.module.css
  app/src/presentation/components/contents/news/NewsContent.tsx
  app/src/presentation/components/modals/ChangeLanguageModal.module.css
  app/src/presentation/components/modals/FilterModal.module.css
  app/src/presentation/components/news/NewsLine.module.css
  app/src/presentation/pages/HomePage.tsx
  app/src/presentation/pages/mobile/NewsListPage.tsx
  app/src/presentation/pages/mobile/NewsShowPage.tsx
  app/src/presentation/router/Router.tsx
Due: ðŸ§© webapp

Fix: added missing imageURL on get by Id route
  api/src/core/usecases/event/get-event.usecase.ts
Due: ðŸ§© api

✨ feat: Create route for web to get concerned news for user
  admin/src/providers/customDataProvider.ts
  api/src/api/controllers/news.controller.ts
  api/src/api/dtos/news/index.ts
  api/src/core/core.module.ts
  api/src/core/usecases/news/get-news-admin.usecase.ts
  api/src/core/usecases/news/get-news.usecase.ts
  api/src/core/usecases/news/index.ts
  app/src/domain/interfaces/news/GetAllNewsUsecase.interface.ts
  app/src/domain/usecases/news/GetAllNewsUsecase.ts
  app/src/presentation/hooks/useGetHomeData.ts
  app/src/presentation/hooks/useGetNewsList.ts
Due: ðŸ§© admin, ðŸ§© api, ðŸ§© webapp

Feat: image credit added
  api/libs/common/src/database/migrations/20241022081649_create_events_table/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/dtos/events/create-event.request.ts
  api/src/api/dtos/events/event.response.ts
  api/src/api/dtos/events/update-event.request.ts
  api/src/core/models/event.model.ts
  api/src/core/ports/event.repository.ts
  api/src/core/usecases/event/create-event.usecase.ts
  api/src/core/usecases/event/update-event.usecase.ts
  api/src/providers/persistance/mappers/events.mapper.ts
  api/src/providers/persistance/repositories/prisma-events.repository.ts
Due: ðŸ§© api init, ðŸ§© api

✨ feat: Add credit image on news
  admin/src/components/form/NewsForm.tsx
  admin/src/entities/News.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/news/create.tsx
  admin/src/pages/news/edit.tsx
  api/libs/common/src/database/migrations/20241022081039_add_credit_image_on_news/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/controllers/activity.controller.ts
  api/src/api/controllers/news.controller.ts
  api/src/api/dtos/activity/get-activities.request.ts
  api/src/api/dtos/news/index.ts
  api/src/core/models/news.model.ts
  api/src/core/usecases/news/create-news.usecase.ts
  api/src/core/usecases/news/update-news.usecase.ts
  api/src/providers/persistance/mappers/news.mapper.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/command/NewsCommand.ts
  app/src/domain/entities/News.ts
  app/src/presentation/components/contents/news/NewsContent.module.css
  app/src/presentation/components/contents/news/NewsContent.tsx
  app/src/presentation/components/modals/ChangeLanguageModal.module.css
  app/src/presentation/components/modals/ChangeLanguageModal.tsx
  app/src/presentation/components/modals/CreditModal.module.css
  app/src/presentation/components/modals/CreditModal.tsx
Due: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© webapp

✨ feat: Add flashcards in modal
  app/pnpm-lock.yaml
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/contents/FlipcardsContent.tsx
  app/src/presentation/components/contents/VocabularyListContent.tsx
  app/src/presentation/components/flashcards/flipcards/FlipcardsFinished.tsx
  app/src/presentation/components/flashcards/flipcards/FlipcardsQuiz.module.css
  app/src/presentation/components/flashcards/flipcards/FlipcardsQuiz.tsx
  app/src/presentation/components/modals/SelectVocabularyListsForQuizModal.module.css
  app/src/presentation/components/modals/SelectVocabularyListsForQuizModal.tsx
  app/src/presentation/components/modals/VocabularyContentModal.tsx
  app/src/presentation/pages/FlipcardsPage.tsx
  app/src/presentation/pages/mobile/FlipcardsPage.tsx
  app/src/presentation/pages/mobile/VocabulariesPage.tsx
  app/src/presentation/router/Router.tsx
Due: ðŸ§© webapp

Fix: RP review
  api/libs/common/src/database/migrations/20241014125944_create_events_table/migration.sql
  api/src/api/controllers/activity.controller.ts
  api/src/api/controllers/events.controller.ts
  api/src/providers/persistance/repositories/prisma-events.repository.ts
Due: ðŸ§© api init, ðŸ§© api

Fix: events - users relation changed for events - profiles relation
  api/libs/common/src/database/migrations/20241023073041_create_events_table/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/controllers/events.controller.ts
  api/src/api/dtos/events/event.response.ts
  api/src/api/dtos/events/unsubscribe-to-event.request.ts
  api/src/core/models/event.model.ts
  api/src/core/ports/event.repository.ts
  api/src/core/usecases/event/subscribe-to-event.usecase.ts
  api/src/core/usecases/event/unsubscribe-to-event.usecase.ts
  api/src/providers/persistance/mappers/events.mapper.ts
  api/src/providers/persistance/repositories/prisma-events.repository.ts
Due: ðŸ§© api init, ðŸ§© api

👌 fix: Rebase failure
  api/libs/common/src/database/schema.prisma
Due: ðŸ§© api init, ðŸ§© api

✨ feat: Add seeder to generate events
  api/libs/common/src/database/seeds/events.ts
  api/libs/common/src/database/seeds/index.ts
  api/libs/common/src/database/seeds/languages.ts
Due: ðŸ§© api init, ðŸ§© api

✨ feat: Add events list on home
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/command/EventCommand.ts
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/entities/Event.ts
  app/src/domain/interfaces/event/GetAllEventsUsecase.interface.ts
  app/src/domain/usecases/event/GetAllEventsUsecase.ts
  app/src/presentation/components/contents/HomeContent.tsx
  app/src/presentation/components/contents/events/EventsContent.module.css
  app/src/presentation/components/contents/events/EventsContent.tsx
  app/src/presentation/components/contents/events/EventsListContent.module.css
  app/src/presentation/components/contents/events/EventsListContent.tsx
  app/src/presentation/components/events/EventLine.module.css
  app/src/presentation/components/events/EventLine.tsx
  app/src/presentation/components/events/EventsList.tsx
  app/src/presentation/components/modals/EventsContentModal.tsx
  app/src/presentation/hooks/useGetHomeData.ts
  app/src/presentation/pages/HomePage.tsx
Due: ðŸ§© webapp

👌 fix: Remove ceil and round for stats
  admin/src/pages/profiles-with-tandems-profiles/show/TandemTable/TandemTable.tsx
Due: ðŸ§© admin

👌 fix: Update subscription - accept code OR domain
  api/src/core/usecases/user/create-user.usecase.ts
  app/src/domain/usecases/CreateUserUsecase.ts
  app/src/presentation/pages/SignUpInformationsPage.tsx
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Deplicate Recording button in two
  app/pnpm-lock.yaml
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/RecordingButton.module.css
  app/src/presentation/components/RecordingButton.tsx
Due: ðŸ§© webapp

✓ test: Update conditions error on create user
  app/__tests__/domain/usecases/CreateUserUsecase.test.ts
Due: ðŸ§© webapp

fix(app): get vocabularies
  app/src/presentation/hooks/useVocabulary.ts
Due: ðŸ§© webapp

✨ feat: Add route to login on admin bo with new security rule
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/auth/login.tsx
  admin/src/providers/authProvider.ts
  api/src/api/controllers/security.controller.ts
  api/src/core/core.module.ts
  api/src/core/usecases/security/token-for-admin.usecase.ts
Due: ðŸ§© admin, ðŸ§© api

✨ feat: Handle events by diffusion language
  api/src/api/controllers/events.controller.ts
  api/src/api/dtos/events/get-events-admin.request.ts
  api/src/api/dtos/events/get-events.request.ts
  api/src/api/dtos/events/index.ts
  api/src/core/core.module.ts
  api/src/core/ports/event.repository.ts
  api/src/core/usecases/event/get-events-admin.usecase.ts
  api/src/core/usecases/event/get-events.usecase.ts
  api/src/core/usecases/event/index.ts
  api/src/providers/persistance/repositories/prisma-events.repository.ts
  app/src/presentation/components/contents/events/EventsListContent.tsx
  app/src/presentation/components/events/EventLine.tsx
  app/src/presentation/components/modals/EventsContentModal.tsx
  app/src/presentation/components/modals/FilterModal.module.css
  app/src/presentation/components/modals/FilterModal.tsx
  app/src/presentation/hooks/useGetEventsList.ts
Due: ðŸ§© api, ðŸ§© webapp

feat(api): add get reports by profile id route
  api/src/api/controllers/report.controller.ts
  api/src/api/dtos/reports/index.ts
  api/src/core/core.module.ts
  api/src/core/models/report.model.ts
  api/src/core/ports/report.repository.ts
  api/src/core/usecases/report/create-report-message.usecase.ts
  api/src/core/usecases/report/get-reports-by-user.usecase.ts
  api/src/providers/persistance/repositories/in-memory-reports-repository.ts
  api/src/providers/persistance/repositories/prisma-report.repository.ts
Due: ðŸ§© api

✨ feat: Add format filter on event list
  api/src/api/dtos/events/get-events.request.ts
  api/src/core/ports/event.repository.ts
  api/src/core/usecases/event/get-events.usecase.ts
  api/src/providers/persistance/repositories/prisma-events.repository.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/domain/interfaces/event/GetAllEventsUsecase.interface.ts
  app/src/domain/usecases/event/GetAllEventsUsecase.ts
  app/src/presentation/components/contents/events/EventsListContent.tsx
  app/src/presentation/components/modals/FilterModal.tsx
  app/src/presentation/hooks/useGetEventsList.ts
Due: ðŸ§© api, ðŸ§© webapp

fix(app): flashcards modale and loading vocabularies
  app/src/presentation/components/contents/VocabularyContent.tsx
  app/src/presentation/components/modals/SelectVocabularyListsForQuizModal.module.css
  app/src/presentation/components/modals/SelectVocabularyListsForQuizModal.tsx
  app/src/presentation/components/modals/VocabularyContentModal.tsx
  app/src/presentation/hooks/useVocabulary.ts
  app/src/presentation/pages/mobile/VocabulariesPage.tsx
  app/src/presentation/router/Router.tsx
Due: ðŸ§© webapp

wip(3988): Introduce ask for download certificate and learning goals
  api/libs/common/src/database/migrations/20241015123519_create_custom_learning_goals_table/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/controllers/objective.controller.ts
  api/src/api/dtos/learning-languages/learning-language.response.ts
  api/src/api/dtos/objective/index.ts
  api/src/core/core.module.ts
  api/src/core/models/custom-learning-goal.model.ts
  api/src/core/models/index.ts
  api/src/core/models/learning-language.model.ts
  api/src/core/ports/custom-learning-goal.repository.ts
  api/src/core/usecases/objective/find-custom-learning-goals.usecase.ts
  api/src/core/usecases/objective/index.ts
  api/src/providers/persistance/mappers/customLearningGoal.mapper.ts
  api/src/providers/persistance/mappers/learningLanguage.mapper.ts
  api/src/providers/persistance/mappers/profile.mapper.ts
  api/src/providers/persistance/repositories/prisma-custom-learning-goal-repository.ts
  api/src/providers/providers.module.ts
  app/public/locales/fr/translation.json
  app/src/presentation/components/contents/GoalsContent.module.css
  app/src/presentation/components/contents/GoalsContent.tsx
  app/src/presentation/components/contents/LearningContent.tsx
  app/src/presentation/components/modals/GoalsContentModal.tsx
  app/src/presentation/components/tandems/LearningGoalCard.module.css
  app/src/presentation/components/tandems/LearningGoalCard.tsx
  app/src/presentation/components/tandems/LearningJournalCard.module.css
  app/src/presentation/components/tandems/LearningJournalCard.tsx
  app/src/presentation/components/tandems/TandemProfile.tsx
  app/src/presentation/hooks/useOnOpenChat.ts
  app/src/presentation/pages/LearningPage.tsx
Due: ðŸ§© api init, ðŸ§© api, ðŸ§© webapp

fix review remarks
  api/src/api/controllers/objective.controller.ts
  api/src/core/usecases/objective/delete-custom-learning-goal.usecase.ts
  app/src/presentation/components/tandems/LearningJournalCard.tsx
  app/src/presentation/utils.ts
Due: ðŸ§© api, ðŸ§© webapp

Path conditions:
  ðŸ§© admin: any of: admin/**/*
  ðŸ§© api init: any of: api/libs/common/src/database/**/*
  ðŸ§© api: any of: api/**/*
  ðŸ§© auth ul theme: any of: docker/keycloak/**/*
  ðŸ§© webapp: any of: app/**/*
  ðŸ§© chat: any of: chat/**/*
