Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üß© admin, üß© api init, üß© api, üß© auth ul theme, üß© webapp, üß© chat

.gitlab-ci.yml:

#
#   Copyright ou ¬© ou Copr. Universit√© de Lorraine, (2025)
#
#   Direction du Num√©rique de l'Universit√© de Lorraine - SIED
#
#   Ce logiciel est un programme informatique servant √† rendre accessible
#   sur mobile et sur internet l'application ULEP (University Language
#   Exchange Programme) aux √©tudiants et aux personnels des universit√©s
#   parties prenantes.
#
#   Ce logiciel est r√©gi par la licence CeCILL 2.1, soumise au droit fran√ßais
#   et respectant les principes de diffusion des logiciels libres. Vous pouvez
#   utiliser, modifier et/ou redistribuer ce programme sous les conditions
#   de la licence CeCILL telle que diffus√©e par le CEA, le CNRS et INRIA
#   sur le site "http://cecill.info".
#
#   En contrepartie de l'accessibilit√© au code source et des droits de copie,
#   de modification et de redistribution accord√©s par cette licence, il n'est
#   offert aux utilisateurs qu'une garantie limit√©e. Pour les m√™mes raisons,
#   seule une responsabilit√© restreinte p√®se sur l'auteur du programme, le
#   titulaire des droits patrimoniaux et les conc√©dants successifs.
#
#   √Ä cet √©gard, l'attention de l'utilisateur est attir√©e sur les risques
#   associ√©s au chargement, √† l'utilisation, √† la modification et/ou au
#   d√©veloppement et √† la reproduction du logiciel par l'utilisateur √©tant
#   donn√© sa sp√©cificit√© de logiciel libre, qui peut le rendre complexe √†
#   manipuler et qui le r√©serve donc √† des d√©veloppeurs et des professionnels
#   avertis poss√©dant des connaissances informatiques approfondies. Les
#   utilisateurs sont donc invit√©s √† charger et √† tester l'ad√©quation du
#   logiciel √† leurs besoins dans des conditions permettant d'assurer la
#   s√©curit√© de leurs syst√®mes et/ou de leurs donn√©es et, plus g√©n√©ralement,
#   √† l'utiliser et √† l'exploiter dans les m√™mes conditions de s√©curit√©.
#
#   Le fait que vous puissiez acc√©der √† cet en-t√™te signifie que vous avez
#   pris connaissance de la licence CeCILL 2.1, et que vous en avez accept√© les
#   termes.
#

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" ||  $CI_COMMIT_BRANCH == "ci" # Supprimer ci

stages:
  - packages

# CI de package
.package ci:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend

# CI de l'admin
üß© admin:
  extends: .package ci
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    # DOCKER_TARGET: admin_prod # G√©n√®re une erreur : ERR_PNPM_BROKEN_LOCKFILE‚Äâ The lockfile at "/srv/app/pnpm-lock.yaml" is broken: duplicated mapping key (1755:3)
    LINT: enabled
  rules:
    - changes:
        - admin/**/*

# CI de l'initialisation API
üß© api init:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init
  rules:
    - changes:
        - api/libs/common/src/database/**/*

# CI de l'API
üß© api:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    # DOCKER_TARGET: api_prod
    LINT: enabled
    TEST: enabled
  rules:
    - changes:
        - api/**/*

# CI du th√®me UL Keycloak
üß© auth ul theme:
  extends: .package ci
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: "1.0"
  rules:
    - changes:
        - docker/keycloak/**/*

# CI de la webapp
üß© webapp:
  extends: .package ci
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp
  rules:
    - changes:
        - app/**/*

# CI du chat
üß© chat:
  extends: .package ci
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat
  rules:
    - changes:
        - chat/**/*

fix: allow the build scripts instead of denying them
  admin/pnpm-workspace.yaml
  api/pnpm-workspace.yaml
  chat/pnpm-workspace.yaml
Due: üß© admin, üß© api, üß© chat

fix: allow the app build scripts too, needed by the webapp init container
  app/pnpm-workspace.yaml
Due: üß© webapp

fix: copy pnpm-workspace.yaml before installing in the webapp image
  app/Dockerfile
Due: üß© webapp

fix: drop the stale setup_remote_docker pin, incompatible with cimg 22
  .circleci/config.yml
Due: none

fix: put the pnpm global bin on PATH so `config -g set` works on pnpm 11
  admin/Dockerfile
  api/Dockerfile
Due: üß© admin, üß© api

fix: keep the host node_modules out of the api and admin images
  admin/.dockerignore
  api/.dockerignore
Due: üß© admin, üß© api

Update SettingsContent.tsx
  app/src/presentation/components/contents/SettingsContent.tsx
Due: üß© webapp

fix(admin): paginate the language requests lists (ULEP-58)
  admin/src/providers/customDataProvider.test.ts
  admin/src/providers/customDataProvider.ts
  admin/src/queries/CountSuggestedLanguagesQuery.ts
  admin/src/queries/SuggestedLanguagesQuery.ts
Due: üß© admin

fix(api): stop the purge failing on duplicate unmatched learning languages
  api/src/providers/persistance/mappers/historizedUnmatchedLearningLanguage.mapper.ts
  api/src/providers/persistance/repositories/prisma-learning-language-repository.ts
  api/test/unit/UnmatchedLearningLanguagesArchive.spec.ts
Due: üß© api

Passage à node:$NODE_VERSION-alpine dans Dockerfiles spécifiques gitlab CI
  .gitlab-ci/Dockerfile.admin
  .gitlab-ci/Dockerfile.api
Due: none

Maj gitlab CI suite à dernière livraison The Tribe
  .gitlab-ci.yml
  .gitlab-ci/package-ci.yml
Due: none

fix(api): declare @faker-js/faker as a runtime dependency
  api/package.json
  api/pnpm-lock.yaml
Due: üß© api

ci: build the api and admin images from the standard Dockerfiles
  .gitlab-ci.yml
Due: none

fix(admin): align the prettier specifier with the lockfile
  admin/package.json
Due: üß© admin

fix: ship only the runtime in the api and admin production images
  admin/Dockerfile
  api/Dockerfile
Due: üß© admin, üß© api

ci: install with `pnpm ci` instead of `--no-frozen-lockfile`
  .circleci/config.yml
  codemagic.yaml
Due: none
