Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© auth ul theme, ðŸ§© webapp, ðŸ§© chat

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" ||  $CI_COMMIT_BRANCH == "ci" # Supprimer ci

stages:
  - packages

# CI de package
.package ci:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend

# CI de l'admin
ðŸ§© admin:
  extends: .package ci
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    # DOCKER_TARGET: admin_prod # GÃ©nÃ¨re une erreur : ERR_PNPM_BROKEN_LOCKFILEâ€‰ The lockfile at "/srv/app/pnpm-lock.yaml" is broken: duplicated mapping key (1755:3)
    LINT: enabled
  rules:
    - changes:
        - admin/**/*

# CI de l'initialisation API
ðŸ§© api init:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init
  rules:
    - changes:
        - api/libs/common/src/database/**/*

# CI de l'API
ðŸ§© api:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    # DOCKER_TARGET: api_prod
    LINT: enabled
    TEST: enabled
  rules:
    - changes:
        - api/**/*

# CI du thÃ¨me UL Keycloak
ðŸ§© auth ul theme:
  extends: .package ci
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: "1.0"
  rules:
    - changes:
        - docker/keycloak/**/*

# CI de la webapp
ðŸ§© webapp:
  extends: .package ci
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp
  rules:
    - changes:
        - app/**/*

# CI du chat
ðŸ§© chat:
  extends: .package ci
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat
  rules:
    - changes:
        - chat/**/*

fix(app): Fix build ReportPage props
  app/src/presentation/pages/mobile/ReportPage.tsx
Due: ðŸ§© webapp

fix(app): Fix review remarks
  app/src/presentation/components/contents/WelcomeContent.tsx
Due: ðŸ§© webapp

Remove all falsely sortable fields
  admin/src/locales/en.json
  admin/src/pages/administrators/list.tsx
  admin/src/pages/campus/list.tsx
  admin/src/pages/countries/list.tsx
  admin/src/pages/profiles-with-tandem/list/index.tsx
  admin/src/pages/questions/list.tsx
  admin/src/pages/report-categories/list.tsx
  admin/src/pages/report/list.tsx
  admin/src/pages/universities/list.tsx
Due: ðŸ§© admin

feat(app): Required fields mentions
  app/public/locales/fr/translation.json
  app/src/presentation/components/DropDown.tsx
  app/src/presentation/components/TextInput.tsx
  app/src/presentation/components/contents/LearnableLanguagesContent.tsx
  app/src/presentation/components/contents/WelcomeContent.tsx
  app/src/presentation/components/forms/RequiredField.tsx
  app/src/presentation/components/forms/RequiredFieldsMention.tsx
  app/src/presentation/pages/SignUpBiographyPage.tsx
  app/src/presentation/pages/SignUpFrequencyPage.tsx
  app/src/presentation/pages/SignUpInformationsPage.tsx
  app/src/presentation/pages/SignUpInterestsPage.tsx
  app/src/presentation/pages/SignUpLanguagesPage.tsx
  app/src/presentation/pages/SignUpPage.tsx
Due: ðŸ§© webapp

fix(app): Modal content scroll
  app/src/presentation/components/contents/ProfileContent.module.css
  app/src/presentation/components/contents/ReportContent.module.css
  app/src/presentation/components/contents/ReportContent.tsx
  app/src/presentation/components/contents/SettingsContent.module.css
Due: ðŸ§© webapp

Filters added for administrators and languages lists
  admin/src/components/AdminGroupPicker.tsx
  admin/src/components/adminGroups/AdminGroupPicker.tsx
  admin/src/components/adminGroups/useGetAdminGroups.tsx
  admin/src/components/form/AdministratorForm.tsx
  admin/src/components/menu/useGenerateConversation.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/administrators/list.tsx
  admin/src/pages/count-suggested-languages/list.tsx
  admin/src/pages/languages/list.tsx
  admin/src/pages/suggested-languages/list.tsx
  admin/src/providers/customDataProvider.ts
  admin/src/queries/AdministratorsQuery.ts
  admin/src/queries/LanguagesQuery.ts
  api/src/api/controllers/language.controller.ts
  api/src/api/controllers/user.controller.ts
  api/src/api/dtos/language-code/language-filters.ts
  api/src/api/dtos/users/index.ts
  api/src/core/ports/language.repository.ts
  api/src/core/usecases/language/find-all-language-code.usecase.ts
  api/src/core/usecases/user/get-administrators.usecase.ts
  api/src/providers/persistance/repositories/prisma-language.repository.ts
Due: ðŸ§© admin, ðŸ§© api

console log removal
  admin/src/pages/administrators/list.tsx
  admin/src/pages/profiles-with-tandem/show/TandemTable/TandemFilters.tsx
Due: ðŸ§© admin

fix: import error
  api/src/api/dtos/language-code/language-filters.ts
Due: ðŸ§© api

fix: conditional universityId attribute
  api/src/core/usecases/university/delete-partner.usecase.ts
Due: ðŸ§© api

Platform spec removal
  docker-compose.override.yml
Due: none

Mongo version upgrade
  docker-compose.yaml
Due: none

Env variables added to init-replica service
  docker-compose.yaml
Due: none

keyfile docker access dealed with by entrypoint
  docker-compose.yaml
Due: none

fix(admin): Fix admin dependencies
  admin/pnpm-lock.yaml
Due: ðŸ§© admin

feat(api): Add web service to logout all sessions by UL login
  api/libs/keycloak/src/keycloak.client.ts
  api/libs/keycloak/src/keycloak.models.ts
  api/src/api/controllers/security.controller.ts
  api/src/api/dtos/security/index.ts
  api/src/configuration.ts
  api/src/core/core.module.ts
  api/src/core/usecases/security/logout-all-sessions.usecase.ts
  docker-compose.yaml
  helm/project/templates/api/deployment-api.yaml
  helm/project/values.yaml.tmp
Due: ðŸ§© api

✨ feat: front: block conversation if a tandem is paused
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/RecordingButton.tsx
  app/src/presentation/components/contents/ChatContent.tsx
Due: ðŸ§© webapp

fix(app): Capacitor sentry version
  app/android/capacitor.settings.gradle
Due: ðŸ§© webapp

✨ feat: Send isBlocked in conversation metadata
  api/src/api/dtos/chat/conversation.response.ts
  api/src/core/core.module.ts
  api/src/core/ports/tandem.repository.ts
  api/src/core/usecases/chat/get-all-conversations-from-user-id.usecase.ts
  api/src/core/usecases/tandem/get-tandems-by-ids.usecase.ts
  api/src/core/usecases/tandem/index.ts
  api/src/providers/persistance/repositories/in-memory-tandem-repository.ts
  api/src/providers/persistance/repositories/prisma-tandem-repository.ts
  app/src/command/ConversationCommand.ts
  app/src/domain/entities/chat/Conversation.ts
  app/src/presentation/components/contents/ChatContent.tsx
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Remove chatUrl by default for socketChatUrl
  app/src/App.tsx
Due: ðŸ§© webapp

fix(app): Accessibility #2
  app/public/locales/fr/translation.json
  app/src/presentation/components/Checkbox.tsx
  app/src/presentation/components/ProgressBar.tsx
  app/src/presentation/components/contents/ConnectionContent.module.css
  app/src/presentation/components/contents/ProfileContent.tsx
  app/src/presentation/components/contents/QuizzSelectionContent.tsx
  app/src/presentation/components/layout/WebLayoutCentered.tsx
  app/src/presentation/pages/SignUpInformationsPage.tsx
  app/src/presentation/pages/SignUpLanguagesPage.tsx
  app/src/presentation/pages/SignUpPage.tsx
  app/src/presentation/theme/button.css
Due: ðŸ§© webapp

fix(api): Fix token from url to headers
  api/src/api/controllers/security.controller.ts
Due: ðŸ§© api

👌 fix: Add rule to avoid etandem on same university
  api/src/core/services/MatchScorer.ts
Due: ðŸ§© api

fix(admin): Fix admin staging try#1
  admin/package.json
  admin/pnpm-lock.yaml
Due: ðŸ§© admin

fix(admin): Fix admin build #2
  admin/package.json
  admin/pnpm-lock.yaml
  admin/src/pages/profiles-with-tandem/ui/ProfileLink.tsx
  admin/src/pages/profiles-with-tandem/ui/ProfileTandemLink.tsx
Due: ðŸ§© admin

✓ test: Add etandem central - etandem partner to test and change etandem central - etandem central on generate tandem
  api/test/usecases/tandems/GenerateTandems.spec.ts
Due: ðŸ§© api

Mastered language info added to tandem show page
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/profiles-with-tandem/show/PartnerCard.tsx
  admin/src/pages/profiles-with-tandem/show/ProfileCard.tsx
Due: ðŸ§© admin

Fix: admin creation from app user
  admin/src/components/adminGroups/AdminGroupPicker.tsx
  api/src/core/usecases/user/create-administrator.usecase.ts
Due: ðŸ§© admin, ðŸ§© api

Fix: administrators list access restricted for animators
  admin/src/App.tsx
  admin/src/pages/admin-profile/edit.tsx
Due: ðŸ§© admin

fix(app): Fix modal
  app/src/presentation/components/contents/ReportContent.module.css
  app/src/presentation/components/contents/ReportContent.tsx
  app/src/presentation/components/contents/TandemStatusContent.module.css
  app/src/presentation/components/contents/TandemStatusContent.tsx
  app/src/presentation/components/layout/OnlineWebLayout.tsx
  app/src/presentation/components/modals/Modal.module.css
  app/src/presentation/components/tandems/TandemProfile.module.css
  app/src/presentation/components/tandems/TandemProfile.tsx
Due: ðŸ§© webapp

👌 fix: Add translation for tandem paused in home page
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/contents/TandemStatusContent.tsx
  app/src/presentation/components/tandems/TandemLine.tsx
  app/src/types/types.d.ts
Due: ðŸ§© webapp

👌 fix: Update chat input text color and add padding for ios header
  app/ios/App/Podfile
  app/ios/App/Podfile.lock
  app/pnpm-lock.yaml
  app/src/presentation/components/contents/ChatContent.module.css
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/components/tandems/WaitingTandemList.tsx
Due: ðŸ§© webapp

fix: explicit admin email error message
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/administrators/create.tsx
  admin/src/pages/administrators/edit.tsx
  api/src/core/usecases/user/update-administrator.usecase.ts
Due: ðŸ§© admin, ðŸ§© api

👌 fix: Display level incrased from cefr
  app/src/presentation/pages/cefr-quizz/CEFRQuizzEndPage.tsx
Due: ðŸ§© webapp

fix(app): Responsive design home page
  app/src/presentation/components/card/ProficiencyTestCard.module.css
  app/src/presentation/components/contents/HomeContent.module.css
  app/src/presentation/components/contents/HomeContent.tsx
Due: ðŸ§© webapp

👌 fix: Add security to prevent notifications if the user dont want to
  api/src/core/services/CronService.ts
  api/src/core/usecases/notifications/send-message-notification.usecase.ts
  api/src/core/usecases/tandem/update-tandem.usecase.ts
Due: ðŸ§© api

Fix: animators tandem management access removed
  admin/src/pages/profiles-with-tandem/hasTandemManagementPermission.ts
  admin/src/pages/profiles-with-tandem/list/index.tsx
  admin/src/pages/profiles-with-tandem/show/PartnerCard.tsx
  admin/src/pages/profiles-with-tandem/show/TandemTable/TandemTable.tsx
Due: ðŸ§© admin

Pairing action style improved
  admin/src/pages/profiles-with-tandem/list/PairingActions.tsx
Due: ðŸ§© admin

fix: missing throw error
  api/src/core/usecases/user/update-administrator.usecase.ts
Due: ðŸ§© api

Update app/src/presentation/components/tandems/TandemLine.tsx
  app/src/presentation/components/tandems/TandemLine.tsx
Due: ðŸ§© webapp
