Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© auth ul theme, ðŸ§© webapp, ðŸ§© chat

ðŸ§© admin:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    LINT: enabled

ðŸ§© api init:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init

ðŸ§© api:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    LINT: enabled
    TEST: enabled

ðŸ§© auth ul theme:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: '1.0'

ðŸ§© webapp:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp

ðŸ§© chat:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat

feat: update keycloak
  docker-compose.yaml
  helm/project/templates/auth/deployment-auth.yaml
Due: none

fix: force alpine version->fix ssl lib issue
  admin/Dockerfile
  api/Dockerfile
  chat/Dockerfile
Due: ðŸ§© admin, ðŸ§© api, ðŸ§© chat

Fix: commented openssl install into docker files to resolve prisma issue
  api/Dockerfile
  chat/Dockerfile
Due: ðŸ§© api, ðŸ§© chat

Fix: all contact conversations where deleted on user contact update
  api/src/core/usecases/user/update-user.usecase.ts
  chat/src/api/controllers/conversation.controller.ts
Due: ðŸ§© api, ðŸ§© chat

✨ feat: Handle reply response thread
  .gitignore
  api/src/api/controllers/chat.controller.ts
  api/src/api/dtos/chat/get-messages-from-conversation-id.request.ts
  api/src/core/ports/chat.service.ts
  api/src/core/usecases/chat/get-messages-from-conversation.usecase.ts
  api/src/providers/services/chat.service.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/adapter/SocketIoAdapter.ts
  app/src/command/MessageCommand.ts
  app/src/domain/entities/chat/Message.ts
  app/src/domain/interfaces/chat/GetMessagesFromConversationUsecase.interface.ts
  app/src/domain/interfaces/chat/SendMessageUsecase.interface.ts
  app/src/domain/usecases/GetMessagesFromConversationUsecase.ts
  app/src/domain/usecases/SendMessageUsecase.ts
  app/src/presentation/components/chat/MessageComponent.module.css
  app/src/presentation/components/chat/MessageComponent.tsx
  app/src/presentation/components/chat/MessagesList.module.css
  app/src/presentation/components/chat/MessagesList.tsx
  app/src/presentation/components/contents/ChatContent.module.css
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/hooks/useFetchConfiguration.ts
  app/src/presentation/hooks/useHandleMessagesFromConversation.ts
  chat/src/api/controllers/conversation.controller.ts
  chat/src/api/dtos/conversation/get-messages-from-conversation-id.request.ts
  chat/src/api/dtos/message/message.response.ts
  chat/src/core/ports/message.repository.ts
  chat/src/core/usecases/conversation/get-messages-from-conversation-id.usecase.ts
  chat/src/core/usecases/message/create-message.usecase.ts
  chat/src/providers/persistance/repositories/prisma-conversation.repository.ts
  chat/src/providers/persistance/repositories/prisma-message.repository.ts
Due: ðŸ§© api, ðŸ§© webapp, ðŸ§© chat

✨ feat: Handle notification when its a response
  chat/src/core/usecases/message/create-message.usecase.ts
Due: ðŸ§© chat

👌 fix: Fix type error
  app/src/presentation/components/contents/MediaContent.tsx
Due: ðŸ§© webapp

✨ feat: Refactor deletion route on chat api + avoir community chat deletion
  api/src/core/ports/community-chat.repository.ts
  api/src/core/usecases/university/update-university.usecase.ts
  api/src/core/usecases/user/delete-administrator.usecase.ts
  api/src/core/usecases/user/delete-user.usecase.ts
  api/src/core/usecases/user/update-user.usecase.ts
  api/src/providers/persistance/repositories/prisma-community-chat-repository.ts
  api/src/providers/services/chat.service.ts
  chat/src/api/controllers/conversation.controller.ts
  chat/src/api/dtos/conversation/delete-contact-conversation.request.ts
  chat/src/api/dtos/conversation/delete-user-conversation.request.ts
  chat/src/api/dtos/conversation/index.ts
  chat/src/core/core.module.ts
  chat/src/core/ports/conversation.repository.ts
  chat/src/core/usecases/conversation/delete-contact-conversation.usecase.ts
  chat/src/core/usecases/conversation/delete-user-conversation.usecase.ts
  chat/src/core/usecases/conversation/index.ts
  chat/src/providers/persistance/repositories/in-memory-conversation.repository.ts
  chat/src/providers/persistance/repositories/prisma-conversation.repository.ts
Due: ðŸ§© api, ðŸ§© chat

👌 fix: Rename contact to user on chat api
  chat/src/api/controllers/conversation.controller.ts
  chat/src/core/core.module.ts
  chat/src/core/usecases/conversation/delete-user-conversation.usecase.ts
  chat/src/core/usecases/conversation/index.ts
  chat/test/usecases/conversation/delete-contact-conversation.test.ts
Due: ðŸ§© chat

✨ feat: Handle hastags on chat api
  chat/libs/common/src/database/schema.prisma
  chat/package.json
  chat/pnpm-lock.yaml
  chat/src/api/controllers/conversation.controller.ts
  chat/src/api/dtos/hashtags/hashtag.respose.ts
  chat/src/api/dtos/hashtags/index.ts
  chat/src/core/core.module.ts
  chat/src/core/models/hashtag.model.ts
  chat/src/core/models/index.ts
  chat/src/core/ports/hastag.repository.ts
  chat/src/core/usecases/conversation/get-hashtags-from-conversation-id.usecase.ts
  chat/src/core/usecases/conversation/index.ts
  chat/src/core/usecases/message/create-message.usecase.ts
  chat/src/providers/persistance/mappers/hastag.mapper.ts
  chat/src/providers/persistance/repositories/prisma-hashtag.repository.ts
  chat/src/providers/providers.module.ts
Due: ðŸ§© chat

Refacto : snake_case formatting moved into use case
  api/src/core/usecases/event/get-events-admin.usecase.ts
  api/src/core/usecases/news/get-news-admin.usecase.ts
  api/src/providers/persistance/repositories/prisma-events.repository.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
Due: ðŸ§© api

✨ feat: Create usecase on app to get hashtags
  app/src/command/HashtagCommand.ts
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/entities/chat/Hashtag.ts
  app/src/domain/interfaces/chat/GetHastagsFromConversationUsecase.interface.ts
  app/src/domain/usecases/chat/GetConversationsUsecase.ts
  app/src/domain/usecases/chat/GetHashtagsFromConversationUsecase.ts
  app/src/domain/usecases/chat/GetMessagesFromConversationUsecase.ts
  app/src/domain/usecases/chat/SearchMessagesIdsFromConversationUsecase.ts
  app/src/domain/usecases/chat/SendMessageUsecase.ts
Due: ðŸ§© webapp

✨ feat: Add filter to display hastahg only
  api/src/api/controllers/chat.controller.ts
  api/src/api/dtos/chat/get-messages-from-conversation-id.request.ts
  api/src/core/ports/chat.service.ts
  api/src/core/usecases/chat/get-messages-from-conversation.usecase.ts
  api/src/providers/services/chat.service.ts
  api/src/providers/services/in-memory.chat.service.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/context/configurationContextTypes.ts
  app/src/domain/interfaces/chat/GetHashtagsFromConversationUsecase.interface.ts
  app/src/domain/interfaces/chat/GetMessagesFromConversationUsecase.interface.ts
  app/src/domain/usecases/chat/GetHashtagsFromConversationUsecase.ts
  app/src/domain/usecases/chat/GetMessagesFromConversationUsecase.ts
  app/src/presentation/components/chat/ChatInputSender.tsx
  app/src/presentation/components/chat/HashtagsHeader.module.css
  app/src/presentation/components/chat/HashtagsHeader.tsx
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/components/contents/MediaContent.tsx
  app/src/presentation/hooks/useHandleHastagsFromConversation.ts
  app/src/presentation/hooks/useHandleMessagesFromConversation.ts
  chat/src/api/controllers/conversation.controller.ts
  chat/src/api/dtos/conversation/get-messages-from-conversation-id.request.ts
  chat/src/core/ports/message.repository.ts
  chat/src/core/usecases/conversation/get-messages-from-conversation-id.usecase.ts
  chat/src/providers/persistance/repositories/prisma-message.repository.ts
  chat/test/usecases/conversation/get-messages-from-conversation-id.test.ts
Due: ðŸ§© api, ðŸ§© webapp, ðŸ§© chat

👌 fix: Remove log
  app/src/domain/usecases/chat/GetMessagesFromConversationUsecase.ts
Due: ðŸ§© webapp

✨ feat: Update css for mobile app
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/chat/MessageComponent.module.css
  app/src/presentation/components/chat/messages/MessageActivity.tsx
  app/src/presentation/components/modals/SelectActivitiesListModal.module.css
  chat/src/providers/persistance/repositories/prisma-hashtag.repository.ts
Due: ðŸ§© webapp, ðŸ§© chat

Fix: lodash used for snake_case formatting
  api/src/core/usecases/event/get-events-admin.usecase.ts
  api/src/core/usecases/news/get-news-admin.usecase.ts
  api/src/providers/persistance/repositories/prisma-events.repository.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
Due: ðŸ§© api

fix review remark
  chat/src/core/ports/conversation.repository.ts
Due: ðŸ§© chat

✨ feat: Add filter on hastag + display response in this case
  api/src/api/controllers/chat.controller.ts
  api/src/api/dtos/chat/message.response.ts
  api/src/core/ports/chat.service.ts
  api/src/core/usecases/chat/get-all-conversations-from-user-id.usecase.ts
  api/src/core/usecases/chat/get-messages-from-conversation.usecase.ts
  app/src/command/MessageCommand.ts
  app/src/domain/entities/chat/Message.ts
  app/src/presentation/components/chat/MessageComponent.module.css
  app/src/presentation/components/chat/MessageComponent.tsx
  app/src/presentation/components/chat/messages/MessageParent.tsx
  chat/src/api/dtos/message/message.response.ts
  chat/src/core/models/message.model.ts
  chat/src/core/usecases/conversation/get-messages-from-conversation-id.usecase.ts
  chat/src/providers/persistance/mappers/message.mapper.ts
  chat/src/providers/persistance/repositories/prisma-message.repository.ts
Due: ðŸ§© api, ðŸ§© webapp, ðŸ§© chat

👌 fix: Get only 10 hastags
  chat/src/providers/persistance/repositories/prisma-hashtag.repository.ts
Due: ðŸ§© chat

👌 fix: Handle SignUpPage dropdown
  app/src/presentation/components/contents/activity/CreateActivityInformationsContent.tsx
  app/src/presentation/pages/SignUpPage.tsx
Due: ðŸ§© webapp

👌 fix: Add alt on activity image
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/contents/activity/CreateActivityInformationsContent.tsx
Due: ðŸ§© webapp

👌 fix: Add some ligatures
  api/src/api/controllers/activity.controller.ts
  app/src/presentation/utils.ts
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Import Fragment rather than React
  app/src/presentation/components/card/ActivityCard.tsx
  app/src/presentation/components/contents/activity/ActivityContent.tsx
Due: ðŸ§© webapp

Update Dockerfile
  api/Dockerfile
Due: ðŸ§© api

Update Dockerfile
  chat/Dockerfile
Due: ðŸ§© chat

👌 fix: Type error
  app/src/presentation/components/modals/SelectActivitiesListModal.tsx
Due: ðŸ§© webapp

👌 fix: Remove first line
  app/src/presentation/components/events/EventDate.tsx
Due: ðŸ§© webapp

👌 fix: Add newsFilter on store context
  app/src/presentation/components/contents/news/NewsListContent.tsx
  app/src/store/store.ts
  app/src/store/storeTypes.ts
Due: ðŸ§© webapp

👌 fix: Use static function to create MessageResponse
  chat/src/api/controllers/message.controller.ts
Due: ðŸ§© chat

✨ feat: Handle date with rtl format
  app/src/presentation/components/card/LogEntriesCard.tsx
  app/src/presentation/components/card/LogEntryCard.tsx
  app/src/presentation/components/contents/ProfileContent.tsx
  app/src/presentation/components/contents/news/NewsContent.tsx
  app/src/presentation/components/events/EventLine.tsx
  app/src/presentation/components/news/NewsLine.tsx
Due: ðŸ§© webapp

✨ feat: Handle RTL on news
  app/src/presentation/components/Checkbox.module.css
  app/src/presentation/components/contents/news/NewsContent.module.css
  app/src/presentation/components/layout/Sidebar.module.css
  app/src/presentation/components/modals/FilterModal.module.css
  app/src/presentation/components/news/NewsLine.module.css
Due: ðŸ§© webapp

👌 fix: Handle RTL for events home page
  app/src/presentation/components/contents/events/EventsContent.module.css
  app/src/presentation/components/events/EventLine.module.css
Due: ðŸ§© webapp

✨ feat: Add RTL to learning book pages
  app/src/presentation/components/card/LogEntryCard.module.css
  app/src/presentation/components/contents/learning-book/LogEntriesByDateContent.module.css
  app/src/presentation/theme/button.css
Due: ðŸ§© webapp

✨ feat: Handle RTL for start of vocabulary list
  app/src/presentation/components/card/LogEntryCard.module.css
  app/src/presentation/components/contents/VocabularyListContent.tsx
  app/src/presentation/hooks/useFetchI18NBackend.ts
  app/src/presentation/theme/button.css
Due: ðŸ§© webapp

👌 fix: Add optional translation to vocabulary
  api/libs/common/src/database/schema.prisma
Due: ðŸ§© api init, ðŸ§© api

✨ feat: Handle RTL on filter events modal and tandem line
  app/src/presentation/components/modals/FilterModal.module.css
  app/src/presentation/components/tandems/TandemLine.module.css
Due: ðŸ§© webapp

👌 fix: Get vocabulary list from learning language id and rather than tandem
  app/src/presentation/hooks/useVocabulary.ts
Due: ðŸ§© webapp

feat: Implement PDF export activity
  api/src/api/controllers/activity.controller.ts
  api/src/core/core.module.ts
  api/src/core/ports/pdf.service.ts
  api/src/core/usecases/activity/get-activity-pdf.usecase.ts
  api/src/core/usecases/activity/index.ts
  api/src/providers/services/pdf.service.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/interfaces/activity/GetActivityPdfUsecase.interface.ts
  app/src/domain/usecases/activity/GetActivityPdfUsecase.ts
  app/src/presentation/components/contents/activity/ActivityContent.tsx
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Handle RTL for all learning page
  app/src/presentation/components/card/ProficiencyTestCard.module.css
  app/src/presentation/components/card/ProficiencyTestCard.tsx
  app/src/presentation/components/contents/GoalsContent.module.css
  app/src/presentation/components/tandems/LearningGoalCard.module.css
  app/src/presentation/components/tandems/LearningGoalCard.tsx
  app/src/presentation/components/tandems/LearningJournalCard.module.css
Due: ðŸ§© webapp

✨ feat: Set application RTL from settings
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/contents/SettingsContent.tsx
  app/src/presentation/hooks/useFetchI18NBackend.ts
  app/src/store/store.ts
  app/src/store/storeTypes.ts
Due: ðŸ§© webapp

Path conditions:
  ðŸ§© admin: any of: admin/**/*
  ðŸ§© api init: any of: api/libs/common/src/database/**/*
  ðŸ§© api: any of: api/**/*
  ðŸ§© auth ul theme: any of: docker/keycloak/**/*
  ðŸ§© webapp: any of: app/**/*
  ðŸ§© chat: any of: chat/**/*
