Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üß© admin, üß© api init, üß© api, üß© auth ul theme, üß© webapp, üß© chat

üß© admin:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    LINT: enabled

üß© api init:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init

üß© api:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    LINT: enabled
    TEST: enabled

üß© auth ul theme:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: '1.0'

üß© webapp:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp

üß© chat:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat

feat: add toast notifications for certificate download success and failure in LearningJournalCard
  app/public/locales/fr/translation.json
  app/src/presentation/components/tandems/LearningJournalCard.tsx
Due: üß© webapp

feat: Enhance custom learning goals handling across components
  app/src/presentation/components/contents/GoalsContent.module.css
  app/src/presentation/components/contents/LearningContent.tsx
  app/src/presentation/components/modals/GoalsContentModal.tsx
  app/src/presentation/pages/LearningPage.tsx
  app/src/presentation/pages/mobile/CreateCustomGoalPage.tsx
  app/src/presentation/pages/mobile/GoalsListPage.tsx
  app/src/presentation/pages/mobile/ShowCustomGoal.tsx
Due: üß© webapp

✨ refactor: Mise à jour du modèle Editos pour rendre le champ video_text_content_id optionnel et ajustement des mappers en conséquence.
  api/libs/common/src/database/schema.prisma
  api/src/providers/persistance/mappers/edito.mapper.ts
Due: üß© api init, üß© api

feat: Enhance session creation validation and error handling
  api/src/core/usecases/session/create-session.usecase.ts
  app/public/locales/fr/translation.json
  app/src/domain/usecases/CreateSessionUsecase.ts
  app/src/domain/usecases/UpdateSessionUsecase.ts
  app/src/presentation/components/contents/SessionFormContent.tsx
Due: üß© api, üß© webapp

refactor: Remove console log for custom learning goals in GoalsListPage
  app/src/presentation/pages/mobile/GoalsListPage.tsx
Due: üß© webapp

refactor: replace formatInTimeZone with useMemo for time formatting in ShowSessionContent, SessionCard, and SessionForm components
  app/src/presentation/components/contents/ShowSessionContent.tsx
  app/src/presentation/components/sessions/SessionCard.tsx
  app/src/presentation/components/sessions/SessionForm.tsx
Due: üß© webapp

refactor: update language handling in SessionForm component to use profile's native language as fallback
  app/src/presentation/components/sessions/SessionForm.tsx
Due: üß© webapp

fix: update image credit translations in English and French
  admin/src/locales/en.json
  admin/src/locales/fr.json
Due: üß© admin

feat: add 'department' field to user profiles and update translations in English and French
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/events/subscriptions/SearchProfile.tsx
  admin/src/pages/events/subscriptions/list.tsx
  admin/src/queries/ProfilesQuery.ts
  api/src/api/controllers/profile.controller.ts
  api/src/api/dtos/profiles/profiles-filters.ts
  api/src/core/ports/profile.repository.ts
  api/src/providers/persistance/repositories/prisma-profile-repository.ts
Due: üß© admin, üß© api

fix: fix null values
  admin/src/components/form/EditoForm.tsx
  api/libs/common/src/database/migrations/20250409010101_migrate_existing_editos/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/providers/persistance/mappers/edito.mapper.ts
Due: üß© admin, üß© api init, üß© api

feat: Add admin role check for university filters in events and news lists
  admin/src/pages/events/list.tsx
  admin/src/pages/news/list.tsx
Due: üß© admin

refactor: enhance activity retrieval and update status handling logic
  api/src/core/usecases/activity/get-all-activities-by-admin.usecase.ts
  api/src/core/usecases/activity/update-activity-status.usecase.ts
Due: üß© api

chore: remove debug console logs from GetAllActivitiesByAdminUsecase
  api/src/core/usecases/activity/get-all-activities-by-admin.usecase.ts
Due: üß© api

refactor: update log entry structure to include total and successful cards played, replacing percentage calculation
  api/src/api/controllers/log-entry.controller.ts
  api/src/api/dtos/log-entry/create-custom-log-entry.request.ts
  api/src/core/models/log-entry.model.ts
  api/src/core/usecases/log-entry/create-or-update-log-entry.usecase.ts
  api/src/core/usecases/log-entry/export-log-entries.usecase.ts
  api/src/providers/persistance/mappers/log-entry.mapper.ts
  app/src/command/LogEntryCommand.ts
  app/src/domain/interfaces/log-entries/CreateLogEntryUsecase.interface.ts
  app/src/domain/usecases/log-entries/CreateLogEntryUsecase.ts
  app/src/presentation/components/contents/FlipcardsContent.tsx
Due: üß© api, üß© webapp

✨ feat: Enhance EditoForm with dynamic language selection for translations
  admin/src/components/form/EditoForm.tsx
Due: üß© admin

refactor: Simplify session creation validation logic
  api/src/core/usecases/session/create-session.usecase.ts
Due: üß© api

refactor: remove default language fallback in ShowSessionContent component
  app/src/presentation/components/contents/ShowSessionContent.tsx
Due: üß© webapp

refactor: improve socket reconnection logic in ChatContent component
  app/src/presentation/components/contents/ChatContent.tsx
Due: üß© webapp

fix: ajouter une vérification pour s'assurer que les identifiants des partenaires ne sont pas nuls lors de la recherche d'un autre participant dans la durée de visio
  api/src/core/usecases/learningLanguage/update-visio-duration.usecase.ts
Due: üß© api

Update api/src/core/usecases/learningLanguage/update-visio-duration.usecase.ts
  api/src/core/usecases/learningLanguage/update-visio-duration.usecase.ts
Due: üß© api

hotfix: video duration
  api/src/core/usecases/learningLanguage/update-visio-duration.usecase.ts
Due: üß© api

fix: modifier l'alignement du texte en 'justify' et ajuster la largeur du document PDF
  api/src/providers/services/pdf.service.ts
Due: üß© api

refactor: change event filters rules
  api/src/core/ports/event.repository.ts
  api/src/core/usecases/event/get-events.usecase.ts
  api/src/providers/persistance/repositories/prisma-events.repository.ts
Due: üß© api

fix: fix useUpdate usage
  admin/src/entities/Report.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/activity-categories/edit.tsx
  admin/src/pages/activity-themes/edit.tsx
  admin/src/pages/admin-profile/edit.tsx
  admin/src/pages/administrators/edit.tsx
  admin/src/pages/campus/edit.tsx
  admin/src/pages/category-interest/edit.tsx
  admin/src/pages/editos/edit.tsx
  admin/src/pages/editos/manager/edit.tsx
  admin/src/pages/events/edit.tsx
  admin/src/pages/instance/edit.tsx
  admin/src/pages/interests/edit.tsx
  admin/src/pages/news/edit.tsx
  admin/src/pages/objectives/edit.tsx
  admin/src/pages/profiles/CertificateModal.tsx
  admin/src/pages/report-categories/edit.tsx
  admin/src/pages/report/edit.tsx
  admin/src/pages/universities/edit.tsx
  admin/src/pages/universities/manager/edit.tsx
  admin/src/providers/customDataProvider.ts
Due: üß© admin

fix: fix create usage
  admin/src/pages/activities/create.tsx
  admin/src/pages/activities/edit.tsx
  admin/src/pages/activities/show.tsx
  admin/src/pages/activity-categories/create.tsx
  admin/src/pages/activity-categories/edit.tsx
  admin/src/pages/activity-themes/create.tsx
  admin/src/pages/admin-profile/edit.tsx
  admin/src/pages/administrators/create.tsx
  admin/src/pages/campus/create.tsx
  admin/src/pages/category-interest/create.tsx
  admin/src/pages/category-interest/edit.tsx
  admin/src/pages/events/create.tsx
  admin/src/pages/interests/create.tsx
  admin/src/pages/languages/list.tsx
  admin/src/pages/news/create.tsx
  admin/src/pages/objectives/create.tsx
  admin/src/pages/profiles/edit.tsx
  admin/src/pages/profiles/list.tsx
  admin/src/pages/questions/create.tsx
  admin/src/pages/questions/edit.tsx
  admin/src/pages/report-categories/create.tsx
  admin/src/pages/universities/create.tsx
Due: üß© admin

fix: remove console.log
  api/src/providers/persistance/repositories/prisma-events.repository.ts
Due: üß© api

hotfix: fix pnpm lock and pacakge versionning
  admin/package.json
  admin/pnpm-lock.yaml
Due: üß© admin

hotfix: second hotfix for package.json and lock
  admin/package.json
  admin/pnpm-lock.yaml
Due: üß© admin

feat: mise à jour du formulaire Edito pour intégrer un lecteur vidéo et ajustement des traductions
  admin/src/components/form/EditoForm.tsx
  admin/src/locales/en.json
  admin/src/locales/fr.json
Due: üß© admin

fix: fix title size for ressource card
  app/src/presentation/components/card/RessourcesCard.module.css
Due: üß© webapp

fix: display university filter only if you are admin
  admin/src/pages/events/list.tsx
  admin/src/pages/news/list.tsx
Due: üß© admin

fix: accessibility pass P1
  app/src/presentation/components/events/EventLine.tsx
  app/src/presentation/components/events/EventsList.tsx
  app/src/presentation/components/news/NewsLine.tsx
  app/src/presentation/components/news/NewsList.tsx
  app/src/presentation/components/sessions/SessionCard.tsx
  app/src/presentation/components/sessions/SessionListHome.tsx
  app/src/presentation/components/tandems/TandemBubble.tsx
  app/src/presentation/components/tandems/TandemList.tsx
  app/src/presentation/theme/button.css
  app/src/presentation/theme/global.css
Due: üß© webapp

fix: accessibility pass P2
  app/src/presentation/components/tandems/TandemProfileContent.module.css
  app/src/presentation/components/tandems/TandemProfileContent.tsx
Due: üß© webapp

fix: accessibility pass P3
  app/src/presentation/components/AvailabilityLine.tsx
  app/src/presentation/components/HeaderSubContent.tsx
  app/src/presentation/components/sessions/ProfileAvailabilities.module.css
  app/src/presentation/components/sessions/ProfileAvailabilities.tsx
  app/src/presentation/components/sessions/SessionForm.module.css
  app/src/presentation/components/sessions/SessionForm.tsx
  app/src/presentation/theme/global.css
Due: üß© webapp

fix: accessibility pass P4
  app/src/presentation/components/contents/ShowSessionContent.module.css
  app/src/presentation/components/contents/ShowSessionContent.tsx
Due: üß© webapp

fix: accessibility pass P5
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/SearchAndFilter.tsx
  app/src/presentation/components/contents/news/NewsListContent.module.css
  app/src/presentation/components/contents/news/NewsListContent.tsx
  app/src/presentation/components/modals/FilterModal.tsx
  app/src/presentation/components/news/NewsLine.module.css
  app/src/presentation/components/news/NewsLine.tsx
Due: üß© webapp

fix: accessibility pass P6
  app/src/presentation/components/contents/news/NewsContent.tsx
  app/src/presentation/components/modals/ChangeLanguageModal.tsx
  app/src/presentation/components/modals/CreditModal.tsx
Due: üß© webapp

fix: accessibility pass P7
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/Checkbox.tsx
  app/src/presentation/components/SearchAndFilter.module.css
  app/src/presentation/components/SearchAndFilter.tsx
  app/src/presentation/components/contents/events/EventsListContent.module.css
  app/src/presentation/components/contents/events/EventsListContent.tsx
  app/src/presentation/components/events/EventLine.tsx
  app/src/presentation/components/modals/FilterModal.tsx
Due: üß© webapp

fix: accessibility pass P8
  app/src/presentation/components/contents/events/EventsContent.tsx
  app/src/presentation/components/modals/ChangeLanguageModal.module.css
  app/src/presentation/components/modals/ChangeLanguageModal.tsx
Due: üß© webapp

Path conditions:
  üß© admin: any of: admin/**/*
  üß© api init: any of: api/libs/common/src/database/**/*
  üß© api: any of: api/**/*
  üß© auth ul theme: any of: docker/keycloak/**/*
  üß© webapp: any of: app/**/*
  üß© chat: any of: chat/**/*
