Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© auth ul theme, ðŸ§© webapp, ðŸ§© chat

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" ||  $CI_COMMIT_BRANCH == "ci" # Supprimer ci

stages:
  - packages

# CI de package
.package ci:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend

# CI de l'admin
ðŸ§© admin:
  extends: .package ci
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    # DOCKER_TARGET: admin_prod # GÃ©nÃ¨re une erreur : ERR_PNPM_BROKEN_LOCKFILEâ€‰ The lockfile at "/srv/app/pnpm-lock.yaml" is broken: duplicated mapping key (1755:3)
    LINT: enabled
  rules:
    - changes:
        - admin/**/*

# CI de l'initialisation API
ðŸ§© api init:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init
  rules:
    - changes:
        - api/libs/common/src/database/**/*

# CI de l'API
ðŸ§© api:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    # DOCKER_TARGET: api_prod
    LINT: enabled
    TEST: enabled
  rules:
    - changes:
        - api/**/*

# CI du thÃ¨me UL Keycloak
ðŸ§© auth ul theme:
  extends: .package ci
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: "1.0"
  rules:
    - changes:
        - docker/keycloak/**/*

# CI de la webapp
ðŸ§© webapp:
  extends: .package ci
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp
  rules:
    - changes:
        - app/**/*

# CI du chat
ðŸ§© chat:
  extends: .package ci
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat
  rules:
    - changes:
        - chat/**/*

fix(app): Learning page
  app/src/presentation/components/card/ProficiencyTestCard.tsx
  app/src/presentation/components/contents/LearningContent.tsx
  app/src/presentation/pages/LearningPage.tsx
  app/src/store/store.ts
  app/src/store/storeTypes.ts
Due: ðŸ§© webapp

fix(admin): 4360 Profile link
  admin/src/pages/profiles-with-tandems-profiles/list/index.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/TandemTable/TandemTable.tsx
  admin/src/pages/profiles-with-tandems-profiles/ui/ProfileTandemLink.tsx
Due: ðŸ§© admin

fix(app): Mobile fix LearningGoals
  app/src/presentation/pages/LearningPage.tsx
  app/src/presentation/pages/mobile/CreateCustomGoalPage.tsx
  app/src/presentation/pages/mobile/GoalsListPage.tsx
  app/src/presentation/pages/mobile/ShowCustomGoal.tsx
  app/src/presentation/pages/mobile/UpdateCustomGoalPage.tsx
Due: ðŸ§© webapp

hotfix(adlmin): Fix language picker
  admin/src/components/LanguagePicker.tsx
Due: ðŸ§© admin

✨ feat: Create all files to handle log entries
  api/libs/common/src/database/migrations/20241112132849_create_log_entry_table/migration.sql
  api/libs/common/src/database/schema.prisma
  api/pnpm-lock.yaml
  api/src/api/controllers/log-entry.controller.ts
  api/src/api/dtos/log-entry/create-custom-log-entry.request.ts
  api/src/api/dtos/log-entry/get-log-entries.request.ts
  api/src/api/dtos/log-entry/index.ts
  api/src/api/dtos/log-entry/log-entry.response.ts
  api/src/api/dtos/log-entry/update-custom-log-entry.request.ts
  api/src/core/errors/logs-entry.exception.ts
  api/src/core/models/log-entry.model.ts
  api/src/core/ports/log-entry.repository.ts
  api/src/core/usecases/log-entry/create-or-update-log-entry.usecase.ts
  api/src/core/usecases/log-entry/index.ts
  api/src/providers/persistance/mappers/log-entry.mapper.ts
  api/src/providers/persistance/repositories/prisma-log-entry-repository.ts
  api/src/providers/providers.module.ts
Due: ðŸ§© api init, ðŸ§© api

✨ feat: Add some usecases and controller for log entries
  api/src/api/api.module.ts
  api/src/api/controllers/log-entry.controller.ts
  api/src/core/core.module.ts
  api/src/core/ports/log-entry.repository.ts
  api/src/core/usecases/log-entry/create-or-update-log-entry.usecase.ts
  api/src/core/usecases/log-entry/get-all-entries-for-user.usecase.ts
  api/src/core/usecases/log-entry/index.ts
  api/src/core/usecases/log-entry/update-custom-log-entry.usecase.ts
  api/src/providers/persistance/repositories/prisma-log-entry-repository.ts
Due: ðŸ§© api

fix(admin): Fix admin form
  admin/src/components/adminGroups/AdminGroupPicker.tsx
  admin/src/components/form/AdministratorForm.tsx
Due: ðŸ§© admin

✨ feat: Add some triggers for log entries creation
  api/libs/common/src/database/schema.prisma
  api/src/api/controllers/log-entry.controller.ts
  api/src/api/controllers/vocabulary.controller.ts
  api/src/api/dtos/log-entry/create-custom-log-entry.request.ts
  api/src/core/core.module.ts
  api/src/core/models/user.model.ts
  api/src/core/usecases/activity/update-activity-status.usecase.ts
  api/src/core/usecases/activity/update-activity.usecase.ts
  api/src/core/usecases/log-entry/index.ts
  api/src/core/usecases/log-entry/share-log-entries.usecase.ts
  api/src/core/usecases/notifications/send-message-notification.usecase.ts
  api/src/core/usecases/vocabulary/create-vocabulary.usecase.ts
  api/src/core/usecases/vocabulary/update-vocabulary-list.usecase.ts
Due: ðŸ§© api init, ðŸ§© api

✨ feat: Handle log entry connection
  api/libs/common/src/database/migrations/20241115091638_create_log_entries_table/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/controllers/log-entry.controller.ts
  api/src/api/dtos/log-entry/create-custom-log-entry.request.ts
  api/src/api/dtos/log-entry/log-entry.response.ts
  api/src/core/models/log-entry.model.ts
  api/src/providers/persistance/mappers/log-entry.mapper.ts
  api/src/providers/persistance/repositories/prisma-log-entry-repository.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/App.tsx
  app/src/command/LogEntryCommand.ts
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/entities/LogEntry.ts
  app/src/domain/interfaces/log-entries/CreateLogEntryUsecase.interface.ts
  app/src/domain/interfaces/log-entries/GetLogEntriesUsecase.interface.ts
  app/src/domain/interfaces/log-entries/UpdateCustomLogEntryUsecase.interface.ts
  app/src/domain/usecases/log-entries/CreateLogEntryUsecase.ts
  app/src/domain/usecases/log-entries/GetLogEntriesUsecase.ts
  app/src/domain/usecases/log-entries/UpdateCustomLogEntryUsecase.ts
  app/src/presentation/components/card/LogEntryCard.module.css
  app/src/presentation/components/card/LogEntryCard.tsx
  app/src/presentation/components/card/RessourcesCard.tsx
  app/src/presentation/components/contents/LearningContent.tsx
  app/src/presentation/components/contents/learning-book/LearningBookContainerContent.tsx
  app/src/presentation/components/contents/learning-book/LogEntriesContent.module.css
  app/src/presentation/components/contents/learning-book/LogEntriesContent.tsx
  app/src/presentation/components/modals/LearningBookContentModal.module.css
  app/src/presentation/components/modals/LearningBookContentModal.tsx
  app/src/presentation/hooks/useGetLogEntries.ts
  app/src/presentation/pages/LearningPage.tsx
  app/src/store/store.ts
  app/src/store/storeTypes.ts
Due: ðŸ§© api init, ðŸ§© api, ðŸ§© webapp

👌 fix: Update code mandatory logic
  api/src/api/dtos/universities/index.ts
Due: ðŸ§© api

👌 fix: Allow download for larger files + sort conversation by created at after lastActivityAt
  app/src/adapter/FileAdapter.ts
  chat/src/providers/persistance/repositories/prisma-conversation.repository.ts
Due: ðŸ§© webapp, ðŸ§© chat

✨ feat: Add creation custom log on front
  api/pnpm-lock.yaml
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/domain/interfaces/log-entries/CreateLogEntryUsecase.interface.ts
  app/src/presentation/components/contents/learning-book/CreateCustomLogEntryContent.module.css
  app/src/presentation/components/contents/learning-book/CreateCustomLogEntryContent.tsx
  app/src/presentation/components/contents/learning-book/LearningBookContainerContent.tsx
  app/src/presentation/components/contents/learning-book/LogEntriesContent.tsx
  app/src/store/store.ts
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Handle Activity back office issues
  admin/src/components/form/ActivityForm.tsx
  admin/src/pages/activities/create.tsx
  admin/src/pages/activities/list.tsx
  api/src/api/dtos/activity/create-activity.request.ts
  api/src/core/ports/activity.repository.ts
  api/src/core/usecases/activity/get-all-activities-by-admin.usecase.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
Due: ðŸ§© admin, ðŸ§© api

👌 fix: Display draft activity from university but not from users
  api/src/api/controllers/activity.controller.ts
  api/src/core/ports/activity.repository.ts
  api/src/core/usecases/activity/get-all-activities-by-admin.usecase.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
Due: ðŸ§© api

👌 fix: Get all activity sheet that i own + breakline on url + handle svg for activity
  api/src/api/controllers/activity.controller.ts
  api/src/core/models/media.model.ts
  api/src/core/ports/activity.repository.ts
  api/src/core/usecases/activity/get-all-activities.usecase.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
  app/src/command/ActivityCommand.ts
  app/src/domain/entities/Activity.ts
  app/src/presentation/components/RecordingButton.tsx
  app/src/presentation/components/contents/activity/ActivitiesContent.tsx
  app/src/presentation/components/contents/activity/ActivityContent.module.css
  app/src/presentation/components/contents/activity/ActivityContent.tsx
  app/src/presentation/components/contents/activity/CreateActivityVocabularyContent.tsx
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Handle end of the news and start of the news
  api/src/core/ports/news.repository.ts
  api/src/core/usecases/news/get-news.usecase.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
Due: ðŸ§© api

👌 fix: Order events and avoid to get past events
  api/src/api/dtos/events/create-event.request.ts
  api/src/core/ports/event.repository.ts
  api/src/core/usecases/event/create-event.usecase.ts
  api/src/providers/persistance/repositories/prisma-events.repository.ts
Due: ðŸ§© api

👌 fix: Reduce JitsiWeb size
  app/src/presentation/components/HomeHeader.module.css
  app/src/presentation/components/Jitsi/JitsiWeb.tsx
Due: ðŸ§© webapp

👌 fix: Add an update mode to update a vocabulary list
  api/src/api/dtos/vocabulary/update-vocabulary-list.request.ts
  api/src/core/ports/vocabulary.repository.ts
  api/src/core/usecases/vocabulary/update-vocabulary-list.usecase.ts
  api/src/providers/persistance/repositories/prisma-vocabulary-repository.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/domain/interfaces/vocabulary/UpdateVocabularyListUsecase.interface.ts
  app/src/domain/usecases/vocabulary/UpdateVocabularyListUsecase.ts
  app/src/presentation/components/contents/VocabularyContent.tsx
  app/src/presentation/components/contents/VocabularyItemContent.tsx
  app/src/presentation/components/modals/AddOrUpdateVocabularyListModal.module.css
  app/src/presentation/components/modals/AddOrUpdateVocabularyListModal.tsx
  app/src/presentation/hooks/useVocabulary.ts
  app/src/presentation/pages/mobile/VocabulariesPage.tsx
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Update jitsi height calculus
  app/src/presentation/components/Jitsi/JitsiWeb.tsx
Due: ðŸ§© webapp

👌 fix: pr review
  api/src/core/usecases/activity/get-all-activities.usecase.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
  app/src/presentation/components/contents/activity/ActivitiesContent.tsx
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Change in to equals
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
Due: ðŸ§© api

👌 fix: Rename AddVocabularyList in AddOrUpdateVocabularyList
  app/src/presentation/components/contents/VocabularyContent.tsx
  app/src/presentation/pages/mobile/VocabulariesPage.tsx
Due: ðŸ§© webapp

✨ feat: Fully handle custom entry with update and creation
  api/src/api/controllers/log-entry.controller.ts
  api/src/api/dtos/log-entry/create-custom-log-entry.request.ts
  api/src/api/dtos/log-entry/log-entry.response.ts
  api/src/api/dtos/log-entry/update-custom-log-entry.request.ts
  api/src/core/models/log-entry.model.ts
  api/src/core/ports/log-entry.repository.ts
  api/src/core/usecases/log-entry/create-or-update-log-entry.usecase.ts
  api/src/core/usecases/log-entry/update-custom-log-entry.usecase.ts
  api/src/providers/persistance/mappers/log-entry.mapper.ts
  api/src/providers/persistance/repositories/prisma-log-entry-repository.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/command/LogEntryCommand.ts
  app/src/domain/entities/LogEntry.ts
  app/src/domain/interfaces/log-entries/CreateLogEntryUsecase.interface.ts
  app/src/domain/interfaces/log-entries/UpdateCustomLogEntryUsecase.interface.ts
  app/src/domain/usecases/log-entries/CreateLogEntryUsecase.ts
  app/src/domain/usecases/log-entries/UpdateCustomLogEntryUsecase.ts
  app/src/presentation/components/card/LogEntryCard.module.css
  app/src/presentation/components/card/LogEntryCard.tsx
  app/src/presentation/components/contents/learning-book/CreateOrUpdateCustomLogEntryContent.module.css
  app/src/presentation/components/contents/learning-book/CreateOrUpdateCustomLogEntryContent.tsx
  app/src/presentation/components/contents/learning-book/LearningBookContainerContent.tsx
  app/src/presentation/components/contents/learning-book/LogEntriesContent.tsx
Due: ðŸ§© api, ðŸ§© webapp

ajout des trads d'instance et de language pour allemand,chinois et espagnol
  app/public/locales/cn/translation.json
  app/public/locales/de/translation.json
  app/public/locales/es/translation.json
Due: ðŸ§© webapp

✨ feat: Handle Vision entry Api / request
  api/src/api/controllers/log-entry.controller.ts
  api/src/api/dtos/log-entry/create-custom-log-entry.request.ts
  api/src/core/models/log-entry.model.ts
  api/src/core/usecases/log-entry/create-or-update-log-entry.usecase.ts
  api/src/providers/persistance/mappers/log-entry.mapper.ts
  app/src/domain/interfaces/log-entries/CreateLogEntryUsecase.interface.ts
  app/src/domain/usecases/log-entries/CreateLogEntryUsecase.ts
  app/src/presentation/components/Jitsi/JitsiMobile.tsx
  app/src/presentation/components/Jitsi/JitsiWeb.tsx
  app/src/presentation/components/Jitsi/VisioContainer.tsx
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/components/contents/EndSessionContent.tsx
  app/src/presentation/components/modals/EndSessionModal.tsx
  app/src/presentation/components/sessions/SessionCard.tsx
  app/src/presentation/components/tandems/TandemProfile.tsx
  app/src/presentation/pages/HomePage.tsx
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Remove mediaObject when an user avatar is deleted
  api/src/core/usecases/purges/archive-tandems.usecase.ts
  api/src/core/usecases/user/delete-user.usecase.ts
Due: ðŸ§© api

👌 fix: Update manager avatar on signup app + avoid empty credential issue after signup manager on app
  api/src/core/usecases/user/create-user.usecase.ts
  api/src/providers/persistance/repositories/prisma-media-object-repository.ts
Due: ðŸ§© api

👌 fix: Remove form component that does not work with IonButton
  app/src/presentation/components/forms/ForgotPasswordForm.tsx
Due: ðŸ§© webapp

👌 fix: Remove padding from ion button
  app/src/presentation/pages/PairingOptionsPage.tsx
Due: ðŸ§© webapp

👌 fix: Remove height size
  app/src/presentation/pages/css/PairingOptions.module.css
Due: ðŸ§© webapp

👌 fix: Update plist config to display files on iOS explorer
  app/ios/App/App/Info.plist
  app/ios/App/Podfile
  app/ios/App/Podfile.lock
  app/src/adapter/FileAdapter.ts
Due: ðŸ§© webapp

👌 fix: Reload messages after app go foreground
  app/src/presentation/components/contents/ChatContent.tsx
Due: ðŸ§© webapp

✨ feat: End of visio entry
  api/src/core/usecases/log-entry/create-or-update-log-entry.usecase.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/Jitsi/JitsiMobile.tsx
  app/src/presentation/components/Jitsi/JitsiWeb.tsx
  app/src/presentation/components/card/LogEntryCard.module.css
  app/src/presentation/components/card/LogEntryCard.tsx
  app/src/presentation/components/contents/EndSessionContent.tsx
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Handle Tandem Chat event
  api/src/core/usecases/log-entry/create-or-update-log-entry.usecase.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/card/LogEntryCard.tsx
  app/src/presentation/hooks/useHandleMessagesFromConversation.ts
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Handle Add vocabulary entry
  api/src/core/usecases/log-entry/create-or-update-log-entry.usecase.ts
  api/src/core/usecases/vocabulary/create-vocabulary.usecase.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/card/LogEntryCard.tsx
  app/src/presentation/components/contents/learning-book/LearningBookContainerContent.tsx
  app/src/presentation/components/contents/learning-book/LogEntriesContent.tsx
  app/src/presentation/components/modals/LearningBookContentModal.tsx
  app/src/presentation/pages/LearningPage.tsx
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Handle Share Vocabulary log entry
  api/src/api/controllers/vocabulary.controller.ts
  api/src/api/dtos/vocabulary/update-vocabulary-list.request.ts
  api/src/core/usecases/vocabulary/update-vocabulary-list.usecase.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/card/LogEntryCard.tsx
Due: ðŸ§© api, ðŸ§© webapp

hotfix(webapp): Try to fix pnpm.lock
  app/pnpm-lock.yaml
Due: ðŸ§© webapp

hotfix(webapp): Fix react-lottie version
  app/package.json
  app/pnpm-lock.yaml
Due: ðŸ§© webapp

✨ feat: Handle Activity update or Activity Sharing events
  api/src/api/dtos/log-entry/log-entry.response.ts
  api/src/core/models/log-entry.model.ts
  api/src/core/usecases/activity/update-activity-status.usecase.ts
  api/src/core/usecases/activity/update-activity.usecase.ts
  api/src/core/usecases/log-entry/create-or-update-log-entry.usecase.ts
  api/src/providers/persistance/mappers/log-entry.mapper.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/command/LogEntryCommand.ts
  app/src/domain/entities/LogEntry.ts
  app/src/presentation/components/card/LogEntryCard.tsx
  app/src/presentation/pages/LearningPage.tsx
Due: ðŸ§© api, ðŸ§© webapp
