Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üß© admin, üß© api init, üß© api, üß© auth ul theme, üß© webapp, üß© chat

.gitlab-ci.yml:

#
#   Copyright ou ¬© ou Copr. Universit√© de Lorraine, (2025)
#
#   Direction du Num√©rique de l'Universit√© de Lorraine - SIED
#
#   Ce logiciel est un programme informatique servant √† rendre accessible
#   sur mobile et sur internet l'application ULEP (University Language
#   Exchange Programme) aux √©tudiants et aux personnels des universit√©s
#   parties prenantes.
#
#   Ce logiciel est r√©gi par la licence CeCILL 2.1, soumise au droit fran√ßais
#   et respectant les principes de diffusion des logiciels libres. Vous pouvez
#   utiliser, modifier et/ou redistribuer ce programme sous les conditions
#   de la licence CeCILL telle que diffus√©e par le CEA, le CNRS et INRIA
#   sur le site "http://cecill.info".
#
#   En contrepartie de l'accessibilit√© au code source et des droits de copie,
#   de modification et de redistribution accord√©s par cette licence, il n'est
#   offert aux utilisateurs qu'une garantie limit√©e. Pour les m√™mes raisons,
#   seule une responsabilit√© restreinte p√®se sur l'auteur du programme, le
#   titulaire des droits patrimoniaux et les conc√©dants successifs.
#
#   √Ä cet √©gard, l'attention de l'utilisateur est attir√©e sur les risques
#   associ√©s au chargement, √† l'utilisation, √† la modification et/ou au
#   d√©veloppement et √† la reproduction du logiciel par l'utilisateur √©tant
#   donn√© sa sp√©cificit√© de logiciel libre, qui peut le rendre complexe √†
#   manipuler et qui le r√©serve donc √† des d√©veloppeurs et des professionnels
#   avertis poss√©dant des connaissances informatiques approfondies. Les
#   utilisateurs sont donc invit√©s √† charger et √† tester l'ad√©quation du
#   logiciel √† leurs besoins dans des conditions permettant d'assurer la
#   s√©curit√© de leurs syst√®mes et/ou de leurs donn√©es et, plus g√©n√©ralement,
#   √† l'utiliser et √† l'exploiter dans les m√™mes conditions de s√©curit√©.
#
#   Le fait que vous puissiez acc√©der √† cet en-t√™te signifie que vous avez
#   pris connaissance de la licence CeCILL 2.1, et que vous en avez accept√© les
#   termes.
#

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" ||  $CI_COMMIT_BRANCH == "ci" # Supprimer ci

stages:
  - packages

# CI de package
.package ci:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend

# CI de l'admin
üß© admin:
  extends: .package ci
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    # DOCKER_TARGET: admin_prod # G√©n√®re une erreur : ERR_PNPM_BROKEN_LOCKFILE‚Äâ The lockfile at "/srv/app/pnpm-lock.yaml" is broken: duplicated mapping key (1755:3)
    LINT: enabled
  rules:
    - changes:
        - admin/**/*

# CI de l'initialisation API
üß© api init:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init
  rules:
    - changes:
        - api/libs/common/src/database/**/*

# CI de l'API
üß© api:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    # DOCKER_TARGET: api_prod
    LINT: enabled
    TEST: enabled
  rules:
    - changes:
        - api/**/*

# CI du th√®me UL Keycloak
üß© auth ul theme:
  extends: .package ci
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: "1.0"
  rules:
    - changes:
        - docker/keycloak/**/*

# CI de la webapp
üß© webapp:
  extends: .package ci
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp
  rules:
    - changes:
        - app/**/*

# CI du chat
üß© chat:
  extends: .package ci
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat
  rules:
    - changes:
        - chat/**/*

style: update LearningCard component structure for improved semantics and layout
  app/src/presentation/components/card/LearningCard.tsx
Due: üß© webapp

chore: update Sentry dependencies and configuration for improved error tracking and performance
  app/ios/App/Podfile
  app/ios/App/Podfile.lock
  app/package.json
  app/pnpm-lock.yaml
  app/src/App.tsx
Due: üß© webapp

fix: removed unwanted redirects fix: broken subscribing feature due to react admin update
  admin/src/pages/category-interest/list.tsx
  admin/src/pages/events/list.tsx
  admin/src/pages/events/subscriptions/SearchProfile.tsx
  admin/src/pages/events/subscriptions/list.tsx
  admin/src/providers/customDataProvider.ts
Due: üß© admin

fix: news edit redirects to news list
  admin/src/pages/news/edit.tsx
Due: üß© admin

feat: implement custom audio recording hook for improved audio handling in components
  app/src/adapter/RecorderAdapter.ts
  app/src/adapter/interfaces/RecorderAdapter.interface.ts
  app/src/presentation/components/AudioLine.tsx
  app/src/presentation/components/chat/ChatInputSender.tsx
  app/src/presentation/components/contents/CreateOrUpdateVocabularyContent.tsx
  app/src/presentation/components/contents/activity/CreateActivityVocabularyContent.tsx
  app/src/presentation/hooks/useAudioRecorder.ts
Due: üß© webapp

refactor: optimize language array construction in FilterModal to eliminate duplicates and null values
  app/src/presentation/components/modals/FilterModal.tsx
Due: üß© webapp

refacto: sorted languages standardized and made as hook
  admin/src/components/LanguagePicker.tsx
  admin/src/entities/Language.ts
  admin/src/pages/events/subscriptions/SearchProfile.tsx
  admin/src/pages/events/subscriptions/list.tsx
  admin/src/pages/profiles/list.tsx
  admin/src/utils/useGetSortedLanguagesWithLabel.ts
Due: üß© admin

fix: standardized languages filters
  admin/src/pages/activities/list.tsx
  admin/src/pages/events/list.tsx
  admin/src/pages/news/list.tsx
  admin/src/pages/profiles-with-tandems-profiles/list/index.tsx
Due: üß© admin

fix: all languages lists and translations translated
  admin/src/components/form/ActivityForm.tsx
  admin/src/components/form/EditoForm.tsx
  admin/src/components/form/EventForm.tsx
  admin/src/components/form/NewsForm.tsx
  admin/src/components/form/useGetUniversitiesLanguages.tsx
  admin/src/pages/events/list.tsx
  admin/src/pages/news/list.tsx
  admin/src/utils/useGetSortedLanguagesWithLabel.ts
  admin/src/utils/useGetTranslatedLanguageCode.ts
Due: üß© admin

feat: enhance keyboard handling in ChatInputSender for better user experience on Android devices
  app/android/capacitor.settings.gradle
  app/capacitor.config.ts
  app/src/presentation/components/chat/ChatInputSender.module.css
  app/src/presentation/components/chat/ChatInputSender.tsx
  app/src/presentation/hooks/useKeyboardHandler.ts
Due: üß© webapp

fix: correct language validation logic in PrismaEventRepository to ensure user must know and learn at least one language
  api/src/providers/persistance/repositories/prisma-events.repository.ts
Due: üß© api

fix: update RecordingButton to conditionally disable button based on prop
  app/src/presentation/components/RecordingButton.tsx
Due: üß© webapp

wip
  api/src/core/usecases/report/update-report-status.usecase.ts
Due: üß© api

feat: ajout de la gestion des entrées de journal dans les réponses des langues d'apprentissage et des profils
  api/src/api/dtos/learning-languages/learning-language.response.ts
  api/src/api/dtos/log-entry/api-log-entry.response.ts
  api/src/api/dtos/profiles/profiles-with-logentries.response.ts
  api/src/providers/persistance/repositories/prisma-profile-repository.ts
Due: üß© api

fix: ajout d'une exception NotFound pour gérer les profils non trouvés dans le mapper
  api/src/providers/persistance/mappers/profileWithLogEntries.mapper.ts
Due: üß© api

chore: mise à jour de la version de jitsi-meet de 1.3.8 à 1.5.1 et suppression de l'ancienne archive
  helm/project/Chart.lock
  helm/project/Chart.yaml
  helm/project/charts/jitsi-meet-1.3.8.tgz
  helm/project/charts/jitsi-meet-1.5.1.tgz
Due: none

✨ feat: Upgrade capacitor 6 to 7
  app/android/app/capacitor.build.gradle
  app/android/app/src/main/AndroidManifest.xml
  app/android/build.gradle
  app/android/capacitor.settings.gradle
  app/android/gradle/wrapper/gradle-wrapper.jar
  app/android/gradle/wrapper/gradle-wrapper.properties
  app/android/gradlew
  app/android/gradlew.bat
  app/android/variables.gradle
  app/ios/App/App.xcodeproj/project.pbxproj
  app/ios/App/Podfile
  app/ios/App/Podfile.lock
  app/package.json
  app/pnpm-lock.yaml
Due: üß© webapp

👌 fix: Add capacitor edge to edge support
  app/android/app/capacitor.build.gradle
  app/android/capacitor.settings.gradle
  app/capacitor.config.ts
  app/package.json
  app/pnpm-lock.yaml
Due: üß© webapp

👌 fix: Update login page to fit more with capacitor 7
  app/src/presentation/components/forms/Form.module.css
Due: üß© webapp

👌 fix: Capacitor keyboard
  app/capacitor.config.ts
Due: üß© webapp

👌 fix: Handle Android view + start build ios
  app/android/capacitor.settings.gradle
  app/capacitor.config.ts
  app/ios/App/Podfile
  app/ios/App/Podfile.lock
  app/package.json
  app/pnpm-lock.yaml
  app/src/presentation/components/contents/ProfileContent.module.css
  app/src/presentation/components/events/EventLine.module.css
  app/src/presentation/components/news/NewsLine.module.css
  app/src/presentation/components/news/NewsList.tsx
  app/src/presentation/router/BottomBar.module.css
Due: üß© webapp

feat: ajouter un validateur de type de fichier dans FilePipe pour améliorer la validation des fichiers téléchargés
  chat/src/api/validators/files.validator.ts
Due: üß© chat

feat: add recording mode management for vocabulary pronunciation
  app/src/presentation/components/contents/CreateOrUpdateVocabularyContent.tsx
Due: üß© webapp

fix: ajouter une gestion d'erreur pour l'utilisateur non trouvé dans GetAllEntriesForContactUsecase
  api/src/core/usecases/log-entry/get-all-entries-for-contact.usecase.ts
Due: üß© api

feat: add language code support to profile response methods
  api/src/api/controllers/profile.controller.ts
Due: üß© api

fix: ajouter une option pour désactiver le bouton des tandems dans le composant TandemActions
  admin/src/pages/profiles-with-tandems-profiles/show/Actions/TandemActions.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/PartnerCard.tsx
Due: üß© admin

feat: integrate same tandem email management in learning language use cases
  api/src/core/usecases/learningLanguage/update-learning-language.usecase.ts
  api/src/core/usecases/profiles/create-learning-language.usecase.ts
  api/src/core/usecases/profiles/create-profile.usecase.ts
  api/src/providers/persistance/repositories/prisma-learning-language-repository.ts
Due: üß© api

feat: update Dropdown component to set selected option based on value prop and enhance university selection logic in SignUpPage
  app/src/presentation/components/DropDown.tsx
  app/src/presentation/pages/SignUpPage.tsx
Due: üß© webapp

feat: ajout des interfaces et des méthodes pour la gestion des notifications et des emails de suppression de message
  api/src/core/ports/email.gateway.ts
  api/src/core/ports/notification.gateway.ts
  api/src/core/usecases/report/update-report-status.usecase.ts
  api/src/providers/gateway/fcm-notification.gateway.ts
  api/src/providers/gateway/in-memory-email.gateway.ts
  api/src/providers/gateway/in-memory-notification.gateway.ts
  api/src/providers/gateway/smtp-email.gateway.ts
Due: üß© api

feat: add deleteAll method to CommunityChatRepository and implement in PrismaCommunityChatRepository
  api/src/core/ports/community-chat.repository.ts
  api/src/core/usecases/purges/archive-tandems.usecase.ts
  api/src/providers/persistance/repositories/prisma-community-chat-repository.ts
  api/src/providers/services/chat.service.ts
Due: üß© api

feat: ajouter la récupération des langues apprenables dans le FilterModal
  app/src/presentation/components/modals/FilterModal.tsx
Due: üß© webapp

Update profile.controller.ts
  api/src/api/controllers/profile.controller.ts
Due: üß© api

🔧 chore: Update Codemagic configuration and upgrade Capacitor dependencies
  app/android/capacitor.settings.gradle
  app/ios/App/App.xcodeproj/project.pbxproj
  app/ios/App/Podfile
  app/ios/App/Podfile.lock
  app/package.json
  app/pnpm-lock.yaml
  codemagic.yaml
Due: üß© webapp

fix: Update Capacitor configuration and improve CSS directionality
  app/android/capacitor.settings.gradle
  app/capacitor.config.ts
  app/package.json
  app/src/presentation/components/card/LogEntryCard.module.css
  app/src/presentation/components/chat/MessageComponent.module.css
  app/src/presentation/components/chat/MessageComponent.tsx
  app/src/presentation/theme/button.css
Due: üß© webapp

fix: Update keyboard resize behavior in Capacitor configuration
  app/capacitor.config.ts
Due: üß© webapp

refactor: Enhance profile management and language handling in App component
  app/src/App.tsx
  app/src/adapter/DomainHttpAdapter.ts
  app/src/presentation/components/contents/SettingsContent.tsx
Due: üß© webapp

refactor: Simplify event handling and improve user interaction in tandem profile components
  admin/src/pages/profiles-with-tandems-profiles/list/index.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/Actions/TandemActions.tsx
  admin/src/pages/profiles-with-tandems-profiles/ui/ProfileTandemDetailLink.tsx
Due: üß© admin

fix: Exclude deleted conversations from query results in PrismaConversationRepository
  chat/src/providers/persistance/repositories/prisma-conversation.repository.ts
Due: üß© chat

refactor: Make description field optional in CustomLearningGoals and related DTOs
  api/libs/common/src/database/migrations/20250704092009_optional_objective_description/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/dtos/objective/index.ts
  api/src/core/ports/custom-learning-goal.repository.ts
  api/src/core/usecases/objective/create-custom-learning-goals.usecase.ts
  api/src/core/usecases/objective/update-custom-learning-goal.usecase.ts
  app/src/presentation/components/contents/CustomGoalFormContent.tsx
Due: üß© api init, üß© api, üß© webapp

refactor: Specify type for customLearningGoals in handleSubmit function
  app/src/presentation/components/contents/CustomGoalFormContent.tsx
Due: üß© webapp
