Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© auth ul theme, ðŸ§© webapp, ðŸ§© chat

ðŸ§© admin:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    LINT: enabled

ðŸ§© api init:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init

ðŸ§© api:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    LINT: enabled
    TEST: enabled

ðŸ§© auth ul theme:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: '1.0'

ðŸ§© webapp:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp

ðŸ§© chat:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat

fix(app): i18n instance dev
  app/.env.exemple
  app/src/presentation/hooks/useFetchI18NBackend.ts
Due: ðŸ§© webapp

👌 fix: Get socket connexion after disconnection until the user is connected again
  app/src/adapter/SocketIoAdapter.ts
  app/src/adapter/interfaces/SocketIoAdapter.interface.ts
  app/src/presentation/components/contents/ChatContent.tsx
Due: ðŸ§© webapp

👌 fix: Add logger to fix type issue
  api/src/api/controllers/activity.controller.ts
Due: ðŸ§© api

👌 fix: Add comment on the onDisconnect
  app/src/presentation/components/contents/ChatContent.tsx
Due: ðŸ§© webapp

Update package.json
  chat/package.json
Due: ðŸ§© chat

✨ feat: Add show page for web + fix activity creation
  api/pnpm-lock.yaml
  api/src/api/controllers/activity.controller.ts
  api/src/api/dtos/activity/activity.response.ts
  api/src/api/dtos/chat/message.response.ts
  api/src/core/usecases/activity/get-activity.usecase.ts
  api/src/providers/persistance/mappers/activity.mapper.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/adapter/BaseHttpAdapter.ts
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/entities/Activity.ts
  app/src/domain/entities/OGUrl.ts
  app/src/domain/interfaces/activity/GetActivityUsecase.interface.ts
  app/src/domain/usecases/activity/CreateActivityUsecase.ts
  app/src/domain/usecases/activity/GetActivityUsecase.ts
  app/src/presentation/components/card/ActivityStatusCard.module.css
  app/src/presentation/components/card/ActivityStatusCard.tsx
  app/src/presentation/components/card/LearningCard.module.css
  app/src/presentation/components/contents/activity/ActivityContent.module.css
  app/src/presentation/components/contents/activity/ActivityContent.tsx
  app/src/presentation/components/contents/activity/CreateActivityContent.tsx
  app/src/presentation/components/contents/activity/CreateActivitySuccessContent.tsx
  app/src/presentation/components/modals/ActivitiesContentModal.tsx
  app/src/presentation/components/modals/ActivitiesContentModale.tsx
  app/src/presentation/components/modals/ShareVocabularyListModale.tsx
  app/src/presentation/hooks/useGetActivity.ts
  app/src/presentation/pages/LearningPage.tsx
  app/src/presentation/pages/mobile/ActivitiesPage.tsx
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Pr review: mostly wordings
  api/src/api/controllers/activity.controller.ts
  api/src/core/ports/activity.repository.ts
  api/src/core/usecases/activity/create-activity.usecase.ts
  api/src/core/usecases/activity/get-all-activities.usecase.ts
  api/src/core/usecases/media/upload-image-activity.usecase.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
Due: ðŸ§© api

👌 fix: Change usecase route name
  app/src/domain/usecases/activity/CreateActivityUsecase.ts
  app/src/domain/usecases/activity/GetActivityThemesUsecase.ts
Due: ðŸ§© webapp

👌 fix: Change import type for linter
  api/src/core/usecases/activity/create-activity.usecase.ts
Due: ðŸ§© api

👌 fix: Change wording route on app
  app/src/domain/usecases/activity/GetActivityUsecase.ts
Due: ðŸ§© webapp

👌 fix: Fix types error for CI
  api/src/core/usecases/activity/create-activity.usecase.ts
  app/src/domain/entities/Activity.ts
  app/src/domain/entities/OGUrl.ts
Due: ðŸ§© api, ðŸ§© webapp

Themes and theme categories CRUD
  admin/src/App.tsx
  admin/src/components/form/ActivityCategoryForm.tsx
  admin/src/components/menu/CustomMenu.tsx
  admin/src/entities/ActivityTheme.ts
  admin/src/entities/ActivityThemeCategory.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/activity-categories/create.tsx
  admin/src/pages/activity-categories/edit.tsx
  admin/src/pages/activity-categories/index.tsx
  admin/src/pages/activity-categories/list.tsx
  admin/src/pages/activity-categories/show.tsx
  admin/src/pages/activity-themes/create.tsx
  admin/src/pages/activity-themes/edit.tsx
  admin/src/pages/activity-themes/index.ts
  admin/src/pages/activity-themes/show.tsx
  admin/src/providers/customDataProvider.ts
  admin/src/queries/ActivitiesCategoriesQuery.ts
  api/src/api/controllers/activity.controller.ts
  api/src/api/dtos/activity/activity.response.ts
  api/src/api/dtos/activity/create-activity-theme-category.request.ts
  api/src/api/dtos/activity/create-activity-theme.request.ts
  api/src/api/dtos/activity/get-activity-categories.request.ts
  api/src/api/dtos/activity/update-activity-theme-category.request.ts
  api/src/api/dtos/activity/update-activity-theme.request.ts
  api/src/api/dtos/pagination/pagination-without-default.ts
  api/src/core/core.module.ts
  api/src/core/errors/ressource-is-used.exception.ts
  api/src/core/ports/activity.repository.ts
  api/src/core/usecases/activity/create-activity-theme-category.usecase.ts
  api/src/core/usecases/activity/create-activity-theme.usecase.ts
  api/src/core/usecases/activity/get-activity-theme-category.usecase.ts
  api/src/core/usecases/activity/get-activity-theme.usecase.ts
  api/src/core/usecases/activity/get-all-activity-themes.usecase.ts
  api/src/core/usecases/activity/index.ts
  api/src/core/usecases/activity/update-activity-theme-category.usecase.ts
  api/src/core/usecases/activity/update-activity-theme.usecase.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
  docker-compose.yaml
  helm/project/templates/admin/deployment-admin.yaml
Due: ðŸ§© admin, ðŸ§© api

✨ feat: Add activities list with filters and search bar
  api/src/api/controllers/activity.controller.ts
  api/src/api/controllers/vocabulary.controller.ts
  api/src/core/usecases/activity/get-all-activities.usecase.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/interfaces/activity/GetActivitiesUsecase.interface.ts
  app/src/domain/usecases/activity/CreateActivityUsecase.ts
  app/src/domain/usecases/activity/GetActivitiesUsecase.ts
  app/src/domain/usecases/activity/GetActivityThemesUsecase.ts
  app/src/presentation/components/card/ActivityCard.module.css
  app/src/presentation/components/card/ActivityCard.tsx
  app/src/presentation/components/contents/activity/ActivitiesContent.module.css
  app/src/presentation/components/contents/activity/ActivitiesContent.tsx
  app/src/presentation/components/contents/activity/CreateActivityContent.tsx
  app/src/presentation/components/modals/ActivitiesContentModal.tsx
  app/src/presentation/components/modals/ActivityFilterModal.module.css
  app/src/presentation/components/modals/ActivityFilterModal.tsx
  app/src/presentation/hooks/useGetActivities.ts
  app/src/presentation/hooks/useGetActivityThemes.ts
  app/src/presentation/hooks/useGetDataForActivityCreation.ts
  app/src/presentation/pages/PairingSelectCEFRPage.tsx
  app/src/presentation/utils.ts
Due: ðŸ§© api, ðŸ§© webapp

Themes and categories seed
  api/libs/common/src/database/seeds/activity.ts
Due: ðŸ§© api init, ðŸ§© api

Fix: flex wrap on themes list
  admin/src/pages/activity-categories/list.tsx
Due: ðŸ§© admin

✨ feat: Create pagination on activities list
  app/src/domain/interfaces/activity/GetActivitiesUsecase.interface.ts
  app/src/domain/usecases/activity/GetActivitiesUsecase.ts
  app/src/presentation/components/contents/activity/ActivitiesContent.tsx
  app/src/presentation/components/modals/ActivityFilterModal.tsx
  app/src/presentation/hooks/useGetActivities.ts
  app/src/presentation/pages/mobile/ActivitiesPage.tsx
Due: ðŸ§© webapp

👌 fix: Add margin on filter icon
  app/src/presentation/components/contents/activity/ActivitiesContent.module.css
  app/src/presentation/components/contents/activity/ActivitiesContent.tsx
Due: ðŸ§© webapp

✨ feat: Add API modification to update activity
  api/src/api/controllers/activity.controller.ts
  api/src/api/dtos/activity/index.ts
  api/src/api/dtos/activity/update-activity.request.ts
  api/src/core/core.module.ts
  api/src/core/models/activity.model.ts
  api/src/core/ports/activity.repository.ts
  api/src/core/usecases/activity/create-activity.usecase.ts
  api/src/core/usecases/activity/index.ts
  api/src/core/usecases/activity/update-activity.usecase.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
Due: ðŸ§© api

✨ feat: Add way to share an activity
  api/src/core/usecases/activity/update-activity.usecase.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/interfaces/activity/UpdateActivityUsecase.interface.ts
  app/src/domain/usecases/activity/UpdateActivityUsecase.ts
  app/src/presentation/components/contents/activity/ActivityContent.module.css
  app/src/presentation/components/contents/activity/ActivityContent.tsx
  app/src/presentation/components/modals/ActivitiesContentModal.tsx
  app/src/presentation/hooks/useGetActivity.ts
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Allow to update an activity
  api/src/api/controllers/activity.controller.ts
  api/src/api/dtos/activity/activity.response.ts
  api/src/api/dtos/activity/update-activity.request.ts
  api/src/core/ports/activity.repository.ts
  api/src/core/usecases/activity/update-activity.usecase.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
  app/src/command/ActivityCommand.ts
  app/src/domain/interfaces/activity/UpdateActivityUsecase.interface.ts
  app/src/domain/usecases/activity/UpdateActivityUsecase.ts
  app/src/presentation/components/contents/activity/ActivityContent.tsx
  app/src/presentation/components/contents/activity/CreateActivityExcerciseContent.tsx
  app/src/presentation/components/contents/activity/CreateActivityInformationsContent.tsx
  app/src/presentation/components/contents/activity/CreateActivityVocabularyContent.tsx
  app/src/presentation/components/contents/activity/CreateOrUpdateActivityContent.tsx
  app/src/presentation/components/modals/ActivitiesContentModal.tsx
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Handle mobile display for activity + fix default exercices
  app/android/capacitor.settings.gradle
  app/src/presentation/components/contents/activity/CreateActivityExcerciseContent.tsx
  app/src/presentation/components/contents/activity/CreateOrUpdateActivityContent.tsx
  app/src/presentation/components/modals/ActivityFilterModal.tsx
  app/src/presentation/pages/mobile/ActivitiesPage.tsx
  app/src/presentation/theme/global.css
Due: ðŸ§© webapp

✨ feat: Add notifications for activity status update
  api/src/core/ports/email.gateway.ts
  api/src/core/ports/notification.gateway.ts
  api/src/core/usecases/activity/update-activity.usecase.ts
  api/src/providers/gateway/fcm-notification.gateway.ts
  api/src/providers/gateway/in-memory-notification.gateway.ts
  api/src/providers/gateway/smtp-email.gateway.ts
Due: ðŸ§© api

👌 fix: Add in memory email function
  api/src/providers/gateway/in-memory-email.gateway.ts
Due: ðŸ§© api

👌 fix: Change wording for isMe filter to shouldTakeAllMine
  app/src/domain/interfaces/activity/GetActivitiesUsecase.interface.ts
  app/src/domain/usecases/activity/GetActivitiesUsecase.ts
  app/src/presentation/components/contents/activity/ActivitiesContent.tsx
  app/src/presentation/components/modals/ActivityFilterModal.tsx
  app/src/presentation/hooks/useGetActivities.ts
Due: ðŸ§© webapp

Fix: console.log and comment
  api/src/api/controllers/activity.controller.ts
  api/src/core/usecases/activity/update-activity-theme.usecase.ts
Due: ðŸ§© api

Feat: News table added
  admin/src/App.tsx
  admin/src/components/menu/CustomMenu.tsx
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/news/index.ts
  admin/src/pages/news/list.tsx
  api/libs/common/src/database/migrations/20240828102918_news/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/api.module.ts
  api/src/api/controllers/news.controller.ts
  api/src/core/core.module.ts
  api/src/core/models/index.ts
  api/src/core/models/news.model.ts
  api/src/core/ports/news.repository.ts
  api/src/core/usecases/index.ts
  api/src/core/usecases/news/get-news.usecase.ts
  api/src/core/usecases/news/index.ts
  api/src/providers/persistance/mappers/news.mapper.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
  api/src/providers/providers.module.ts
  app/pnpm-lock.yaml
  chat/pnpm-lock.yaml
Due: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© webapp, ðŸ§© chat

Feat: create admin page basis
  admin/src/components/form/NewsForm.tsx
  admin/src/entities/News.ts
  admin/src/pages/news/create.tsx
  admin/src/pages/news/index.ts
Due: ðŸ§© admin

WIP: API Create route
  admin/src/components/form/NewsForm.tsx
  admin/src/entities/News.ts
  admin/src/pages/news/create.tsx
  admin/src/pages/news/index.ts
  api/src/api/controllers/news.controller.ts
  api/src/api/dtos/news/index.ts
  api/src/core/core.module.ts
  api/src/core/ports/news.repository.ts
  api/src/core/usecases/news/create-news.usecase.ts
  api/src/core/usecases/news/index.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
Due: ðŸ§© admin, ðŸ§© api

Feat: News list with university infos and translations
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/news/list.tsx
  admin/src/providers/customDataProvider.ts
  api/src/api/dtos/news/index.ts
  api/src/core/models/news.model.ts
  api/src/core/usecases/news/create-news.usecase.ts
  api/src/core/usecases/news/get-news.usecase.ts
  api/src/providers/persistance/mappers/news.mapper.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
Due: ðŸ§© admin, ðŸ§© api

Feat: news status added
  admin/src/components/form/NewsForm.tsx
  admin/src/entities/News.ts
  admin/src/pages/news/create.tsx
  admin/src/pages/news/list.tsx
  api/libs/common/src/database/migrations/20240904123018_create_news_table/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/controllers/news.controller.ts
  api/src/api/dtos/news/index.ts
  api/src/core/models/news.model.ts
  api/src/core/usecases/news/create-news.usecase.ts
  api/src/providers/persistance/mappers/news.mapper.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
Due: ðŸ§© admin, ðŸ§© api init, ðŸ§© api

WIP: get all news
  admin/src/pages/news/create.tsx
  api/src/api/controllers/news.controller.ts
  api/src/api/dtos/news/index.ts
  api/src/core/models/news.model.ts
  api/src/core/ports/news.repository.ts
  api/src/core/usecases/news/create-news.usecase.ts
  api/src/core/usecases/news/get-news.usecase.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
Due: ðŸ§© admin, ðŸ§© api

Refacto: mapping moved to Mappers
  api/src/core/models/news.model.ts
  api/src/core/ports/news.repository.ts
  api/src/core/usecases/news/create-news.usecase.ts
  api/src/core/usecases/news/get-news.usecase.ts
  api/src/providers/persistance/mappers/news.mapper.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
Due: ðŸ§© api

BO: Create News form complete
  admin/src/components/form/NewsForm.tsx
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/news/create.tsx
  admin/src/pages/news/list.tsx
Due: ðŸ§© admin

Feat: news image upload
  admin/src/components/form/NewsForm.tsx
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/news/create.tsx
  admin/src/pages/news/list.tsx
  api/src/api/controllers/news.controller.ts
  api/src/api/dtos/news/index.ts
  api/src/core/core.module.ts
  api/src/core/models/news.model.ts
  api/src/core/ports/media-object.repository.ts
  api/src/core/ports/news.repository.ts
  api/src/core/usecases/media/index.ts
  api/src/core/usecases/media/upload-news-image.usecase.ts
  api/src/providers/persistance/repositories/prisma-media-object-repository.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
Due: ðŸ§© admin, ðŸ§© api

Fix: stringify changed for typed objects and various BO fixes
  admin/src/components/form/NewsForm.tsx
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/news/create.tsx
  admin/src/pages/news/edit.tsx
  admin/src/pages/news/list.tsx
  admin/src/providers/customDataProvider.ts
  api/src/api/controllers/news.controller.ts
  api/src/api/dtos/news/index.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
Due: ðŸ§© admin, ðŸ§© api

Feat: imageURL returned instead of MediaObject
  admin/package.json
  admin/pnpm-lock.yaml
  admin/src/components/ImageUploader.tsx
  admin/src/components/form/NewsForm.tsx
  api/src/api/controllers/news.controller.ts
  api/src/api/dtos/news/index.ts
  api/src/core/models/news.model.ts
  api/src/core/usecases/media/upload-news-image.usecase.ts
  api/src/core/usecases/news/get-one-news.usecase.ts
  api/src/providers/persistance/mappers/news.mapper.ts
Due: ðŸ§© admin, ðŸ§© api

Fix: pagination added
  admin/src/queries/NewsQuery.ts
  api/src/api/controllers/news.controller.ts
  api/src/api/dtos/news/index.ts
  api/src/core/ports/news.repository.ts
  api/src/core/usecases/news/get-news.usecase.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
Due: ðŸ§© admin, ðŸ§© api

Feat: news list filters
  admin/src/components/form/NewsForm.tsx
  admin/src/components/form/useGetUniversitiesLanguages.tsx
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/news/list.tsx
  admin/src/providers/customDataProvider.ts
  admin/src/queries/NewsQuery.ts
  api/src/api/controllers/news.controller.ts
  api/src/api/dtos/news/index.ts
  api/src/core/ports/news.repository.ts
  api/src/core/usecases/news/get-news.usecase.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
Due: ðŸ§© admin, ðŸ§© api

Fix: optionality removed for publication dates
  api/libs/common/src/database/migrations/20240925143508_create_news_table/migration.sql
  api/libs/common/src/database/schema.prisma
Due: ðŸ§© api init, ðŸ§© api

Path conditions:
  ðŸ§© admin: any of: admin/**/*
  ðŸ§© api init: any of: api/libs/common/src/database/**/*
  ðŸ§© api: any of: api/**/*
  ðŸ§© auth ul theme: any of: docker/keycloak/**/*
  ðŸ§© webapp: any of: app/**/*
  ðŸ§© chat: any of: chat/**/*
