Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© auth ul theme, ðŸ§© webapp, ðŸ§© chat

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" ||  $CI_COMMIT_BRANCH == "ci" # Supprimer ci

stages:
  - packages

# CI de package
.package ci:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend

# CI de l'admin
ðŸ§© admin:
  extends: .package ci
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    # DOCKER_TARGET: admin_prod # GÃ©nÃ¨re une erreur : ERR_PNPM_BROKEN_LOCKFILEâ€‰ The lockfile at "/srv/app/pnpm-lock.yaml" is broken: duplicated mapping key (1755:3)
    LINT: enabled
  rules:
    - changes:
        - admin/**/*

# CI de l'initialisation API
ðŸ§© api init:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init
  rules:
    - changes:
        - api/libs/common/src/database/**/*

# CI de l'API
ðŸ§© api:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    # DOCKER_TARGET: api_prod
    LINT: enabled
    TEST: enabled
  rules:
    - changes:
        - api/**/*

# CI du thÃ¨me UL Keycloak
ðŸ§© auth ul theme:
  extends: .package ci
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: "1.0"
  rules:
    - changes:
        - docker/keycloak/**/*

# CI de la webapp
ðŸ§© webapp:
  extends: .package ci
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp
  rules:
    - changes:
        - app/**/*

# CI du chat
ðŸ§© chat:
  extends: .package ci
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat
  rules:
    - changes:
        - chat/**/*

fix(4504): Add credit image button and modal to activity view
  app/src/presentation/components/contents/activity/ActivityContent.module.css
  app/src/presentation/components/contents/activity/ActivityContent.tsx
Due: ðŸ§© webapp

fix(4494): Enhance vocabulary language selection with learning data context
  app/src/presentation/components/modals/NewVocabularyMenuModal.tsx
Due: ðŸ§© webapp

fix(4499-4500): Improve vocabulary search functionality and state management
  app/src/presentation/components/contents/VocabularyContent.tsx
  app/src/presentation/components/contents/VocabularyItemContent.tsx
  app/src/presentation/hooks/useVocabulary.ts
Due: ðŸ§© webapp

fix(4501): Conditionally render add language button based on max tandems
  app/src/presentation/components/contents/LearningContent.tsx
Due: ðŸ§© webapp

✨ fix(4507): Enhance activity PDF download with dynamic filename generation
  app/src/domain/interfaces/activity/GetActivityPdfUsecase.interface.ts
  app/src/domain/usecases/activity/GetActivityPdfUsecase.ts
  app/src/presentation/components/contents/activity/ActivityContent.tsx
Due: ðŸ§© webapp

fix(4502): Add tandem association for vocabulary list sharing
  app/src/presentation/components/contents/VocabularyContent.tsx
  app/src/presentation/components/contents/VocabularyItemContent.tsx
Due: ðŸ§© webapp

fix(4492): Add html-entities package and decode email subjects
  api/libs/common/src/mailer/mailer.service.ts
  api/package.json
  api/pnpm-lock.yaml
Due: ðŸ§© api

fix(4508): Use correct language code for learning language lookup
  api/src/core/usecases/vocabulary/create-vocabulary.usecase.ts
Due: ðŸ§© api

fix(4399-4496): Refine UI component styling and layout
  app/src/presentation/components/card/RessourcesCard.module.css
  app/src/presentation/components/card/RessourcesCard.tsx
  app/src/presentation/components/layout/Sidebar.module.css
  app/src/presentation/theme/button.css
Due: ðŸ§© webapp

fix(4506): Add activity status indicators for user-created activities
  app/src/presentation/components/card/ActivityCard.module.css
  app/src/presentation/components/card/ActivityCard.tsx
  app/src/presentation/components/contents/activity/ActivityContent.tsx
Due: ðŸ§© webapp

👌 fix: Fix type error
  app/src/presentation/components/contents/VocabularyItemContent.tsx
Due: ðŸ§© webapp

👌 fix: Add learning language id to payload
  app/src/domain/interfaces/log-entries/UpdateCustomLogEntryUsecase.interface.ts
  app/src/domain/usecases/log-entries/UpdateCustomLogEntryUsecase.ts
  app/src/presentation/components/contents/learning-book/LearningBookContainerContent.tsx
Due: ðŸ§© webapp

👌 fix: Set custom log entry content optional
  api/src/api/dtos/log-entry/update-custom-log-entry.request.ts
  api/src/core/models/log-entry.model.ts
  api/src/core/usecases/log-entry/create-or-update-log-entry.usecase.ts
  app/src/presentation/components/contents/learning-book/CreateOrUpdateCustomLogEntryContent.tsx
  app/src/presentation/components/contents/learning-book/LearningBookContainerContent.tsx
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Remove connection log entry
  api/src/core/models/log-entry.model.ts
  api/src/core/usecases/log-entry/create-or-update-log-entry.usecase.ts
  app/src/App.tsx
  app/src/command/LogEntryCommand.ts
  app/src/domain/entities/LogEntry.ts
  app/src/domain/usecases/log-entries/GetLogEntriesByDateUsecase.ts
  app/src/presentation/components/card/LogEntryCard.tsx
  app/src/store/store.ts
  app/src/store/storeTypes.ts
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Add function to in memory message
  chat/src/providers/persistance/repositories/in-memory-message.repository.ts
Due: ðŸ§© chat

👌 fix: Remove log entry connection to mapper
  api/src/providers/persistance/mappers/log-entry.mapper.ts
  api/src/providers/persistance/repositories/prisma-log-entry-repository.ts
Due: ðŸ§© api

👌 fix: Refactor logique for vocabulariesWithoutProunonciation
  app/src/presentation/components/contents/VocabularyItemContent.tsx
Due: ðŸ§© webapp

👌 fix: Add filters on mobile + set language filter initially only once
  app/src/presentation/components/contents/activity/ActivitiesContainerContent.tsx
  app/src/presentation/components/contents/activity/ActivitiesContent.tsx
  app/src/presentation/pages/LearningPage.tsx
  app/src/presentation/pages/mobile/ActivitiesPage.tsx
Due: ðŸ§© webapp

✨ feat: Add background color and border to date picker
  admin/src/theme/theme.ts
Due: ðŸ§© admin

👌 fix: Get user university on get news usecase
  api/src/core/usecases/news/get-news.usecase.ts
Due: ðŸ§© api

👌 fix: Remove learning languages from activity language dropdown
  app/src/presentation/hooks/useGetDataForActivityCreation.ts
Due: ðŸ§© webapp

✨ feat: Add publish button when activity is rejected
  admin/src/pages/activities/show.tsx
Due: ðŸ§© admin

👌 fix: Avoid update when there is a pair in vocabulary list
  app/src/presentation/components/contents/VocabularyItemContent.tsx
Due: ðŸ§© webapp

👌 fix: Update vocabulary list on create/delete vocabulary
  app/src/domain/entities/VocabularyList.ts
  app/src/presentation/components/contents/VocabularyItemContent.tsx
  app/src/presentation/hooks/useVocabulary.ts
Due: ðŸ§© webapp

👌 fix: Add word-wrap to activity description
  admin/src/pages/activities/show.tsx
Due: ðŸ§© admin

👌 fix: Add url checker on activity creation
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/contents/activity/CreateActivityInformationsContent.tsx
  app/src/presentation/utils.ts
Due: ðŸ§© webapp

✨ feat: Avoir image deletion on pdf upload
  api/src/core/ports/media-object.repository.ts
  api/src/core/usecases/media/upload-image-activity.usecase.ts
  api/src/core/usecases/media/upload-media-activity.usecase.ts
  api/src/providers/persistance/repositories/prisma-media-object-repository.ts
  app/src/command/ActivityCommand.ts
  app/src/domain/usecases/activity/UpdateActivityUsecase.ts
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Add loader when sending activity + handle og url when update
  api/src/core/usecases/activity/update-activity.usecase.ts
  app/src/presentation/components/contents/activity/ActivityContent.tsx
  app/src/presentation/components/contents/activity/CreateActivityVocabularyContent.module.css
  app/src/presentation/components/contents/activity/CreateActivityVocabularyContent.tsx
  app/src/presentation/components/contents/activity/CreateOrUpdateActivityContent.tsx
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Back office ressource display
  admin/src/pages/activities/show.tsx
Due: ðŸ§© admin

👌 fix: Hide create learning language button if max tandem reached
  app/src/presentation/components/contents/LearningContent.tsx
Due: ðŸ§© webapp

👌 fix: Add cta to missing translation
  app/src/presentation/components/contents/VocabularyItemContent.tsx
Due: ðŸ§© webapp

👌 fix: Update languages available for event from
  admin/src/components/form/EventForm.tsx
  admin/src/components/form/useGetLanguages.tsx
  admin/src/queries/LanguagesQuery.ts
Due: ðŸ§© admin

👌 fix: Reduce activity description size by characters
  app/src/presentation/components/card/ActivityCard.tsx
Due: ðŸ§© webapp

✨ feat: Handle webapp on mobile for subscription
  app/src/presentation/components/contents/QuizzContent.tsx
  app/src/presentation/components/forms/Form.module.css
  app/src/presentation/components/forms/LoginForm.tsx
  app/src/presentation/pages/PairingConfirmLanguagePage.tsx
  app/src/presentation/pages/PairingFinalPage.tsx
  app/src/presentation/pages/PairingLanguagesPage.tsx
  app/src/presentation/pages/PairingLevelPage.tsx
  app/src/presentation/pages/PairingLevelStartPage.tsx
  app/src/presentation/pages/PairingOptionsPage.tsx
  app/src/presentation/pages/PairingOtherLanguageSelectedPage.tsx
  app/src/presentation/pages/PairingOtherLanguagesPage.tsx
  app/src/presentation/pages/PairingPedagogyPage.tsx
  app/src/presentation/pages/PairingPreferencePage.tsx
  app/src/presentation/pages/PairingQuizzEndPage.tsx
  app/src/presentation/pages/PairingQuizzIntroductionPage.tsx
  app/src/presentation/pages/PairingSelectCEFRPage.tsx
  app/src/presentation/pages/PairingUnavailableLanguagePage.tsx
  app/src/presentation/pages/QuizzPage.tsx
  app/src/presentation/pages/SignUpAvailabilitiesPage.tsx
  app/src/presentation/pages/SignUpBiographyPage.tsx
  app/src/presentation/pages/SignUpFrequencyPage.tsx
  app/src/presentation/pages/SignUpGoalsPage.tsx
  app/src/presentation/pages/SignUpInformationsPage.tsx
  app/src/presentation/pages/SignUpInterestsPage.tsx
  app/src/presentation/pages/SignUpLanguagesPage.tsx
  app/src/presentation/pages/SignUpPage.tsx
  app/src/presentation/pages/css/SignUp.module.css
Due: ðŸ§© webapp

✨ feat: Add report chips on tandem page
  admin/src/pages/profiles-with-tandems-profiles/list/index.tsx
  admin/src/pages/profiles-with-tandems-profiles/ui/ProfileTandemLink.tsx
Due: ðŸ§© admin

👌 fix: Handle reported message url like text in report view
  app/src/presentation/components/chat/MediaComponent.tsx
  app/src/presentation/components/contents/ViewReportContent.tsx
  app/src/presentation/components/reports/ReportDetail.tsx
Due: ðŸ§© webapp

👌 fix: Extract url if there is a message with it
  app/src/presentation/components/reports/ReportDetail.tsx
Due: ðŸ§© webapp

👌 fix: Set current learning language on mobile
  app/src/presentation/pages/mobile/ActivitiesPage.tsx
Due: ðŸ§© webapp

👌 fix: Remove Session IonPage for mobile that prevent keyboard to move views
  app/src/presentation/components/contents/SessionFormContent.tsx
  app/src/presentation/components/contents/SessionListContent.tsx
Due: ðŸ§© webapp

👌 fix: Use Intl rather than formatInTimeZone
  api/src/core/services/CronService.ts
  api/src/core/usecases/session/create-session.usecase.ts
  api/src/core/usecases/session/update-session.usecase.ts
Due: ðŸ§© api
