Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© auth ul theme, ðŸ§© webapp, ðŸ§© chat

ðŸ§© admin:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    LINT: enabled

ðŸ§© api init:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init

ðŸ§© api:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    LINT: enabled
    TEST: enabled

ðŸ§© auth ul theme:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: '1.0'

ðŸ§© webapp:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp

ðŸ§© chat:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat

Feat: divisions fetched from university users and corresponding filter added for tandem list
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/profiles-with-tandems-profiles/list/index.tsx
  admin/src/providers/customDataProvider.ts
  admin/src/queries/ProfilesWithTandemsQuery.ts
  api/src/api/controllers/profile.controller.ts
  api/src/api/controllers/university.controller.ts
  api/src/api/dtos/profiles/profiles-with-tandems-filters.ts
  api/src/core/core.module.ts
  api/src/core/ports/profile.repository.ts
  api/src/core/ports/user.repository.ts
  api/src/core/usecases/university/get-university-divisions.usecase.ts
  api/src/core/usecases/university/index.ts
  api/src/providers/persistance/repositories/in-memory-user-repository.ts
  api/src/providers/persistance/repositories/prisma-profile-repository.ts
  api/src/providers/persistance/repositories/prisma-user.repository.ts
  api/test/usecases/universities/GetUniversityDivisions.spec.ts
Due: ðŸ§© admin, ðŸ§© api

✨ feat: add pdf conversion on vocabulary list
  api/package.json
  api/pnpm-lock.yaml
  api/src/api/controllers/vocabulary.controller.ts
  api/src/core/core.module.ts
  api/src/core/ports/pdf.service.ts
  api/src/core/usecases/vocabulary/get-vocabulary-list-pdf.usecase.ts
  api/src/core/usecases/vocabulary/index.ts
  api/src/providers/persistance/repositories/prisma-vocabulary-repository.ts
  api/src/providers/providers.module.ts
  api/src/providers/services/pdf.service.ts
  app/src/adapter/BaseHttpAdapter.ts
  app/src/adapter/FileAdapter.ts
  app/src/adapter/interfaces/FileAdapter.interface.ts
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/interfaces/vocabulary/GetVocabularyListPdfUsecase.interface.ts
  app/src/domain/usecases/vocabulary/GetVocabularyListPdfUsecase.ts
  app/src/presentation/components/contents/CreateOrUpdateVocabularyContent.tsx
  app/src/presentation/components/contents/VocabularyContent.tsx
  app/src/presentation/components/modals/AddVocabularyListModal.tsx
  app/src/presentation/components/modals/ShareVocabularyListModale.tsx
  app/src/presentation/theme/button.css
  app/src/presentation/theme/margin.css
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: fix tsc
  app/src/presentation/components/card/MyUniversityCard.tsx
Due: ðŸ§© webapp

Fix: Swagger route wording
  api/src/api/controllers/university.controller.ts
Due: ðŸ§© api

👌 fix: Fix lint api
  api/src/providers/services/pdf.service.ts
Due: ðŸ§© api

👌 fix: Change how we display avatar on app chat
  app/src/presentation/components/NetworkImage.tsx
  app/src/presentation/components/chat/ConversationLine.tsx
Due: ðŸ§© webapp

✨ feat: Add loader and fix tsx
  app/src/presentation/components/card/MyUniversityCard.tsx
  app/src/presentation/components/contents/LearningContent.module.css
  app/src/presentation/components/contents/LearningContent.tsx
Due: ðŸ§© webapp

✨ feat: Add border to radio button and change poppover for alert on ios
  app/src/presentation/components/DropDown.tsx
  app/src/presentation/components/forms/LoginForm.tsx
  app/src/presentation/theme/global.css
Due: ðŸ§© webapp

👌 fix: Change Socket context to avoid refresh socket connection
  app/src/App.tsx
  app/src/context/ConfigurationContext.tsx
  app/src/context/SocketContext.tsx
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/context/getSocketContextValue.ts
  app/src/context/socketContextType.ts
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/hooks/useHandleMessagesFromConversation.ts
Due: ðŸ§© webapp

✨ feat: Add email sender on report / report message + update icon on sidebar
  api/src/api/controllers/report.controller.ts
  api/src/api/dtos/reports/index.ts
  api/src/core/ports/email.gateway.ts
  api/src/core/usecases/interest/create-interest.usecase.ts
  api/src/core/usecases/report/create-report-message.usecase.ts
  api/src/core/usecases/report/create-report.usecase.ts
  api/src/providers/gateway/in-memory-email.gateway.ts
  api/src/providers/gateway/smtp-email.gateway.ts
  app/src/domain/interfaces/CreateReportMessageUsecase.interface.ts
  app/src/domain/usecases/CreateReportMessageUsecase.ts
  app/src/presentation/components/chat/MessageComponent.tsx
  app/src/presentation/components/layout/Sidebar.tsx
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: add Segoe UI Emoji to handle flag
  app/src/presentation/components/DropDown.module.css
Due: ðŸ§© webapp

fix(api): CI tests fail with timeout
  api/test/specs/countries.spec.ts
  api/test/specs/interests.spec.ts
  api/test/specs/proficiency.spec.ts
Due: ðŸ§© api

fix(api): Upgrade jest
  api/package.json
Due: ðŸ§© api

fix(api): Fix package lock
  api/package.json
  api/pnpm-lock.yaml
Due: ðŸ§© api

✨ feat: Create activity tables + seeds
  api/libs/common/src/database/migrations/20240916124010_create_activities_models/migration.sql
  api/libs/common/src/database/schema.prisma
  api/libs/common/src/database/seeds/activity.ts
  api/libs/common/src/database/seeds/index.ts
Due: ðŸ§© api init, ðŸ§© api

fix(app): Fix accessibility detail for the homepage
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/contents/LearningContent.tsx
Due: ðŸ§© webapp

fix(app): Add Jitsi URL by instance
  app/.env.exemple
  app/src/App.tsx
  app/src/presentation/components/Jitsi/JitsiMobile.tsx
  app/src/presentation/components/Jitsi/JitsiWeb.tsx
  app/src/presentation/components/Jitsi/VisioContainer.tsx
  app/src/presentation/pages/mobile/InstancesPage.tsx
  app/src/store/store.ts
  app/src/store/storeTypes.ts
Due: ðŸ§© webapp

fix(app): env jitsi
  app/src/presentation/components/Jitsi/VisioContainer.tsx
Due: ðŸ§© webapp

✨ feat: Add workflow to create activity
  api/libs/common/src/database/migrations/20240917074739_add_activity_models/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/api.module.ts
  api/src/api/controllers/activity.controller.ts
  api/src/api/dtos/activity/activity.response.ts
  api/src/api/dtos/activity/create-activity.request.ts
  api/src/api/dtos/activity/index.ts
  api/src/api/dtos/index.ts
  api/src/core/core.module.ts
  api/src/core/models/activity.model.ts
  api/src/core/ports/activity.repository.ts
  api/src/core/usecases/activity/create-activity.usecase.ts
  api/src/core/usecases/activity/index.ts
  api/src/core/usecases/index.ts
  api/src/providers/persistance/mappers/activity.mapper.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
  api/src/providers/providers.module.ts
Due: ðŸ§© api init, ðŸ§© api

hotfix(devops): Bump versions for all PR based on main
  .github/workflows/bump_version.yml
Due: none

fix ref bump versions
  .github/workflows/bump_version.yml
Due: none

fix bump versions #2
  .github/workflows/bump_version.yml
Due: none

fix(api): Import express dependency
  api/package.json
  api/pnpm-lock.yaml
  api/src/api/controllers/export.controller.ts
  api/src/api/controllers/security.controller.ts
  api/src/api/controllers/vocabulary.controller.ts
Due: ðŸ§© api

✨ feat: Add create activity with vocabularies upload, image upload and ressource upload
  api/libs/common/src/database/migrations/20240918082250_add_activity_models/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/controllers/activity.controller.ts
  api/src/api/controllers/user.controller.ts
  api/src/api/dtos/activity/activity.response.ts
  api/src/api/dtos/activity/create-activity.request.ts
  api/src/core/core.module.ts
  api/src/core/models/activity.model.ts
  api/src/core/models/media.model.ts
  api/src/core/ports/activity.repository.ts
  api/src/core/ports/media-object.repository.ts
  api/src/core/usecases/activity/create-activity.usecase.ts
  api/src/core/usecases/activity/get-activity.usecase.ts
  api/src/core/usecases/activity/get-all-activity-themes.usecase.ts
  api/src/core/usecases/activity/index.ts
  api/src/core/usecases/media/index.ts
  api/src/core/usecases/media/upload-audio-vocabulary-activity.usecase.ts
  api/src/core/usecases/media/upload-avatar.usecase.ts
  api/src/core/usecases/media/upload-image-activity.usecase.ts
  api/src/core/usecases/media/upload-media-activity.usecase.ts
  api/src/core/usecases/media/upload-objective-image.usecase.ts
  api/src/core/usecases/media/upload-university-image.usecase.ts
  api/src/providers/persistance/mappers/activity.mapper.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
  api/src/providers/persistance/repositories/prisma-media-object-repository.ts
Due: ðŸ§© api init, ðŸ§© api

✨ feat: Add CRUD of theme category
  api/libs/common/src/database/migrations/20240918123642_add_activity_models/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/controllers/activity.controller.ts
  api/src/api/dtos/activity/create-activity-theme-category.request.ts
  api/src/api/dtos/activity/index.ts
  api/src/api/dtos/activity/update-activity-theme-category.request.ts
  api/src/core/core.module.ts
  api/src/core/ports/activity.repository.ts
  api/src/core/usecases/activity/create-activity-theme-category.usecase.ts
  api/src/core/usecases/activity/delete-activity-theme-category.usecase.ts
  api/src/core/usecases/activity/index.ts
  api/src/core/usecases/activity/update-activity-theme-category.usecase.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
Due: ðŸ§© api init, ðŸ§© api

✨ feat: Add CRUD of theme
  api/src/api/controllers/activity.controller.ts
  api/src/api/dtos/activity/create-activity-theme.request.ts
  api/src/api/dtos/activity/index.ts
  api/src/api/dtos/activity/update-activity-theme.request.ts
  api/src/core/core.module.ts
  api/src/core/ports/activity.repository.ts
  api/src/core/usecases/activity/create-activity-theme.usecase.ts
  api/src/core/usecases/activity/delete-activity-theme.usecase.ts
  api/src/core/usecases/activity/index.ts
  api/src/core/usecases/activity/update-activity-theme.usecase.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
Due: ðŸ§© api

👌 fix: Change jitsi env variable name on app mobile + helm
  app/src/store/store.ts
  helm/project/templates/webapp/deployment-webapp.yaml
Due: ðŸ§© webapp

✨ feat: Add get all activities with filters and pagination
  api/src/api/controllers/activity.controller.ts
  api/src/api/dtos/activity/activity.response.ts
  api/src/api/dtos/activity/get-activities.request.ts
  api/src/api/dtos/activity/index.ts
  api/src/core/core.module.ts
  api/src/core/ports/activity.repository.ts
  api/src/core/usecases/activity/get-all-activities.usecase.ts
  api/src/core/usecases/activity/index.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
Due: ðŸ§© api

✨ feat: Add delete activity
  api/src/api/controllers/activity.controller.ts
  api/src/core/core.module.ts
  api/src/core/ports/activity.repository.ts
  api/src/core/usecases/activity/delete-activity.usecase.ts
  api/src/core/usecases/activity/index.ts
  api/src/core/usecases/media/delete-audio-vocabulary-activity.usecase.ts
  api/src/core/usecases/media/delete-image-activity.usecase.ts
  api/src/core/usecases/media/delete-media-activity.usecase.ts
  api/src/core/usecases/media/index.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
Due: ðŸ§© api

👌 fix: Fix types
  api/src/api/controllers/activity.controller.ts
  api/src/core/usecases/media/upload-university-image.usecase.ts
Due: ðŸ§© api

✨ feat: Add createActivityUsecase in contect + create all activities class
  app/src/command/ActivityCommand.ts
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/entities/Activity.ts
  app/src/domain/interfaces/activity/CreateActivityUsecase.interface.ts
  app/src/domain/usecases/activity/CreateActivityUsecase.ts
Due: ðŸ§© webapp

Fix: division filter now only apply to equal values
  api/src/providers/persistance/repositories/prisma-profile-repository.ts
Due: ðŸ§© api

Feat: learning Type added to Tandem and corresponding filter added
  admin/src/entities/Tandem.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/profiles-with-tandems-profiles/list/index.tsx
  admin/src/queries/ProfilesWithTandemsQuery.ts
  api/libs/common/src/database/migrations/20240911134148_add_learningtype_in_tandem_table/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/controllers/profile.controller.ts
  api/src/api/dtos/profiles/profiles-with-tandems-filters.ts
  api/src/api/dtos/tandems/tandem-with-patner-learning-language.response.ts
  api/src/api/dtos/tandems/tandem.response.ts
  api/src/core/models/learning-language.model.ts
  api/src/core/models/matchs.model.ts
  api/src/core/models/tandem.model.ts
  api/src/core/models/tandemWithPartnerLearningLanguage.model.ts
  api/src/core/ports/profile.repository.ts
  api/src/core/usecases/tandem/create-tandem.usecase.ts
  api/src/core/usecases/tandem/generate-tandems.usecase.ts
  api/src/providers/persistance/mappers/learningLanguage.mapper.ts
  api/src/providers/persistance/mappers/tandem.mapper.ts
  api/src/providers/persistance/mappers/tandemWithPartnerLearningLanguage.mapper.ts
  api/src/providers/persistance/repositories/prisma-profile-repository.ts
  api/src/providers/persistance/repositories/prisma-tandem-repository.ts
  api/test/unit/CronService.spec.ts
  api/test/usecases/tandems/GenerateTandems.spec.ts
Due: ðŸ§© admin, ðŸ§© api init, ðŸ§© api

✨ feat: Add workflow to create activity
  api/src/api/controllers/activity.controller.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/adapter/BaseHttpAdapter.ts
  app/src/adapter/FileAdapter.ts
  app/src/adapter/interfaces/FileAdapter.interface.ts
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/interfaces/activity/CreateActivityUsecase.interface.ts
  app/src/domain/interfaces/activity/GetActivityThemesUsecase.interface.ts
  app/src/domain/usecases/activity/CreateActivityUsecase.ts
  app/src/domain/usecases/activity/GetActivityThemesUsecase.ts
  app/src/presentation/components/contents/LearningContent.tsx
  app/src/presentation/components/contents/activity/ActivitiesContent.module.css
  app/src/presentation/components/contents/activity/ActivitiesContent.tsx
  app/src/presentation/components/contents/activity/CreateActivityContent.tsx
  app/src/presentation/components/contents/activity/CreateActivityExcerciseContent.module.css
  app/src/presentation/components/contents/activity/CreateActivityExcerciseContent.tsx
  app/src/presentation/components/contents/activity/CreateActivityInformationsContent.module.css
  app/src/presentation/components/contents/activity/CreateActivityInformationsContent.tsx
  app/src/presentation/components/contents/activity/CreateActivitySuccessContent.module.css
  app/src/presentation/components/contents/activity/CreateActivitySuccessContent.tsx
  app/src/presentation/components/contents/activity/CreateActivityVocabularyContent.module.css
  app/src/presentation/components/contents/activity/CreateActivityVocabularyContent.tsx
  app/src/presentation/components/modals/ActivitiesContentModale.tsx
  app/src/presentation/hooks/useGetDataForActivityCreation.ts
  app/src/presentation/pages/LearningPage.tsx
  app/src/presentation/pages/mobile/ActivitiesPage.tsx
  app/src/presentation/router/Router.tsx
  app/src/presentation/theme/button.css
  app/src/presentation/theme/global.css
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Fix type issue
  app/src/presentation/components/chat/ChatInputSender.tsx
Due: ðŸ§© webapp

Fix: remove unused comment
  admin/src/pages/profiles-with-tandems-profiles/list/index.tsx
Due: ðŸ§© admin

✨ feat: Return og link for ressource url
  api/libs/common/src/database/migrations/20240923145125_add_metadata_on_activity/migration.sql
  api/libs/common/src/database/schema.prisma
  api/package.json
  api/pnpm-lock.yaml
  api/src/api/dtos/activity/activity.response.ts
  api/src/api/dtos/chat/message.response.ts
  api/src/core/models/activity.model.ts
  api/src/core/ports/activity.repository.ts
  api/src/core/usecases/activity/create-activity.usecase.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
  app/src/command/ActivityCommand.ts
  app/src/domain/entities/Activity.ts
Due: ðŸ§© api init, ðŸ§© api, ðŸ§© webapp

hotfix(app): Fix i18n instance
  app/src/App.tsx
  app/src/i18n.ts
  app/src/main.tsx
  app/src/presentation/hooks/useFetchI18NBackend.ts
Due: ðŸ§© webapp

Path conditions:
  ðŸ§© admin: any of: admin/**/*
  ðŸ§© api init: any of: api/libs/common/src/database/**/*
  ðŸ§© api: any of: api/**/*
  ðŸ§© auth ul theme: any of: docker/keycloak/**/*
  ðŸ§© webapp: any of: app/**/*
  ðŸ§© chat: any of: chat/**/*
