Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© auth ul theme, ðŸ§© webapp, ðŸ§© chat

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" ||  $CI_COMMIT_BRANCH == "ci" # Supprimer ci

stages:
  - packages

# CI de package
.package ci:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend

# CI de l'admin
ðŸ§© admin:
  extends: .package ci
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    # DOCKER_TARGET: admin_prod # GÃ©nÃ¨re une erreur : ERR_PNPM_BROKEN_LOCKFILEâ€‰ The lockfile at "/srv/app/pnpm-lock.yaml" is broken: duplicated mapping key (1755:3)
    LINT: enabled
  rules:
    - changes:
        - admin/**/*

# CI de l'initialisation API
ðŸ§© api init:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init
  rules:
    - changes:
        - api/libs/common/src/database/**/*

# CI de l'API
ðŸ§© api:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    # DOCKER_TARGET: api_prod
    LINT: enabled
    TEST: enabled
  rules:
    - changes:
        - api/**/*

# CI du thÃ¨me UL Keycloak
ðŸ§© auth ul theme:
  extends: .package ci
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: "1.0"
  rules:
    - changes:
        - docker/keycloak/**/*

# CI de la webapp
ðŸ§© webapp:
  extends: .package ci
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp
  rules:
    - changes:
        - app/**/*

# CI du chat
ðŸ§© chat:
  extends: .package ci
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat
  rules:
    - changes:
        - chat/**/*

fix: mise à jour de la version dans le fichier package.json
  app/package.json
Due: ðŸ§© webapp

✨ feat: Ajout de nouvelles traductions et amélioration des filtres de recherche
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/SearchAndFilter.tsx
  app/src/presentation/components/contents/activity/ActivitiesContent.tsx
  app/src/presentation/components/contents/events/EventsContent.tsx
  app/src/presentation/components/contents/events/EventsListContent.tsx
  app/src/presentation/components/contents/news/NewsListContent.tsx
Due: ðŸ§© webapp

remove console.log
  api/src/core/usecases/log-entry/share-log-entries-for-research.usecase.ts
Due: ðŸ§© api

new error throwing
  api/src/core/usecases/log-entry/share-log-entries-for-research.usecase.ts
Due: ðŸ§© api

✨ feat: Add button to close reports in progress
  app/src/presentation/components/contents/ViewReportContent.tsx
Due: ðŸ§© webapp

use good args in domain error
  api/src/core/usecases/log-entry/share-log-entries-for-research.usecase.ts
Due: ðŸ§© api

✨ feat: Update PDF generation and vocabulary list export
  api/src/providers/services/pdf.service.ts
  app/src/presentation/components/contents/VocabularyItemContent.tsx
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Update log export filename formatting
  app/src/presentation/components/contents/learning-book/LearningBookContainerContent.tsx
Due: ðŸ§© webapp

✨ feat: Update report status to 'TREATED' and add corresponding translations
  admin/src/entities/Report.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  api/src/core/models/report.model.ts
  app/src/domain/entities/Report.ts
  app/src/presentation/components/contents/ViewReportContent.tsx
  app/src/presentation/components/reports/ReportStatusTag.tsx
Due: ðŸ§© admin, ðŸ§© api, ðŸ§© webapp

✨ feat: Update French translations for report statuses and add 'Treated' status
  app/public/locales/fr/translation.json
Due: ðŸ§© webapp

✨ feat: Enhance language selection and vocabulary modal behavior
  app/src/presentation/components/contents/SelectLanguageContent.tsx
  app/src/presentation/components/modals/NewVocabularyMenuModal.tsx
Due: ðŸ§© webapp

✨ feat: Ensure valid resource URLs by adding 'https://' prefix for non-http links
  app/src/presentation/components/contents/activity/ActivityContent.tsx
Due: ðŸ§© webapp

✨ feat: Increase maximum comment length in SessionForm from 100 to 250 characters
  app/src/presentation/components/sessions/SessionForm.tsx
Due: ðŸ§© webapp

✨ feat: Update export filename formatting to replace spaces with hyphens in user names
  app/src/presentation/components/contents/ChatContent.tsx
Due: ðŸ§© webapp

✨ feat: Update export filename formatting to replace spaces with underscores in user names
  app/src/presentation/components/contents/ChatContent.tsx
Due: ðŸ§© webapp

✨ feat: Improve layout and styling in HomeContent, EventLine, and NewsLine components
  app/src/presentation/components/contents/HomeContent.tsx
  app/src/presentation/components/events/EventLine.module.css
  app/src/presentation/components/news/NewsLine.module.css
  app/src/presentation/theme/global.css
Due: ðŸ§© webapp

✨ feat: Ajout de la gestion des vidéos dans le formulaire Edito
  admin/src/components/form/EditoForm.tsx
  admin/src/entities/Edito.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/editos/edit.tsx
  api/libs/common/src/database/migrations/20250328135321_add_video_text_content_id/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/dtos/editos/edito.response.ts
  api/src/api/dtos/editos/update-edito.request.ts
  api/src/core/models/edito.model.ts
  api/src/core/ports/edito.repository.ts
  api/src/core/usecases/edito/update-edito.usecase.ts
  api/src/core/usecases/instance/update-instance.usecase.ts
  api/src/providers/persistance/mappers/edito.mapper.ts
  api/src/providers/persistance/mappers/events.mapper.ts
  api/src/providers/persistance/repositories/in-memory-edito-repository.ts
  api/src/providers/persistance/repositories/prisma-edito-repository.ts
  app/src/command/EditoCommand.ts
  app/src/domain/entities/Edito.ts
  app/src/presentation/components/contents/EditoContent.tsx
Due: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© webapp

hotfix: fix dockerfile syntax
  admin/Dockerfile
  api/Dockerfile
  chat/Dockerfile
Due: ðŸ§© admin, ðŸ§© api, ðŸ§© chat

hotfix: pnpm lock file fix
  admin/pnpm-lock.yaml
  api/pnpm-lock.yaml
Due: ðŸ§© admin, ðŸ§© api

hotfix: mise à jour de la version du lockfile pnpm de 9.0 à 10.7.0 pour les fichiers admin et api
  admin/pnpm-lock.yaml
  api/pnpm-lock.yaml
Due: ðŸ§© admin, ðŸ§© api

hotfix: retour à la version 9.0 du lockfile pnpm pour les fichiers admin et api, mise à jour des dépendances et corrections de versions
  admin/pnpm-lock.yaml
  api/pnpm-lock.yaml
Due: ðŸ§© admin, ðŸ§© api

hotfix: mise à jour de la version de pnpm à 10.7.0 et ajout de messages de dépréciation pour plusieurs paquets dans le fichier pnpm-lock.yaml
  .circleci/config.yml
  admin/pnpm-lock.yaml
Due: ðŸ§© admin

hotfix: ajout de l'installation de pnpm à la version 10.7.0 pour les jobs api et admin dans le fichier de configuration CircleCI
  .circleci/config.yml
Due: none

hotfix: ajout de sudo pour l'installation de pnpm à la version 10.7.0 dans les jobs api et admin du fichier de configuration CircleCI
  .circleci/config.yml
Due: none

fix: update TandemStatus conditions to excluse PAUSED state in PrismaLearningLanguageRepository
  api/src/providers/persistance/repositories/prisma-learning-language-repository.ts
Due: ðŸ§© api

refactor: rename ownerId to userId in CreateVocabularyCommand and update related logic in VocabularyController and CreateVocabularyUsecase
  api/src/api/controllers/vocabulary.controller.ts
  api/src/core/usecases/vocabulary/create-vocabulary.usecase.ts
Due: ðŸ§© api

chore: remove debug console logs from CreateVocabularyUsecase
  api/src/core/usecases/vocabulary/create-vocabulary.usecase.ts
Due: ðŸ§© api

feat: add 'next screen' button translation in English and French for activity creation
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/contents/activity/CreateActivityInformationsContent.tsx
Due: ðŸ§© webapp

feat: add validation for past dates in session form and update French translations
  app/public/locales/fr/translation.json
  app/src/presentation/components/sessions/SessionForm.tsx
Due: ðŸ§© webapp

ops: change package-ci as asked
  .gitlab-ci/package-ci.yml
Due: none

✨ refactor: simplification de la validation des URL de vidéo dans le formulaire Edito. Utilisation de la méthode some pour vérifier la validité des URL.
  admin/src/components/form/EditoForm.tsx
Due: ðŸ§© admin

doc: update values template
  helm/project/values.yaml.tmp
Due: none

refactor: Enhance sidebar and bottom bar visibility based on learning languages
  app/android/app/src/main/AndroidManifest.xml
  app/src/presentation/components/contents/LearningContent.tsx
  app/src/presentation/components/layout/Sidebar.tsx
  app/src/presentation/router/BottomBar.tsx
Due: ðŸ§© webapp

fix: simplify event and news modal components, update close handlers to accept optional parameters, and adjust CSS styles for better layout
  app/src/presentation/components/contents/events/EventsContent.tsx
  app/src/presentation/components/contents/events/EventsListContent.tsx
  app/src/presentation/components/modals/EventsContentModal.tsx
  app/src/presentation/components/modals/NewsContentModal.tsx
  app/src/presentation/components/news/NewsLine.module.css
  app/src/presentation/components/news/NewsLine.tsx
  app/src/presentation/pages/HomePage.tsx
Due: ðŸ§© webapp

refactor: update EventLine component structure and styles for improved layout and spacing
  app/src/presentation/components/events/EventLine.module.css
  app/src/presentation/components/events/EventLine.tsx
Due: ðŸ§© webapp

fix: update resource URL validation logic in CreateActivityInformationsContent
  app/src/presentation/components/contents/activity/CreateActivityInformationsContent.tsx
Due: ðŸ§© webapp

refactor: update checkbox handling for LearningJournal and ConsultingInterview fields in certificate generation
  api/src/core/usecases/learningLanguage/generate-certificate.usecase.ts
Due: ðŸ§© api
