Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© auth ul theme, ðŸ§© webapp, ðŸ§© chat

ðŸ§© admin:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    LINT: enabled

ðŸ§© api init:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init

ðŸ§© api:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    LINT: enabled
    TEST: enabled

ðŸ§© auth ul theme:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: '1.0'

ðŸ§© webapp:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp

ðŸ§© chat:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat

✨ feat: Add popover for scores in best tandem
  admin/src/pages/profiles-with-tandems-profiles/show/LearningLanguageTabContent.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/PartnerCard.tsx
Due: ðŸ§© admin

👌 fix: Update code management for sign up
  api/src/api/dtos/universities/index.ts
  api/src/core/usecases/user/create-user.usecase.ts
  app/src/command/UniversityCommand.ts
  app/src/domain/entities/University.ts
  app/src/domain/usecases/CreateUserUsecase.ts
  app/src/presentation/pages/SignUpInformationsPage.tsx
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Change prisma schema and creation of a script that reset all lastActivity
  admin/src/pages/chat/list.tsx
  chat/libs/common/src/database/schema.prisma
  chat/package.json
  chat/scripts/reset-last-activity-conversations.ts
  chat/src/providers/persistance/repositories/prisma-conversation.repository.ts
Due: ðŸ§© admin, ðŸ§© chat

👌 fix: Send mail for admin when message sent
  api/src/core/usecases/notifications/send-message-notification.usecase.ts
Due: ðŸ§© api

✓ test: Fix mobile app test unit
  app/__tests__/domain/usecases/CreateUserUsecase.test.ts
  app/__tests__/domain/usecases/GetAllUniversitiesUsecase.test.ts
  app/__tests__/domain/usecases/GetPartnersToUniversityUsecase.test.ts
  app/__tests__/domain/usecases/GetUniversityUsecase.test.ts
  app/__tests__/fixtures/user.ts
Due: ðŸ§© webapp

👌 fix: Handle case where domains or codes are undefined
  api/src/api/dtos/universities/index.ts
Due: ðŸ§© api

👌 fix: Add blur on selected button in availability modal
  app/src/presentation/components/modals/AvailabilityModal.module.css
  app/src/presentation/components/modals/AvailabilityModal.tsx
  app/src/presentation/theme/margin.css
Due: ðŸ§© webapp

👌 fix: Add bold frequency buttons
  app/src/presentation/pages/SignUpFrequencyPage.tsx
  app/src/presentation/pages/css/SignUpFrequency.module.css
Due: ðŸ§© webapp

👌 fix: Update text input on forgot password page
  app/src/presentation/components/forms/ForgotPasswordForm.tsx
Due: ðŸ§© webapp

👌 fix: Open links cgu and confidentiality in new tab
  app/src/presentation/components/contents/SettingsContent.tsx
Due: ðŸ§© webapp

👌 fix: Refactor primary-selected-style + add it on site selection
  app/src/presentation/components/modals/AvailabilityModal.module.css
  app/src/presentation/components/modals/AvailabilityModal.tsx
  app/src/presentation/components/modals/SitesModal.tsx
  app/src/presentation/pages/SignUpFrequencyPage.tsx
  app/src/presentation/pages/css/SignUpFrequency.module.css
  app/src/presentation/theme/button.css
Due: ðŸ§© webapp

✨ feat: Add bold on level selection
  app/src/presentation/components/contents/QuizzSelectionContent.module.css
  app/src/presentation/components/contents/QuizzSelectionContent.tsx
Due: ðŸ§© webapp

✨ feat: Create a secondary selected button style
  app/src/presentation/components/contents/QuizzSelectionContent.tsx
  app/src/presentation/theme/button.css
Due: ðŸ§© webapp

👌 fix: Add bold on last sign up pages
  app/src/presentation/pages/PairingOptionsPage.tsx
  app/src/presentation/pages/PairingPreferencePage.tsx
  app/src/presentation/pages/css/PairingOptions.module.css
  app/src/presentation/pages/css/PairingPreference.module.css
Due: ðŸ§© webapp

✨ feat: Add frequency on tandem profile content
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/tandems/TandemProfile.tsx
Due: ðŸ§© webapp

👌 fix: Delete conversations when user banned/canceled
  api/src/core/usecases/user/update-user.usecase.ts
Due: ðŸ§© api

👌 fix: Send interests for update without old deleted ids
  app/src/presentation/pages/SignUpInterestsPage.tsx
Due: ðŸ§© webapp

👌 fix: Update null to undefined on reset activity script
  chat/scripts/reset-last-activity-conversations.ts
Due: ðŸ§© chat

👌 fix: Add security on _blank target link
  app/src/presentation/components/contents/SettingsContent.tsx
Due: ðŸ§© webapp

fix: link good language with good files
  helm/weblate/default_data/app_components.json
  helm/weblate/default_data/inject.sh
  helm/weblate/default_data/locales/init_git.sh
  helm/weblate/templates/weblate/configmap-weblate.yaml
Due: none

feat: add default bucket at helm minio creation
  helm/project/values.yaml.tmp
Due: none

feat: add default bucket to default values helm
  helm/project/values.yaml.tmp
Due: none

feat: add git in helm and default data
  helm/weblate/default_data/components.json
Due: none

doc: add comments to bash script files
  helm/project/default_data/inject.sh
  helm/project/default_data/locales/init_git.sh
Due: none

feat: add internal git for weblate feat: configure weblate at the first deployment feat: when a push is performed on git, its content is uploaded to minio
  helm/project/Chart.yaml
  helm/weblate/default_data/api_components.json
  helm/weblate/default_data/app_components.json
  helm/weblate/default_data/emails_components.json
  helm/weblate/default_data/inject.sh
  helm/weblate/default_data/locales/init_git.sh
  helm/weblate/default_data/notifications_components.json
  helm/weblate/templates/git/deployment-git.yaml
  helm/weblate/templates/git/postinstall-git.yaml
  helm/weblate/templates/git/secret-git.yaml
  helm/weblate/templates/weblate/deployment-weblate.yaml
  helm/weblate/templates/weblate/postinstall-weblate.yaml
  helm/weblate/templates/weblate/secret-weblate.yaml
Due: none

feat: add git in helm and default data
  docker/weblate-git/Dockerfile
  helm/weblate/Chart.lock
  helm/weblate/Chart.yaml
  helm/weblate/default_data/api_components.json
  helm/weblate/default_data/app_components.json
  helm/weblate/default_data/components.json
  helm/weblate/default_data/emails_components.json
  helm/weblate/default_data/inject.sh
  helm/weblate/default_data/locales/README.md
  helm/weblate/default_data/locales/de/translation.json
  helm/weblate/default_data/locales/en/api.json
  helm/weblate/default_data/locales/en/emails.json
  helm/weblate/default_data/locales/en/notifications.json
  helm/weblate/default_data/locales/en/translation.json
  helm/weblate/default_data/locales/es/translation.json
  helm/weblate/default_data/locales/fr/api.json
  helm/weblate/default_data/locales/fr/emails.json
  helm/weblate/default_data/locales/fr/notifications.json
  helm/weblate/default_data/locales/fr/translation.json
  helm/weblate/default_data/locales/init_git.sh
  helm/weblate/default_data/locales/zh/emails.json
  helm/weblate/default_data/locales/zh/translation.json
  helm/weblate/default_data/notifications_components.json
  helm/weblate/templates/git/configmap-de-git.yaml
  helm/weblate/templates/git/configmap-en-git.yaml
  helm/weblate/templates/git/configmap-es-git.yaml
  helm/weblate/templates/git/configmap-fr-git.yaml
  helm/weblate/templates/git/configmap-git.yaml
  helm/weblate/templates/git/configmap-zh-git.yaml
  helm/weblate/templates/git/deployment-git.yaml
  helm/weblate/templates/git/postinstall-git.yaml
  helm/weblate/templates/git/pvc-git-ssh.yaml
  helm/weblate/templates/git/pvc-git.yaml
  helm/weblate/templates/git/service-git.yaml
  helm/weblate/templates/weblate/configmap-weblate.yaml
  helm/weblate/templates/weblate/deployment-weblate.yaml
  helm/weblate/templates/weblate/postinstall-weblate.yaml
Due: none

ci: add default to data to minio and weblate
  helm/weblate/default_data/components.json
Due: none

feat: expose git to world \o/
  helm/weblate/default_data/locales/init_git.sh
  helm/weblate/templates/git/deployment-git.yaml
  helm/weblate/templates/git/ingress-git.yaml
  helm/weblate/templates/git/service-git.yaml
Due: none

log: add log into inject.sh fix: comment trying of ssh in init git feat: add sessionAffinity in chat fix: launch init git after ssh listenning
  helm/project/default_data/inject.sh
  helm/project/default_data/locales/init_git.sh
  helm/project/templates/chat/service-chat.yaml
  helm/project/templates/git/deployment-git.yaml
Due: none

ci: add default to data to minio and weblate
  helm/project/templates/admin/ingress-admin.yaml
  helm/project/templates/api/ingress-api.yaml
  helm/project/templates/auth/ingress-auth.yaml
  helm/project/templates/webapp/ingress-webapp.yaml
  helm/weblate/default_data/components.json
  helm/weblate/default_data/inject.sh
  helm/weblate/default_data/projects.json
  helm/weblate/templates/weblate/configmap-weblate.yaml
  helm/weblate/templates/weblate/deployment-weblate.yaml
  helm/weblate/templates/weblate/postinstall-weblate.yaml
Due: none

doc: update values template
  helm/project/values.yaml.tmp
Due: none

fix: fix url for chat's redis
  helm/project/templates/chat/secret-chat.yaml
Due: none

fix(admin): Change env config path
  admin/public/env/config.js
  admin/public/index.html
  helm/project/templates/admin/deployment-admin.yaml
Due: ðŸ§© admin

fix: cp config.js to build
  helm/project/templates/admin/configmap-env-admin.yaml
  helm/project/templates/admin/deployment-admin.yaml
Due: none

fix(admin): Change environment variables
  admin/public/config.js
  admin/public/index.html
  admin/src/components/form/ActivityCategoryForm.tsx
  admin/src/components/form/InterestForm.tsx
  admin/src/index.tsx
  admin/src/pages/jitsi/JitsiPage.tsx
  admin/src/providers/authProvider.ts
  admin/src/providers/customDataProvider.ts
  admin/src/types/types.d.ts
  admin/tsconfig.json
  docker-compose.yaml
Due: ðŸ§© admin

fix(helm): Add configmap for admin env
  helm/project/templates/admin/configmap-env-admin.yaml
  helm/project/templates/admin/deployment-admin.yaml
Due: none

fix: git init fix: mount config.js
  helm/project/default_data/locales/init_git.sh
  helm/project/templates/admin/deployment-admin.yaml
Due: none

fix: init git sh
  helm/project/default_data/locales/init_git.sh
Due: none

fix(admin): Fix env variables
  admin/src/pages/auth/ForgotPassword.tsx
  admin/src/providers/authProvider.ts
  admin/src/providers/customDataProvider.ts
Due: ðŸ§© admin

Path conditions:
  ðŸ§© admin: any of: admin/**/*
  ðŸ§© api init: any of: api/libs/common/src/database/**/*
  ðŸ§© api: any of: api/**/*
  ðŸ§© auth ul theme: any of: docker/keycloak/**/*
  ðŸ§© webapp: any of: app/**/*
  ðŸ§© chat: any of: chat/**/*
