Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© auth ul theme, ðŸ§© webapp, ðŸ§© chat

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" ||  $CI_COMMIT_BRANCH == "ci" # Supprimer ci

stages:
  - packages

# CI de package
.package ci:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend

# CI de l'admin
ðŸ§© admin:
  extends: .package ci
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    # DOCKER_TARGET: admin_prod # GÃ©nÃ¨re une erreur : ERR_PNPM_BROKEN_LOCKFILEâ€‰ The lockfile at "/srv/app/pnpm-lock.yaml" is broken: duplicated mapping key (1755:3)
    LINT: enabled
  rules:
    - changes:
        - admin/**/*

# CI de l'initialisation API
ðŸ§© api init:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init
  rules:
    - changes:
        - api/libs/common/src/database/**/*

# CI de l'API
ðŸ§© api:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    # DOCKER_TARGET: api_prod
    LINT: enabled
    TEST: enabled
  rules:
    - changes:
        - api/**/*

# CI du thÃ¨me UL Keycloak
ðŸ§© auth ul theme:
  extends: .package ci
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: "1.0"
  rules:
    - changes:
        - docker/keycloak/**/*

# CI de la webapp
ðŸ§© webapp:
  extends: .package ci
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp
  rules:
    - changes:
        - app/**/*

# CI du chat
ðŸ§© chat:
  extends: .package ci
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat
  rules:
    - changes:
        - chat/**/*

👌 fix: Ask for permission when user come to chat + fix it for firefox
  app/src/adapter/RecorderAdapter.ts
  app/src/adapter/interfaces/RecorderAdapter.interface.ts
  app/src/presentation/components/contents/ChatContent.tsx
Due: ðŸ§© webapp

👌 fix: Add security on get all conversations from api
  api/src/core/usecases/chat/get-all-conversations-from-user-id.usecase.ts
Due: ðŸ§© api

👌 fix: Remove unused export
  app/src/types/types.d.ts
Due: ðŸ§© webapp

Update types.d.ts
  app/src/types/types.d.ts
Due: ðŸ§© webapp

👌 fix: Indent
  api/src/core/usecases/tandem/update-tandem.usecase.ts
Due: ðŸ§© api

Fix: sorting back on reports list
  admin/src/locales/en.json
  admin/src/pages/report/list.tsx
Due: ðŸ§© admin

feat(app): Screen sharing button on desktop
  app/src/presentation/components/Jitsi/JitsiWeb.tsx
Due: ðŸ§© webapp

✨ feat: Create new route to report message from conversation
  api/libs/common/src/database/seeds/report.ts
  api/src/api/controllers/report.controller.ts
  api/src/api/dtos/reports/index.ts
  api/src/core/core.module.ts
  api/src/core/models/report.model.ts
  api/src/core/usecases/report/create-report-message.usecase.ts
  api/src/core/usecases/report/index.ts
Due: ðŸ§© api init, ðŸ§© api

✨ feat: Update message with ionic component + send the report
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/interfaces/CreateReportMessageUsecase.interface.ts
  app/src/domain/usecases/CreateReportMessageUsecase.ts
  app/src/presentation/components/AudioLine.tsx
  app/src/presentation/components/chat/MessageComponent.module.css
  app/src/presentation/components/chat/MessageComponent.tsx
Due: ðŸ§© webapp

✨ feat: Add metadata on message to send OG link to front if needed
  chat/libs/common/src/database/schema.prisma
  chat/package.json
  chat/pnpm-lock.yaml
  chat/src/api/controllers/conversation.controller.ts
  chat/src/api/dtos/message/message.response.ts
  chat/src/core/models/media.model.ts
  chat/src/core/models/message.model.ts
  chat/src/core/usecases/media/upload-media.usecase.ts
  chat/src/core/usecases/message/create-message.usecase.ts
  chat/src/providers/persistance/mappers/message.mapper.ts
  chat/src/providers/persistance/repositories/prisma-message.repository.ts
Due: ðŸ§© chat

✨ feat: Update Api to send back metadata message
  api/src/api/dtos/chat/message.response.ts
  api/src/core/ports/chat.service.ts
  api/src/core/usecases/chat/get-messages-from-conversation.usecase.ts
  api/src/core/usecases/user/get-administrators.usecase.ts
Due: ðŸ§© api

✨ feat: Update api message.response dto
  chat/src/api/dtos/message/message.response.ts
Due: ðŸ§© chat

✨ feat: Add link message on front
  app/src/command/MessageCommand.ts
  app/src/domain/entities/chat/Message.ts
  app/src/presentation/components/card/OGCard.module.css
  app/src/presentation/components/card/OGCard.tsx
  app/src/presentation/components/chat/MessageComponent.module.css
  app/src/presentation/components/chat/MessageComponent.tsx
Due: ðŸ§© webapp

✨ feat: Change margin on link text
  app/src/presentation/components/chat/MessageComponent.module.css
Due: ðŸ§© webapp

👌 fix: Change PR review
  app/src/presentation/components/chat/MessageComponent.module.css
  app/src/presentation/components/chat/MessageComponent.tsx
Due: ðŸ§© webapp

👌 fix: Update instance type in codemagic
  codemagic.yaml
Due: none

✨ feat: Update m2 for m1
  codemagic.yaml
Due: none

👌 fix: Update Xcode version
  codemagic.yaml
Due: none

Usecase renamed
  admin/src/App.tsx
  admin/src/components/menu/CustomMenu.tsx
  admin/src/pages/profiles-with-tandems-profiles/hasTandemManagementPermission.ts
  admin/src/pages/profiles-with-tandems-profiles/index.ts
  admin/src/pages/profiles-with-tandems-profiles/list/PairingActions.tsx
  admin/src/pages/profiles-with-tandems-profiles/list/index.tsx
  admin/src/pages/profiles-with-tandems-profiles/list/list.css
  admin/src/pages/profiles-with-tandems-profiles/list/useLastGlobalRoutineExecution.ts
  admin/src/pages/profiles-with-tandems-profiles/list/useLaunchGlobalRoutine.ts
  admin/src/pages/profiles-with-tandems-profiles/show/Actions/TandemActions.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/Actions/useCreateTandem.ts
  admin/src/pages/profiles-with-tandems-profiles/show/Actions/useRefuseTandem.ts
  admin/src/pages/profiles-with-tandems-profiles/show/Actions/useUpdateTandem.ts
  admin/src/pages/profiles-with-tandems-profiles/show/Actions/useValidateTandem.ts
  admin/src/pages/profiles-with-tandems-profiles/show/LearningLanguageTabContent.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/OtherProposals.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/PartnerCard.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/ProfileCard.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/TandemInfo.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/TandemTable/TandemFilters.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/TandemTable/TandemTable.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/TandemTable/usePagination.ts
  admin/src/pages/profiles-with-tandems-profiles/show/TandemTable/useTandemMatchesFilters.ts
  admin/src/pages/profiles-with-tandems-profiles/show/index.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/show.css
  admin/src/pages/profiles-with-tandems-profiles/ui/ProfileLink.tsx
  admin/src/pages/profiles-with-tandems-profiles/ui/ProfileTandemDetailLink.tsx
  admin/src/pages/profiles-with-tandems-profiles/ui/ProfileTandemLink.tsx
  admin/src/pages/profiles-with-tandems-profiles/useLearningLanguagesStore.ts
  admin/src/providers/customDataProvider.ts
  api/src/api/controllers/profile.controller.ts
  api/src/core/core.module.ts
  api/src/core/ports/profile.repository.ts
  api/src/core/usecases/profiles/get-profiles-with-tandems-profiles.usecase.ts
  api/src/core/usecases/profiles/index.ts
  api/src/providers/persistance/repositories/in-memory-profile-repository.ts
  api/src/providers/persistance/repositories/prisma-profile-repository.ts
Due: ðŸ§© admin, ðŸ§© api

Specific mappers and responses for getProfilesWithTandemsProfiles usecase
  api/src/api/controllers/profile.controller.ts
  api/src/api/dtos/profiles/profiles-with-tandems-profiles.response.ts
  api/src/core/models/profileWithTandemsProfiles.model.ts
  api/src/core/ports/profile.repository.ts
  api/src/providers/persistance/mappers/index.ts
  api/src/providers/persistance/mappers/profile.mapper.ts
  api/src/providers/persistance/mappers/profileWithTandemsProfiles.mapper.ts
  api/src/providers/persistance/repositories/prisma-profile-repository.ts
Due: ðŸ§© api

Feat: GetProfilesWithTandems usecase with learning language filter, but still using Profile mappers and DTO
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/profiles-with-tandem/list/index.tsx
  admin/src/providers/customDataProvider.ts
  admin/src/queries/ProfilesWithTandemsQuery.ts
  api/src/api/controllers/profile.controller.ts
  api/src/api/dtos/profiles/profiles-with-tandems-filters.ts
  api/src/core/core.module.ts
  api/src/core/ports/profile.repository.ts
  api/src/core/usecases/profiles/get-profiles-with-tandems.usecase.ts
  api/src/core/usecases/profiles/index.ts
  api/src/providers/persistance/repositories/in-memory-profile-repository.ts
  api/src/providers/persistance/repositories/prisma-profile-repository.ts
Due: ðŸ§© admin, ðŸ§© api

Profile mapper fixed and profile by Id usecase added
  admin/src/entities/LearningLanguage.ts
  admin/src/entities/ProfileWithTandemsProfiles.ts
  admin/src/pages/profiles-with-tandems-profiles/list/index.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/LearningLanguageTabContent.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/OtherProposals.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/PartnerCard.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/ProfileCard.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/TandemInfo.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/index.tsx
  admin/src/pages/profiles-with-tandems-profiles/ui/ProfileTandemDetailLink.tsx
  admin/src/pages/profiles-with-tandems-profiles/ui/ProfileTandemLink.tsx
  admin/src/providers/customDataProvider.ts
  api/src/api/controllers/profile.controller.ts
  api/src/core/core.module.ts
  api/src/core/models/profileWithTandemsProfiles.model.ts
  api/src/core/ports/profile.repository.ts
  api/src/core/usecases/profiles/get-profile-with-tandems-profiles.usecase.ts
  api/src/core/usecases/profiles/index.ts
  api/src/providers/persistance/mappers/profile.mapper.ts
  api/src/providers/persistance/repositories/in-memory-profile-repository.ts
  api/src/providers/persistance/repositories/prisma-profile-repository.ts
Due: ðŸ§© admin, ðŸ§© api

Refacto: tandem partner filter applied from API response instead of admin treatment
  admin/src/entities/LearningLanguage.ts
  admin/src/entities/Profile.ts
  admin/src/entities/ProfileWithTandemsProfiles.ts
  admin/src/entities/Tandem.ts
  admin/src/pages/profiles-with-tandems-profiles/list/index.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/LearningLanguageTabContent.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/PartnerCard.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/ProfileCard.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/TandemTable/TandemTable.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/index.tsx
  admin/src/pages/profiles-with-tandems-profiles/ui/ProfileLink.tsx
  admin/src/pages/profiles-with-tandems-profiles/ui/ProfileTandemDetailLink.tsx
  admin/src/pages/profiles-with-tandems-profiles/ui/ProfileTandemLink.tsx
  admin/src/providers/customDataProvider.ts
  api/src/api/dtos/learning-languages/learning-language.response.ts
  api/src/api/dtos/profiles/profiles-with-tandems-profiles.response.ts
  api/src/api/dtos/tandems/tandem-with-patner-learning-language.response.ts
  api/src/core/models/learning-language.model.ts
  api/src/core/models/tandemWithPartnerLearningLanguage.model.ts
  api/src/providers/persistance/mappers/profileWithTandemsProfiles.mapper.ts
  api/src/providers/persistance/mappers/tandemWithPartnerLearningLanguage.mapper.ts
Due: ðŸ§© admin, ðŸ§© api

fix(app): Style improvment
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/chat/MediaComponent.module.css
  app/src/presentation/components/chat/MediaComponent.tsx
  app/src/presentation/components/contents/MediaContent.module.css
  app/src/presentation/components/contents/MediaContent.tsx
Due: ðŸ§© webapp

fix(app): Fix chat refresh on web mobile
  app/src/domain/entities/chat/Conversation.ts
  app/src/presentation/components/chat/ConversationLine.tsx
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/hooks/useHandleMessagesFromConversation.ts
Due: ðŸ§© webapp

fix(app): review remarks
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/chat/MediaComponent.module.css
  app/src/presentation/components/chat/MediaComponent.tsx
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/components/contents/MediaContent.tsx
  app/src/presentation/hooks/useHandleMessagesFromConversation.ts
Due: ðŸ§© webapp

✨ feat: Handle new message originalFile
  app/src/adapter/RecorderAdapter.ts
  app/src/adapter/SocketIoAdapter.ts
  app/src/domain/entities/chat/Message.ts
  app/src/presentation/components/chat/MessageComponent.module.css
  app/src/presentation/components/chat/MessageComponent.tsx
  app/src/presentation/components/contents/ChatContent.tsx
  chat/src/api/controllers/conversation.controller.ts
  chat/src/core/models/media.model.ts
  chat/src/core/usecases/media/upload-media.usecase.ts
  chat/src/core/usecases/message/create-message.usecase.ts
Due: ðŸ§© webapp, ðŸ§© chat

✨ feat: Upgarde java version from 19 to 21
  codemagic.yaml
Due: none

Update app/src/presentation/components/chat/MessageComponent.tsx
  app/src/presentation/components/chat/MessageComponent.tsx
Due: ðŸ§© webapp

👌 fix: Update java variable
  codemagic.yaml
Due: none

✨ feat: Allow chat api to send backward and forward pagination if needed
  chat/src/api/controllers/conversation.controller.ts
  chat/src/api/dtos/conversation/get-messages-from-conversation-id.request.ts
  chat/src/core/ports/message.repository.ts
  chat/src/providers/persistance/repositories/prisma-message.repository.ts
Due: ðŸ§© chat

✨ feat: Update api to ask for direction on chat
  api/src/api/controllers/chat.controller.ts
  api/src/api/dtos/chat/get-messages-from-conversation-id.request.ts
  api/src/core/ports/chat.service.ts
  api/src/core/usecases/chat/get-messages-from-conversation.usecase.ts
  api/src/providers/services/chat.service.ts
  chat/src/providers/persistance/repositories/prisma-message.repository.ts
Due: ðŸ§© api, ðŸ§© chat

✨ feat: Create ChatInputSender to remove code from ChatContent
  app/src/presentation/components/chat/ChatInputSender.module.css
  app/src/presentation/components/chat/ChatInputSender.tsx
  app/src/presentation/components/chat/MessageComponent.module.css
  app/src/presentation/components/contents/ChatContent.module.css
  app/src/presentation/components/contents/ChatContent.tsx
  chat/src/core/usecases/message/create-message.usecase.ts
Due: ðŸ§© webapp, ðŸ§© chat

👌 fix: Change ChatSender name
  app/src/presentation/components/contents/ChatContent.tsx
Due: ðŸ§© webapp

✨ feat: Create api function to get all messages ids with search message
  chat/src/api/controllers/conversation.controller.ts
  chat/src/core/core.module.ts
  chat/src/core/ports/message.repository.ts
  chat/src/core/usecases/conversation/index.ts
  chat/src/core/usecases/conversation/search-message-id-from-conversation-id.usecase.ts
  chat/src/providers/persistance/repositories/prisma-message.repository.ts
Due: ðŸ§© chat

feat(app): Feat/4054 Media cards
  app/android/capacitor.settings.gradle
  app/ios/App/Podfile.lock
  app/pnpm-lock.yaml
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/App.tsx
  app/src/command/MessageCommand.ts
  app/src/presentation/components/AudioLine.module.css
  app/src/presentation/components/card/OGCard.module.css
  app/src/presentation/components/card/OGCard.tsx
  app/src/presentation/components/chat/ConversationLine.module.css
  app/src/presentation/components/chat/ConversationLine.tsx
  app/src/presentation/components/chat/ConversationsLines.module.css
  app/src/presentation/components/chat/ConversationsLines.tsx
  app/src/presentation/components/chat/MediaComponent.module.css
  app/src/presentation/components/chat/MediaComponent.tsx
  app/src/presentation/components/chat/MessageComponent.tsx
  app/src/presentation/components/chat/MessagesList.tsx
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/components/contents/ConversationsContent.module.css
  app/src/presentation/components/contents/ConversationsContent.tsx
  app/src/presentation/components/contents/MediaContent.tsx
  app/src/presentation/components/layout/Sidebar.module.css
  app/src/presentation/components/layout/Sidebar.tsx
  app/src/presentation/hooks/useMessages.ts
  app/src/presentation/pages/ConversationsPage.tsx
Due: ðŸ§© webapp

✨ feat: Add search mode with backward and forward pagination on chat
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/command/MessageCommand.ts
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/entities/chat/Conversation.ts
  app/src/domain/interfaces/chat/GetMessagesFromConversationUsecase.interface.ts
  app/src/domain/interfaces/chat/SearchMessagesIdsFromConversationUsecase.interface.ts
  app/src/domain/usecases/GetMessagesFromConversationUsecase.ts
  app/src/domain/usecases/SearchMessagesIdsFromConversationUsecase.ts
  app/src/presentation/components/chat/ConversationSearchBar.module.css
  app/src/presentation/components/chat/ConversationSearchBar.tsx
  app/src/presentation/components/chat/MessageComponent.module.css
  app/src/presentation/components/chat/MessageComponent.tsx
  app/src/presentation/components/chat/MessagesList.module.css
  app/src/presentation/components/chat/MessagesList.tsx
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/components/contents/MediaContent.tsx
  app/src/presentation/hooks/useHandleMessagesFromConversation.ts
  app/src/presentation/hooks/useMessages.ts
Due: ðŸ§© webapp

👌 fix: Display link colored on search + avoid search with less than 1 character + on clearch search remove currentMessageId
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/chat/ConversationSearchBar.tsx
  app/src/presentation/components/chat/MessageComponent.tsx
  app/src/presentation/components/chat/MessagesList.module.css
  app/src/presentation/components/chat/MessagesList.tsx
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/hooks/useHandleMessagesFromConversation.ts
  app/src/presentation/hooks/useMessages.ts
Due: ðŸ§© webapp

👌 fix: Fix type
  app/src/presentation/components/chat/MediasList.tsx
  chat/src/providers/persistance/repositories/in-memory-message.repository.ts
  chat/test/usecases/conversation/get-messages-from-conversation-id.test.ts
  chat/test/usecases/media/upload-media.test.ts
Due: ðŸ§© webapp, ðŸ§© chat
