Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© auth ul theme, ðŸ§© webapp, ðŸ§© chat

ðŸ§© admin:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    LINT: enabled

ðŸ§© api init:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init

ðŸ§© api:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    LINT: enabled
    TEST: enabled

ðŸ§© auth ul theme:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: '1.0'

ðŸ§© webapp:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp

ðŸ§© chat:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat

✨ feat: Delete all asked languages when we set a language as primary status
  api/src/core/ports/language.repository.ts
  api/src/core/usecases/language/update-language.usecase.ts
  api/src/providers/persistance/repositories/in-memory-language-repository.ts
  api/src/providers/persistance/repositories/prisma-language.repository.ts
Due: ðŸ§© api

✨ feat: Allow user to delete his activity sheet
  api/src/api/controllers/activity.controller.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/interfaces/activity/DeleteActivityUsecase.interface.ts
  app/src/domain/usecases/activity/DeleteActivityUsecase.ts
  app/src/presentation/components/contents/activity/ActivityContent.tsx
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Add reported chip on back office
  admin/src/components/UserStatusChips.tsx
Due: ðŸ§© admin

👌 fix: Prevent upload wrong image + fix api og error
  api/.eslintrc.js
  api/pnpm-lock.yaml
  api/src/core/usecases/activity/create-activity.usecase.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/domain/usecases/activity/CreateActivityUsecase.ts
  app/src/domain/usecases/activity/UpdateActivityUsecase.ts
  app/src/presentation/components/contents/ProfileContent.tsx
  app/src/presentation/components/contents/activity/CreateActivityInformationsContent.tsx
  app/src/presentation/pages/EditInformationsPage.tsx
  app/src/presentation/pages/SignUpInformationsPage.tsx
  app/src/presentation/utils.ts
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Set creator in activity optional
  api/src/core/usecases/activity/update-activity-status.usecase.ts
  api/src/core/usecases/activity/update-activity.usecase.ts
  api/src/core/usecases/vocabulary/create-vocabulary.usecase.ts
  api/src/core/usecases/vocabulary/update-vocabulary-list.usecase.ts
Due: ðŸ§© api

Feat: News are now visible on application depending on concerned universities BO choices
  admin/src/components/form/NewsForm.tsx
  admin/src/entities/News.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/events/create.tsx
  admin/src/pages/news/create.tsx
  admin/src/pages/news/edit.tsx
  api/libs/common/src/database/migrations/20250129132554_news_adds_concerned_universities/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/controllers/news.controller.ts
  api/src/api/dtos/news/index.ts
  api/src/core/models/news.model.ts
  api/src/core/ports/news.repository.ts
  api/src/core/usecases/news/create-news.usecase.ts
  api/src/core/usecases/news/get-news.usecase.ts
  api/src/core/usecases/news/update-news.usecase.ts
  api/src/providers/persistance/mappers/news.mapper.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
Due: ðŸ§© admin, ðŸ§© api init, ðŸ§© api

Fix: Events visibility only depends on concerned universities selected
  api/src/providers/persistance/repositories/prisma-events.repository.ts
Due: ðŸ§© api

👌 fix: Allow user to unshare vocabulary list
  api/src/providers/persistance/repositories/prisma-vocabulary-repository.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/contents/VocabularyContent.tsx
  app/src/presentation/components/contents/VocabularyItemContent.tsx
  app/src/presentation/hooks/useVocabulary.ts
Due: ðŸ§© api, ðŸ§© webapp

Fix: email date format for events subscription and unsubscription
  api/src/core/usecases/event/send-email-to-subscribed-user.usecase.ts
  api/src/core/usecases/event/subscribe-to-event.usecase.ts
  api/src/core/usecases/event/unsubscribe-to-event.usecase.ts
Due: ðŸ§© api

Fix: events email send button disabled if title or content are empty
  admin/src/pages/events/subscriptions/SendEmail.tsx
Due: ðŸ§© admin

✨ feat: Allow user to unshare his log entries
  api/src/api/controllers/log-entry.controller.ts
  api/src/core/core.module.ts
  api/src/core/usecases/log-entry/index.ts
  api/src/core/usecases/log-entry/unshare-log-entries.usecase.ts
  api/src/providers/persistance/repositories/prisma-learning-language-repository.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/command/LearningLanguageResult.ts
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/entities/LearningLanguage.ts
  app/src/domain/interfaces/log-entries/UnshareLogEntriesUsecase.interface.ts
  app/src/domain/usecases/log-entries/UnshareLogEntriesUsecase.ts
  app/src/presentation/components/contents/learning-book/LearningBookContainerContent.tsx
  app/src/presentation/components/contents/learning-book/LogEntriesContent.module.css
  app/src/presentation/components/contents/learning-book/LogEntriesContent.tsx
Due: ðŸ§© api, ðŸ§© webapp

fix: mobile end session
  app/src/presentation/components/Jitsi/JitsiMobile.tsx
  app/src/presentation/components/Jitsi/JitsiWeb.tsx
  app/src/presentation/components/Jitsi/VisioContainer.tsx
Due: ðŸ§© webapp

fix(api): tests
  app/__tests__/domain/usecases/AskForLearningLanguageUsecase.test.ts
Due: ðŸ§© webapp

fix(app): Unit test
  app/__tests__/domain/usecases/AskForLearningLanguageUsecase.test.ts
  app/src/command/LearningLanguageResult.ts
Due: ðŸ§© webapp

👌 fix: Update cancel session button + remove Join session for canceled card
  app/src/presentation/components/sessions/SessionCard.module.css
  app/src/presentation/components/sessions/SessionCard.tsx
Due: ðŸ§© webapp

👌 fix: Set tandem card unavaiable if status inactive
  app/src/presentation/components/contents/LearningContent.tsx
  app/src/presentation/components/tandems/PendingTandemCard.tsx
Due: ðŸ§© webapp

hotfix: corepack
  docker-compose.yaml
Due: none

👌 fix: Add margin-top auto on session form
  app/src/presentation/components/sessions/SessionForm.module.css
Due: ðŸ§© webapp

hotfix: corepack #2
  api/Dockerfile
  chat/Dockerfile
  docker-compose.yaml
Due: ðŸ§© api, ðŸ§© chat

hotfix(admin): corepack
  admin/Dockerfile
Due: ðŸ§© admin

hotfix: CI chat
  chat/Dockerfile
Due: ðŸ§© chat

hotfix prisma generate
  api/Dockerfile
  api/package.json
  chat/Dockerfile
  chat/package.json
Due: ðŸ§© api, ðŸ§© chat

hotfix CI
  .circleci/config.yml
  admin/Dockerfile
  api/Dockerfile
  chat/Dockerfile
Due: ðŸ§© admin, ðŸ§© api, ðŸ§© chat

hotfix CI
  .circleci/config.yml
Due: none

hotfix CI #2
  chat/Dockerfile
Due: ðŸ§© chat

hotfix CI #3
  admin/Dockerfile
  api/Dockerfile
  chat/Dockerfile
Due: ðŸ§© admin, ðŸ§© api, ðŸ§© chat

✨ feat: Health check api before getting translations
  app/src/presentation/hooks/useFetchI18NBackend.ts
Due: ðŸ§© webapp

hoitfix CI #4
  admin/Dockerfile
  api/Dockerfile
  chat/Dockerfile
Due: ðŸ§© admin, ðŸ§© api, ðŸ§© chat

hotfix CI #5
  chat/Dockerfile
Due: ðŸ§© chat

hotfix CI #6
  chat/Dockerfile
Due: ðŸ§© chat

hotfix CI #7
  chat/Dockerfile
Due: ðŸ§© chat

hotfix(chat) staging #1
  chat/Dockerfile
Due: ðŸ§© chat

fix(4458-4459): Enhance PDF generation with resource URL, file merging, and improved styling
  api/src/providers/services/pdf.service.ts
Due: ðŸ§© api

hotfix CI #8
  chat/Dockerfile
Due: ðŸ§© chat

Feat: central university manager has restricted edit and delete access for other universities admin and super admin
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/administrators/index.ts
  admin/src/pages/administrators/list.tsx
  admin/src/pages/administrators/show.tsx
  api/src/api/controllers/language.controller.ts
  api/src/api/controllers/user.controller.ts
  api/src/api/dtos/users/index.ts
  api/src/core/core.module.ts
  api/src/core/models/user.model.ts
  api/src/core/usecases/language/get-language.usecase.ts
  api/src/core/usecases/language/index.ts
  api/src/core/usecases/user/get-administrator.usecase.ts
Due: ðŸ§© admin, ðŸ§© api

feat(4460-4462): Improve media export with original filename and file path handling
  app/src/adapter/FileAdapter.ts
  app/src/presentation/components/contents/ChatContent.tsx
  chat/src/core/ports/message.repository.ts
  chat/src/core/usecases/conversation/export-medias-form-conversation.usecase.ts
  chat/src/providers/persistance/repositories/prisma-message.repository.ts
Due: ðŸ§© webapp, ðŸ§© chat

fix(4396): Correctly convert datetime to partner's time zone
  app/src/presentation/components/sessions/SessionForm.tsx
Due: ðŸ§© webapp

foix(4498): Improve modal scrolling and layout for vocabulary content
  app/src/presentation/components/modals/FilterModal.module.css
  app/src/presentation/components/modals/VocabularyContentModal.module.css
  app/src/presentation/components/modals/VocabularyContentModal.tsx
Due: ðŸ§© webapp

fix(4497): Conditionally render start quiz menu item based on vocabulary list
  app/src/presentation/components/contents/VocabularyItemContent.tsx
Due: ðŸ§© webapp

Path conditions:
  ðŸ§© admin: any of: admin/**/*
  ðŸ§© api init: any of: api/libs/common/src/database/**/*
  ðŸ§© api: any of: api/**/*
  ðŸ§© auth ul theme: any of: docker/keycloak/**/*
  ðŸ§© webapp: any of: app/**/*
  ðŸ§© chat: any of: chat/**/*
