Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© auth ul theme, ðŸ§© webapp, ðŸ§© chat

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" ||  $CI_COMMIT_BRANCH == "ci" # Supprimer ci

stages:
  - packages

# CI de package
.package ci:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend

# CI de l'admin
ðŸ§© admin:
  extends: .package ci
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    # DOCKER_TARGET: admin_prod # GÃ©nÃ¨re une erreur : ERR_PNPM_BROKEN_LOCKFILEâ€‰ The lockfile at "/srv/app/pnpm-lock.yaml" is broken: duplicated mapping key (1755:3)
    LINT: enabled
  rules:
    - changes:
        - admin/**/*

# CI de l'initialisation API
ðŸ§© api init:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init
  rules:
    - changes:
        - api/libs/common/src/database/**/*

# CI de l'API
ðŸ§© api:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    # DOCKER_TARGET: api_prod
    LINT: enabled
    TEST: enabled
  rules:
    - changes:
        - api/**/*

# CI du thÃ¨me UL Keycloak
ðŸ§© auth ul theme:
  extends: .package ci
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: "1.0"
  rules:
    - changes:
        - docker/keycloak/**/*

# CI de la webapp
ðŸ§© webapp:
  extends: .package ci
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp
  rules:
    - changes:
        - app/**/*

# CI du chat
ðŸ§© chat:
  extends: .package ci
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat
  rules:
    - changes:
        - chat/**/*

👌 fix: Pr review
  app/src/presentation/components/contents/SelectLanguageContent.tsx
  app/src/presentation/components/contents/SelectTandemContent.tsx
  app/src/presentation/components/layout/Sidebar.tsx
Due: ðŸ§© webapp

✨ feat: Handle creation button on BottomBar and Sidebar for log entries
  app/src/presentation/components/contents/VocabularyListContent.tsx
  app/src/presentation/components/contents/learning-book/CreateOrUpdateCustomLogEntryContent.tsx
  app/src/presentation/components/contents/learning-book/LearningBookContainerContent.tsx
  app/src/presentation/components/layout/OnlineWebLayout.tsx
  app/src/presentation/components/layout/Sidebar.tsx
  app/src/presentation/components/modals/NewLogEntryMenuModal.tsx
  app/src/presentation/components/modals/NewVocabularyMenuModal.tsx
  app/src/presentation/pages/LearningPage.tsx
  app/src/presentation/pages/mobile/ActivitiesPage.tsx
  app/src/presentation/pages/mobile/LearningBookPage.tsx
  app/src/presentation/router/BottomBar.tsx
Due: ðŸ§© webapp

👌 fix: Add security on validate news form
  admin/src/components/form/NewsForm.tsx
  admin/src/locales/en.json
  admin/src/locales/fr.json
Due: ðŸ§© admin

👌 fix: Add security on validate event form
  admin/src/components/form/EventForm.tsx
  admin/src/locales/en.json
  admin/src/locales/fr.json
Due: ðŸ§© admin

👌 fix: Update translation key
  admin/src/components/form/NewsForm.tsx
  admin/src/locales/en.json
  admin/src/locales/fr.json
Due: ðŸ§© admin

wip(app): Export button
  app/public/locales/fr/translation.json
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/interfaces/chat/ExportMediasFromConversationUsecase.interface.ts
  app/src/domain/usecases/ExportMediasFromConversationUsecase.ts
  app/src/presentation/components/contents/ChatContent.tsx
  chat/src/api/controllers/conversation.controller.ts
  chat/src/core/usecases/conversation/export-medias-form-conversation.usecase.ts
Due: ðŸ§© webapp, ðŸ§© chat

feat(4241): WIP Exporter les documents et images
  chat/package.json
  chat/pnpm-lock.yaml
  chat/src/api/controllers/conversation.controller.ts
  chat/src/core/core.module.ts
  chat/src/core/ports/conversation.repository.ts
  chat/src/core/ports/media-object.repository.ts
  chat/src/core/usecases/conversation/export-medias-form-conversation.usecase.ts
  chat/src/core/usecases/conversation/index.ts
  chat/src/providers/persistance/repositories/prisma-conversation.repository.ts
  chat/src/providers/persistance/repositories/prisma-media-object.repository.ts
Due: ðŸ§© chat

👌 fix: Pr review
  app/src/adapter/FileAdapter.ts
  app/src/domain/usecases/log-entries/ExportLogEntriesUsecase.ts
  app/src/presentation/components/Jitsi/JitsiWeb.tsx
  app/src/presentation/components/contents/EndSessionContent.tsx
Due: ðŸ§© webapp

✨ feat: Set vocabulary translation facultative + fix wording issue
  api/libs/common/src/database/migrations/20241209132618_set_translation_vocabulary_optional/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/dtos/vocabulary/create-vocabulary.request.ts
  api/src/core/models/vocabulary.model.ts
  api/src/core/ports/vocabulary.repository.ts
  api/src/core/usecases/vocabulary/create-vocabulary.usecase.ts
  api/src/providers/persistance/repositories/prisma-vocabulary-repository.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/domain/interfaces/vocabulary/CreateVocabularyUsecase.interface.ts
  app/src/domain/usecases/vocabulary/CreateVocabularyUsecase.ts
  app/src/presentation/components/contents/CreateOrUpdateVocabularyContent.tsx
  app/src/presentation/components/contents/VocabularyContent.tsx
  app/src/presentation/components/modals/AddOrUpdateVocabularyListModal.tsx
  app/src/presentation/components/vocabulary/VocabularyLine.module.css
  app/src/presentation/components/vocabulary/VocabularyLine.tsx
  app/src/presentation/hooks/useVocabulary.ts
Due: ðŸ§© api init, ðŸ§© api, ðŸ§© webapp

👌 fix: Update pending tandem current color
  app/src/presentation/components/tandems/PendingTandemCard.module.css
  app/src/presentation/components/tandems/PendingTandemCard.tsx
Due: ðŸ§© webapp

👌 fix: Type error
  app/src/presentation/pages/mobile/VocabulariesPage.tsx
Due: ðŸ§© webapp

✨ feat: Prevent change on DropDown if there is words in vocabulary list
  app/src/presentation/components/modals/AddOrUpdateVocabularyListModal.tsx
Due: ðŸ§© webapp

fix(app): Stream zip medias file
  app/src/domain/interfaces/chat/ExportMediasFromConversationUsecase.interface.ts
  app/src/domain/usecases/ExportMediasFromConversationUsecase.ts
  app/src/presentation/components/contents/ChatContent.tsx
  chat/src/api/controllers/conversation.controller.ts
  chat/src/core/usecases/conversation/export-medias-form-conversation.usecase.ts
  chat/src/providers/persistance/repositories/in-memory-media-object.repository.ts
Due: ðŸ§© webapp, ðŸ§© chat

👌 fix: Update activity update screen
  app/src/presentation/components/DropDown.tsx
  app/src/presentation/components/contents/activity/ActivityContent.tsx
  app/src/presentation/components/contents/activity/CreateActivityInformationsContent.tsx
Due: ðŸ§© webapp

👌 fix: Hide arrow on activity list
  app/src/presentation/components/card/ActivityCard.tsx
  app/src/presentation/components/contents/activity/ActivitiesContent.tsx
Due: ðŸ§© webapp

👌 fix: Prevent image glitching on activity creation/update
  app/src/presentation/components/contents/activity/CreateActivityInformationsContent.tsx
Due: ðŸ§© webapp

👌 fix: Normalize file name then compare it to content
  api/src/api/controllers/activity.controller.ts
  app/src/domain/usecases/activity/CreateActivityUsecase.ts
  app/src/domain/usecases/activity/UpdateActivityUsecase.ts
  app/src/presentation/utils.ts
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Remove hours from actuality
  app/src/presentation/components/contents/news/NewsContent.tsx
Due: ðŸ§© webapp

✨ feat: Handle backline from back office
  app/src/presentation/components/card/ActivityCard.tsx
  app/src/presentation/components/contents/activity/ActivityContent.tsx
Due: ðŸ§© webapp

👌 fix: Update error message to avoid update when activity is published
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/activities/edit.tsx
Due: ðŸ§© admin

✨ feat: Get shared vocabularies list
  api/src/api/dtos/vocabulary/get-vocabularies-list.request.ts
  api/src/providers/persistance/repositories/prisma-vocabulary-repository.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/domain/interfaces/vocabulary/GetVocabularyListsUsecase.interface.ts
  app/src/domain/usecases/vocabulary/GetVocabularyListsUsecase.ts
  app/src/presentation/components/contents/HomeContent.module.css
  app/src/presentation/components/contents/LearningContent.module.css
  app/src/presentation/components/contents/VocabularyContent.tsx
  app/src/presentation/components/contents/activity/ActivityContent.tsx
  app/src/presentation/hooks/useVocabulary.ts
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Transform boolean string in boolean
  api/src/api/dtos/vocabulary/update-vocabulary.request.ts
  app/src/presentation/components/contents/CreateOrUpdateVocabularyContent.tsx
  app/src/presentation/components/contents/VocabularyItemContent.tsx
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Create community chat reference table + generate chats
  api/libs/common/src/database/migrations/20241212141324_create_community_chat_reference_table/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/core/core.module.ts
  api/src/core/models/community-chat.model.ts
  api/src/core/ports/chat.service.ts
  api/src/core/ports/community-chat.repository.ts
  api/src/core/ports/profile.repository.ts
  api/src/core/usecases/chat/create-community-chat.usecase.ts
  api/src/core/usecases/chat/generate-conversations.usecase.ts
  api/src/core/usecases/chat/index.ts
  api/src/providers/persistance/mappers/community-chat.mapper.ts
  api/src/providers/persistance/repositories/in-memory-profile-repository.ts
  api/src/providers/persistance/repositories/prisma-community-chat-repository.ts
  api/src/providers/persistance/repositories/prisma-language.repository.ts
  api/src/providers/persistance/repositories/prisma-profile-repository.ts
  api/src/providers/providers.module.ts
Due: ðŸ§© api init, ðŸ§© api

✨ feat: Create community chat when a language is updated (+ avoid joker pairing )
  api/src/core/usecases/chat/create-community-chat.usecase.ts
  api/src/core/usecases/language/update-language.usecase.ts
Due: ðŸ§© api

✨ feat: add user on community chat from new learning language creation
  api/libs/common/src/database/schema.prisma
  api/package.json
  api/pnpm-lock.yaml
  api/src/core/core.module.ts
  api/src/core/ports/chat.service.ts
  api/src/core/usecases/chat/add-user-to-community-chat.usecase.ts
  api/src/core/usecases/profiles/create-learning-language.usecase.ts
  api/src/providers/persistance/repositories/prisma-community-chat-repository.ts
  api/src/providers/services/chat.service.ts
  api/src/providers/services/in-memory.chat.service.ts
  app/src/domain/entities/chat/Conversation.ts
  app/src/presentation/components/chat/ConversationLine.tsx
  chat/package.json
  chat/src/api/controllers/conversation.controller.ts
  chat/src/api/dtos/conversation/add-user-to-conversation.request.ts
  chat/src/core/usecases/conversation/update-conversation.usecase.ts
Due: ðŸ§© api init, ðŸ§© api, ðŸ§© webapp, ðŸ§© chat

✨ feat: Send community data on ChatResponse + update conversation line
  api/src/api/dtos/chat/conversation.response.ts
  api/src/api/dtos/languages/index.ts
  api/src/core/ports/chat.service.ts
  api/src/core/ports/community-chat.repository.ts
  api/src/core/usecases/chat/get-all-conversations-from-user-id.usecase.ts
  api/src/providers/persistance/repositories/prisma-community-chat-repository.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/command/ConversationCommand.ts
  app/src/domain/entities/chat/Conversation.ts
  app/src/presentation/components/chat/ConversationLine.module.css
  app/src/presentation/components/chat/ConversationLine.tsx
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Update chat front for community conversation
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/RecordingButton.tsx
  app/src/presentation/components/chat/ChatInputSender.tsx
  app/src/presentation/components/chat/MessageComponent.module.css
  app/src/presentation/components/chat/MessageComponent.tsx
  app/src/presentation/components/chat/MessagesList.tsx
  app/src/presentation/components/contents/ChatContent.tsx
Due: ðŸ§© webapp

✨ feat: Add likes on message table
  chat/libs/common/src/database/schema.prisma
  chat/src/core/models/message.model.ts
  chat/src/core/ports/message.repository.ts
  chat/src/providers/gateway/hub.gateway.ts
  chat/src/providers/persistance/mappers/message.mapper.ts
  chat/src/providers/persistance/repositories/in-memory-message.repository.ts
  chat/src/providers/persistance/repositories/prisma-message.repository.ts
Due: ðŸ§© chat

✨ feat: Display like on app + handle socket flow with like/unlike
  api/src/api/controllers/chat.controller.ts
  api/src/api/dtos/chat/conversation.response.ts
  api/src/api/dtos/chat/message.response.ts
  api/src/core/ports/chat.service.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/adapter/SocketIoAdapter.ts
  app/src/adapter/interfaces/SocketIoAdapter.interface.ts
  app/src/command/MessageCommand.ts
  app/src/domain/entities/chat/Message.ts
  app/src/presentation/components/chat/MessageComponent.module.css
  app/src/presentation/components/chat/MessageComponent.tsx
  app/src/presentation/components/chat/MessagesList.tsx
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/hooks/useHandleMessagesFromConversation.ts
  chat/libs/common/src/database/schema.prisma
  chat/src/api/dtos/message/message.response.ts
  chat/src/core/models/message.model.ts
  chat/src/core/ports/message.repository.ts
  chat/src/core/usecases/message/create-message.usecase.ts
  chat/src/providers/gateway/hub.gateway.ts
  chat/src/providers/persistance/mappers/message.mapper.ts
  chat/src/providers/persistance/repositories/in-memory-message.repository.ts
  chat/src/providers/persistance/repositories/prisma-message.repository.ts
Due: ðŸ§© api, ðŸ§© webapp, ðŸ§© chat

✨ feat: Add reader in vocabulary list to share list in community chat
  api/libs/common/src/database/migrations/20241218091049_add_reader_to_vocabulary_list/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/controllers/vocabulary.controller.ts
  api/src/api/dtos/vocabulary/vocabulary-list.response.ts
  api/src/core/core.module.ts
  api/src/core/models/vocabulary.model.ts
  api/src/core/ports/vocabulary.repository.ts
  api/src/core/usecases/vocabulary/add-reader-to-vocabulary-list.usecase.ts
  api/src/core/usecases/vocabulary/index.ts
  api/src/core/usecases/vocabulary/remove-reader-to-vocabulary-list.usecase.ts
  api/src/providers/persistance/repositories/prisma-vocabulary-repository.ts
Due: ðŸ§© api init, ðŸ§© api

👌 fix: Fix type error
  app/src/presentation/components/Jitsi/JitsiMobile.tsx
  app/src/presentation/components/Jitsi/JitsiWeb.tsx
  app/src/presentation/components/chat/messages/MessageVocabulary.tsx
Due: ðŸ§© webapp

✨ feat: Handle Activity message and navigate to activity on click message
  api/src/api/controllers/chat.controller.ts
  api/src/api/dtos/chat/message.response.ts
  api/src/api/dtos/chat/user-conversation.response.ts
  api/src/api/dtos/vocabulary/vocabulary-list.response.ts
  api/src/core/usecases/chat/get-messages-from-conversation.usecase.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/command/MessageCommand.ts
  app/src/domain/entities/chat/Message.ts
  app/src/presentation/components/card/SmallActivityCard.module.css
  app/src/presentation/components/card/SmallActivityCard.tsx
  app/src/presentation/components/chat/ChatInputSender.tsx
  app/src/presentation/components/chat/ConversationLine.tsx
  app/src/presentation/components/chat/MessageComponent.tsx
  app/src/presentation/components/chat/messages/MessageActivity.tsx
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/components/contents/activity/ActivityContent.tsx
  app/src/presentation/components/modals/SelectActivitiesListModal.module.css
  app/src/presentation/components/modals/SelectActivitiesListModal.tsx
  app/src/presentation/pages/LearningPage.tsx
  chat/src/core/models/message.model.ts
Due: ðŸ§© api, ðŸ§© webapp, ðŸ§© chat

Fix: mandatory field indication
  admin/src/components/form/EventForm.tsx
  admin/src/locales/en.json
  admin/src/locales/fr.json
Due: ðŸ§© admin

Feat: news order by
  admin/src/queries/NewsQuery.ts
  api/src/api/controllers/news.controller.ts
  api/src/api/dtos/news/index.ts
  api/src/core/ports/news.repository.ts
  api/src/core/usecases/news/get-news-admin.usecase.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
Due: ðŸ§© admin, ðŸ§© api

Fix: Events order by
  admin/src/queries/EventsQuery.ts
  api/src/api/controllers/events.controller.ts
  api/src/api/dtos/events/get-events-admin.request.ts
  api/src/core/ports/event.repository.ts
  api/src/core/usecases/event/get-events-admin.usecase.ts
  api/src/providers/persistance/repositories/prisma-events.repository.ts
Due: ðŸ§© admin, ðŸ§© api

✨ feat: Add relation for message response on chat api
  api/src/api/dtos/chat/message.response.ts
  api/src/core/ports/chat.service.ts
  chat/libs/common/src/database/schema.prisma
  chat/src/api/controllers/conversation.controller.ts
  chat/src/api/dtos/message/send-message.request.ts
  chat/src/core/models/message.model.ts
  chat/src/core/ports/message.repository.ts
  chat/src/core/usecases/message/create-message.usecase.ts
  chat/src/providers/persistance/mappers/message.mapper.ts
  chat/src/providers/persistance/repositories/in-memory-message.repository.ts
  chat/src/providers/persistance/repositories/prisma-message.repository.ts
Due: ðŸ§© api, ðŸ§© chat

Fix: concerned universities for partners
  admin/src/components/form/EventForm.tsx
Due: ðŸ§© admin

Fix: author university update removed for events and news
  admin/src/pages/events/edit.tsx
  admin/src/pages/news/edit.tsx
  api/src/api/dtos/events/update-event.request.ts
  api/src/api/dtos/news/index.ts
  api/src/core/ports/event.repository.ts
  api/src/core/usecases/event/update-event.usecase.ts
  api/src/core/usecases/news/update-news.usecase.ts
  api/src/providers/persistance/repositories/prisma-events.repository.ts
  api/src/providers/persistance/repositories/prisma-news-repository.ts
Due: ðŸ§© admin, ðŸ§© api

Fix: admin event edit error when user does not have a profile
  admin/src/providers/customDataProvider.ts
  api/src/api/controllers/events.controller.ts
Due: ðŸ§© admin, ðŸ§© api
