Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© auth ul theme, ðŸ§© webapp, ðŸ§© chat

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" ||  $CI_COMMIT_BRANCH == "ci" # Supprimer ci

stages:
  - packages

# CI de package
.package ci:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend

# CI de l'admin
ðŸ§© admin:
  extends: .package ci
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    # DOCKER_TARGET: admin_prod # GÃ©nÃ¨re une erreur : ERR_PNPM_BROKEN_LOCKFILEâ€‰ The lockfile at "/srv/app/pnpm-lock.yaml" is broken: duplicated mapping key (1755:3)
    LINT: enabled
  rules:
    - changes:
        - admin/**/*

# CI de l'initialisation API
ðŸ§© api init:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init
  rules:
    - changes:
        - api/libs/common/src/database/**/*

# CI de l'API
ðŸ§© api:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    # DOCKER_TARGET: api_prod
    LINT: enabled
    TEST: enabled
  rules:
    - changes:
        - api/**/*

# CI du thÃ¨me UL Keycloak
ðŸ§© auth ul theme:
  extends: .package ci
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: "1.0"
  rules:
    - changes:
        - docker/keycloak/**/*

# CI de la webapp
ðŸ§© webapp:
  extends: .package ci
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp
  rules:
    - changes:
        - app/**/*

# CI du chat
ðŸ§© chat:
  extends: .package ci
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat
  rules:
    - changes:
        - chat/**/*

✨ feat: Handle Event Adress and Event Dat
  api/libs/common/src/database/seeds/events.ts
  api/src/api/controllers/events.controller.ts
  api/src/api/dtos/events/event.response.ts
  api/src/core/models/event.model.ts
  api/src/core/usecases/event/get-event.usecase.ts
  api/src/core/usecases/event/get-events.usecase.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/command/EventCommand.ts
  app/src/domain/entities/Event.ts
  app/src/presentation/components/contents/events/EventsContent.module.css
  app/src/presentation/components/contents/events/EventsContent.tsx
  app/src/presentation/components/events/EventAdress.module.css
  app/src/presentation/components/events/EventAdress.tsx
  app/src/presentation/components/events/EventDate.module.css
  app/src/presentation/components/events/EventDate.tsx
  app/src/presentation/components/events/EventLine.module.css
  app/src/presentation/components/events/EventLine.tsx
Due: ðŸ§© api init, ðŸ§© api, ðŸ§© webapp

Feat: emails sent on subcribtion and unsubscription
  api/src/core/ports/email.gateway.ts
  api/src/core/usecases/event/subscribe-to-event.usecase.ts
  api/src/core/usecases/event/unsubscribe-to-event.usecase.ts
  api/src/providers/gateway/in-memory-email.gateway.ts
  api/src/providers/gateway/smtp-email.gateway.ts
Due: ðŸ§© api

Feat: subscription management
  admin/src/components/form/EventForm.tsx
  admin/src/entities/News.ts
  admin/src/locales/fr.json
  admin/src/pages/events/create.tsx
  admin/src/pages/events/edit.tsx
  admin/src/pages/events/list.tsx
  admin/src/pages/events/subscriptions/SearchProfile.tsx
  admin/src/pages/events/subscriptions/list.tsx
  admin/src/pages/profiles/list.tsx
  admin/src/providers/customDataProvider.ts
  admin/src/queries/EventsQuery.ts
  admin/src/queries/ProfilesQuery.ts
  api/src/api/controllers/profile.controller.ts
  api/src/api/dtos/profiles/profiles-filters.ts
  api/src/core/ports/profile.repository.ts
  api/src/providers/persistance/mappers/profile.mapper.ts
  api/src/providers/persistance/mappers/user.mapper.ts
  api/src/providers/persistance/repositories/prisma-profile-repository.ts
Due: ðŸ§© admin, ðŸ§© api

WIP: email sent on event deletion (university contact missing)
  api/src/core/ports/email.gateway.ts
  api/src/core/ports/profile.repository.ts
  api/src/core/usecases/event/delete-event.usecase.ts
  api/src/core/usecases/event/subscribe-to-event.usecase.ts
  api/src/core/usecases/event/unsubscribe-to-event.usecase.ts
  api/src/providers/gateway/in-memory-email.gateway.ts
  api/src/providers/gateway/smtp-email.gateway.ts
  api/src/providers/persistance/repositories/prisma-profile-repository.ts
Due: ðŸ§© api

Feat : event update
  admin/src/components/form/EventForm.tsx
  admin/src/locales/fr.json
  admin/src/pages/events/edit.tsx
  admin/src/pages/events/index.ts
Due: ðŸ§© admin

Feat: subscriptions management
  admin/src/components/form/EventForm.tsx
  admin/src/pages/events/subscriptions/SearchProfile.tsx
  admin/src/pages/events/subscriptions/list.tsx
  admin/src/providers/customDataProvider.ts
  admin/src/queries/ProfilesQuery.ts
  api/src/api/controllers/profile.controller.ts
  api/src/api/dtos/profiles/profiles-filters.ts
  api/src/core/core.module.ts
  api/src/core/ports/profile.repository.ts
  api/src/core/usecases/profiles/get-profiles-subscribed-to-event.usecase.ts
  api/src/core/usecases/profiles/index.ts
  api/src/providers/persistance/repositories/in-memory-profile-repository.ts
  api/src/providers/persistance/repositories/prisma-profile-repository.ts
Due: ðŸ§© admin, ðŸ§© api

Feat: Delete event notification to universities and contacts
  api/src/core/ports/email.gateway.ts
  api/src/core/usecases/event/delete-event.usecase.ts
Due: ðŸ§© api

WIP: subscriptions
  admin/src/App.tsx
  admin/src/components/form/events/EventForm.tsx
  admin/src/components/form/events/UsersList.tsx
  admin/src/entities/Event.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/events/create.tsx
  admin/src/pages/events/edit.tsx
  admin/src/pages/events/list.tsx
  admin/src/pages/events/subscriptions/index.tsx
  admin/src/pages/events/subscriptions/list.tsx
  admin/src/providers/customDataProvider.ts
  api/src/api/controllers/profile.controller.ts
  api/src/core/core.module.ts
  api/src/core/ports/profile.repository.ts
  api/src/core/usecases/profiles/get-profiles-subscribed-to-event.usecase.ts
  api/src/core/usecases/profiles/index.ts
  api/src/providers/persistance/mappers/user.mapper.ts
  api/src/providers/persistance/repositories/in-memory-profile-repository.ts
  api/src/providers/persistance/repositories/prisma-events.repository.ts
  api/src/providers/persistance/repositories/prisma-profile-repository.ts
Due: ðŸ§© admin, ðŸ§© api

Fix: university default contact error when no previous contact
  api/src/core/usecases/university/update-university.usecase.ts
Due: ðŸ§© api

Feat: events list and create
  admin/src/App.tsx
  admin/src/components/form/EventForm.tsx
  admin/src/components/menu/CustomMenu.tsx
  admin/src/entities/Event.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/events/create.tsx
  admin/src/pages/events/index.ts
  admin/src/pages/events/list.tsx
  admin/src/providers/customDataProvider.ts
  admin/src/queries/EventsQuery.ts
Due: ðŸ§© admin

Refacto: get route renamed for "admin"
  admin/src/providers/customDataProvider.ts
  api/src/api/controllers/events.controller.ts
  api/src/api/controllers/university.controller.ts
  api/src/api/dtos/events/get-events-admin.request.ts
  api/src/api/dtos/events/index.ts
  api/src/core/core.module.ts
  api/src/core/usecases/event/get-events-admin.usecase.ts
  api/src/core/usecases/event/index.ts
  api/src/core/usecases/university/get-university.usecase.ts
Due: ðŸ§© admin, ðŸ§© api

Feat: mail to subscribed users
  admin/src/components/form/EventForm.tsx
  admin/src/locales/fr.json
  admin/src/pages/events/subscriptions/SendEmail.tsx
  admin/src/pages/events/subscriptions/list.tsx
  admin/src/providers/customDataProvider.ts
  api/src/api/controllers/events.controller.ts
  api/src/api/dtos/events/send-email-to-subscribed-users.request.ts
  api/src/core/core.module.ts
  api/src/core/ports/email.gateway.ts
  api/src/core/usecases/event/index.ts
  api/src/core/usecases/event/send-email-to-subscribed-user.usecase.ts
  api/src/providers/gateway/in-memory-email.gateway.ts
  api/src/providers/gateway/smtp-email.gateway.ts
Due: ðŸ§© admin, ðŸ§© api

Refacto: event and news forms
  admin/src/components/form/EventForm.tsx
  admin/src/components/form/NewsForm.tsx
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/events/subscriptions/list.tsx
Due: ðŸ§© admin

Fix: en translations and confirm event deletion modal
  admin/src/locales/en.json
  admin/src/pages/events/list.tsx
Due: ðŸ§© admin

Fix: console.log and unused files
  admin/src/components/form/events/EventForm.tsx
  admin/src/components/form/events/UsersList.tsx
  api/src/api/controllers/university.controller.ts
  api/src/core/usecases/event/subscribe-to-event.usecase.ts
Due: ðŸ§© admin, ðŸ§© api

Fix: remove unecessary code
  api/src/core/usecases/event/delete-event.usecase.ts
  api/src/providers/persistance/repositories/prisma-events.repository.ts
Due: ðŸ§© api

feat(app): profile page redesign
  app/public/locales/fr/translation.json
  app/src/assets/backgrounds/background-purple-profile.png
  app/src/assets/index.ts
  app/src/presentation/components/Avatar.tsx
  app/src/presentation/components/NetworkImage.tsx
  app/src/presentation/components/contents/ProfileContent.module.css
  app/src/presentation/components/contents/ProfileContent.tsx
  app/src/presentation/components/layout/OnlineWebLayout.tsx
  app/src/presentation/components/layout/Sidebar.tsx
  app/src/presentation/components/modals/ProfileModal.tsx
  app/src/presentation/components/profile/ProfileDetailsCard.module.css
  app/src/presentation/components/profile/ProfileDetailsCard.tsx
  app/src/presentation/hooks/useFetchI18NBackend.ts
  app/src/presentation/hooks/useGetMediaObject.ts
  app/src/presentation/pages/ConversationsPage.tsx
  app/src/presentation/pages/HomePage.tsx
  app/src/presentation/pages/LearningPage.tsx
  app/src/presentation/pages/ProfilePage.tsx
  app/src/presentation/pages/ReportsPage.tsx
  app/src/presentation/pages/ViewReportPage.tsx
  app/src/presentation/utils.ts
Due: ðŸ§© webapp

✨ feat: Add button in event content to subscribe or unsubscribe
  api/src/api/controllers/events.controller.ts
  api/src/api/dtos/events/event.response.ts
  api/src/core/usecases/event/get-event.usecase.ts
  api/src/providers/persistance/mappers/events.mapper.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/adapter/CalendarAdapter.ts
  app/src/adapter/interfaces/CalendarAdapter.interface.ts
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/interfaces/event/GetEventUsecase.interface.ts
  app/src/domain/interfaces/event/SubscribeToEventUsecase.interface.ts
  app/src/domain/interfaces/event/UnsubscribeToEventUsecase.interface.ts
  app/src/domain/usecases/event/GetEventUsecase.ts
  app/src/domain/usecases/event/SubscribeToEventUsecase.ts
  app/src/domain/usecases/event/UnsubscribeToEventUsecase.ts
  app/src/presentation/components/contents/events/EventsContent.tsx
  app/src/presentation/components/events/EventDate.module.css
  app/src/presentation/components/events/EventDate.tsx
  app/src/presentation/components/events/EventSubscribeButton.tsx
  app/src/presentation/components/modals/EventsContentModal.tsx
  app/src/presentation/hooks/useGetEvent.ts
Due: ðŸ§© api, ðŸ§© webapp

fix(admin): Administrator language
  admin/src/components/LanguagePicker.tsx
  admin/src/components/form/AdministratorForm.tsx
  admin/src/entities/Administrator.ts
  api/libs/keycloak/src/keycloak.client.ts
  api/src/api/dtos/users/index.ts
  api/src/core/usecases/user/update-administrator.usecase.ts
Due: ðŸ§© admin, ðŸ§© api

fix(admin): Fix review remarks
  admin/src/components/UniversityPicker.tsx
  admin/src/components/form/AdministratorForm.tsx
  api/src/api/dtos/users/index.ts
Due: ðŸ§© admin, ðŸ§© api

fix(app): show header only on desktop
  app/src/presentation/components/Jitsi/JitsiWeb.tsx
Due: ðŸ§© webapp

👌 fix: Get app icone from api rather than static ( for instance management )
  api/src/api/dtos/instance/instance.response.ts
  api/src/core/models/Instance.model.ts
  api/src/core/usecases/instance/get-instance.usecase.ts
  api/src/providers/storage/minio.storage.ts
  app/src/App.tsx
  app/src/assets/index.ts
  app/src/assets/logo-text.svg
  app/src/context/ConfigurationContext.tsx
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/entities/Confirguration.ts
  app/src/presentation/components/HomeHeader.tsx
  app/src/presentation/hooks/useFetchConfiguration.ts
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Create ics to add event on calendar
  api/src/api/controllers/events.controller.ts
  app/src/presentation/components/events/EventDate.tsx
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Add translations
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
Due: ðŸ§© webapp

fix(4330): Fix admin password security
  admin/src/components/form/AdministratorForm.tsx
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/administrators/create.tsx
  admin/src/pages/administrators/edit.tsx
  admin/src/pages/auth/ForgotPassword.tsx
  admin/src/pages/auth/login.tsx
  api/libs/keycloak/src/keycloak.client.ts
  api/libs/keycloak/src/keycloak.models.ts
  api/src/api/dtos/users/index.ts
  api/src/core/usecases/user/create-administrator.usecase.ts
  docker/keycloak/themes/ulep/email/messages/messages_fr.properties
Due: ðŸ§© admin, ðŸ§© api, ðŸ§© auth ul theme

Fix admin auth
  api/src/core/usecases/user/create-administrator.usecase.ts
  docker/keycloak/themes/ulep/email/messages/messages_en.properties
  docker/keycloak/themes/ulep/email/messages/messages_fr.properties
Due: ðŸ§© api, ðŸ§© auth ul theme

✨ feat: Handle events on mobile
  app/android/capacitor.settings.gradle
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/contents/events/EventsContent.tsx
  app/src/presentation/components/contents/events/EventsListContent.tsx
  app/src/presentation/components/events/EventDate.tsx
  app/src/presentation/components/events/EventSubscribeButton.module.css
  app/src/presentation/components/events/EventSubscribeButton.tsx
  app/src/presentation/pages/mobile/EventListPage.tsx
  app/src/presentation/pages/mobile/EventShowPage.tsx
  app/src/presentation/router/Router.tsx
Due: ðŸ§© webapp

✨ feat: Display image on events
  api/src/api/controllers/events.controller.ts
  api/src/api/dtos/events/event.response.ts
  api/src/core/usecases/event/get-event.usecase.ts
  api/src/core/usecases/event/get-events.usecase.ts
  app/src/command/EventCommand.ts
  app/src/domain/entities/Event.ts
Due: ðŸ§© api, ðŸ§© webapp

feat(app): menu adjustment, add button “new”
  app/public/locales/fr/translation.json
  app/src/presentation/components/FlagBubble.tsx
  app/src/presentation/components/MenuNew.module.css
  app/src/presentation/components/MenuNew.tsx
  app/src/presentation/components/contents/SelectLanguageContent.module.css
  app/src/presentation/components/contents/SelectLanguageContent.tsx
  app/src/presentation/components/contents/SelectTandemContent.module.css
  app/src/presentation/components/contents/SelectTandemContent.tsx
  app/src/presentation/components/contents/SessionFormContent.tsx
  app/src/presentation/components/contents/SessionListContent.tsx
  app/src/presentation/components/contents/ShowSessionContent.tsx
  app/src/presentation/components/contents/VocabularyContent.tsx
  app/src/presentation/components/contents/activity/ActivityContent.module.css
  app/src/presentation/components/contents/activity/ActivityContent.tsx
  app/src/presentation/components/contents/activity/CreateOrUpdateActivityContent.module.css
  app/src/presentation/components/contents/activity/CreateOrUpdateActivityContent.tsx
  app/src/presentation/components/layout/OnlineWebLayout.tsx
  app/src/presentation/components/layout/Sidebar.module.css
  app/src/presentation/components/layout/Sidebar.tsx
  app/src/presentation/components/modals/NewActivityMenuModal.tsx
  app/src/presentation/components/modals/NewSessionMenuModal.tsx
  app/src/presentation/components/modals/NewVocabularyMenuModal.tsx
  app/src/presentation/components/modals/SessionsContentModal.tsx
  app/src/presentation/components/tandems/TandemCardButton.module.css
  app/src/presentation/components/tandems/TandemCardButton.tsx
  app/src/presentation/hooks/useVocabulary.ts
  app/src/presentation/pages/mobile/VocabulariesPage.tsx
  app/src/presentation/router/BottomBar.module.css
  app/src/presentation/router/BottomBar.tsx
  app/src/presentation/router/Router.tsx
  app/src/presentation/theme/global.css
Due: ðŸ§© webapp

👌 fix: Avoid filter modal to take all screen
  app/src/presentation/components/contents/activity/ActivitiesContent.tsx
  app/src/presentation/components/modals/FilterModal.module.css
Due: ðŸ§© webapp

👌 fix: Remove log
  app/src/presentation/components/contents/events/EventsListContent.tsx
Due: ðŸ§© webapp

fix(admin): Fix login page
  admin/src/pages/auth/login.tsx
Due: ðŸ§© admin

✨ feat: Rename some variables and add functions to send message in our database
  app/package.json
  app/pnpm-lock.yaml
  app/src/presentation/components/Jitsi/JitsiMobile.tsx
  app/src/presentation/components/Jitsi/JitsiWeb.tsx
  app/src/presentation/components/Jitsi/VisioContainer.tsx
  app/src/presentation/components/Jitsi/VisioInfoFrame.tsx
  app/src/presentation/components/modals/TandemProfileModal.tsx
  app/src/presentation/components/tandems/TandemProfile.tsx
  app/src/presentation/components/tandems/TandemProfileContent.tsx
  app/src/presentation/pages/mobile/TandemProfilePage.tsx
  chat/pnpm-lock.yaml
Due: ðŸ§© webapp, ðŸ§© chat

✨ feat: Add listeners to get send message info
  app/android/capacitor.settings.gradle
  app/src/presentation/components/HomeHeader.module.css
  app/src/presentation/components/Jitsi/JitsiMobile.tsx
  app/src/presentation/components/Jitsi/JitsiWeb.tsx
Due: ðŸ§© webapp

hotfix(admin): Fix 4330/4328 Separate reset password and remove manager filter
  admin/src/components/adminGroups/AdminGroupPicker.tsx
  admin/src/pages/auth/ForgotPassword.tsx
  api/libs/keycloak/src/keycloak.client.ts
  api/src/api/controllers/security.controller.ts
  api/src/core/core.module.ts
  api/src/core/usecases/security/reset-admin-password.usecase.ts
Due: ðŸ§© admin, ðŸ§© api

fix(admin): Sort translated languages
  admin/src/components/LanguagePicker.tsx
Due: ðŸ§© admin

👌 fix: Add ? to avoid crash
  app/src/presentation/components/card/ProficiencyTestCard.tsx
Due: ðŸ§© webapp

👌 fix: Update profile id to user id when getting conversation partner
  app/src/presentation/components/contents/ChatContent.tsx
Due: ðŸ§© webapp
