Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© auth ul theme, ðŸ§© webapp, ðŸ§© chat

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" ||  $CI_COMMIT_BRANCH == "ci" # Supprimer ci

stages:
  - packages

# CI de package
.package ci:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend

# CI de l'admin
ðŸ§© admin:
  extends: .package ci
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    # DOCKER_TARGET: admin_prod # GÃ©nÃ¨re une erreur : ERR_PNPM_BROKEN_LOCKFILEâ€‰ The lockfile at "/srv/app/pnpm-lock.yaml" is broken: duplicated mapping key (1755:3)
    LINT: enabled
  rules:
    - changes:
        - admin/**/*

# CI de l'initialisation API
ðŸ§© api init:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init
  rules:
    - changes:
        - api/libs/common/src/database/**/*

# CI de l'API
ðŸ§© api:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    # DOCKER_TARGET: api_prod
    LINT: enabled
    TEST: enabled
  rules:
    - changes:
        - api/**/*

# CI du thÃ¨me UL Keycloak
ðŸ§© auth ul theme:
  extends: .package ci
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: "1.0"
  rules:
    - changes:
        - docker/keycloak/**/*

# CI de la webapp
ðŸ§© webapp:
  extends: .package ci
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp
  rules:
    - changes:
        - app/**/*

# CI du chat
ðŸ§© chat:
  extends: .package ci
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat
  rules:
    - changes:
        - chat/**/*

👌 fix: Add button on password information popover
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/pages/SignUpInformationsPage.tsx
  app/src/presentation/pages/css/SignUp.module.css
Due: ðŸ§© webapp

👌 fix: Remove unused instance variable
  app/src/presentation/pages/SignUpInformationsPage.tsx
Due: ðŸ§© webapp

fix(app): Fix chat styles
  app/src/presentation/components/AudioLine.module.css
  app/src/presentation/components/chat/MediaComponent.module.css
  app/src/presentation/components/chat/MediaComponent.tsx
  app/src/presentation/components/chat/MediasList.module.css
  app/src/presentation/components/chat/MediasList.tsx
  app/src/presentation/components/contents/ChatContent.module.css
  app/src/presentation/components/contents/MediaContent.module.css
  app/src/presentation/components/contents/MediaContent.tsx
  app/src/presentation/hooks/useMessages.ts
Due: ðŸ§© webapp

👌 fix: Update date for CRON trigger
  api/src/core/services/CronService.ts
  api/src/providers/persistance/repositories/prisma-learning-language-repository.ts
Due: ðŸ§© api

fix(app): Fix messages scroll
  app/src/presentation/components/card/OGCard.tsx
  app/src/presentation/hooks/useMessages.ts
Due: ðŸ§© webapp

👌 fix: Add commentary
  app/src/presentation/hooks/useMessages.ts
Due: ðŸ§© webapp

fix(devops): Small config changes
  .circleci/config.yml
  helm/project/values.yaml.tmp
Due: none

fix(admin): review remarks
  admin/src/pages/profiles-with-tandems-profiles/hasTandemManagementPermission.ts
  admin/src/pages/profiles-with-tandems-profiles/list/index.tsx
  admin/src/pages/profiles-with-tandems-profiles/list/list.css
  admin/src/pages/profiles-with-tandems-profiles/show/PartnerCard.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/TandemTable/TandemTable.tsx
  api/src/core/usecases/profiles/get-profile-with-tandems-profiles.usecase.ts
  api/src/core/usecases/user/get-administrators.usecase.ts
Due: ðŸ§© admin, ðŸ§© api

University filter removed
  admin/src/pages/chat/list.tsx
  admin/src/queries/ChatQuery.ts
  api/src/api/controllers/chat.controller.ts
  api/src/api/dtos/chat/get-conversations.request.ts
  api/src/core/usecases/chat/get-all-conversations-from-user-id.usecase.ts
Due: ðŸ§© admin, ðŸ§© api

WIP: messages list
  admin/src/App.tsx
  admin/src/entities/Conversation.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/chat-messages/index.ts
  admin/src/pages/chat-messages/list.tsx
  admin/src/pages/chat/list.tsx
  admin/src/providers/customDataProvider.ts
  admin/src/queries/ChatQuery.ts
  app/src/presentation/pages/ConversationsPage.tsx
  chat/src/providers/persistance/repositories/prisma-conversation.repository.ts
Due: ðŸ§© admin, ðŸ§© webapp, ðŸ§© chat

Chat list with pagination and filters
  admin/src/App.tsx
  admin/src/components/menu/CustomMenu.tsx
  admin/src/entities/Conversation.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/chat/index.ts
  admin/src/pages/chat/list.tsx
  admin/src/providers/customDataProvider.ts
  admin/src/queries/ChatQuery.ts
  api/pnpm-lock.yaml
  api/src/api/controllers/chat.controller.ts
  api/src/api/dtos/chat/get-conversations.request.ts
  api/src/core/ports/chat.service.ts
  api/src/core/usecases/chat/get-all-conversations-from-user-id.usecase.ts
  api/src/providers/services/chat.service.ts
  app/src/presentation/pages/ConversationsPage.tsx
  chat/src/api/controllers/conversation.controller.ts
  chat/src/api/dtos/conversation/get-conversations.request.ts
  chat/src/core/ports/conversation.repository.ts
  chat/src/core/usecases/conversation/get-conversation-from-user-id.usecase.ts
  chat/src/providers/persistance/repositories/prisma-conversation.repository.ts
Due: ðŸ§© admin, ðŸ§© api, ðŸ§© webapp, ðŸ§© chat

✨ feat: Add Thumbnail in Message Image
  api/src/api/dtos/chat/message.response.ts
  api/src/core/usecases/chat/get-messages-from-conversation.usecase.ts
  app/src/adapter/CameraAdapter.ts
  app/src/domain/entities/chat/Message.ts
  app/src/presentation/components/chat/MediaComponent.tsx
  app/src/presentation/components/chat/MessageComponent.tsx
  chat/libs/common/src/database/schema.prisma
  chat/package.json
  chat/pnpm-lock.yaml
  chat/src/api/controllers/conversation.controller.ts
  chat/src/api/dtos/message/message.response.ts
  chat/src/core/models/media.model.ts
  chat/src/core/ports/media-object.repository.ts
  chat/src/core/usecases/conversation/get-messages-from-conversation-id.usecase.ts
  chat/src/core/usecases/media/upload-media.usecase.ts
  chat/src/providers/persistance/mappers/message.mapper.ts
  chat/src/providers/persistance/repositories/in-memory-media-object.repository.ts
  chat/src/providers/persistance/repositories/prisma-media-object.repository.ts
Due: ðŸ§© api, ðŸ§© webapp, ðŸ§© chat

✨ feat: Add button to report message + update design
  app/src/presentation/components/card/OGCard.module.css
  app/src/presentation/components/chat/MessageComponent.module.css
  app/src/presentation/components/chat/MessageComponent.tsx
Due: ðŸ§© webapp

Update app/src/presentation/components/chat/MessageComponent.tsx
  app/src/presentation/components/chat/MessageComponent.tsx
Due: ðŸ§© webapp

👌 fix: pr review
  app/src/presentation/components/chat/MessageComponent.tsx
Due: ðŸ§© webapp

👌 fix: Accessibility on chat icon sender
  app/src/presentation/components/chat/ChatInputSender.module.css
  app/src/presentation/components/chat/ChatInputSender.tsx
Due: ðŸ§© webapp

✨ feat: Add link in the MessageLink
  app/src/presentation/components/chat/MessageComponent.tsx
Due: ðŸ§© webapp

👌 fix: Add accessibility on sender button
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/RecordingButton.tsx
Due: ðŸ§© webapp

✨ feat: Add modale to display image in full screen
  app/src/presentation/components/HomeHeader.module.css
  app/src/presentation/components/chat/MediaComponent.module.css
  app/src/presentation/components/chat/MediaComponent.tsx
  app/src/presentation/components/chat/MediasList.tsx
  app/src/presentation/components/chat/MessageComponent.module.css
  app/src/presentation/components/chat/MessageComponent.tsx
  app/src/presentation/components/chat/MessagesList.tsx
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/components/contents/MediaContent.tsx
  app/src/presentation/components/modals/Modal.tsx
  app/src/presentation/hooks/useMessages.ts
  app/src/presentation/pages/ConversationsPage.tsx
  app/src/presentation/pages/css/ConversationsPage.module.css
  app/src/presentation/pages/mobile/ChatPage.tsx
Due: ðŸ§© webapp

✨ feat: Add modal image on mobile
  app/src/presentation/components/chat/MediasList.tsx
  app/src/presentation/components/contents/MediaContent.tsx
  app/src/presentation/hooks/useHandleMessagesFromConversation.ts
  app/src/presentation/pages/css/ChatPage.module.css
  app/src/presentation/pages/mobile/ChatPage.tsx
  app/src/presentation/pages/mobile/MediaPage.tsx
Due: ðŸ§© webapp

👌 fix: Update ios background + sender button
  app/ios/App/Podfile
  app/ios/App/Podfile.lock
  app/src/presentation/components/RecordingButton.module.css
  app/src/presentation/components/chat/MessagesList.module.css
  app/src/presentation/components/contents/ChatContent.module.css
  app/src/presentation/components/contents/MediaContent.tsx
Due: ðŸ§© webapp

👌 fix: Remove logs
  app/src/presentation/components/chat/ChatInputSender.tsx
  app/src/presentation/pages/mobile/ChatPage.tsx
Due: ðŸ§© webapp

👌 fix: Avoid conversation with the same user
  api/src/core/usecases/university/update-university.usecase.ts
Due: ðŸ§© api

👌 fix: Handle same tandem option as expected ( abort match when same tandem is selected )
  api/src/api/controllers/tandemHistory.controller.ts
  api/src/core/usecases/profiles/create-learning-language.usecase.ts
  api/src/providers/persistance/repositories/prisma-learning-language-repository.ts
  api/src/providers/persistance/repositories/prisma-tandem-history-repository.ts
Due: ðŸ§© api

👌 fix: Update ColoredChips type and chat sentry dsn
  admin/src/components/ColoredChips.tsx
  helm/project/templates/chat/deployment-chat.yaml
Due: ðŸ§© admin

👌 fix: Remove useTranslate from App.tsx
  admin/src/App.tsx
Due: ðŸ§© admin

👌 fix: Fix tsc error
  admin/src/App.tsx
Due: ðŸ§© admin

WIP
  admin/package.json
  admin/pnpm-lock.yaml
  admin/src/App.tsx
  admin/src/components/chat/AudioLine.tsx
  admin/src/components/chat/ChatContent.tsx
  admin/src/components/chat/ChatInputSender.tsx
  admin/src/components/chat/MessageComponent.tsx
  admin/src/components/chat/MessagesList.tsx
  admin/src/components/chat/OGCard.tsx
  admin/src/components/chat/useHandleMessagesFromConversation.ts
  admin/src/components/chat/useMessages.ts
  admin/src/components/menu/CustomMenu.tsx
  admin/src/entities/Conversation.ts
  admin/src/entities/Message.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/chat-messages/index.ts
  admin/src/pages/chat-messages/list.tsx
  admin/src/pages/chat/list.tsx
  admin/src/providers/customDataProvider.ts
  admin/src/providers/jwtManager.ts
  admin/src/providers/socketIoProvider.ts
  admin/src/theme/theme.ts
  admin/src/utils/downloadFile.ts
  admin/src/utils/getLocaleCode.ts
  api/src/api/dtos/chat/conversation.response.ts
  api/src/api/dtos/pagination/index.ts
  api/src/core/ports/chat.service.ts
  api/src/core/usecases/chat/get-all-conversations-from-user-id.usecase.ts
  app/src/adapter/FileAdapter.ts
  app/src/adapter/interfaces/SocketIoAdapter.interface.ts
  chat/src/core/ports/conversation.repository.ts
  chat/src/core/usecases/conversation/delete-contact-conversation.usecase.ts
  chat/src/core/usecases/message/create-message.usecase.ts
  chat/src/providers/gateway/hub.gateway.ts
  chat/src/providers/persistance/repositories/in-memory-conversation.repository.ts
  chat/src/providers/persistance/repositories/prisma-conversation.repository.ts
  docker-compose.yaml
Due: ðŸ§© admin, ðŸ§© api, ðŸ§© webapp, ðŸ§© chat

fix(devops): Try debug admin on staging #1
  .circleci/config.yml
Due: none

fix(devops): Try debug admin on staging #2
  .circleci/config.yml
Due: none

fix(devops): Try debug admin on staging #3
  .circleci/config.yml
  admin/Dockerfile
Due: ðŸ§© admin

fix(devops): Try debug admin on staging #4
  admin/Dockerfile
Due: ðŸ§© admin

fix(devops): Try debug admin on staging #5
  admin/Dockerfile
  helm/project/templates/admin/deployment-admin.yaml
Due: ðŸ§© admin

fix(devops): Try debug admin on staging #6
  admin/Dockerfile
Due: ðŸ§© admin

✨ feat: Add preview message and sender
  admin/pnpm-lock.yaml
  admin/src/components/chat/AudioLine.tsx
  admin/src/components/chat/ChatContent.tsx
  admin/src/components/chat/ChatInputSender.tsx
  admin/src/components/chat/MessageComponent.tsx
  admin/src/components/chat/RecordingButton.tsx
  admin/src/components/chat/useAudioRecorder.ts
  admin/src/components/chat/useHandleMessagesFromConversation.ts
  admin/src/components/chat/useMessages.ts
  admin/src/entities/User.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/providers/customDataProvider.ts
  admin/src/service/AudioRecorderService.ts
  api/src/core/usecases/chat/get-messages-from-conversation.usecase.ts
  api/src/core/usecases/notifications/send-message-notification.usecase.ts
  app/src/presentation/components/chat/ChatInputSender.tsx
  chat/src/api/dtos/message/send-message.request.ts
  chat/src/providers/gateway/hub.gateway.ts
  chat/src/providers/services/notification.service.ts
Due: ðŸ§© admin, ðŸ§© api, ðŸ§© webapp, ðŸ§© chat

👌 fix: Display Image/File/Audio if needed on conversation line
  admin/src/entities/Conversation.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/chat/list.tsx
Due: ðŸ§© admin

👌 fix: Remove sender infos when changing conversation
  app/src/presentation/components/chat/ChatInputSender.tsx
Due: ðŸ§© webapp

✨ feat: Add conversation button and redirection on chat content
  app/src/presentation/components/contents/ChatContent.module.css
  app/src/presentation/components/contents/ChatContent.tsx
Due: ðŸ§© webapp

👌 fix: Fix CI
  admin/src/pages/chat/list.tsx
  admin/src/providers/socketIoProvider.ts
  api/test/specs/countries.spec.ts
Due: ðŸ§© admin, ðŸ§© api

feat(admin): Feat/4044 Visio BO
  admin/package.json
  admin/pnpm-lock.yaml
  admin/src/App.tsx
  admin/src/components/chat/ChatContent.tsx
  admin/src/pages/chat/list.tsx
  admin/src/pages/jitsi/JitsiPage.tsx
  admin/src/providers/customDataProvider.ts
  docker-compose.yaml
Due: ðŸ§© admin
