Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© auth ul theme, ðŸ§© webapp, ðŸ§© chat

ðŸ§© admin:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    LINT: enabled

ðŸ§© api init:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init

ðŸ§© api:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    LINT: enabled
    TEST: enabled

ðŸ§© auth ul theme:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: '1.0'

ðŸ§© webapp:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp

ðŸ§© chat:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat

fix(api): Fix/4156
  api/src/api/guards/authentication.guard.ts
  api/src/api/services/keycloak.authenticator.ts
Due: ðŸ§© api

fix review remarks
  api/libs/common/src/database/migrations/20240823125522_defaults_certificates_files/migration.sql
Due: ðŸ§© api init, ðŸ§© api

fix(devops): Upgrade docker version
  .circleci/config.yml
Due: none

fix review remarks
  api/src/core/usecases/media/upload-instance-default-certificate.usecase.ts
  api/src/core/usecases/media/upload-university-default-certificate.usecase.ts
Due: ðŸ§© api

👌 fix: Change overflow-y for tandem status content
  app/src/presentation/components/contents/TandemStatusContent.module.css
Due: ðŸ§© webapp

✨ feat: Update bottom bar on mobile
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/assets/index.ts
  app/src/assets/learning.svg
  app/src/presentation/components/contents/HomeContent.tsx
  app/src/presentation/pages/HomePage.tsx
  app/src/presentation/pages/mobile/LearningPage.tsx
  app/src/presentation/router/BottomBar.tsx
  app/src/presentation/theme/global.css
Due: ðŸ§© webapp

fix(admin): Update administrators credentials
  admin/src/pages/administrators/create.tsx
  admin/src/pages/administrators/edit.tsx
  api/libs/keycloak/src/keycloak.client.ts
Due: ðŸ§© admin, ðŸ§© api

✨ feat: Create LearningPage for web and mobile
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/layout/Sidebar.tsx
  app/src/presentation/pages/LearningPage.tsx
  app/src/presentation/pages/mobile/LearningPage.tsx
  app/src/presentation/router/BottomBar.tsx
  app/src/presentation/router/Router.tsx
Due: ðŸ§© webapp

fix(app): Fix/4167 Chat accessibility improvement
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/RecordingButton.tsx
  app/src/presentation/components/chat/ConversationLine.tsx
  app/src/presentation/components/chat/ConversationSearchBar.tsx
  app/src/presentation/components/chat/ConversationsLines.tsx
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/components/contents/MediaContent.tsx
Due: ðŸ§© webapp

✨ feat: Add tandem status module and tandem profile module on learning page for mobile
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/assets/add.svg
  app/src/assets/index.ts
  app/src/presentation/components/contents/LearningContent.module.css
  app/src/presentation/components/contents/LearningContent.tsx
  app/src/presentation/components/tandems/ActiveTandemCard.module.css
  app/src/presentation/components/tandems/ActiveTandemCard.tsx
  app/src/presentation/components/tandems/PendingTandemCard.module.css
  app/src/presentation/components/tandems/PendingTandemCard.tsx
  app/src/presentation/hooks/useGetLearningData.ts
  app/src/presentation/pages/LearningPage.tsx
  app/src/presentation/pages/mobile/TandemProfilePage.tsx
Due: ðŸ§© webapp

✨ feat: Adjust my tandem css
  app/src/presentation/components/contents/LearningContent.tsx
  app/src/presentation/components/tandems/ActiveTandemCard.module.css
  app/src/presentation/components/tandems/ActiveTandemCard.tsx
Due: ðŸ§© webapp

✨ feat: Update proficiency card for an unique language
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/card/ProficiencyTestCard.tsx
  app/src/presentation/components/contents/LearningContent.tsx
  app/src/presentation/utils.ts
Due: ðŸ§© webapp

✨ feat: Add new learning language card
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/card/CreateLearningLanguageCard.module.css
  app/src/presentation/components/card/CreateLearningLanguageCard.tsx
  app/src/presentation/components/card/UniversityCard.module.css
  app/src/presentation/components/contents/LearningContent.tsx
Due: ðŸ§© webapp

✨ feat: Clear home content
  app/src/presentation/components/contents/HomeContent.tsx
  app/src/presentation/hooks/useGetHomeData.ts
  app/src/presentation/pages/HomePage.tsx
Due: ðŸ§© webapp

fix(chat): Add validator file size
  app/src/presentation/components/chat/ChatInputSender.tsx
  chat/src/api/controllers/conversation.controller.ts
  chat/src/api/validators/files.validator.ts
Due: ðŸ§© webapp, ðŸ§© chat

Style : report form style improvement
  admin/src/components/form/ReportForm.tsx
Due: ðŸ§© admin

✨ feat: Add partner university on learning language
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/card/PartnerUniversitiesCard.tsx
  app/src/presentation/components/card/PartnerUniversityCard.tsx
  app/src/presentation/components/card/UniversityCard.module.css
  app/src/presentation/components/card/UniversityCard.tsx
  app/src/presentation/components/contents/LearningContent.tsx
  app/src/presentation/components/tandems/ActiveTandemCard.module.css
  app/src/presentation/components/tandems/ActiveTandemCard.tsx
  app/src/presentation/components/tandems/PendingTandemCard.module.css
  app/src/presentation/components/tandems/PendingTandemCard.tsx
Due: ðŸ§© webapp

✨ feat: Update learning page for web content
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/card/LearningCard.module.css
  app/src/presentation/components/card/LearningCard.tsx
  app/src/presentation/components/card/PartnerUniversityCard.tsx
  app/src/presentation/components/card/ProficiencyTestCard.module.css
  app/src/presentation/components/card/ProficiencyTestCard.tsx
  app/src/presentation/components/card/UniversityCard.module.css
  app/src/presentation/components/card/UniversityCard.tsx
  app/src/presentation/components/contents/HomeContent.module.css
  app/src/presentation/components/contents/LearningContent.module.css
  app/src/presentation/components/tandems/ActiveTandemCard.tsx
  app/src/presentation/components/tandems/PendingTandemCard.tsx
Due: ðŸ§© webapp

✨ feat: Disable line on my tandem web
  app/src/presentation/components/tandems/ActiveTandemCard.tsx
Due: ðŸ§© webapp

👌 fix: Move Modal content outside of IonContent
  app/src/presentation/pages/SuspendedPage.tsx
Due: ðŸ§© webapp

👌 fix: Remove security that wont remove an inactive tandem if the administrator wants to
  api/src/core/usecases/tandem/refuse-tandem.usecase.ts
Due: ðŸ§© api

Fix: check added for database being ready before Api launch
  docker-compose.yaml
Due: none

👌 fix: Add BOTH in security for etandem pairing
  api/src/core/services/MatchScorer.ts
Due: ðŸ§© api

✨ feat: Keep university login on admin creation
  api/libs/keycloak/src/keycloak.client.ts
  api/libs/keycloak/src/keycloak.models.ts
  api/src/core/usecases/user/create-administrator.usecase.ts
Due: ðŸ§© api

Fix: profiles without learning language still fetched for profiles list
  api/src/providers/persistance/repositories/prisma-profile-repository.ts
Due: ðŸ§© api

Fix: broken university filter for managers on administrators list
  admin/src/pages/administrators/list.tsx
Due: ðŸ§© admin

✨ feat: Create controller, usecases, provider and model for vocabulary
  api/libs/common/src/database/migrations/20240903091351_add_vocabulary_table/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/api.module.ts
  api/src/api/controllers/vocabulary.controller.ts
  api/src/api/dtos/index.ts
  api/src/api/dtos/vocabulary/create-vocabulary-list.request.ts
  api/src/api/dtos/vocabulary/create-vocabulary.request.ts
  api/src/api/dtos/vocabulary/get-vocabularies-from-list.request.ts
  api/src/api/dtos/vocabulary/index.ts
  api/src/api/dtos/vocabulary/update-vocabulary-list.request.ts
  api/src/api/dtos/vocabulary/update-vocabulary.request.ts
  api/src/api/dtos/vocabulary/vocabulary-list.response.ts
  api/src/api/dtos/vocabulary/vocabulary.response.ts
  api/src/core/core.module.ts
  api/src/core/models/vocabulary.model.ts
  api/src/core/ports/media-object.repository.ts
  api/src/core/ports/vocabulary.repository.ts
  api/src/core/usecases/index.ts
  api/src/core/usecases/media/index.ts
  api/src/core/usecases/media/upload-audio-vocabulary.usecase.ts
  api/src/core/usecases/vocabulary/create-vocabulary-list.usecase.ts
  api/src/core/usecases/vocabulary/create-vocabulary.usecase.ts
  api/src/core/usecases/vocabulary/delete-vocabulary-list.usecase.ts
  api/src/core/usecases/vocabulary/delete-vocabulary.usecase.ts
  api/src/core/usecases/vocabulary/find-all-vocabulary-from-list-id.usecase.ts
  api/src/core/usecases/vocabulary/find-all-vocabulary-list.usecase.ts
  api/src/core/usecases/vocabulary/index.ts
  api/src/core/usecases/vocabulary/update-vocabulary-list.usecase.ts
  api/src/core/usecases/vocabulary/update-vocabulary.usecase.ts
  api/src/providers/persistance/mappers/vocabulary.mapper.ts
  api/src/providers/persistance/repositories/prisma-media-object-repository.ts
  api/src/providers/persistance/repositories/prisma-vocabulary-repository.ts
  api/src/providers/providers.module.ts
Due: ðŸ§© api init, ðŸ§© api

👌 fix: Update swagger infos
  api/src/api/controllers/profile.controller.ts
  api/src/api/controllers/user.controller.ts
  api/src/api/controllers/vocabulary.controller.ts
  api/src/api/dtos/users/index.ts
  api/src/api/dtos/vocabulary/update-vocabulary-list.request.ts
  api/src/api/dtos/vocabulary/update-vocabulary.request.ts
  api/src/api/dtos/vocabulary/vocabulary-list.response.ts
  api/src/api/dtos/vocabulary/vocabulary.response.ts
  api/src/providers/persistance/repositories/in-memory-vocabulary-repository.ts
Due: ðŸ§© api

👌 fix: Avoid swagger error
  api/src/api/api.module.ts
  api/src/providers/providers.module.ts
Due: ðŸ§© api

👌 fix: Fix vocabulary functions
  api/libs/common/src/database/migrations/20240904131535_add_vocabulary_table/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/controllers/vocabulary.controller.ts
  api/src/api/dtos/vocabulary/update-vocabulary.request.ts
  api/src/api/dtos/vocabulary/vocabulary.response.ts
  api/src/core/models/media.model.ts
  api/src/core/models/vocabulary.model.ts
  api/src/core/usecases/media/upload-audio-vocabulary.usecase.ts
  api/src/core/usecases/vocabulary/create-vocabulary-list.usecase.ts
  api/src/core/usecases/vocabulary/find-all-vocabulary-from-list-id.usecase.ts
  api/src/providers/persistance/mappers/vocabulary.mapper.ts
  api/src/providers/persistance/repositories/prisma-media-object-repository.ts
  api/src/providers/persistance/repositories/prisma-vocabulary-repository.ts
Due: ðŸ§© api init, ðŸ§© api

✨ feat: Add all vocabulary usecases on app
  app/src/adapter/DomainHttpAdapter.ts
  app/src/command/VocabularyCommand.ts
  app/src/command/VocabularyListCommand.ts
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/entities/Vocabulary.ts
  app/src/domain/entities/VocabularyList.ts
  app/src/domain/interfaces/vocabulary/CreateVocabularyListUsecase.interface.ts
  app/src/domain/interfaces/vocabulary/CreateVocabularyUsecase.interface.ts
  app/src/domain/interfaces/vocabulary/DeleteVocabularyListUsecase.interface.ts
  app/src/domain/interfaces/vocabulary/DeleteVocabularyUsecase.interface.ts
  app/src/domain/interfaces/vocabulary/GetVocabulariesUsecase.interface.ts
  app/src/domain/interfaces/vocabulary/GetVocabularyListsUsecase.interface.ts
  app/src/domain/interfaces/vocabulary/UpdateVocabularyListUsecase.interface.ts
  app/src/domain/interfaces/vocabulary/UpdateVocabularyUsecase.interface.ts
  app/src/domain/usecases/vocabulary/CreateVocabularyListUsecase.ts
  app/src/domain/usecases/vocabulary/CreateVocabularyUsecase.ts
  app/src/domain/usecases/vocabulary/DeleteVocabularyListUsecase.ts
  app/src/domain/usecases/vocabulary/DeleteVocabularyUsecase.ts
  app/src/domain/usecases/vocabulary/GetVocabulariesUsecase.ts
  app/src/domain/usecases/vocabulary/GetVocabularyListsUsecase.ts
  app/src/domain/usecases/vocabulary/UpdateVocabularyListUsecase.ts
  app/src/domain/usecases/vocabulary/UpdateVocabularyUsecase.ts
Due: ðŸ§© webapp

✨ feat: Add more informations on vocabulary list response
  api/libs/common/src/database/migrations/20240905093213_add_vocabulary_table/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/dtos/vocabulary/vocabulary-list.response.ts
  api/src/core/models/vocabulary.model.ts
  api/src/providers/persistance/mappers/vocabulary.mapper.ts
  api/src/providers/persistance/repositories/in-memory-vocabulary-repository.ts
  api/src/providers/persistance/repositories/prisma-vocabulary-repository.ts
Due: ðŸ§© api init, ðŸ§© api

✨ feat: Create Vocabulary list page + modal for creation
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/assets/index.ts
  app/src/command/VocabularyListCommand.ts
  app/src/domain/entities/VocabularyList.ts
  app/src/domain/usecases/vocabulary/CreateVocabularyListUsecase.ts
  app/src/presentation/components/contents/LearningContent.tsx
  app/src/presentation/components/contents/VocabularyListContent.module.css
  app/src/presentation/components/contents/VocabularyListContent.tsx
  app/src/presentation/components/modals/AddVocabularyListModal.module.css
  app/src/presentation/components/modals/AddVocabularyListModal.tsx
  app/src/presentation/components/vocabulary/VocabularyListLine.module.css
  app/src/presentation/components/vocabulary/VocabularyListLine.tsx
  app/src/presentation/hooks/useGetVocabularyList.ts
  app/src/presentation/pages/LearningPage.tsx
  app/src/presentation/pages/VocabularyListPage.tsx
  app/src/presentation/router/Router.tsx
Due: ðŸ§© webapp

✨ feat: Add update on vocabulary component
  api/src/api/controllers/vocabulary.controller.ts
  api/src/api/dtos/vocabulary/update-vocabulary.request.ts
  api/src/core/core.module.ts
  api/src/core/usecases/media/delete-audio-vocabulary.usecase.ts
  api/src/core/usecases/media/index.ts
  api/src/core/usecases/media/upload-audio-vocabulary.usecase.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/interfaces/vocabulary/CreateVocabularyUsecase.interface.ts
  app/src/domain/interfaces/vocabulary/GetVocabulariesUsecase.interface.ts
  app/src/domain/interfaces/vocabulary/UpdateVocabularyUsecase.interface.ts
  app/src/domain/usecases/vocabulary/CreateVocabularyUsecase.ts
  app/src/domain/usecases/vocabulary/GetVocabulariesUsecase.ts
  app/src/domain/usecases/vocabulary/UpdateVocabularyUsecase.ts
  app/src/presentation/components/AudioLine.module.css
  app/src/presentation/components/AudioLine.tsx
  app/src/presentation/components/RecordingButton.tsx
  app/src/presentation/components/TextInput.tsx
  app/src/presentation/components/contents/CreateOrUpdateVocabularyContent.module.css
  app/src/presentation/components/contents/CreateOrUpdateVocabularyContent.tsx
  app/src/presentation/components/contents/VocabularyContent.tsx
  app/src/presentation/components/contents/VocabularyListContent.module.css
  app/src/presentation/components/contents/VocabularyListContent.tsx
  app/src/presentation/components/vocabulary/VocabularyLine.module.css
  app/src/presentation/components/vocabulary/VocabularyLine.tsx
  app/src/presentation/components/vocabulary/VocabularyListLine.module.css
  app/src/presentation/hooks/useGetVocabulary.ts
  app/src/presentation/pages/VocabularyListPage.tsx
  app/src/presentation/pages/VocabularyPage.tsx
  app/src/presentation/router/Router.tsx
  app/src/presentation/theme/button.css
Due: ðŸ§© api, ðŸ§© webapp

Refacto : moved user roles and status into proper entity
  admin/src/components/UserStatusChips.tsx
  admin/src/entities/User.ts
  admin/src/pages/profiles-with-tandems-profiles/show/PartnerCard.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/TandemTable/TandemFilters.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/TandemTable/useTandemMatchesFilters.ts
  admin/src/pages/profiles/list.tsx
  admin/src/queries/ProfilesQuery.ts
  admin/src/types/types.d.ts
Due: ðŸ§© admin

Feat: banned chips added on tandem requests list
  admin/src/pages/profiles-with-tandems-profiles/list/index.tsx
Due: ðŸ§© admin

Fix: False no result when partner is banned
  admin/src/pages/profiles-with-tandems-profiles/show/PartnerCard.tsx
Due: ðŸ§© admin

Fix: campus missing on tandem details
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/profiles-with-tandems-profiles/show/PartnerCard.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/ProfileCard.tsx
Due: ðŸ§© admin

✨ feat: Share vocabulary list with someone
  api/src/api/controllers/learningLanguage.controller.ts
  api/src/api/dtos/vocabulary/vocabulary-list.response.ts
  api/src/providers/persistance/repositories/prisma-vocabulary-repository.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/command/VocabularyListCommand.ts
  app/src/domain/entities/VocabularyList.ts
  app/src/presentation/components/contents/VocabularyContent.tsx
  app/src/presentation/components/contents/VocabularyListContent.module.css
  app/src/presentation/components/modals/ShareVocabularyListModale.module.css
  app/src/presentation/components/modals/ShareVocabularyListModale.tsx
  app/src/presentation/components/vocabulary/VocabularyLine.module.css
  app/src/presentation/pages/VocabularyPage.tsx
Due: ðŸ§© api, ðŸ§© webapp

Path conditions:
  ðŸ§© admin: any of: admin/**/*
  ðŸ§© api init: any of: api/libs/common/src/database/**/*
  ðŸ§© api: any of: api/**/*
  ðŸ§© auth ul theme: any of: docker/keycloak/**/*
  ðŸ§© webapp: any of: app/**/*
  ðŸ§© chat: any of: chat/**/*
