Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© auth ul theme, ðŸ§© webapp, ðŸ§© chat

ðŸ§© admin:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    LINT: enabled

ðŸ§© api init:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init

ðŸ§© api:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    LINT: enabled
    TEST: enabled

ðŸ§© auth ul theme:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: '1.0'

ðŸ§© webapp:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp

ðŸ§© chat:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat

👌 fix: Remove 100% height to display button on every screen
  app/src/presentation/components/sessions/SessionForm.module.css
  app/src/presentation/components/sessions/SessionForm.tsx
Due: ðŸ§© webapp

👌 fix: Update inputId on text input
  app/src/presentation/components/TextInput.tsx
Due: ðŸ§© webapp

👌 fix: Hide all languages on picker on all languages are currently selected
  admin/src/components/form/NewsForm.tsx
Due: ðŸ§© admin

👌 fix: Allow draft filter activity
  admin/src/pages/activities/list.tsx
Due: ðŸ§© admin

👌 fix: Add hyperlink to profile on activity
  admin/src/entities/Activity.ts
  admin/src/pages/activities/show.tsx
Due: ðŸ§© admin

👌 fix: Update creator when it is from administrator
  api/src/providers/services/pdf.service.ts
Due: ðŸ§© api

👌 fix: Update edito display on app
  app/src/presentation/components/contents/EditoContent.module.css
  app/src/presentation/components/profile/ProfileDetailsCard.module.css
  app/src/presentation/components/profile/ProfileDetailsCard.tsx
Due: ðŸ§© webapp

👌 fix: Allow only png, jpeg and jpg file for back-office activity
  admin/src/components/ImageUploader.tsx
Due: ðŸ§© admin

👌 fix: Adjust some css to fit figma
  app/src/presentation/components/card/LearningCard.module.css
  app/src/presentation/components/card/RessourcesCard.module.css
  app/src/presentation/components/tandems/ActiveTandemCard.module.css
  app/src/presentation/theme/global.css
Due: ðŸ§© webapp

👌 fix: Fix home style and Sidebar style
  app/src/presentation/components/card/LearningCard.module.css
  app/src/presentation/components/card/LearningCard.tsx
  app/src/presentation/components/contents/HomeContent.tsx
  app/src/presentation/components/layout/Sidebar.module.css
  app/src/presentation/components/layout/Sidebar.tsx
  app/src/presentation/theme/global.css
Due: ðŸ§© webapp

👌 fix: Add aria-label on some buttons
  app/public/locales/fr/translation.json
  app/src/presentation/components/chat/ChatInputSender.tsx
  app/src/presentation/components/chat/MessageComponent.tsx
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/components/modals/SelectActivitiesListModal.tsx
  app/src/presentation/components/modals/SelectVocabularyListModal.tsx
Due: ðŸ§© webapp

👌 fix: Add 2 select input to sort by languages
  admin/src/pages/events/subscriptions/list.tsx
Due: ðŸ§© admin

👌 fix: Update VITE_JITSI_DOMAIN to VITE_JITSI_URL
  codemagic.yaml
Due: none

ops: upgrade minio
  helm/project/Chart.lock
  helm/project/Chart.yaml
  helm/project/charts/minio-14.7.11.tgz
  helm/project/charts/minio-15.0.5.tgz
Due: none

ops: upgrade mongodb
  helm/project/Chart.lock
  helm/project/Chart.yaml
  helm/project/charts/mongodb-15.6.2.tgz
  helm/project/charts/mongodb-16.4.5.tgz
Due: none

style(popover): contrast increased similar to date picker
  admin/src/theme/theme.ts
Due: ðŸ§© admin

fix(events / news): publish button switch only activates on button hover
  admin/src/components/form/EventForm.tsx
  admin/src/components/form/NewsForm.tsx
Due: ðŸ§© admin

👌 fix: Refactor maintenance mode handling in instance management
  admin/src/pages/instance/edit.tsx
  admin/src/pages/instance/show.tsx
Due: ðŸ§© admin

ops: add coturn server
  helm/project/Chart.lock
  helm/project/Chart.yaml
  helm/project/charts/coturn-8.1.1.tgz
  helm/project/files/jitsi-meet/swp/jitsi-meet.cfg.lua
  helm/project/templates/jitsi-meet/configmap-jitsi.yaml
Due: none

👌 fix: Remove mastered languages in community chat creation
  api/src/core/usecases/chat/add-user-to-community-chat.usecase.ts
  app/src/presentation/components/AudioLine.tsx
Due: ðŸ§© api, ðŸ§© webapp

fix: news form concerned universities
  admin/src/components/form/NewsForm.tsx
Due: ðŸ§© admin

fix(events): concerned universities and target languages selects
  admin/src/components/form/EventForm.tsx
Due: ðŸ§© admin

👌 fix: Add hyperlink only on url
  app/src/presentation/components/reports/ReportDetail.tsx
Due: ðŸ§© webapp

✨ feat: Update masonery version
  app/Dockerfile
  app/package.json
  app/pnpm-lock.yaml
Due: ðŸ§© webapp

fix: media author is indicated if a media is reported
  admin/src/pages/report/show.tsx
Due: ðŸ§© admin

✨ feat: Keep filter context between activity contents
  app/src/presentation/components/contents/activity/ActivitiesContainerContent.tsx
  app/src/presentation/components/contents/activity/ActivitiesContent.tsx
  app/src/presentation/components/modals/FilterModal.tsx
Due: ðŸ§© webapp

👌 fix: Handle activities filters for mobile app
  app/src/presentation/pages/mobile/ActivitiesPage.tsx
Due: ðŸ§© webapp

👌 fix: Update --offline to --prefer-offline on Dockerfile
  app/Dockerfile
Due: ðŸ§© webapp

👌 fix: Update pdf service to create activity pdf
  api/src/core/usecases/activity/update-activity.usecase.ts
  api/src/core/usecases/media/upload-image-activity.usecase.ts
  api/src/providers/services/pdf.service.ts
Due: ðŸ§© api

👌 fix: Display modale if there is more than 1 tandem active
  app/src/presentation/components/contents/SessionListContent.tsx
Due: ðŸ§© webapp

👌 fix: Add overflow-y to parent session form
  app/src/presentation/components/contents/SessionFormContent.module.css
Due: ðŸ§© webapp

✨ feat: Enforce url regex
  app/src/presentation/utils.ts
Due: ðŸ§© webapp

👌 fix: Update url handler on update activity
  api/src/core/usecases/activity/update-activity.usecase.ts
Due: ðŸ§© api

👌 fix: Reverse wordMissing and translationMissing for creator
  app/src/presentation/components/vocabulary/VocabularyListLine.tsx
Due: ðŸ§© webapp

👌 fix: Remove frozen dockerfile
  app/Dockerfile
Due: ðŸ§© webapp

👌 fix: Update primary color variables + home-card full width and news modal size
  app/src/presentation/components/contents/news/NewsContent.tsx
  app/src/presentation/components/contents/news/NewsListContent.tsx
  app/src/presentation/components/modals/ActivitiesContentModal.module.css
  app/src/presentation/components/modals/NewsContentModal.tsx
  app/src/presentation/components/profile/ProfileDetailsCard.module.css
  app/src/presentation/pages/SignUpGoalsPage.tsx
  app/src/presentation/pages/SignUpInterestsPage.tsx
  app/src/presentation/router/BottomBar.module.css
  app/src/presentation/theme/global.css
Due: ðŸ§© webapp

👌 fix: Display road to certificate + update modal
  app/src/presentation/components/contents/CustomGoalFormContent.module.css
  app/src/presentation/components/contents/CustomGoalFormContent.tsx
  app/src/presentation/components/contents/CustomGoalShowContent.module.css
  app/src/presentation/components/contents/CustomGoalShowContent.tsx
  app/src/presentation/components/contents/GoalsContent.tsx
  app/src/presentation/components/contents/LearningContent.tsx
  app/src/presentation/components/modals/GoalsContentModal.tsx
  app/src/presentation/components/tandems/LearningJournalCard.module.css
  app/src/presentation/components/tandems/LearningJournalCard.tsx
Due: ðŸ§© webapp

fix: edito update on translation update
  api/src/providers/persistance/repositories/prisma-edito-repository.ts
Due: ðŸ§© api

feat: Update central university edito translations during instance update
  api/src/core/usecases/instance/update-instance.usecase.ts
Due: ðŸ§© api

fix: language selector includes conditions
  admin/src/components/form/InstanceForm.tsx
Due: ðŸ§© admin

Path conditions:
  ðŸ§© admin: any of: admin/**/*
  ðŸ§© api init: any of: api/libs/common/src/database/**/*
  ðŸ§© api: any of: api/**/*
  ðŸ§© auth ul theme: any of: docker/keycloak/**/*
  ðŸ§© webapp: any of: app/**/*
  ðŸ§© chat: any of: chat/**/*
