Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© auth ul theme, ðŸ§© webapp, ðŸ§© chat

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" ||  $CI_COMMIT_BRANCH == "ci" # Supprimer ci

stages:
  - packages

# CI de package
.package ci:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend

# CI de l'admin
ðŸ§© admin:
  extends: .package ci
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    # DOCKER_TARGET: admin_prod # GÃ©nÃ¨re une erreur : ERR_PNPM_BROKEN_LOCKFILEâ€‰ The lockfile at "/srv/app/pnpm-lock.yaml" is broken: duplicated mapping key (1755:3)
    LINT: enabled
  rules:
    - changes:
        - admin/**/*

# CI de l'initialisation API
ðŸ§© api init:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init
  rules:
    - changes:
        - api/libs/common/src/database/**/*

# CI de l'API
ðŸ§© api:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    # DOCKER_TARGET: api_prod
    LINT: enabled
    TEST: enabled
  rules:
    - changes:
        - api/**/*

# CI du thÃ¨me UL Keycloak
ðŸ§© auth ul theme:
  extends: .package ci
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: "1.0"
  rules:
    - changes:
        - docker/keycloak/**/*

# CI de la webapp
ðŸ§© webapp:
  extends: .package ci
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp
  rules:
    - changes:
        - app/**/*

# CI du chat
ðŸ§© chat:
  extends: .package ci
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat
  rules:
    - changes:
        - chat/**/*

wip(admin): Feat/3987 Validation manuelle de la disponibilité d'un certificat
  admin/src/locales/fr.json
  admin/src/pages/profiles/show.tsx
Due: ðŸ§© admin

fix(admin): CertificateModal component name
  admin/src/pages/profiles/CertificateModal.tsx
  admin/src/pages/profiles/show.tsx
Due: ðŸ§© admin

✨ feat: Create another route to update activity status
  api/src/api/controllers/activity.controller.ts
  api/src/api/dtos/activity/index.ts
  api/src/api/dtos/activity/update-activity-status.request.ts
  api/src/core/core.module.ts
  api/src/core/ports/activity.repository.ts
  api/src/core/usecases/activity/create-activity.usecase.ts
  api/src/core/usecases/activity/index.ts
  api/src/core/usecases/activity/update-activity-status.usecase.ts
  api/src/core/usecases/activity/update-activity.usecase.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/interfaces/activity/UpdateActivityStatusUsecase.interface.ts
  app/src/domain/usecases/activity/CreateActivityUsecase.ts
  app/src/domain/usecases/activity/UpdateActivityStatusUsecase.ts
  app/src/domain/usecases/activity/UpdateActivityUsecase.ts
  app/src/presentation/components/contents/activity/ActivityContent.tsx
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Add security to avoir crash on learning page
  app/src/presentation/components/contents/LearningContent.tsx
Due: ðŸ§© webapp

fix(api): Generate pdf from template
  api/package.json
  api/pnpm-lock.yaml
  api/src/api/controllers/learningLanguage.controller.ts
  api/src/core/usecases/learningLanguage/generate-certificate.usecase.ts
  api/src/core/usecases/media/upload-learning-language-certificate.usecase.ts
Due: ðŸ§© api

👌 fix: Pr review
  api/src/api/controllers/activity.controller.ts
  api/src/api/dtos/activity/update-activity-status.request.ts
  api/src/core/usecases/activity/update-activity-status.usecase.ts
  app/src/domain/usecases/activity/UpdateActivityStatusUsecase.ts
Due: ðŸ§© api, ðŸ§© webapp

Activity create form
  admin/src/App.tsx
  admin/src/components/chat/AudioLine.tsx
  admin/src/components/chat/RecordingButton.tsx
  admin/src/components/form/ActivityForm.tsx
  admin/src/components/menu/CustomMenu.tsx
  admin/src/entities/Activity.ts
  admin/src/entities/Proficiency.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/activities/create.tsx
  admin/src/pages/activities/index.ts
  admin/src/pages/activities/list.tsx
  admin/src/providers/customDataProvider.ts
  api/libs/common/src/database/migrations/20241003125259_add_university_on_activity/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/controllers/activity.controller.ts
  api/src/api/dtos/activity/activity.response.ts
  api/src/api/dtos/activity/create-activity.request.ts
  api/src/api/dtos/activity/get-activities-by-admin.request.ts
  api/src/core/core.module.ts
  api/src/core/models/activity.model.ts
  api/src/core/ports/activity.repository.ts
  api/src/core/usecases/activity/create-activity.usecase.ts
  api/src/core/usecases/activity/get-all-activities-by-admin.usecase.ts
  api/src/core/usecases/activity/index.ts
  api/src/core/usecases/user/create-administrator.usecase.ts
  api/src/providers/persistance/mappers/activity.mapper.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
Due: ðŸ§© admin, ðŸ§© api init, ðŸ§© api

Show page with more infos
  admin/src/components/ActivityStatusChipsProps.tsx
  admin/src/components/form/ActivityForm.tsx
  admin/src/locales/fr.json
  admin/src/pages/activities/edit.tsx
  admin/src/pages/activities/list.tsx
  admin/src/pages/activities/show.tsx
Due: ðŸ§© admin

Filters added on the list
  admin/src/components/form/ActivityForm.tsx
  admin/src/entities/Activity.ts
  admin/src/locales/fr.json
  admin/src/pages/activities/list.tsx
  admin/src/providers/customDataProvider.ts
  admin/src/queries/ActivitiesQuery.ts
  api/src/api/controllers/activity.controller.ts
  api/src/api/dtos/activity/activity-with-theme-category.response.ts
  api/src/api/dtos/activity/activity.response.ts
  api/src/api/dtos/activity/get-activities-by-admin.request.ts
  api/src/core/models/activity.model.ts
  api/src/core/ports/activity.repository.ts
  api/src/core/usecases/activity/get-all-activities-by-admin.usecase.ts
  api/src/providers/persistance/mappers/activity.mapper.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
Due: ðŸ§© admin, ðŸ§© api

Show page
  admin/src/components/form/ActivityForm.tsx
  admin/src/entities/Activity.ts
  admin/src/locales/fr.json
  admin/src/pages/activities/index.ts
  admin/src/pages/activities/list.tsx
  admin/src/pages/activities/show.tsx
  api/src/api/controllers/activity.controller.ts
  api/src/core/usecases/activity/create-activity.usecase.ts
  api/src/core/usecases/activity/get-activity.usecase.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
Due: ðŸ§© admin, ðŸ§© api

Delete added
  admin/src/pages/activities/edit.tsx
  admin/src/pages/activities/index.ts
  admin/src/pages/activities/list.tsx
  api/src/core/usecases/activity/delete-activity.usecase.ts
  api/src/core/usecases/media/delete-audio-vocabulary-activity.usecase.ts
Due: ðŸ§© admin, ðŸ§© api

Rebase and menu fix
  admin/src/App.tsx
  admin/src/components/form/ActivityForm.tsx
  admin/src/components/menu/CustomMenu.tsx
  admin/src/entities/Activity.ts
  admin/src/entities/ActivityTheme.ts
  admin/src/providers/customDataProvider.ts
  api/src/core/ports/activity.repository.ts
Due: ðŸ§© admin, ðŸ§© api

Activity update
  admin/src/components/ImageUploader.tsx
  admin/src/components/form/ActivityForm.tsx
  admin/src/components/menu/CustomMenu.tsx
  admin/src/entities/Activity.ts
  admin/src/pages/activities/edit.tsx
  admin/src/providers/customDataProvider.ts
  api/src/api/controllers/activity.controller.ts
  api/src/core/usecases/activity/update-activity.usecase.ts
Due: ðŸ§© admin, ðŸ§© api

WIP : list with filetrs and theme sub-filter try
  admin/src/pages/activities/list.tsx
  admin/src/queries/ActivitiesQuery.ts
  api/src/api/controllers/activity.controller.ts
  api/src/api/dtos/activity/get-activities-by-admin.request.ts
  api/src/core/ports/activity.repository.ts
  api/src/core/usecases/activity/get-all-activities-by-admin.usecase.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
Due: ðŸ§© admin, ðŸ§© api

WIP: status
  admin/src/pages/activities/show.tsx
Due: ðŸ§© admin

WIP: status
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/activities/list.tsx
  admin/src/pages/activities/show.tsx
  api/src/api/controllers/activity.controller.ts
Due: ðŸ§© admin, ðŸ§© api

Review
  admin/src/components/ImageUploader.tsx
  admin/src/components/form/ActivityForm.tsx
  admin/src/entities/Activity.ts
  admin/src/locales/en.json
  admin/src/pages/activities/create.tsx
  admin/src/pages/activities/edit.tsx
  admin/src/pages/activities/list.tsx
  admin/src/pages/profiles-with-tandems-profiles/list/index.tsx
  admin/src/providers/customDataProvider.ts
  api/libs/common/src/database/schema.prisma
  api/src/api/controllers/activity.controller.ts
  api/src/api/dtos/activity/activity-with-theme-category.response.ts
  api/src/core/core.module.ts
  api/src/core/models/activity.model.ts
  api/src/core/usecases/activity/delete-activity.usecase.ts
  api/src/core/usecases/activity/delete-vocabulary-activity.usecase.ts
  api/src/core/usecases/activity/get-activity.usecase.ts
  api/src/core/usecases/activity/index.ts
  api/src/core/usecases/activity/update-activity.usecase.ts
  api/src/core/usecases/media/delete-audio-vocabulary-activity.usecase.ts
  api/src/providers/persistance/mappers/activity.mapper.ts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
Due: ðŸ§© admin, ðŸ§© api init, ðŸ§© api

Status management
  admin/src/pages/activities/create.tsx
  admin/src/pages/activities/edit.tsx
  admin/src/pages/activities/show.tsx
  admin/src/providers/customDataProvider.ts
  api/src/api/controllers/activity.controller.ts
  api/src/core/core.module.ts
  api/src/core/usecases/activity/update-activity-status.usecase.ts
  api/src/core/usecases/activity/update-activity.usecase.ts
  app/src/domain/usecases/activity/UpdateActivityStatusUsecase.ts
Due: ðŸ§© admin, ðŸ§© api, ðŸ§© webapp

👌 fix: Add prettier and prettier plugin to package.json
  app/package.json
  app/pnpm-lock.yaml
Due: ðŸ§© webapp

Fix: draft publication only for admin
  admin/src/pages/activities/show.tsx
Due: ðŸ§© admin

Fix admin circular dependency
  admin/src/entities/ActivityTheme.ts
  admin/src/entities/ActivityThemeCategoryWithoutThemes.ts
Due: ðŸ§© admin

✨ feat: Create header component for each subcontent modals
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/HeaderSubContent.tsx
  app/src/presentation/components/contents/SessionFormContent.tsx
  app/src/presentation/components/contents/SessionListContent.tsx
  app/src/presentation/components/contents/ShowSessionContent.tsx
  app/src/presentation/components/contents/activity/ActivitiesContent.tsx
  app/src/presentation/components/contents/activity/ActivityContent.tsx
  app/src/presentation/components/contents/activity/CreateOrUpdateActivityContent.tsx
  app/src/presentation/theme/global.css
Due: ðŸ§© webapp

fix(admin): Cleanup cerificate generation
  admin/src/components/field/ReferenceUploadFileField.tsx
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/profiles-with-tandems-profiles/list/index.tsx
  admin/src/pages/profiles/CertificateModal.tsx
  admin/src/providers/customDataProvider.ts
Due: ðŸ§© admin

fix(api): Cleanup certificate generation
  api/src/core/usecases/learningLanguage/generate-certificate.usecase.ts
Due: ðŸ§© api

fix(api): FIx review remarks
  api/src/api/controllers/learningLanguage.controller.ts
  api/src/core/usecases/learningLanguage/generate-certificate.usecase.ts
Due: ðŸ§© api

Fix: profile edit accessible for managers and super-admins
  admin/src/App.tsx
  admin/src/pages/profiles/edit.tsx
Due: ðŸ§© admin

✨ feat: Add vocabularies content inside modal
  app/src/presentation/components/HeaderSubContent.tsx
  app/src/presentation/components/contents/CreateOrUpdateVocabularyContent.tsx
  app/src/presentation/components/contents/VocabularyContent.tsx
  app/src/presentation/components/contents/VocabularyListContent.tsx
  app/src/presentation/components/contents/activity/ActivityContent.tsx
  app/src/presentation/components/modals/ShareVocabularyListModale.tsx
  app/src/presentation/components/modals/VocabularyContentModal.tsx
  app/src/presentation/hooks/useGetVocabulary.ts
  app/src/presentation/hooks/useGetVocabularyList.ts
  app/src/presentation/hooks/useVocabulary.ts
  app/src/presentation/pages/LearningPage.tsx
  app/src/presentation/pages/VocabularyListPage.tsx
  app/src/presentation/pages/VocabularyPage.tsx
  app/src/presentation/pages/mobile/VocabulariesPage.tsx
  app/src/presentation/router/Router.tsx
Due: ðŸ§© webapp

fix(admin): Test emoji polyfill
  admin/package.json
  admin/pnpm-lock.yaml
  admin/src/index.tsx
Due: ðŸ§© admin

✨ feat: Create mutual modal for tandem selections
  app/src/presentation/components/contents/SessionListContent.tsx
  app/src/presentation/components/modals/SelectTandemModal.module.css
  app/src/presentation/components/modals/SelectTandemModal.tsx
  app/src/presentation/components/modals/ShareVocabularyListModale.module.css
  app/src/presentation/components/modals/ShareVocabularyListModale.tsx
  app/src/presentation/components/modals/VocabularyContentModal.tsx
  app/src/presentation/pages/mobile/VocabulariesPage.tsx
Due: ðŸ§© webapp

feat(api): add random vocabulary route
  api/src/api/controllers/vocabulary.controller.ts
  api/src/api/dtos/vocabulary/get-vocabularies-from-selected-lists.request.ts
  api/src/api/dtos/vocabulary/index.ts
  api/src/core/core.module.ts
  api/src/core/ports/vocabulary.repository.ts
  api/src/core/usecases/vocabulary/find-all-vocabulary-from-selected-lists-id.usecase.ts
  api/src/core/usecases/vocabulary/index.ts
  api/src/providers/persistance/repositories/in-memory-vocabulary-repository.ts
  api/src/providers/persistance/repositories/prisma-vocabulary-repository.ts
Due: ðŸ§© api

👌 fix: Add seed for news
  api/libs/common/src/database/seeds/index.ts
  api/libs/common/src/database/seeds/news.ts
Due: ðŸ§© api init, ðŸ§© api

fix(devops): Fix Keycloak preset - Change realm role id for animators
  helm/project/etandem.json
Due: none

✨ feat: Start front of news list
  app/pnpm-lock.yaml
  app/src/command/NewsCommand.ts
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/entities/News.ts
  app/src/domain/interfaces/news/GetAllNewsUsecase.interface.ts
  app/src/domain/usecases/news/GetAllNewsUsecase.ts
  app/src/presentation/components/SearchAndFilter.module.css
  app/src/presentation/components/SearchAndFilter.tsx
  app/src/presentation/components/contents/HomeContent.tsx
  app/src/presentation/components/contents/activity/ActivitiesContent.tsx
  app/src/presentation/components/contents/news/NewsListContent.module.css
  app/src/presentation/components/contents/news/NewsListContent.tsx
  app/src/presentation/components/modals/NewsContentModal.tsx
  app/src/presentation/hooks/useGetHomeData.ts
  app/src/presentation/hooks/useGetNewsList.ts
  app/src/presentation/pages/HomePage.tsx
Due: ðŸ§© webapp

Fix: BO "other" gender translation
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/profiles/show.tsx
Due: ðŸ§© admin

Fix(BO): animators can't edit reports
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/report/edit.tsx
  admin/src/pages/report/show.tsx
Due: ðŸ§© admin

👌 fix: Handle when an animator message is reported in chat
  api/src/core/usecases/report/create-report-message.usecase.ts
Due: ðŸ§© api

fix(admin): Fix/4328 Difficultés à gérer les comptes Gestionnaires des établissements
  admin/src/components/adminGroups/AdminGroupPicker.tsx
  admin/src/components/form/AdministratorForm.tsx
  admin/src/pages/administrators/create.tsx
  admin/src/pages/administrators/list.tsx
Due: ðŸ§© admin

Feat: university list ordered by name
  admin/src/components/UniversityPicker.tsx
  admin/src/pages/administrators/list.tsx
  admin/src/pages/profiles-with-tandems-profiles/list/index.tsx
  admin/src/pages/profiles-with-tandems-profiles/show/TandemTable/TandemFilters.tsx
  admin/src/pages/universities/list.tsx
  admin/src/providers/customDataProvider.ts
  admin/src/queries/UniversitiesQuery.ts
  api/src/api/controllers/university.controller.ts
  api/src/api/dtos/universities/get-universities.request.ts
  api/src/core/ports/university.repository.ts
  api/src/core/usecases/university/get-universities.usecase.ts
  api/src/providers/persistance/repositories/prisma-university.repository.ts
Due: ðŸ§© admin, ðŸ§© api

👌 fix: Change default language and rename messages_en.properties
  docker/keycloak/themes/ulep/email/messages/messages_en.properties
  helm/project/etandem.json
Due: ðŸ§© auth ul theme

fix(3469): Affichage des drapeaux webapp sur Chrome ou Edge
  admin/package.json
  admin/pnpm-lock.yaml
  admin/src/App.tsx
  admin/src/index.css
  admin/src/theme/theme.ts
  app/src/presentation/theme/variables.css
Due: ðŸ§© admin, ðŸ§© webapp
