Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üß© admin, üß© api init, üß© api, üß© auth ul theme, üß© webapp, üß© chat

.gitlab-ci.yml:

#
#   Copyright ou ¬© ou Copr. Universit√© de Lorraine, (2025)
#
#   Direction du Num√©rique de l'Universit√© de Lorraine - SIED
#
#   Ce logiciel est un programme informatique servant √† rendre accessible
#   sur mobile et sur internet l'application ULEP (University Language
#   Exchange Programme) aux √©tudiants et aux personnels des universit√©s
#   parties prenantes.
#
#   Ce logiciel est r√©gi par la licence CeCILL 2.1, soumise au droit fran√ßais
#   et respectant les principes de diffusion des logiciels libres. Vous pouvez
#   utiliser, modifier et/ou redistribuer ce programme sous les conditions
#   de la licence CeCILL telle que diffus√©e par le CEA, le CNRS et INRIA
#   sur le site "http://cecill.info".
#
#   En contrepartie de l'accessibilit√© au code source et des droits de copie,
#   de modification et de redistribution accord√©s par cette licence, il n'est
#   offert aux utilisateurs qu'une garantie limit√©e. Pour les m√™mes raisons,
#   seule une responsabilit√© restreinte p√®se sur l'auteur du programme, le
#   titulaire des droits patrimoniaux et les conc√©dants successifs.
#
#   √Ä cet √©gard, l'attention de l'utilisateur est attir√©e sur les risques
#   associ√©s au chargement, √† l'utilisation, √† la modification et/ou au
#   d√©veloppement et √† la reproduction du logiciel par l'utilisateur √©tant
#   donn√© sa sp√©cificit√© de logiciel libre, qui peut le rendre complexe √†
#   manipuler et qui le r√©serve donc √† des d√©veloppeurs et des professionnels
#   avertis poss√©dant des connaissances informatiques approfondies. Les
#   utilisateurs sont donc invit√©s √† charger et √† tester l'ad√©quation du
#   logiciel √† leurs besoins dans des conditions permettant d'assurer la
#   s√©curit√© de leurs syst√®mes et/ou de leurs donn√©es et, plus g√©n√©ralement,
#   √† l'utiliser et √† l'exploiter dans les m√™mes conditions de s√©curit√©.
#
#   Le fait que vous puissiez acc√©der √† cet en-t√™te signifie que vous avez
#   pris connaissance de la licence CeCILL 2.1, et que vous en avez accept√© les
#   termes.
#

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" ||  $CI_COMMIT_BRANCH == "ci" # Supprimer ci

stages:
  - packages

# CI de package
.package ci:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend

# CI de l'admin
üß© admin:
  extends: .package ci
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    # DOCKER_TARGET: admin_prod # G√©n√®re une erreur : ERR_PNPM_BROKEN_LOCKFILE‚Äâ The lockfile at "/srv/app/pnpm-lock.yaml" is broken: duplicated mapping key (1755:3)
    LINT: enabled
  rules:
    - changes:
        - admin/**/*

# CI de l'initialisation API
üß© api init:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init
  rules:
    - changes:
        - api/libs/common/src/database/**/*

# CI de l'API
üß© api:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    # DOCKER_TARGET: api_prod
    LINT: enabled
    TEST: enabled
  rules:
    - changes:
        - api/**/*

# CI du th√®me UL Keycloak
üß© auth ul theme:
  extends: .package ci
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: "1.0"
  rules:
    - changes:
        - docker/keycloak/**/*

# CI de la webapp
üß© webapp:
  extends: .package ci
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp
  rules:
    - changes:
        - app/**/*

# CI du chat
üß© chat:
  extends: .package ci
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat
  rules:
    - changes:
        - chat/**/*

fix: accessibility pass P9
  app/src/presentation/components/card/LearningCard.tsx
  app/src/presentation/components/card/UniversityCard.tsx
  app/src/presentation/components/contents/LearningContent.tsx
  app/src/presentation/components/layout/Sidebar.tsx
  app/src/presentation/components/tandems/LearningJournalCard.tsx
  app/src/presentation/router/BottomBar.tsx
Due: üß© webapp

fix: accessibility pass P10
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/reports/ReportsListItem.tsx
  app/src/presentation/router/BottomBar.tsx
Due: üß© webapp

fix: accessibility pass P11
  api/src/api/dtos/log-entry/log-entry.response.ts
  app/src/presentation/components/card/LogEntriesCard.tsx
  app/src/presentation/components/card/LogEntryCard.tsx
  app/src/presentation/components/contents/learning-book/LogEntriesContent.tsx
Due: üß© api, üß© webapp

fix: accessibility pass P12
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/TextInput.module.css
  app/src/presentation/components/card/LogEntryCard.module.css
  app/src/presentation/components/card/LogEntryCard.tsx
  app/src/presentation/components/contents/learning-book/LogEntriesByDateContent.tsx
Due: üß© webapp

fix: accessibility pass P13
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/Checkbox.tsx
  app/src/presentation/components/SearchAndFilter.module.css
  app/src/presentation/components/card/ActivityCard.module.css
  app/src/presentation/components/card/ActivityCard.tsx
  app/src/presentation/components/contents/activity/ActivitiesContent.module.css
  app/src/presentation/components/contents/activity/ActivitiesContent.tsx
  app/src/presentation/components/modals/FilterModal.tsx
Due: üß© webapp

fix: accessibility pass P14
  app/src/presentation/components/contents/activity/ActivityContent.tsx
Due: üß© webapp

fix: accessibility pass P15
  app/src/presentation/components/contents/VocabularyListContent.tsx
  app/src/presentation/components/contents/activity/ActivitiesContent.tsx
  app/src/presentation/components/contents/learning-book/LogEntriesContent.tsx
  app/src/presentation/components/vocabulary/VocabularyListLine.tsx
Due: üß© webapp

fix: accessibility pass P16
  app/src/presentation/components/AudioLine.tsx
  app/src/presentation/components/RecordingButton.module.css
  app/src/presentation/components/RecordingButton.tsx
  app/src/presentation/components/TextInput.tsx
  app/src/presentation/components/contents/CreateOrUpdateVocabularyContent.tsx
  app/src/presentation/components/contents/VocabularyItemContent.tsx
  app/src/presentation/components/contents/VocabularyListContent.module.css
  app/src/presentation/components/vocabulary/VocabularyLine.tsx
Due: üß© webapp

fix: accessibility pass P17
  app/src/presentation/components/chat/ConversationLine.tsx
Due: üß© webapp

fix: accessibility pass P18
  app/src/presentation/components/RecordingButton.tsx
  app/src/presentation/components/chat/ChatInputSender.tsx
  app/src/presentation/components/chat/messages/MessageImage.tsx
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/pages/mobile/ChatPage.tsx
  app/src/presentation/pages/mobile/MediaPage.tsx
Due: üß© webapp

fix: accessibility pass P19
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/contents/EditoContent.tsx
Due: üß© webapp

fix: second pass
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/HeaderSubContent.tsx
  app/src/presentation/components/SearchAndFilter.tsx
  app/src/presentation/components/card/LogEntryCard.tsx
  app/src/presentation/components/card/ProficiencyTestCard.tsx
  app/src/presentation/components/card/RessourcesCard.tsx
  app/src/presentation/components/contents/LearningContent.tsx
  app/src/presentation/components/contents/activity/ActivityContent.module.css
  app/src/presentation/components/contents/activity/ActivityContent.tsx
  app/src/presentation/components/events/EventDate.module.css
  app/src/presentation/components/events/EventDate.tsx
  app/src/presentation/components/events/EventLine.module.css
  app/src/presentation/router/BottomBar.tsx
Due: üß© webapp

fix: third pass
  app/src/presentation/components/tandems/TandemBubble.tsx
  app/src/presentation/components/tandems/TandemCard.tsx
Due: üß© webapp

fix: change role checking for super_admin
  admin/src/pages/news/list.tsx
Due: üß© admin

feat: ajout de la méthode findAllOfType dans le LogEntryRepository et mise à jour de la logique de récupération des entrées de journal
  api/src/core/ports/log-entry.repository.ts
  api/src/core/usecases/log-entry/create-or-update-log-entry.usecase.ts
  api/src/providers/persistance/repositories/prisma-log-entry-repository.ts
Due: üß© api

fix: corriger le nom du fichier de certificat en remplaçant les espaces par des underscores
  app/src/presentation/components/tandems/LearningJournalCard.tsx
Due: üß© webapp

fix: ajouter l'alignement du texte à gauche dans GoalsContent.module.css
  app/src/presentation/components/contents/GoalsContent.module.css
Due: üß© webapp

refactor: amélioration de la liste des catégories d'activités en remplaçant Typography par Box et en désactivant le clic sur les lignes
  admin/src/pages/activity-categories/list.tsx
Due: üß© admin

fix: corriger l'identifiant de l'utilisateur et gérer le statut DRAFT dans la mise à jour des utilisateurs
  api/src/core/usecases/user/update-user.usecase.ts
Due: üß© api

fix: améliorer la validation des URL avec une expression régulière plus robuste
  app/src/presentation/utils.ts
Due: üß© webapp

feat: ajout de la fonctionnalité de déconnexion globale et mise à jour de l'état de maintenance de l'instance
  admin/src/pages/instance/show.tsx
  api/libs/keycloak/src/keycloak.client.ts
  api/src/core/usecases/instance/update-instance.usecase.ts
Due: üß© admin, üß© api

fix: mettre à jour la sélection de l'université lors de la sélection du pays
  app/src/presentation/pages/SignUpPage.tsx
Due: üß© webapp

fix: mise à jour de la gestion de l'objet audio pour vérifier l'URL avant de la modifier
  app/src/presentation/components/AudioLine.tsx
Due: üß© webapp

feat: ajouter le paramètre messages à l'accroche des hashtags dans la conversation
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/hooks/useHandleHastagsFromConversation.ts
Due: üß© webapp

feat: ajout de l'affichage de la fréquence du partenaire dans le profil du tandem
  app/src/presentation/components/tandems/TandemProfileContent.tsx
Due: üß© webapp

feat: ajout de la carte de test de compétence dans le contenu du profil et modification du style des langues testées
  app/src/presentation/components/card/ProficiencyTestCard.module.css
  app/src/presentation/components/contents/ProfileContent.tsx
Due: üß© webapp

Update update-instance.usecase.ts
  api/src/core/usecases/instance/update-instance.usecase.ts
Due: üß© api

Update SignUpPage.tsx
  app/src/presentation/pages/SignUpPage.tsx
Due: üß© webapp

feat: ajout de la propriété homeStyle aux cartes d'apprentissage et de test de compétence, et mise à jour du style de la carte de test de compétence dans le contenu du profil
  app/src/presentation/components/card/LearningCard.tsx
  app/src/presentation/components/card/ProficiencyTestCard.tsx
  app/src/presentation/components/contents/ProfileContent.module.css
  app/src/presentation/components/contents/ProfileContent.tsx
Due: üß© webapp

fix: suppression de la vérification de l'existence du tandem et mise à jour de la gestion des paramètres dans la génération du certificat
  api/src/core/usecases/learningLanguage/generate-certificate.usecase.ts
Due: üß© api

feat: add required validation and disable button in CustomGoalFormContent
  app/src/presentation/components/contents/CustomGoalFormContent.tsx
Due: üß© webapp

style: update ChatContent styles for improved layout and responsiveness
  app/src/presentation/components/contents/ChatContent.module.css
Due: üß© webapp

style: remove unused header-buttons styles from ChatContent module
  app/src/presentation/components/contents/ChatContent.module.css
Due: üß© webapp

fix: questions bulk actions reinstalled
  admin/src/pages/questions/list.tsx
Due: üß© admin

feat: open university website in a new tab with security attributes
  app/src/presentation/components/contents/EditoContent.tsx
Due: üß© webapp

feat: ajout de la récupération de l'ID utilisateur par email lors de la réinitialisation du mot de passe
  api/libs/keycloak/src/keycloak.client.ts
Due: üß© api

style: refactor ProfileContent layout to use grid for improved responsiveness
  app/src/presentation/components/contents/ProfileContent.module.css
Due: üß© webapp

feat: conditionally render program button based on university profile
  app/src/presentation/pages/PairingOptionsPage.tsx
Due: üß© webapp

feat: use store state to dynamically format date based on selected language
  app/src/presentation/components/contents/learning-book/LogEntriesByDateContent.tsx
Due: üß© webapp

fix: set default university based on selected country in SignUpPage
  app/src/presentation/pages/SignUpPage.tsx
Due: üß© webapp
