Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© auth ul theme, ðŸ§© webapp, ðŸ§© chat

ðŸ§© admin:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    LINT: enabled

ðŸ§© api init:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init

ðŸ§© api:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    LINT: enabled
    TEST: enabled

ðŸ§© auth ul theme:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: '1.0'

ðŸ§© webapp:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp

ðŸ§© chat:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat

fix(devops): Add chat for admin deployment env
  helm/project/templates/admin/deployment-admin.yaml
Due: none

fix(devops): Try rollback
  admin/Dockerfile
  helm/project/templates/admin/deployment-admin.yaml
Due: ðŸ§© admin

fix(app): Petit fix du vendredi
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/RecordingButton.tsx
  app/src/presentation/components/chat/ChatInputSender.tsx
  app/src/presentation/components/chat/MessageComponent.module.css
  app/src/presentation/components/chat/MessageComponent.tsx
Due: ðŸ§© webapp

fix(devops): Redis chat config temporaire
  helm/project/values.yaml.tmp
Due: none

fix(chat): Filter conversations
  chat/src/providers/persistance/repositories/prisma-conversation.repository.ts
Due: ðŸ§© chat

fix replica count to 0
  helm/project/values.yaml.tmp
Due: none

✨ feat: Add profile, settings, disconnect and report to sidebar and webLayout
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/assets/disconnect.svg
  app/src/assets/index.ts
  app/src/assets/profile.svg
  app/src/assets/settings.svg
  app/src/presentation/components/HomeHeader.tsx
  app/src/presentation/components/contents/HomeContent.tsx
  app/src/presentation/components/layout/OnlineWebLayout.tsx
  app/src/presentation/components/layout/Sidebar.module.css
  app/src/presentation/components/layout/Sidebar.tsx
  app/src/presentation/components/modals/SettingsModal.tsx
  app/src/presentation/pages/HomePage.tsx
Due: ðŸ§© webapp

👌 fix: Prevent conversation creation with same user
  chat/src/core/usecases/conversation/create-conversation.usecase.ts
  chat/src/core/usecases/conversation/create-multiple-conversations.usecase.ts
Due: ðŸ§© chat

👌 fix: Ignore casse in search mode + reset message list after ending with search mode
  app/src/presentation/components/chat/ConversationSearchBar.tsx
  app/src/presentation/components/contents/ChatContent.tsx
  chat/src/providers/persistance/repositories/prisma-message.repository.ts
Due: ðŸ§© webapp, ðŸ§© chat

👌 fix: tsc error
  app/src/presentation/components/layout/OnlineWebLayout.tsx
Due: ðŸ§© webapp

fix(admin): Fix administrators picker filter
  admin/src/components/AdministratorPicker.tsx
  admin/src/components/form/ProfileForm.tsx
  admin/src/components/form/UniversityForm.tsx
Due: ðŸ§© admin

fix(admin): Fix admin socket chat message data
  admin/src/components/chat/ChatInputSender.tsx
  admin/src/components/chat/MessageComponent.tsx
Due: ðŸ§© admin

fix(admin): Change jitsi room name to conversationId
  admin/src/components/chat/ChatContent.tsx
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/components/tandems/TandemProfile.tsx
Due: ðŸ§© admin, ðŸ§© webapp

fix(app): Feat/4131 Little refacto
  api/src/core/usecases/user/add-device.usecase.ts
  api/src/providers/persistance/repositories/prisma-user.repository.ts
  app/src/adapter/BrowserAdapter.ts
  app/src/adapter/interfaces/BrowserAdapter.interface.ts
  app/src/presentation/pages/AuthFlowPage.tsx
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Return original filename from reporting + get media url on report if there is one
  api/libs/common/src/database/migrations/20240820122121_metadata_in_report/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/dtos/chat/message.response.ts
  api/src/api/dtos/reports/index.ts
  api/src/core/models/report.model.ts
  api/src/core/usecases/chat/get-messages-from-conversation.usecase.ts
  api/src/core/usecases/report/create-report-message.usecase.ts
  api/src/core/usecases/report/create-report.usecase.ts
  api/src/core/usecases/report/get-report.usecase.ts
  api/src/providers/persistance/mappers/report.mapper.ts
  api/src/providers/persistance/repositories/prisma-report.repository.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/domain/entities/chat/Message.ts
  app/src/domain/interfaces/CreateReportMessageUsecase.interface.ts
  app/src/domain/usecases/CreateReportMessageUsecase.ts
  app/src/presentation/components/chat/MessageComponent.tsx
  chat/src/api/controllers/conversation.controller.ts
  chat/src/api/dtos/message/message.response.ts
  chat/src/core/usecases/conversation/get-messages-from-conversation-id.usecase.ts
  chat/src/core/usecases/media/upload-media.usecase.ts
  chat/src/core/usecases/message/create-message.usecase.ts
Due: ðŸ§© api init, ðŸ§© api, ðŸ§© webapp, ðŸ§© chat

fix(chat): Fix socket auth token
  admin/src/providers/customDataProvider.ts
  admin/src/providers/socketIoProvider.ts
  app/src/adapter/SocketIoAdapter.ts
  app/src/adapter/interfaces/SocketIoAdapter.interface.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/presentation/components/contents/ChatContent.tsx
Due: ðŸ§© admin, ðŸ§© webapp

✨ feat: Update report content if its a file, audio or picture + fix wrong url error on chat
  admin/src/components/chat/AudioLine.tsx
  admin/src/entities/Report.ts
  admin/src/pages/report/show.tsx
  admin/src/utils/downloadFile.ts
  chat/src/core/usecases/message/create-message.usecase.ts
Due: ðŸ§© admin, ðŸ§© chat

👌 fix: Throw error if someone is trying to delete category report when there is active report in it
  api/src/core/ports/report.repository.ts
  api/src/core/usecases/report/delete-category.usecase.ts
  api/src/core/usecases/report/delete-report.usecase.ts
  api/src/providers/persistance/repositories/in-memory-reports-repository.ts
  api/src/providers/persistance/repositories/prisma-report.repository.ts
Due: ðŸ§© api

👌 fix: Update group and university filter name + refacto filter on admin list
  admin/src/components/AdministratorPicker.tsx
  admin/src/components/form/ProfileForm.tsx
  admin/src/components/form/UniversityForm.tsx
  admin/src/pages/administrators/list.tsx
  admin/src/queries/AdministratorsQuery.ts
Due: ðŸ§© admin

fix(app): Little refacto chat send message
  app/src/presentation/components/chat/ChatInputSender.tsx
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/hooks/useHandleMessagesFromConversation.ts
Due: ðŸ§© webapp

fix(api): Fix avatar uploader and fetcher
  admin/src/pages/admin-profile/edit.tsx
  api/src/api/controllers/upload.controller.ts
  api/src/core/usecases/media/get-object.usecase.ts
  api/src/core/usecases/media/upload-avatar.usecase.ts
  api/src/providers/persistance/repositories/prisma-media-object-repository.ts
Due: ðŸ§© admin, ðŸ§© api

fix(api): Fix jitsi token
  api/libs/keycloak/src/keycloak.models.ts
  api/src/core/usecases/jitsi/get-jitsi-token.usecase.ts
Due: ðŸ§© api

fix(admin): Fix report media without metadata
  admin/src/pages/report/show.tsx
Due: ðŸ§© admin

fix(devops): Add chat to bump version workflow
  .github/workflows/bump_version.yml
Due: none

fix(devops): Add chat/package.json to bump version commit
  .github/workflows/bump_version.yml
Due: none

fix(api): Fix unit tests
  api/libs/common/src/database/factories/instance.factory.ts
  api/test/specs/universities.spec.ts
  api/test/unit/CronService.spec.ts
Due: ðŸ§© api init, ðŸ§© api

Delete learning language checkbox for non active tandem requests
  admin/src/App.tsx
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/profiles-with-tandems-profiles/list/SelectedLearningLanguageAction.tsx
  admin/src/pages/profiles-with-tandems-profiles/list/index.tsx
Due: ðŸ§© admin

Fix: delete admin confirmation message
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/administrators/list.tsx
Due: ðŸ§© admin

Improved error message for admin creation with email error
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/administrators/create.tsx
Due: ðŸ§© admin

Fix: banned profiles not in the profiles with learning languages list
  api/src/providers/persistance/repositories/prisma-profile-repository.ts
Due: ðŸ§© api

Reports: content and comment text now multiline
  admin/src/components/form/ReportForm.tsx
  admin/src/pages/report/show.tsx
Due: ðŸ§© admin

Admin: Conversation category made invisible
  admin/src/entities/Report.ts
  admin/src/providers/customDataProvider.ts
Due: ðŸ§© admin

Fix: animators can't manage active tandems on details pages
  admin/src/pages/profiles-with-tandems-profiles/show/TandemInfo.tsx
Due: ðŸ§© admin

👌 fix: Avoid tandem deletion on contact change
  api/src/core/usecases/university/update-university.usecase.ts
  api/src/core/usecases/user/delete-administrator.usecase.ts
  api/src/core/usecases/user/update-user.usecase.ts
  api/src/providers/services/chat.service.ts
  chat/src/api/controllers/conversation.controller.ts
  chat/src/api/dtos/conversation/delete-contact-conversation.request.ts
  chat/src/api/dtos/conversation/index.ts
  chat/src/core/usecases/conversation/delete-contact-conversation.usecase.ts
  chat/src/providers/persistance/repositories/prisma-conversation.repository.ts
Due: ðŸ§© api, ðŸ§© chat

👌 fix: DecodeUri when we dowload file
  app/src/presentation/components/chat/MediaComponent.tsx
  app/src/presentation/components/chat/MessageComponent.tsx
Due: ðŸ§© webapp

👌 fix: Refacto decore uri logic
  app/src/presentation/components/chat/MediaComponent.tsx
  app/src/presentation/components/chat/MessageComponent.tsx
Due: ðŸ§© webapp

👌 fix: Remove vision button when chat is blocked
  app/src/presentation/components/contents/ChatContent.tsx
Due: ðŸ§© webapp

fix(app): Feat/4162 Fix visio button from tandem view
  app/src/presentation/components/Jitsi/JitsiMobile.tsx
  app/src/presentation/pages/HomePage.tsx
  app/src/presentation/pages/mobile/TandemProfilePage.tsx
Due: ðŸ§© webapp

👌 fix: Display same tandem email in profileCard
  admin/src/entities/LearningLanguage.ts
  api/src/api/controllers/profile.controller.ts
  api/src/api/dtos/learning-languages/learning-language.response.ts
  api/src/core/usecases/profiles/create-profile.usecase.ts
  api/src/providers/persistance/mappers/profile.mapper.ts
  api/src/providers/persistance/mappers/profileWithTandemsProfiles.mapper.ts
  api/src/providers/persistance/repositories/prisma-profile-repository.ts
Due: ðŸ§© admin, ðŸ§© api

Path conditions:
  ðŸ§© admin: any of: admin/**/*
  ðŸ§© api init: any of: api/libs/common/src/database/**/*
  ðŸ§© api: any of: api/**/*
  ðŸ§© auth ul theme: any of: docker/keycloak/**/*
  ðŸ§© webapp: any of: app/**/*
  ðŸ§© chat: any of: chat/**/*
