Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üß© admin, üß© api init, üß© api, üß© auth ul theme, üß© webapp, üß© chat

üß© admin:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    LINT: enabled

üß© api init:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init

üß© api:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    LINT: enabled
    TEST: enabled

üß© auth ul theme:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: '1.0'

üß© webapp:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp

üß© chat:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat

chore: update date-fns version to exact match in package.json
  api/package.json
Due: üß© api

chore: bump version to 0.60.0 in package.json files across admin, api, app, and chat
  admin/package.json
  api/package.json
  app/package.json
  chat/package.json
Due: üß© admin, üß© api, üß© webapp, üß© chat

fix(pnpm): regenerate pnpm-lock.yaml file for CI
  app/pnpm-lock.yaml
Due: üß© webapp

style: update SelectVocabularyListsForQuizModal CSS for improved layout and scrolling behavior
  app/src/presentation/components/modals/SelectVocabularyListsForQuizModal.module.css
Due: üß© webapp

fix: ensure session time boundaries are inclusive and milliseconds are set to zero
  api/src/providers/persistance/repositories/prisma-session-repository.ts
Due: üß© api

fix: update activity theme category selection logic to handle undefined themes
  app/src/presentation/components/contents/activity/CreateActivityInformationsContent.tsx
Due: üß© webapp

Rename Conformité-accessibilité.md to Conformite-accessibilite.md
  wiki/Conformite-accessibilite.md
Due: none

Suppression des accents dans les noms des fichiers wiki
  wiki/Configurer-l'IdP-de-mon-universite.md
  wiki/Creation-d'un-utilisateur-du-Backoffice.md
  wiki/Montee-de-version-du-systeme.md
  wiki/Prerequis.md
  wiki/Sauvegarde-des-donnees-du-systeme.md
  wiki/Weblate-‐-Generer-une-cle-d'API.md
Due: none

Suppression des accents dans les noms des fichiers wiki
  wiki/uploads/16836079262afde9cf43edbbbb3ab885/Capture_d_ecran_2024-04-17_à_10.25.40.png
  wiki/uploads/8ba0f17915844af92606a66a4f21155b/Capture_d_ecran_2024-04-17_à_17.08.21.png
Due: none

chore: add @capacitor/share dependency and update gradle wrapper to version 9.6.1
  app/android/app/capacitor.build.gradle
  app/android/app/src/main/AndroidManifest.xml
  app/android/capacitor.settings.gradle
  app/android/gradle/wrapper/gradle-wrapper.properties
  app/package.json
  app/pnpm-lock.yaml
  app/src/adapter/FileAdapter.ts
  app/src/adapter/NotificationAdapter.ts
Due: üß© webapp

refactor: simplify MeetFrequency type definition in types.d.ts
  admin/src/types/types.d.ts
Due: üß© admin

chore: bump version to 0.61.0 for api, app, and chat packages
  api/package.json
  app/package.json
  chat/package.json
Due: üß© api, üß© webapp, üß© chat

feat: add allowStaffStudentMatching feature to InstanceForm and related components
  admin/src/components/form/InstanceForm.tsx
  admin/src/entities/Instance.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/instance/edit.tsx
  admin/src/pages/instance/show.tsx
  api/libs/common/src/database/factories/instance.factory.ts
  api/libs/common/src/database/migrations/20260715090000_add_allow_staff_student_matching_to_instance/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/dtos/instance/instance.response.ts
  api/src/api/dtos/instance/update-instance.request.ts
  api/src/core/models/Instance.model.ts
  api/src/core/services/MatchScorer.ts
  api/src/core/usecases/instance/update-instance.usecase.ts
  api/src/core/usecases/tandem/generate-tandems.usecase.ts
  api/src/core/usecases/tandem/get-learning-languages-matchs.usecase.ts
  api/src/providers/persistance/mappers/instance.mapper.ts
  api/src/providers/persistance/repositories/prisma-instance.repository.ts
  api/test/usecases/tandems/GenerateTandems.spec.ts
  api/test/usecases/tandems/GetLearningLanguagesMatch.spec.ts
Due: üß© admin, üß© api init, üß© api

feat: add "Cloisonnement du matching par type de profil" page to wiki and update sidebar
  wiki/Cloisonnement-du-matching-par-type-de-profil.md
  wiki/_Sidebar.md
Due: none

Renommage sans accent
  wiki/uploads/16836079262afde9cf43edbbbb3ab885/Capture_d_ecran_2024-04-17_a_10.25.40.png
  wiki/uploads/8ba0f17915844af92606a66a4f21155b/Capture_d_ecran_2024-04-17_a_17.08.21.png
Due: none

fix: compliant to ulep linter
  admin/src/types/types.d.ts
Due: üß© admin

Ajout de KUBERNETES_CPU_LIMIT et KUBERNETES_MEMORY_LIMIT pour les builds
  .gitlab-ci/package-ci.yml
Due: none

Ajout de KUBERNETES_MEMORY_LIMIT: "2Gi" sur le job test
  .gitlab-ci/package-ci.yml
Due: none

feat(UN-5): Customize interface
  admin/src/components/form/InstanceForm.tsx
  admin/src/entities/Instance.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/instance/edit.tsx
  api/libs/common/src/database/migrations/20260717000000_add_font_settings_in_instance/migration.sql
  api/libs/common/src/database/schema.prisma
  api/pnpm-lock.yaml
  api/src/api/controllers/instance.controller.ts
  api/src/api/dtos/instance/instance.response.ts
  api/src/api/dtos/instance/update-instance.request.ts
  api/src/core/core.module.ts
  api/src/core/models/Instance.model.ts
  api/src/core/usecases/instance/get-instance.usecase.ts
  api/src/core/usecases/instance/update-instance.usecase.ts
  api/src/core/usecases/media/upload-instance-favicon.usecase.ts
  api/src/core/usecases/media/upload-instance-manifest.usecase.ts
  api/src/core/usecases/media/upload-instance-watermark.usecase.ts
  api/src/providers/persistance/mappers/instance.mapper.ts
  api/src/providers/persistance/repositories/prisma-instance.repository.ts
  api/src/providers/storage/minio.storage.ts
  app/index.html
  app/src/domain/entities/Confirguration.ts
  app/src/presentation/components/Watermark.tsx
  app/src/presentation/components/WatermarkBackground.tsx
  app/src/presentation/components/contents/EndSessionContent.tsx
  app/src/presentation/components/contents/FlipcardsContent.tsx
  app/src/presentation/components/contents/ProfileContent.tsx
  app/src/presentation/components/contents/ShowSessionContent.tsx
  app/src/presentation/components/contents/TandemStatusContent.tsx
  app/src/presentation/components/contents/WelcomeContent.tsx
  app/src/presentation/components/layout/SuccessLayout.tsx
  app/src/presentation/components/layout/WebLayoutCentered.tsx
  app/src/presentation/components/tandems/TandemProfile.tsx
  app/src/presentation/hooks/useFetchConfiguration.ts
  app/src/presentation/theme/variables.css
  docs/superpowers/plans/2026-07-17-bo-favicon-manifest.md
  docs/superpowers/specs/2026-07-17-bo-favicon-manifest-design.md
  helm/project/templates/webapp/deployment-webapp.yaml
Due: üß© admin, üß© api init, üß© api, üß© webapp

Revert "feat(UN-5): Customize interface"
  admin/src/components/form/InstanceForm.tsx
  admin/src/entities/Instance.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/instance/edit.tsx
  api/libs/common/src/database/migrations/20260717000000_add_font_settings_in_instance/migration.sql
  api/libs/common/src/database/schema.prisma
  api/pnpm-lock.yaml
  api/src/api/controllers/instance.controller.ts
  api/src/api/dtos/instance/instance.response.ts
  api/src/api/dtos/instance/update-instance.request.ts
  api/src/core/core.module.ts
  api/src/core/models/Instance.model.ts
  api/src/core/usecases/instance/get-instance.usecase.ts
  api/src/core/usecases/instance/update-instance.usecase.ts
  api/src/core/usecases/media/upload-instance-favicon.usecase.ts
  api/src/core/usecases/media/upload-instance-manifest.usecase.ts
  api/src/core/usecases/media/upload-instance-watermark.usecase.ts
  api/src/providers/persistance/mappers/instance.mapper.ts
  api/src/providers/persistance/repositories/prisma-instance.repository.ts
  api/src/providers/storage/minio.storage.ts
  app/index.html
  app/src/domain/entities/Confirguration.ts
  app/src/presentation/components/Watermark.tsx
  app/src/presentation/components/WatermarkBackground.tsx
  app/src/presentation/components/contents/EndSessionContent.tsx
  app/src/presentation/components/contents/FlipcardsContent.tsx
  app/src/presentation/components/contents/ProfileContent.tsx
  app/src/presentation/components/contents/ShowSessionContent.tsx
  app/src/presentation/components/contents/TandemStatusContent.tsx
  app/src/presentation/components/contents/WelcomeContent.tsx
  app/src/presentation/components/layout/SuccessLayout.tsx
  app/src/presentation/components/layout/WebLayoutCentered.tsx
  app/src/presentation/components/tandems/TandemProfile.tsx
  app/src/presentation/hooks/useFetchConfiguration.ts
  app/src/presentation/pages/mobile/ShowCustomGoal.tsx
  app/src/presentation/theme/variables.css
  docs/superpowers/plans/2026-07-17-bo-favicon-manifest.md
  docs/superpowers/specs/2026-07-17-bo-favicon-manifest-design.md
  helm/project/templates/webapp/deployment-webapp.yaml
Due: üß© admin, üß© api init, üß© api, üß© webapp

fix: update date-fns specifier in pnpm-lock.yaml to exact version 4.1.0
  api/pnpm-lock.yaml
Due: üß© api

feat: implement visibility refresh control for file picker interactions
  app/src/adapter/FileAdapter.ts
  app/src/presentation/hooks/useAppVisibilityRefresh.ts
  app/src/presentation/hooks/visibilityRefreshControl.ts
  app/vite.config.ts
Due: üß© webapp

Optimisation build admin suite limitation mémoire infra
  .gitlab-ci.yml
  .gitlab-ci/package-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Changement de runner pour admin et corrections dans container image
  .gitlab-ci/package-ci.yml
Due: none

feat: enhance message components with community search highlighting
  app/src/presentation/components/chat/MessageComponent.module.css
  app/src/presentation/components/chat/messages/MessageLink.tsx
  app/src/presentation/components/chat/messages/MessageText.tsx
Due: üß© webapp

Correction NODE_ENV_CI_BUILD_ARGS
  .gitlab-ci/package-ci.yml
Due: none

fix: update pnpm installation to specific version 10.7.0 with force option
  codemagic.yaml
Due: none

Passage de Kaniko à BuildKit
  .gitlab-ci/package-ci.yml
Due: none

CI : utilisation de awk pour récupérer la version
  .gitlab-ci/package-ci.yml
Due: none

fix(app): sanitize download file names rejected by Android (ULEP-17)
  app/__tests__/adapter/FileAdapter.test.ts
  app/__tests__/domain/usecases/GetActivityPdfUsecase.test.ts
  app/__tests__/mocks/adapters/FileAdapter.ts
  app/__tests__/utils/sanitizeFilename.test.ts
  app/src/adapter/FileAdapter.ts
  app/src/presentation/components/contents/activity/ActivityContent.tsx
  app/src/utils/sanitizeFilename.ts
Due: üß© webapp

fix: make the RTL toggle work again and persist the user choice (ULEP-51)
  app/__tests__/presentation/hooks/textDirection.test.ts
  app/src/presentation/components/contents/SettingsContent.tsx
  app/src/presentation/hooks/textDirection.ts
  app/src/presentation/hooks/useFetchI18NBackend.ts
  app/src/presentation/hooks/useIsRtl.ts
  app/src/store/store.ts
  app/src/store/storeTypes.ts
Due: üß© webapp

chore: update config to disable limited features and add pnpm workspace configuration
  admin/public/env/config.js
  app/pnpm-workspace.yaml
Due: üß© admin, üß© webapp

fix: upload files from chat
  app/ios/App/Podfile
  app/ios/App/Podfile.lock
  app/src/adapter/CameraAdapter.ts
  app/src/adapter/FileAdapter.ts
Due: üß© webapp

chore: update dependencies and configurations for Capacitor and Android
  app/android/app/build.gradle
  app/android/build.gradle
  app/android/capacitor.settings.gradle
  app/android/gradle/wrapper/gradle-wrapper.properties
  app/android/variables.gradle
  app/package.json
  app/pnpm-lock.yaml
  app/pnpm-workspace.yaml
  wiki/uploads/16836079262afde9cf43edbbbb3ab885/Capture_d_écran_2024-04-17_à_10.25.40.png
  wiki/uploads/8ba0f17915844af92606a66a4f21155b/Capture_d_écran_2024-04-17_à_17.08.21.png
Due: üß© webapp

fix(app): drop commas and escape Windows reserved names (ULEP-17)
  app/__tests__/utils/sanitizeFilename.test.ts
  app/src/utils/sanitizeFilename.ts
Due: üß© webapp

ci: bump Codemagic Node to 22.11.0 for the Capacitor 7 CLI
  codemagic.yaml
Due: none

ci: use Node 22.23.2, the current 22 LTS
  codemagic.yaml
Due: none

chore: move every build to pnpm 11.24.0 and Node 22
  .circleci/config.yml
  .gitlab-ci/package-ci.yml
  admin/Dockerfile
  admin/package.json
  admin/pnpm-workspace.yaml
  api/Dockerfile
  api/package.json
  app/Dockerfile
  chat/Dockerfile
  chat/package.json
  chat/pnpm-workspace.yaml
  codemagic.yaml
Due: üß© admin, üß© api, üß© webapp, üß© chat

fix: arbitrate build scripts and refresh the admin lockfile for pnpm 11
  admin/pnpm-lock.yaml
  admin/pnpm-workspace.yaml
  api/pnpm-workspace.yaml
  chat/pnpm-workspace.yaml
Due: üß© admin, üß© api, üß© chat

Path conditions:
  üß© admin: any of: admin/**/*
  üß© api init: any of: api/libs/common/src/database/**/*
  üß© api: any of: api/**/*
  üß© auth ul theme: any of: docker/keycloak/**/*
  üß© webapp: any of: app/**/*
  üß© chat: any of: chat/**/*
