Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© auth ul theme, ðŸ§© webapp, ðŸ§© chat

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" ||  $CI_COMMIT_BRANCH == "ci" # Supprimer ci

stages:
  - packages

# CI de package
.package ci:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend

# CI de l'admin
ðŸ§© admin:
  extends: .package ci
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    # DOCKER_TARGET: admin_prod # GÃ©nÃ¨re une erreur : ERR_PNPM_BROKEN_LOCKFILEâ€‰ The lockfile at "/srv/app/pnpm-lock.yaml" is broken: duplicated mapping key (1755:3)
    LINT: enabled
  rules:
    - changes:
        - admin/**/*

# CI de l'initialisation API
ðŸ§© api init:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init
  rules:
    - changes:
        - api/libs/common/src/database/**/*

# CI de l'API
ðŸ§© api:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    # DOCKER_TARGET: api_prod
    LINT: enabled
    TEST: enabled
  rules:
    - changes:
        - api/**/*

# CI du thÃ¨me UL Keycloak
ðŸ§© auth ul theme:
  extends: .package ci
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: "1.0"
  rules:
    - changes:
        - docker/keycloak/**/*

# CI de la webapp
ðŸ§© webapp:
  extends: .package ci
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp
  rules:
    - changes:
        - app/**/*

# CI du chat
ðŸ§© chat:
  extends: .package ci
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat
  rules:
    - changes:
        - chat/**/*

refactor: Simplify mandatory language configuration in EditoForm
  admin/src/components/form/EditoForm.tsx
Due: ðŸ§© admin

feat: Add central university edito translations management into instance config
  admin/src/components/form/ActivityForm.tsx
  admin/src/components/form/InstanceForm.tsx
  admin/src/components/form/NewsForm.tsx
  admin/src/components/form/useGetUniversitiesLanguages.tsx
  admin/src/entities/Instance.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/events/list.tsx
  admin/src/pages/instance/edit.tsx
  admin/src/pages/instance/show.tsx
  admin/src/pages/news/list.tsx
  api/libs/common/src/database/migrations/20250311093832_instance_adds_edito_centraluniversity_languages/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/dtos/instance/instance.response.ts
  api/src/api/dtos/instance/update-instance.request.ts
  api/src/core/models/Instance.model.ts
  api/src/core/ports/instance.repository.ts
  api/src/core/usecases/instance/update-instance.usecase.ts
  api/src/providers/persistance/mappers/instance.mapper.ts
  api/src/providers/persistance/repositories/in-memory-instance-repository.ts
  api/src/providers/persistance/repositories/prisma-instance.repository.ts
Due: ðŸ§© admin, ðŸ§© api init, ðŸ§© api

fix: rebase conflict
  admin/src/components/form/NewsForm.tsx
Due: ðŸ§© admin

👌 fix: Keep tandem active on learning page
  app/src/presentation/components/contents/LearningContent.tsx
  app/src/presentation/pages/LearningPage.tsx
  app/src/store/store.ts
  app/src/store/storeTypes.ts
Due: ðŸ§© webapp

👌 fix: Remove navigation already used in redirect component
  app/src/presentation/hooks/useLogout.ts
Due: ðŸ§© webapp

👌 fix: Update media name to a more explicit name
  app/src/presentation/components/contents/ChatContent.tsx
Due: ðŸ§© webapp

👌 fix: Update type error
  app/src/presentation/pages/ServiceClosePage.tsx
  app/src/presentation/pages/SuspendedPage.tsx
Due: ðŸ§© webapp

👌 fix: Update csv export name
  app/src/domain/interfaces/log-entries/ExportLogEntriesUsecase.interface.ts
  app/src/domain/usecases/log-entries/ExportLogEntriesUsecase.ts
  app/src/presentation/components/contents/learning-book/LearningBookContainerContent.tsx
  app/src/presentation/components/contents/learning-book/LogEntriesByDateContent.tsx
Due: ðŸ§© webapp

👌 fix: central university admins have access to all activities which are not drafts
  api/src/providers/persistance/repositories/prisma-activity-repository.ts
Due: ðŸ§© api

fix: events and news access are restricted to central university ones for central university animators and managers
  admin/src/pages/events/list.tsx
  admin/src/pages/news/list.tsx
Due: ðŸ§© admin

fix: remove unnecessary console log
  admin/src/pages/news/list.tsx
Due: ðŸ§© admin

👌 fix: Update vocabulary list file name + add toaster on download
  app/public/locales/fr/translation.json
  app/src/domain/interfaces/vocabulary/GetVocabularyListPdfUsecase.interface.ts
  app/src/domain/usecases/vocabulary/GetVocabularyListPdfUsecase.ts
  app/src/presentation/components/contents/VocabularyItemContent.tsx
Due: ðŸ§© webapp

👌 fix: Add symbol on vocabulary list title
  api/src/providers/services/pdf.service.ts
Due: ðŸ§© api

✨ feat: Add learning languages filter for event subscribed profiles
  admin/src/entities/Profile.ts
  admin/src/locales/en.json
  admin/src/locales/fr.json
  admin/src/pages/events/subscriptions/list.tsx
  admin/src/queries/ProfilesQuery.ts
  api/src/api/controllers/profile.controller.ts
  api/src/api/dtos/profiles/profiles-filters.ts
  api/src/core/ports/profile.repository.ts
  api/src/providers/persistance/repositories/prisma-profile-repository.ts
Due: ðŸ§© admin, ðŸ§© api

✨ feat: Implement language selection filters for event subscriptions
  admin/src/pages/events/subscriptions/SearchProfile.tsx
Due: ðŸ§© admin

🔧 fix: Update source for native language code in profile list
  admin/src/pages/profiles/list.tsx
Due: ðŸ§© admin

chore: update Dockerfiles to use Alpine 3.20 and pin pnpm version to 10.0.0; remove unused Dockerfile.chat
  .gitlab-ci/Dockerfile.admin
  .gitlab-ci/Dockerfile.api
  .gitlab-ci/Dockerfile.chat
Due: none

👌 fix: Remove formatted date display from HomeContent component
  app/src/presentation/components/contents/HomeContent.tsx
Due: ðŸ§© webapp

👌 fix: Change white-space property to allow text wrapping in EventLine component
  app/src/presentation/components/events/EventLine.module.css
Due: ðŸ§© webapp

ci: update corepack configuration and pnpm version in CI pipeline
  .gitlab-ci/package-ci.yml
Due: none

✨ feat: Add functionality to cancel and close reports with confirmation modals
  app/public/locales/fr/translation.json
  app/src/presentation/components/contents/ViewReportContent.module.css
  app/src/presentation/components/contents/ViewReportContent.tsx
  app/src/presentation/components/modals/ConfirmCancelReportModal.module.css
  app/src/presentation/components/modals/ConfirmCancelReportModal.tsx
  app/src/presentation/components/modals/ConfirmModal.tsx
  app/src/presentation/pages/ViewReportPage.tsx
Due: ðŸ§© webapp

✨ feat: Add 'IN_PROGRESS' status to ReportStatusTag with corresponding color
  app/src/presentation/components/reports/ReportStatusTag.tsx
Due: ðŸ§© webapp

✨ feat: Enhance Learning Journal Card with duration formatting
  app/public/locales/fr/translation.json
  app/src/presentation/components/tandems/LearningJournalCard.tsx
Due: ðŸ§© webapp

👌 fix: Change margin to padding in NewsLine component for improved layout
  app/src/presentation/components/news/NewsLine.module.css
Due: ðŸ§© webapp

🔧 fix: Update setSelectedTandem function to accept isSingleTandem parameter and adjust related logic in SelectTandemContent and NewSessionMenuModal components
  app/src/presentation/components/contents/SelectTandemContent.tsx
  app/src/presentation/components/modals/NewSessionMenuModal.tsx
Due: ðŸ§© webapp

Refactor user creation validation logic to improve code clarity and ensure proper handling of university codes and domains
  api/src/core/usecases/user/create-user.usecase.ts
Due: ðŸ§© api

fix: Refine log entry display condition to ensure entries are only shown when multiple entries exist
  app/src/presentation/components/contents/learning-book/LogEntriesContent.tsx
Due: ðŸ§© webapp

fix: Improve log entry filtering and display logic for better user experience
  app/src/presentation/components/contents/learning-book/LogEntriesContent.tsx
Due: ðŸ§© webapp

✨ feat: Add character limit to comment input in SessionForm
  app/src/presentation/components/sessions/SessionForm.tsx
Due: ðŸ§© webapp

✨ feat: Add unique IDs to TextInput components for better accessibility and identification
  app/src/presentation/components/TextInput.tsx
  app/src/presentation/components/contents/CreateOrUpdateVocabularyContent.tsx
  app/src/presentation/components/contents/CustomGoalFormContent.tsx
  app/src/presentation/components/contents/ReportContent.tsx
  app/src/presentation/components/contents/activity/CreateActivityExcerciseContent.tsx
  app/src/presentation/components/contents/activity/CreateActivityInformationsContent.tsx
  app/src/presentation/components/contents/activity/CreateActivityVocabularyContent.tsx
  app/src/presentation/components/contents/learning-book/CreateOrUpdateCustomLogEntryContent.tsx
  app/src/presentation/components/forms/ForgotPasswordForm.tsx
  app/src/presentation/components/forms/LoginForm.tsx
  app/src/presentation/components/modals/AddOrUpdateVocabularyListModal.tsx
  app/src/presentation/components/modals/AvailabilityNoteModal.tsx
  app/src/presentation/components/modals/ConfirmCancelSessionModal.tsx
  app/src/presentation/components/sessions/SessionForm.tsx
  app/src/presentation/pages/EditInformationsPage.tsx
  app/src/presentation/pages/SignUpBiographyPage.tsx
  app/src/presentation/pages/SignUpInformationsPage.tsx
  app/src/presentation/pages/SignUpPage.tsx
Due: ðŸ§© webapp

🔧 fix: Update URL validation regex to allow hyphens in path segments
  app/src/presentation/utils.ts
Due: ðŸ§© webapp

✨ feat: Add PUBLISH_ACTIVITY log entry type and related functionality
  api/libs/common/src/database/migrations/20250321141657_add_logentry_publish_activity_type/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/dtos/log-entry/log-entry.response.ts
  api/src/core/models/log-entry.model.ts
  api/src/core/usecases/activity/update-activity-status.usecase.ts
  api/src/core/usecases/log-entry/create-or-update-log-entry.usecase.ts
  api/src/core/usecases/log-entry/export-log-entries.usecase.ts
  api/src/providers/persistance/mappers/log-entry.mapper.ts
  app/public/locales/fr/translation.json
  app/src/command/LogEntryCommand.ts
  app/src/domain/entities/LogEntry.ts
  app/src/presentation/components/card/LogEntryCard.tsx
  app/src/presentation/components/contents/learning-book/LogEntriesByDateContent.tsx
  app/src/presentation/components/contents/learning-book/LogEntriesContent.tsx
Due: ðŸ§© api init, ðŸ§© api, ðŸ§© webapp

🔧 fix: Update French translations for tandem messages
  app/public/locales/fr/translation.json
Due: ðŸ§© webapp

🔧 chore: Remove console log statements from activity update use cases
  api/src/core/usecases/activity/update-activity-status.usecase.ts
  api/src/core/usecases/activity/update-activity.usecase.ts
Due: ðŸ§© api

✨ feat: Add roomName to visio duration updates and log entries
  api/src/api/controllers/learningLanguage.controller.ts
  api/src/api/dtos/learning-languages/update-visio-duration.request.ts
  api/src/core/models/log-entry.model.ts
  api/src/core/ports/log-entry.repository.ts
  api/src/core/usecases/learningLanguage/update-visio-duration.usecase.ts
  api/src/core/usecases/log-entry/create-or-update-log-entry.usecase.ts
  api/src/providers/persistance/mappers/log-entry.mapper.ts
  api/src/providers/persistance/repositories/prisma-log-entry-repository.ts
  app/src/domain/interfaces/log-entries/UpdateVisioDurationUsecase.interface.ts
  app/src/domain/usecases/log-entries/UpdateVisioDurationUsecase.ts
  app/src/presentation/components/Jitsi/VisioContainer.tsx
Due: ðŸ§© api, ðŸ§© webapp

fix: asked by UL
  .gitlab-ci/Dockerfile.admin
  .gitlab-ci/Dockerfile.api
  .gitlab-ci/Dockerfile.chat
  .gitlab-ci/package-ci.yml
Due: none

✨ feat: Ajout de la fonctionnalité de partage des journaux d'apprentissage pour la recherche
  admin/src/entities/LearningLanguage.ts
  admin/src/pages/profiles/show.tsx
  api/libs/common/src/database/migrations/20250325153558_add_shared_log_for_resear_date/migration.sql
  api/libs/common/src/database/migrations/20250325160346_add_new_log_entry_type/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/api/controllers/log-entry.controller.ts
  api/src/api/dtos/learning-languages/learning-language.response.ts
  api/src/core/core.module.ts
  api/src/core/models/learning-language.model.ts
  api/src/core/models/log-entry.model.ts
  api/src/core/usecases/log-entry/create-or-update-log-entry.usecase.ts
  api/src/core/usecases/log-entry/index.ts
  api/src/core/usecases/log-entry/share-log-entries-for-research.usecase.ts
  api/src/core/usecases/log-entry/unshare-log-entries-for-research.usecase.ts
  api/src/providers/persistance/mappers/learningLanguage.mapper.ts
  api/src/providers/persistance/mappers/log-entry.mapper.ts
  api/src/providers/persistance/mappers/profile.mapper.ts
  api/src/providers/persistance/repositories/prisma-learning-language-repository.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/command/LearningLanguageResult.ts
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/entities/LearningLanguage.ts
  app/src/domain/interfaces/log-entries/ShareForResearchLogEntriesUsecase.interface.ts
  app/src/domain/interfaces/log-entries/UnshareForResearchLogEntriesUsecase.interface.ts
  app/src/domain/usecases/log-entries/ShareForResearchLogEntriesUsecase.ts
  app/src/domain/usecases/log-entries/UnshareForResearchLogEntriesUsecase.ts
  app/src/presentation/components/contents/learning-book/LearningBookContainerContent.tsx
  app/src/presentation/components/contents/learning-book/LogEntriesContent.tsx
Due: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© webapp

fix: fix version for gitlab too
  .gitlab-ci/Dockerfile.admin
  .gitlab-ci/Dockerfile.api
  docker-compose.yaml
Due: none

fix package-ci
  .gitlab-ci/package-ci.yml
Due: none

fix:pnpm version same in package json and dockerfile
  admin/Dockerfile
  admin/package.json
  api/Dockerfile
  api/package.json
  chat/Dockerfile
  chat/package.json
  docker-compose.yaml
Due: ðŸ§© admin, ðŸ§© api, ðŸ§© chat
