Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ðŸ§© admin, ðŸ§© api init, ðŸ§© api, ðŸ§© auth ul theme, ðŸ§© webapp, ðŸ§© chat

.gitlab-ci.yml:

workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "develop" ||  $CI_COMMIT_BRANCH == "ci" # Supprimer ci

stages:
  - packages

# CI de package
.package ci:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend

# CI de l'admin
ðŸ§© admin:
  extends: .package ci
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    # DOCKER_TARGET: admin_prod # GÃ©nÃ¨re une erreur : ERR_PNPM_BROKEN_LOCKFILEâ€‰ The lockfile at "/srv/app/pnpm-lock.yaml" is broken: duplicated mapping key (1755:3)
    LINT: enabled
  rules:
    - changes:
        - admin/**/*

# CI de l'initialisation API
ðŸ§© api init:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init
  rules:
    - changes:
        - api/libs/common/src/database/**/*

# CI de l'API
ðŸ§© api:
  extends: .package ci
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    # DOCKER_TARGET: api_prod
    LINT: enabled
    TEST: enabled
  rules:
    - changes:
        - api/**/*

# CI du thÃ¨me UL Keycloak
ðŸ§© auth ul theme:
  extends: .package ci
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: "1.0"
  rules:
    - changes:
        - docker/keycloak/**/*

# CI de la webapp
ðŸ§© webapp:
  extends: .package ci
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp
  rules:
    - changes:
        - app/**/*

# CI du chat
ðŸ§© chat:
  extends: .package ci
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat
  rules:
    - changes:
        - chat/**/*

✨ feat: Handle game played event
  api/src/api/controllers/log-entry.controller.ts
  api/src/api/dtos/log-entry/create-custom-log-entry.request.ts
  api/src/api/dtos/log-entry/log-entry.response.ts
  api/src/core/models/log-entry.model.ts
  api/src/core/usecases/log-entry/create-or-update-log-entry.usecase.ts
  api/src/providers/persistance/mappers/log-entry.mapper.ts
  app/src/command/LogEntryCommand.ts
  app/src/domain/entities/LogEntry.ts
  app/src/domain/interfaces/log-entries/CreateLogEntryUsecase.interface.ts
  app/src/domain/usecases/log-entries/CreateLogEntryUsecase.ts
  app/src/presentation/components/contents/FlipcardsContent.tsx
  app/src/presentation/pages/HomePage.tsx
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Add trim to every email
  app/src/presentation/components/forms/ForgotPasswordForm.tsx
  app/src/presentation/components/forms/LoginForm.tsx
  app/src/presentation/pages/SignUpInformationsPage.tsx
Due: ðŸ§© webapp

👌 fix: Handle type error
  app/src/presentation/components/forms/LoginForm.tsx
Due: ðŸ§© webapp

hotfix(admin): Fix university picker
  admin/src/components/UniversityPicker.tsx
  admin/src/components/form/AdministratorForm.tsx
Due: ðŸ§© admin

👌 fix: Handle log entry for game when percentage is 0
  api/src/core/usecases/log-entry/create-or-update-log-entry.usecase.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/card/LogEntryCard.tsx
  app/src/presentation/components/contents/FlipcardsContent.tsx
  app/src/presentation/components/flashcards/flipcards/FlipcardsButtons.tsx
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Handle every entry by days
  api/src/api/controllers/log-entry.controller.ts
  api/src/api/dtos/log-entry/log-entry.response.ts
  api/src/core/ports/log-entry.repository.ts
  api/src/core/usecases/log-entry/get-all-entries-for-user.usecase.ts
  api/src/providers/persistance/repositories/prisma-log-entry-repository.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/command/LogEntryCommand.ts
  app/src/domain/entities/LogEntry.ts
  app/src/domain/interfaces/log-entries/GetLogEntriesUsecase.interface.ts
  app/src/domain/usecases/log-entries/GetLogEntriesUsecase.ts
  app/src/presentation/components/card/LogEntriesCard.tsx
  app/src/presentation/components/card/LogEntryCard.module.css
  app/src/presentation/components/card/LogEntryCard.tsx
  app/src/presentation/components/contents/learning-book/LogEntriesContent.tsx
  app/src/presentation/hooks/useGetLogEntries.ts
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Handle Log entry grouped by date + create page to display all log entries from a date
  api/src/api/controllers/log-entry.controller.ts
  api/src/api/dtos/log-entry/get-log-entries-by-date.request.ts
  api/src/core/core.module.ts
  api/src/core/ports/log-entry.repository.ts
  api/src/core/usecases/log-entry/get-all-entries-for-user-by-date.usecase.ts
  api/src/core/usecases/log-entry/get-all-entries-for-user-grouped-by-date.usecase.ts
  api/src/core/usecases/log-entry/index.ts
  api/src/providers/persistance/repositories/prisma-log-entry-repository.ts
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/interfaces/log-entries/GetLogEntriesByDateUsecase.interface.ts
  app/src/domain/usecases/log-entries/GetLogEntriesByDateUsecase.ts
  app/src/domain/usecases/log-entries/GetLogEntriesUsecase.ts
  app/src/presentation/components/card/LogEntryCard.module.css
  app/src/presentation/components/card/LogEntryCard.tsx
  app/src/presentation/components/contents/learning-book/LearningBookContainerContent.tsx
  app/src/presentation/components/contents/learning-book/LogEntriesByDateContent.module.css
  app/src/presentation/components/contents/learning-book/LogEntriesByDateContent.tsx
  app/src/presentation/hooks/useGetLogEntriesByDate.ts
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Handle pagination on entries hook
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/domain/interfaces/log-entries/GetLogEntriesByDateUsecase.interface.ts
  app/src/domain/interfaces/log-entries/GetLogEntriesUsecase.interface.ts
  app/src/domain/usecases/log-entries/GetLogEntriesByDateUsecase.ts
  app/src/domain/usecases/log-entries/GetLogEntriesUsecase.ts
  app/src/presentation/components/contents/learning-book/LearningBookContainerContent.tsx
  app/src/presentation/components/contents/learning-book/LogEntriesByDateContent.tsx
  app/src/presentation/components/contents/learning-book/LogEntriesContent.tsx
  app/src/presentation/hooks/useGetLogEntries.ts
  app/src/presentation/hooks/useGetLogEntriesByDate.ts
Due: ðŸ§© webapp

✨ feat: Add relation between log and learning language ( TODO: update every event creation )
  api/libs/common/src/database/migrations/20241127105035_create_log_entry_table/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/core/models/log-entry.model.ts
  api/src/core/ports/log-entry.repository.ts
  api/src/core/usecases/log-entry/create-or-update-log-entry.usecase.ts
  api/src/core/usecases/log-entry/get-all-entries-for-user-by-date.usecase.ts
  api/src/core/usecases/log-entry/get-all-entries-for-user-grouped-by-date.usecase.ts
  api/src/core/usecases/log-entry/share-log-entries.usecase.ts
  api/src/providers/persistance/mappers/log-entry.mapper.ts
  api/src/providers/persistance/repositories/prisma-log-entry-repository.ts
Due: ðŸ§© api init, ðŸ§© api

✨ feat: Send messages from jitsi capacitor meet to custom chat ( without socket fro now )
  app/android/capacitor.settings.gradle
  app/ios/App/Podfile
  app/ios/App/Podfile.lock
  app/package.json
  app/pnpm-lock.yaml
  app/src/presentation/components/Jitsi/JitsiMobile.tsx
Due: ðŸ§© webapp

✨ feat: Send message on chat for ios
  app/src/presentation/components/Jitsi/JitsiMobile.tsx
Due: ðŸ§© webapp

👌 fix: Handle events and initialization with the strict mode
  app/src/presentation/components/Jitsi/JitsiMobile.tsx
Due: ðŸ§© webapp

👌 fix: Change disable condition for administrator
  admin/src/components/form/AdministratorForm.tsx
Due: ðŸ§© admin

👌 fix: Set university id even when it is central for UniversityForm
  admin/src/pages/universities/edit.tsx
Due: ðŸ§© admin

✨ feat: Add reported tag on tandem pairing lines
  admin/src/pages/profiles-with-tandems-profiles/list/index.tsx
Due: ðŸ§© admin

👌 fix: Add color on mobile learning space + update flag tandem on learning content
  app/android/capacitor.settings.gradle
  app/src/presentation/components/card/LearningCard.module.css
  app/src/presentation/components/card/PartnerUniversityCard.tsx
  app/src/presentation/components/card/ProficiencyTestCard.tsx
  app/src/presentation/components/card/UniversityCard.tsx
  app/src/presentation/components/contents/LearningContent.module.css
  app/src/presentation/components/contents/LearningContent.tsx
  app/src/presentation/components/tandems/ActiveTandemCard.module.css
  app/src/presentation/components/tandems/ActiveTandemCard.tsx
  app/src/presentation/components/tandems/PendingTandemCard.tsx
  app/src/presentation/components/tandems/TandemLine.tsx
Due: ðŸ§© webapp

👌 fix: Update vocabulary list ergonomy
  app/android/capacitor.settings.gradle
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/DropDown.tsx
  app/src/presentation/components/contents/VocabularyContent.tsx
  app/src/presentation/components/modals/AddOrUpdateVocabularyListModal.tsx
  app/src/presentation/components/modals/VocabularyContentModal.tsx
  app/src/presentation/pages/LearningPage.tsx
  app/src/presentation/pages/mobile/VocabulariesPage.tsx
Due: ðŸ§© webapp

✨ feat: Add filter on vocabulary lists getter
  api/src/api/controllers/vocabulary.controller.ts
  api/src/api/dtos/vocabulary/get-vocabularies-list.request.ts
  api/src/api/dtos/vocabulary/index.ts
  api/src/core/ports/vocabulary.repository.ts
  api/src/core/usecases/vocabulary/find-all-vocabulary-list.usecase.ts
  api/src/providers/persistance/repositories/in-memory-vocabulary-repository.ts
  api/src/providers/persistance/repositories/prisma-vocabulary-repository.ts
  app/src/domain/interfaces/vocabulary/GetVocabularyListsUsecase.interface.ts
  app/src/domain/usecases/vocabulary/GetVocabularyListsUsecase.ts
  app/src/presentation/components/Jitsi/VisioInfoFrame.tsx
  app/src/presentation/components/contents/VocabularyContent.tsx
  app/src/presentation/components/modals/VocabularyContentModal.tsx
  app/src/presentation/hooks/useVocabulary.ts
  app/src/presentation/pages/mobile/VocabulariesPage.tsx
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Add vocabulary list deletion
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/contents/VocabularyContent.tsx
  app/src/presentation/components/contents/VocabularyItemContent.tsx
  app/src/presentation/hooks/useVocabulary.ts
Due: ðŸ§© webapp

👌 fix: Fix type error
  app/src/presentation/pages/mobile/VocabulariesPage.tsx
Due: ðŸ§© webapp

👌 fix: Update translations
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
Due: ðŸ§© webapp

👌 fix: Disable button when inputs are empty
  app/src/presentation/components/contents/CreateOrUpdateVocabularyContent.tsx
Due: ðŸ§© webapp

👌 fix: Remove alert if pronounciation is needed
  app/src/presentation/components/vocabulary/VocabularyListLine.tsx
Due: ðŸ§© webapp

fix(api): Fix certificate display error when Tandem is not found
  api/src/core/usecases/learningLanguage/generate-certificate.usecase.ts
Due: ðŸ§© api

hotfix(api):
  api/package.json
  api/src/core/usecases/university/update-university.usecase.ts
Due: ðŸ§© api

fix(app): 4396 Update datetime timezoned
  app/src/presentation/components/sessions/SessionForm.tsx
Due: ðŸ§© webapp

fix(app): 4397 Fix timezone date to submit
  app/src/presentation/components/sessions/SessionForm.tsx
Due: ðŸ§© webapp

fix(app): Fix session comment line break
  app/src/presentation/components/contents/ShowSessionContent.module.css
  app/src/presentation/components/contents/ShowSessionContent.tsx
Due: ðŸ§© webapp

✨ feat: Handle message log entry with learning language
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/components/contents/FlipcardsContent.tsx
  app/src/presentation/components/contents/VocabularyContent.tsx
  app/src/presentation/hooks/useHandleMessagesFromConversation.ts
Due: ðŸ§© webapp

👌 fix: Send good learning language rather than first for logs entries by date
  api/src/providers/persistance/repositories/prisma-log-entry-repository.ts
  app/src/presentation/components/contents/learning-book/LearningBookContainerContent.tsx
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Handle logs sharing
  admin/src/entities/LearningLanguage.ts
  admin/src/pages/profiles/show.tsx
  api/src/api/controllers/log-entry.controller.ts
  api/src/api/dtos/learning-languages/learning-language.response.ts
  api/src/core/usecases/log-entry/share-log-entries.usecase.ts
  api/src/providers/persistance/mappers/learningLanguage.mapper.ts
  api/src/providers/persistance/mappers/profile.mapper.ts
  api/src/providers/persistance/repositories/prisma-log-entry-repository.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/interfaces/log-entries/ShareLogEntriesUsecase.interface.ts
  app/src/domain/usecases/log-entries/ShareLogEntriesUsecase.ts
  app/src/presentation/components/card/LogEntryCard.tsx
  app/src/presentation/components/contents/learning-book/LearningBookContainerContent.tsx
  app/src/presentation/components/contents/learning-book/LogEntriesContent.tsx
Due: ðŸ§© admin, ðŸ§© api, ðŸ§© webapp

✨ feat: Handle redirect from learning book
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/card/LogEntryCard.tsx
  app/src/presentation/components/contents/VocabularyContent.tsx
  app/src/presentation/components/contents/activity/ActivitiesContainerContent.tsx
  app/src/presentation/components/contents/learning-book/LearningBookContainerContent.tsx
  app/src/presentation/components/contents/learning-book/LogEntriesByDateContent.tsx
  app/src/presentation/components/contents/learning-book/LogEntriesContent.tsx
  app/src/presentation/components/modals/ActivitiesContentModal.tsx
  app/src/presentation/components/modals/LearningBookContentModal.tsx
  app/src/presentation/components/modals/VocabularyContentModal.tsx
  app/src/presentation/hooks/useVocabulary.ts
  app/src/presentation/pages/LearningPage.tsx
Due: ðŸ§© webapp

✨ feat: Add export on log entries
  api/package.json
  api/pnpm-lock.yaml
  api/src/api/controllers/log-entry.controller.ts
  api/src/core/core.module.ts
  api/src/core/ports/log-entry.repository.ts
  api/src/core/usecases/log-entry/export-log-entries.usecase.ts
  api/src/core/usecases/log-entry/get-all-entries-for-user-by-date.usecase.ts
  api/src/core/usecases/log-entry/get-all-entries-for-user-grouped-by-date.usecase.ts
  api/src/core/usecases/log-entry/index.ts
  api/src/providers/persistance/repositories/prisma-log-entry-repository.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/adapter/BaseHttpAdapter.ts
  app/src/adapter/FileAdapter.ts
  app/src/context/configurationContextTypes.ts
  app/src/context/getConfigurationContextValue.ts
  app/src/domain/interfaces/log-entries/ExportLogEntriesUsecase.interface.ts
  app/src/domain/usecases/log-entries/ExportLogEntriesUsecase.ts
  app/src/presentation/components/contents/learning-book/LearningBookContainerContent.tsx
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Add csv download for logs entry
  admin/src/pages/profiles/Export/LogExportButton.tsx
  admin/src/pages/profiles/show.tsx
  admin/src/providers/customDataProvider.ts
  api/package.json
  api/pnpm-lock.yaml
Due: ðŸ§© admin, ðŸ§© api

✨ feat: Add metadata in csv export
  api/src/core/usecases/log-entry/export-log-entries.usecase.ts
Due: ðŸ§© api

✨ feat: fix type error
  app/src/presentation/components/Jitsi/VisioInfoFrame.tsx
  app/src/presentation/pages/mobile/EndSessionPage.tsx
  app/src/presentation/pages/mobile/FlipcardsPage.tsx
  app/src/presentation/pages/mobile/TandemProfilePage.tsx
  app/src/presentation/pages/mobile/VocabulariesPage.tsx
Due: ðŸ§© webapp

✨ feat: Handle log entries on mobile
  api/src/api/dtos/log-entry/log-entry.response.ts
  api/src/core/usecases/activity/update-activity.usecase.ts
  api/src/core/usecases/vocabulary/create-vocabulary.usecase.ts
  app/src/presentation/components/Jitsi/JitsiMobile.tsx
  app/src/presentation/components/contents/EndSessionContent.tsx
  app/src/presentation/components/contents/learning-book/CreateOrUpdateCustomLogEntryContent.module.css
  app/src/presentation/components/contents/learning-book/LogEntriesByDateContent.module.css
  app/src/presentation/pages/LearningPage.tsx
  app/src/presentation/pages/mobile/EndSessionPage.tsx
  app/src/presentation/pages/mobile/LearningBookPage.tsx
  app/src/presentation/pages/mobile/VocabulariesPage.tsx
  app/src/presentation/router/Router.tsx
Due: ðŸ§© api, ðŸ§© webapp

👌 fix: Allow user to export his entries before sharing
  api/src/api/controllers/log-entry.controller.ts
  api/src/core/usecases/activity/update-activity.usecase.ts
  api/src/core/usecases/log-entry/export-log-entries.usecase.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/contents/learning-book/LearningBookContainerContent.tsx
  app/src/presentation/components/contents/learning-book/LogEntriesContent.tsx
Due: ðŸ§© api, ðŸ§© webapp

✨ feat: Add some fixes for news button
  app/src/presentation/components/contents/SelectLanguageContent.tsx
  app/src/presentation/components/modals/NewVocabularyMenuModal.tsx
  app/src/presentation/components/modals/VocabularyContentModal.tsx
  app/src/presentation/router/BottomBar.tsx
  app/src/presentation/theme/global.css
Due: ðŸ§© webapp
