Repository univlorraine/ulep: changes, and which GitLab CI jobs are due for each by the changed paths.
All: üß© admin, üß© api init, üß© api, üß© auth ul theme, üß© webapp, üß© chat

üß© admin:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: admin
    IMAGE_NAME: ulep/admin
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.admin
    LINT: enabled

üß© api init:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api-init
    DOCKER_TARGET: api_init

üß© api:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: api
    IMAGE_NAME: ulep/api
    DOCKERFILE_PATH: .gitlab-ci/Dockerfile.api
    DOCKER_TARGET: api_ul
    LINT: enabled
    TEST: enabled

üß© auth ul theme:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: docker/keycloak
    IMAGE_NAME: ulep/auth-ul-theme
    TAG: '1.0'

üß© webapp:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: app
    IMAGE_NAME: ulep/webapp

üß© chat:
  stage: packages
  trigger:
    include: .gitlab-ci/package-ci.yml
    strategy: depend
  variables:
    WORKING_DIR: chat
    IMAGE_NAME: ulep/chat

fix: Improve notification logic for message responses in CreateMessageUsecase
  chat/src/core/usecases/message/create-message.usecase.ts
Due: üß© chat

fix: Ensure type safety for customLearningGoals in CustomGoalFormContent
  app/src/presentation/components/contents/CustomGoalFormContent.tsx
Due: üß© webapp

feat: Add UNSHARE_LOGS entry type and related functionality
  api/libs/common/src/database/migrations/20250704125424_add_unshare_logs_entry/migration.sql
  api/libs/common/src/database/schema.prisma
  api/src/core/models/log-entry.model.ts
  api/src/core/usecases/log-entry/create-or-update-log-entry.usecase.ts
  api/src/core/usecases/log-entry/unshare-log-entries.usecase.ts
  api/src/providers/persistance/mappers/log-entry.mapper.ts
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/command/LogEntryCommand.ts
  app/src/domain/entities/LogEntry.ts
  app/src/presentation/components/card/LogEntryCard.tsx
  app/src/presentation/components/contents/learning-book/LogEntriesContent.tsx
Due: üß© api init, üß© api, üß© webapp

feat: Enhance database schema with additional indexes
  chat/libs/common/src/database/schema.prisma
Due: üß© chat

feat: add useAppVisibilityRefresh hook to enhance app behavior on mobile
  app/src/App.tsx
  app/src/presentation/components/contents/ChatContent.tsx
  app/src/presentation/hooks/useAppVisibilityRefresh.ts
Due: üß© webapp

fix: remove redundant text from back button in HeaderSubContent component
  app/src/presentation/components/HeaderSubContent.tsx
Due: üß© webapp

refactor: update EditoContent component for improved structure and semantics
  app/src/presentation/components/contents/EditoContent.tsx
Due: üß© webapp

feat: Ajouter la méthode findByEmailWithLogEntries dans les dépôts de profils et mettre à jour l'utilisation dans GetAllEntriesForContactUsecase
  api/src/core/ports/profile.repository.ts
  api/src/core/usecases/log-entry/get-all-entries-for-contact.usecase.ts
  api/src/providers/persistance/repositories/in-memory-profile-repository.ts
  api/src/providers/persistance/repositories/prisma-profile-repository.ts
Due: üß© api

style: refine image styling in ReportsListItem component
  app/src/presentation/components/reports/ReportsListItem.module.css
Due: üß© webapp

feat: Update translations and accessibility features across components
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/AvailabilityLine.module.css
  app/src/presentation/components/AvailabilityLine.tsx
  app/src/presentation/components/Checkbox.tsx
  app/src/presentation/components/HeaderSubContent.tsx
  app/src/presentation/components/SearchAndFilter.tsx
  app/src/presentation/components/chat/MessagesList.module.css
  app/src/presentation/components/contents/ShowSessionContent.module.css
  app/src/presentation/components/contents/events/EventsListContent.tsx
  app/src/presentation/components/contents/news/NewsContent.tsx
  app/src/presentation/components/contents/news/NewsListContent.tsx
  app/src/presentation/components/events/EventLine.tsx
  app/src/presentation/components/events/EventsList.tsx
  app/src/presentation/components/layout/OnlineWebLayout.tsx
  app/src/presentation/components/layout/Sidebar.tsx
  app/src/presentation/components/modals/FilterModal.tsx
  app/src/presentation/components/news/NewsLine.tsx
  app/src/presentation/components/news/NewsList.tsx
  app/src/presentation/theme/global.css
Due: üß© webapp

feat: enhance Jitsi configuration to support moderator features
  helm/project/files/jitsi-meet/swp/custom-config.js
Due: none

fix: update Jitsi token use case and configuration settings
  api/src/core/usecases/jitsi/get-jitsi-token.usecase.ts
  helm/project/files/jitsi-meet/swp/custom-config.js
Due: üß© api

feat: Enhance translations, accessibility, and date formatting in components
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/presentation/components/Checkbox.tsx
  app/src/presentation/components/SearchAndFilter.tsx
  app/src/presentation/components/card/LogEntryCard.tsx
  app/src/presentation/components/card/UniversityCard.tsx
  app/src/presentation/components/contents/ViewReportContent.tsx
  app/src/presentation/components/contents/events/EventsContent.tsx
  app/src/presentation/components/contents/learning-book/CreateOrUpdateCustomLogEntryContent.module.css
  app/src/presentation/components/contents/learning-book/CreateOrUpdateCustomLogEntryContent.tsx
  app/src/presentation/components/contents/learning-book/LogEntriesByDateContent.tsx
  app/src/presentation/components/modals/FilterModal.tsx
  app/src/presentation/components/reports/ReportsList.tsx
  app/src/presentation/components/reports/ReportsListItem.tsx
  app/src/presentation/components/tandems/LearningJournalCard.tsx
  app/src/presentation/theme/global.css
Due: üß© webapp

chore: update Prisma dependencies to version 6.11.1 and enhance PrismaService with shutdown hooks
  chat/libs/common/src/database/prisma.service.ts
  chat/libs/common/src/database/schema.prisma
  chat/package.json
  chat/pnpm-lock.yaml
  chat/src/providers/persistance/repositories/prisma-hashtag.repository.ts
Due: üß© chat

fix: filter messages in ConversationInclude to exclude parent messages
  chat/src/providers/persistance/mappers/conversation.mapper.ts
Due: üß© chat

feat: add seeding functionality for conversations, messages, and hashtags with customizable options
  Makefile
  chat/libs/common/src/database/seeds/conversation.ts
  chat/libs/common/src/database/seeds/hashtags.ts
  chat/libs/common/src/database/seeds/index.ts
  chat/libs/common/src/database/seeds/messages.ts
  chat/package.json
Due: üß© chat

fix: remove uniqueness constraint on messageId in MessageLike model
  chat/libs/common/src/database/schema.prisma
Due: üß© chat

feat: add RegistrationException and RegistrationExceptionFilter to handle user registration errors
  api/src/api/filters/index.ts
  api/src/api/filters/registration-exception.filter.ts
  api/src/core/errors/index.ts
  api/src/core/errors/registration.exception.ts
  api/src/core/usecases/user/create-user.usecase.ts
  api/src/server.ts
  app/src/domain/usecases/CreateUserUsecase.ts
Due: üß© api, üß© webapp

feat: add file format validation and error handling for unsupported file types
  app/public/locales/en/translation.json
  app/public/locales/fr/translation.json
  app/src/domain/usecases/chat/SendMessageUsecase.ts
  chat/src/api/validators/files.validator.ts
Due: üß© webapp, üß© chat

feat: implement getMessageById use case and integrate it into chat service and message controller
  api/src/core/ports/chat.service.ts
  api/src/core/usecases/report/update-report-status.usecase.ts
  api/src/providers/services/chat.service.ts
  api/src/providers/services/in-memory.chat.service.ts
  chat/src/api/controllers/message.controller.ts
  chat/src/core/core.module.ts
  chat/src/core/usecases/message/get-message-by-id.usecase.ts
  chat/src/core/usecases/message/index.ts
Due: üß© api, üß© chat

fix: Update translations, improve accessibility, and enhance component functionality
  app/public/locales/en/translation.json
  app/src/assets/settings.png
  app/src/presentation/components/RecordingButton.tsx
  app/src/presentation/components/TextInput.tsx
  app/src/presentation/components/chat/ChatInputSender.tsx
  app/src/presentation/components/chat/ConversationLine.tsx
  app/src/presentation/components/chat/ConversationSearchBar.tsx
  app/src/presentation/components/contents/CreateOrUpdateVocabularyContent.tsx
  app/src/presentation/components/contents/VocabularyItemContent.tsx
  app/src/presentation/components/contents/VocabularyListContent.tsx
  app/src/presentation/components/contents/activity/CreateActivityInformationsContent.tsx
  app/src/presentation/components/vocabulary/VocabularyLine.tsx
  app/src/presentation/components/vocabulary/VocabularyListLine.tsx
Due: üß© webapp

refactor: remove useAppVisibilityRefresh hook from App component and add SSO workflow documentation
  app/src/App.tsx
  docs/SSO_WORKFLOW.md
Due: üß© webapp

feat(UN-4): Implement limited features on back-office
  admin/public/env/config.js
  admin/src/components/form/InstanceForm.tsx
  admin/src/components/form/UniversityForm.tsx
  admin/src/components/menu/CustomMenu.tsx
  admin/src/pages/instance/show.tsx
  admin/src/pages/profiles/show.tsx
  admin/src/pages/universities/show.tsx
  admin/src/types/types.d.ts
  admin/src/utils/useLimitedFeatures.ts
Due: üß© admin

feat(app): Integrate limited features across multiple components
  app/src/presentation/components/contents/LearningContent.tsx
  app/src/presentation/components/contents/ProfileContent.tsx
  app/src/presentation/components/layout/Sidebar.tsx
  app/src/presentation/components/tandems/TandemProfile.tsx
  app/src/presentation/hooks/useLimitedFeatures.ts
  app/src/presentation/pages/AuthFlowPage.tsx
  app/src/presentation/pages/LoginPage.tsx
  app/src/presentation/pages/PairingFinalPage.tsx
  app/src/presentation/pages/PairingLanguagesPage.tsx
  app/src/presentation/pages/SignUpFinalPage.tsx
  app/src/presentation/pages/cefr-quizz/CEFRQuizzLanguagePage.tsx
  app/src/presentation/router/BottomBar.tsx
  app/src/presentation/router/MobileRoute.tsx
Due: üß© webapp

feat: update dependencies and refactor forms for improved functionality
  admin/package.json
  admin/pnpm-lock.yaml
  admin/src/components/form/InstanceForm.tsx
  admin/src/pages/activity-categories/edit.tsx
  admin/src/pages/activity-themes/edit.tsx
  admin/src/pages/admin-profile/edit.tsx
  admin/src/pages/administrators/edit.tsx
  admin/src/pages/campus/edit.tsx
  admin/src/pages/category-interest/edit.tsx
  admin/src/pages/editos/edit.tsx
  admin/src/pages/editos/manager/edit.tsx
  admin/src/pages/instance/edit.tsx
  admin/src/pages/interests/edit.tsx
  admin/src/pages/objectives/edit.tsx
  admin/src/pages/profiles/edit.tsx
  admin/src/pages/profiles/list.tsx
  admin/src/pages/profiles/show.tsx
  admin/src/pages/questions/edit.tsx
  admin/src/pages/report-categories/edit.tsx
  admin/src/pages/report/edit.tsx
  admin/src/pages/universities/edit.tsx
  admin/src/pages/universities/manager/edit.tsx
  admin/src/pages/universities/manager/show.tsx
  admin/src/pages/universities/show.tsx
  app/public/locales/cn/translation.json
  app/public/locales/de/translation.json
  app/public/locales/en/translation.json
  app/public/locales/es/translation.json
  app/public/locales/fr/translation.json
Due: üß© admin, üß© webapp

feat: add REACT_APP_LIMITED_FEATURES environment variable to admin and webapp deployments
  helm/project/templates/admin/configmap-env-admin.yaml
  helm/project/templates/admin/deployment-admin.yaml
  helm/project/templates/webapp/deployment-webapp.yaml
Due: none

fix: unique email for seeded users
  api/libs/common/src/database/seeds/users.ts
Due: üß© api init, üß© api

fix: learninglanguages dealed with batches for memory issues
  api/src/providers/persistance/repositories/prisma-learning-language-repository.ts
Due: üß© api

fix: removed deprecated mui lib
  admin/package.json
  admin/src/components/field/TextArrayField.tsx
Due: üß© admin

chore: typescript version updated to 5
  admin/package.json
  admin/pnpm-lock.yaml
  admin/tsconfig.json
Due: üß© admin

fix: user email can be edited
  api/libs/keycloak/src/keycloak.client.ts
  api/libs/keycloak/src/keycloak.models.ts
  api/src/core/usecases/user/create-administrator.usecase.ts
  api/src/core/usecases/user/create-user.usecase.ts
  api/src/core/usecases/user/update-administrator.usecase.ts
  api/src/core/usecases/user/update-user.usecase.ts
Due: üß© api

fix: bulk action available on objectives
  admin/src/pages/objectives/list.tsx
Due: üß© admin

fix: objective route param
  admin/src/pages/objectives/edit.tsx
  api/src/api/controllers/objective.controller.ts
Due: üß© admin, üß© api

fix: edito video made optional
  api/src/api/dtos/editos/update-edito.request.ts
  api/src/providers/persistance/repositories/prisma-edito-repository.ts
Due: üß© api

fix: interests line break
  admin/src/pages/category-interest/list.tsx
Due: üß© admin

fix: wrong language route interpretation
  api/src/api/controllers/language.controller.ts
Due: üß© api

fix: report update return used for all updates
  api/src/core/usecases/report/update-report-status.usecase.ts
Due: üß© api

fix: prisma timeout increased from 10 to 60sec
  helm/project/templates/api/secret-api.yaml
Due: none

feat: purge logs
  api/src/api/controllers/purge.controller.ts
  api/src/core/models/tandem.model.ts
  api/src/core/usecases/purges/archive-tandems.usecase.ts
  api/src/providers/persistance/mappers/learningLanguage.mapper.ts
  api/src/providers/persistance/mappers/tandem.mapper.ts
  api/src/providers/persistance/repositories/prisma-tandem-repository.ts
  api/src/providers/services/chat.service.ts
Due: üß© api

feat: tandem seeds
  api/libs/common/src/database/seeds/index.ts
  api/libs/common/src/database/seeds/tandems.ts
Due: üß© api init, üß© api

Path conditions:
  üß© admin: any of: admin/**/*
  üß© api init: any of: api/libs/common/src/database/**/*
  üß© api: any of: api/**/*
  üß© auth ul theme: any of: docker/keycloak/**/*
  üß© webapp: any of: app/**/*
  üß© chat: any of: chat/**/*
